<!-- 帳戶+信用卡填寫資料 Start -->
<div class="main-form">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <app-fill-data-step-bar [hidden]="hideStepBar" [stepbar]="stepbar"></app-fill-data-step-bar>

        <!-- ********** Step1 ************* -->
        <form [formGroup]="dataForm" id="step1">
          <div class="form-group">
            <div class="row IDCardPreview001" style="background-color: #F2F2F2">
              <div class="col-6 p-1 m-0 text-center ContentVAlign">
                <img
                  [src]="frontId"
                  alt="尚未上傳身分證正面"
                  name="FrontId"
                  data-serial=""
                  class="image-fluid mh-100 mw-100"
                />
                <input
                  type="text"
                  id="frontId"
                  formControlName="frontId"
                  style="display: none;"
                />
              </div>
              <div
                (click)="preview()"
                class="col-3 p-0 m-0 align-self-center text-center cursor-pointer"
              >
                <img
                  name="previewFrontId"
                  src="assets/image/icon/16-search.png"
                  class="img-fluid mw-60"
                  data-name="frontId"
                  style="max-width: 30%"
                />
                <label style="font-size: 75%">檢視</label>
              </div>
              <app-upload
                class="d-none"
                #upload
                [doc]="frontIdDoc"
                (docResult)="refreshFrontImage($event)"
              ></app-upload>
              <div
                (click)="upload.triggerUpload()"
                class="col-3 p-0 m-0 align-self-center text-center cursor-pointer"
              >
                <img
                  id="re-FrontId"
                  data-inputName="Front"
                  src="assets/image/icon/10-photo.png"
                  class="img-fluid"
                  style="max-width: 30%"
                />
                <label for="re-FrontId" style="font-size: 75%">重拍</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
              >姓名</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="text"
                  id="chtName"
                  formControlName="chtName"
                  class="form-control col-12 add-clear-btn"
                  (blur)="chtNameErrorMessageUpdate()"
                  [ngClass]="formCheckService.validClass(dataForm, 'chtName')"
                  placeholder="請輸入姓名"
                  required
                />
                <div
                *ngIf="formCheckService.checkIsInValid(dataForm, 'chtName')"
              >
                <label class="error border-danger">{{
                  chtNameErrorMessage
                }}</label>
              </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col col-md-3 col-form-label text-md-right text-left"
                >英文姓名</label
              >
              <div class="col-12 col-md-8">
                <div class="row">
                  <input
                    type="text"
                    id="engName"
                    formControlName="engName"
                    KeydownRegexp="engName"
                    class="form-control col-12 add-clear-btn"
                    (blur)="engNameErrorMessageUpdate()"
                    [ngClass]="formCheckService.validClass(dataForm, 'engName')"
                    placeholder="請輸入英文姓名，需同護照"
                    autocomplete="off"
                    (keyup)="upperCase($event)"
                    required
                  />
                </div>
                <label
                  *ngIf="formCheckService.checkIsInValid(dataForm, 'engName')"
                  class="error border-danger"
                  for="engName"
                  >請輸入英文姓名，需同護照</label
                >
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
              >身分證{{recordName}}日期</label
            >
            <div class="col-12 col-md-8 input-group date-box">
              <input
                class="form-control"
                placeholder="請選擇"
                formControlName="idCardDate"
                ngbDatepicker
                #d="ngbDatepicker"
                [minDate]="minDate"
                [maxDate]="maxDate"
                [placement]="'bottom-left'"
                [ngClass]="formCheckService.validClass(dataForm, 'idCardDate')"
                [value]="dataForm.get('idCardDate').value | datePlusChinese"
                (click)="d.toggle()"
                readonly
                required
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary fa fa-calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
              <label
                *ngIf="formCheckService.checkIsInValid(dataForm, 'idCardDate')"
                class="error border-danger"
                >請選擇身分證{{recordName}}日期</label
              >
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
              >身分證{{recordName}}地點</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col p-0">
                  <select
                    class="form-control custom-select required2"
                    id="idCardLocation"
                    formControlName="idCardLocation"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'idCardLocation')
                    "
                  >
                    <option value="">請選擇</option>
                    <option
                      [value]="item.dataKey"
                      *ngFor="let item of idCardLocationList"
                      >{{ item.dataName }}</option
                    >
                  </select>
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(
                        dataForm,
                        'idCardLocation'
                      )
                    "
                    class="error border-danger"
                    >請選擇身分證{{recordName}}地點</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label
                class="col-12 col-md-3 col-form-label text-md-right text-left"
                >身分證{{recordName}}紀錄</label
              >
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="col-12 p-0">
                    <select
                      class="form-control custom-select required2"
                      id="idCardRecord"
                      formControlName="idCardRecord"
                      [ngClass]="
                        formCheckService.validClass(dataForm, 'idCardRecord')
                      "
                      required
                    >
                      <option value="">請選擇</option>
                      <option [value]="item.dataKey" *ngFor="let item of idCardRecordList">{{item.dataName}}</option>
                    </select>
                    <label
                      *ngIf="
                        formCheckService.checkIsInValid(
                          dataForm,
                          'idCardRecord'
                        )
                      "
                      class="error border-danger"
                      >請選擇身分證{{recordName}}紀錄</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 按鈕區 -->
  <div [hidden]="hideButton">
    <div class="container text-center mt-2 d-none d-md-block">
      <button
        type="button"
        class="btn btn-kgi-secondary color-kgi-gray"
        (click)="prevStep()"
      >
        {{ leftBtnStr }}
      </button>
      <button
        type="button"
        class="btn btn-kgi-primary"
        [disabled]="dataForm.invalid"
        (click)="nextStep()"
      >
        下一步
      </button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button
          type="button"
          class="btn btn-kgi-secondary color-kgi-gray col"
          (click)="prevStep()"
        >
          {{ leftBtnStr }}
        </button>
        <button
          type="button"
          class="btn btn-kgi-primary col"
          [disabled]="dataForm.invalid"
          (click)="nextStep()"
        >
          下一步
        </button>
      </div>
    </div>
  </div>
</div>
