<!-- 帳戶+信用卡填寫資料 Start -->
<div class="main-form">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <app-fill-data-step-bar
          [hidden]="hideStepBar"
          [stepbar]="stepbar"
        ></app-fill-data-step-bar>

        <!-- *********** Step5 ************ -->
        <form [formGroup]="dataForm" id="step5">

          <div *ngIf="!showGiftList">
            <div
              *ngIf="giftList.length > 0"
              class="form-group row mt-2"
              id="cardGiftDiv"
            >
              <label
                class="col-12 col-md-3 col-form-label text-md-right text-left"
              >信用卡新戶首刷禮</label
              >
              <div class="col-12 col-md-8 p-0">
                <select
                  class="form-control custom-select"
                  id="firstPresent"
                  formControlName="firstPresent"
                >
                  <option [value]="item.giftCode" *ngFor="let item of giftList">{{
                      item.giftTitle
                    }}</option>
                </select>
              </div>
            </div>
            <div
              class="form-group row mt-2"
              id="giftImageDiv"
              *ngIf="selectedGift?.giftImage"
            >
              <label
                class="d-none d-md-block col-12 col-md-3 col-form-label text-md-right text-left"
              ></label>
              <div class=" col-12 col-md-8 p-0">
                <div style="border: solid 1px #e0e0e0">
                  <div name="eachGiftDiv" class="row" data-index="">
                    <div class="col-5 text-center">
                      <img
                        class="img-fluid"
                        name="giftImage"
                        style="max-height: 150px;"
                        [src]="selectedGift.giftImage"
                      />
                    </div>
                    <div class="col-7 pl-0 my-auto">
                      <div class="giftDesc">{{ selectedGift.giftNote }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




<!--          <div class="form-group row mt-2">-->
<!--            <label-->
<!--              class="col-12 col-md-3 col-form-label text-md-right text-left"-->
<!--            >-->
<!--              薪轉戶免提供財力證明<br />-->
<!--              <span class="font-14">首次撥薪後自動帶入審查</span>-->
<!--            </label>-->
<!--            <div-->
<!--              class="col-12 col-md-7 squaredFour"-->
<!--              style="padding:0 0 5px 25px;"-->
<!--            >-->
<!--              <input-->
<!--                id="quickHandle"-->
<!--                formControlName="quickHandle"-->
<!--                type="checkbox"-->
<!--              />-->
<!--              <label for="quickHandle" class="no-margin"-->
<!--                >加速辦理或提高信用卡額度</label-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<div class="form-group row mt-2" *ngIf="entryService.isCL()">
    <label
      class="col-12 col-md-3 col-form-label text-md-right text-left"
      >財力證明</label
    >

      <p class="col-md-8 p-0">
       你已同意中國人壽提供保單之保價金/帳戶價值資訊，做為申請凱基銀行信用卡審核參考。
       建議您可提供其他個人財力證明加速審核作業。
      </p>
</div>

          <div class="form-group row mt-2" >
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
              *ngIf="!entryService.isCL()">財力證明</label
            >
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
              *ngIf="entryService.isCL()"></label
            >
            <div class="col-9 col-md-5 p-0">
              <select
                class="form-control custom-select"
                formControlName="docType"
              >
                <option
                  [value]="item.dataKey"
                  *ngFor="let item of docTypeList"
                  >{{ item.dataName }}</option
                >
              </select>
            </div>
            <div
              class="col-3 text-center"
              style="margin:auto 0;padding-left:0px"
            >
              <div
                style="position: absolute; top: -15px; left: 50%; margin-left: -62px; width: 100%; border: 0px solid red;"
              ></div>
              <i
                class="fa fa-camera color-primary mr-2 cursor-pointer kgi-color"
                aria-hidden="true"
                (click)="upload.triggerUpload(true)"
              ></i>
              <i
                class="fa fa-file color-primary cursor-pointer kgi-color"
                aria-hidden="true"
                (click)="upload.triggerUpload(false)"
              ></i>
            </div>
            <div class="text-center kgi-gray-light col-12 mt-3">
              <div *ngFor="let item of uploadedDocument">
                <div class="row pt-2 pb-2">
                  <div class="col-3 px-0 m-auto">{{ item.docName }}</div>
                  <div class="col-7 m-auto">
                    <div style="position:relative;">
                      <div
                        class="preview-icon cursor-pointer kgi-color"
                        style="display:initial;"
                        (click)="showPreview(item.waterMarkImage)"
                      >
                        <img
                          style="height:60px; width:auto;"
                          class="preview"
                          [src]="item.waterMarkImage"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-2 px-0 m-auto">
                    <a (click)="deleteUploadFile(item.subSerial)">
                      <i
                        class="fa fa-trash-o cursor-pointer"
                        aria-hidden="true"
                        style="color:#9e9e9e; font-size:22px;"
                      ></i>
                    </a>
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </div>
          <app-upload
            class="d-none"
            #upload
            (docResult)="uploadFile($event)"
          ></app-upload>
        </form>
      </div>
    </div>
    <div
      class="row no-margin"
      style="margin-top:10px;"
    >
      <label class="col-12 col-md-12 col-form-label text-left"
        >財力證明項目說明:
        <ol>
          <li>近三個月薪資單或薪轉存褶(含封面姓名、帳號及內頁明細)</li>
          <li>最新扣繳名單</li>
          <li>所得清單等資料作為收入證明</li>
        </ol>
      </label>
    </div>
    <app-submit-button-group
      [hidden]="hideButton"
      primaryButtonText="下一步"
      [primaryButtonDisabled]="getPrimaryButtonDisabled()"
      (primaryButtonClick)="nextStep()"
      secondaryButtonText="上一步"
      (secondaryButtonClick)="prevStep()"
    >
    </app-submit-button-group>
    <!-- 按鈕區 -->
  </div>
</div>
