
.font-14 {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 900;
  padding-bottom: 5px;
}

.bg-primary {
  background-color: #007bff !important;
}

.date-box {
  padding: 0;
  input {
    background-color: #fff;
  }
}

.bg-gray {
  background: #f2f2f2;
}

.bg-orange {
  background: #FF6E40;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
