<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/UPL/step2']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->

                <form>
                    <div class="title-area">
                        <h1>上傳身分證</h1>
                        <div class="title-info">
                            <span>手邊沒有文件嗎？　您可以</span>
                            <a (click)='clickUploadLater()' class="txt-link">稍後補件上傳</a>
                        </div>
                    </div>

                    <img src="assets/inc/default/img/visual-takeshot.svg" alt="拍照上傳的小技巧" class="hidden-desktop"
                        width="100%" />


                    <div #box class="file-box form-item ">
                        <i #icon class="icon-close " title="清空此圖" (click)="removeImage($event.target)"></i>
                        <img #img src="assets/inc/default/img/demo/blank.png" alt="身分證正面" width="100%" />
                        <div #div class="file-content">
                            <div class="file-title">身分證正面</div>
                            <label class="file-upload btn-hasicon">
                                <input title="" type="file" accept="image/*"
                                    (change)="showCropDialog('#dialog1', $event.target);isFront=true" required />
                                <i class="icon-camera"></i>
                                <span>選擇檔案</span>
                            </label>
                        </div>
                    </div>

                    <div class="file-box form-item">
                        <i #icon2 class="icon-close" title="清空此圖" (click)="removeImage($event.target)"></i>
                        <img src="assets/inc/default/img/demo/blank.png" alt="身分證反面" width="100%" />
                        <div class="file-content">
                            <div class="file-title">身分證反面</div>
                            <label class="file-upload btn-hasicon">
                                <input title="" type="file" accept="image/*"
                                    (change)="showCropDialog('#dialog1', $event.target);isFront=false" required />
                                <i class="icon-camera"></i>
                                <span>選擇檔案</span>
                            </label>
                        </div>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">下一步</button>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-file.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

    <div class="dialog dialog-crop dialog-full" id="dialog1">
        <div class="dialog-content">
            <img src="" height="100%" />
            <div class="crop-info hidden-mobile">可用滑鼠滾輪縮至方框大小</div>
            <div class="crop-info hidden-desktop">手勢縮放至方框大小</div>
        </div>
        <div class="dialog-footer">
            <div class="btn-area">
                <button type="button" class="btn-normal btn-hasicon" (click)="cropper()">
                    <i class="icon-rotate"></i>
                    <span>旋轉照片</span>
                </button>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close">取消</button>
                <button type="button" class="btn-submit" (click)="showConfDialog($event, img)">調整完成</button>
            </div>
        </div>
    </div>

    <div class="dialog dialog-ocr dialog-full" id="dialog2">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-content" style="padding: 10px 36px;" >
<!--                <div style="height: 20px"></div>-->
                <div class="title-area">
                    <h1>確認影像與資料</h1>
                </div>
                <div class="sample-wrap has-image">
                    <img id="sampleImageFront" src="assets/inc/default/img/demo/blank.png" alt="確認影像與資料" width="100%" />
                </div>
                <div class="form-item">
                    <label>發證日期</label>
                    <input formControlName="idcardDate" type="text" placeholder="輸入證件上民國年/月/日，例:066/02/29" />
                    <div *ngIf="this.applyForm.controls['idcardDate'].invalid">
                         <div class="error-text" *ngIf="this.applyForm.controls['idcardDate'].errors.required">此項為必填</div>
                        <div *ngIf="!this.applyForm.controls['idcardDate'].errors.required">
                            <div class="error-text" *ngIf="this.applyForm.controls['idcardDate'].errors.error">不符合要求的格式</div>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <div class="columns">
                        <div class="column-item flexbasis-50">
                            <label>發證地點</label>
                            <select required formControlName="idcardLocation" title="">
                                <option *ngFor='let item of cityOption' [value]="item.dataKey">
                                    {{item.dataName}}
                                </option>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('idcardLocation')">選取列表中的項目</div>
                        </div>
                        <div class="column-item">
                            <label>發證紀錄</label>
                            <select required formControlName="idcardCRecord" title="">
                                <option *ngFor='let item of idcardCRecordOption' [value]="item.dataKey">
                                    {{item.dataName}}
                                </option>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('idcardCRecord')">選取列表中的項目</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-footer">
                <div class="btn-area" style="margin-top: -22px">
                    <button type="button" class="btn-cancel dialog-close-all" (click)="removeImage(icon)">重新拍攝</button>
                    <button type="button" class="btn-submit dialog-submit dialog-close-all"
                        [disabled]="errorMessage('idcardDate') || errorMessage('idcardLocation') || errorMessage('idcardCRecord')">確認無誤</button>
                </div>
            </div>
        </form>
    </div>

    <div class="dialog dialog-ocr dialog-full" id="dialog3">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-content" style="padding: 10px 36px;">
                <div style="height: 20px"></div>
                <div class="title-area">
                    <h1>確認影像與資料</h1>
                </div>
                <div class="sample-wrap has-image">
                    <img id="sampleImageBack" src="assets/inc/default/img/demo/blank.png" alt="確認影像與資料" width="100%" />
                </div>

                <div class="form-item">
                    <div class="columns">
                        <div class="column-item flexbasis-50">
                            <label>縣市</label>
                            <select required formControlName="counties" #counties (change)="makeDistrict($event.target.value)">
                                <option value="" hidden>縣市</option>
                                <optgroup *ngFor='let option of options' label="{{option.counties}}">
                                    <option *ngFor='let item of option.items' [value]="item.dataKey">
                                        {{item.dataName}}
                                    </option>
                                </optgroup>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('counties')">選取列表中的項目</div>
                        </div>
                        <div class="column-item">
                            <label>鄉鎮市區</label>
                            <select required formControlName="township" #township title="">
                                <option *ngFor='let item of cityOption2' [value]="item.dataKey">
                                    {{item.dataName}}
                                </option>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('township')">選取列表中的項目</div>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label>地址</label>
                    <textarea formControlName="address" required rows="2"></textarea>
                    <div class="error-text" *ngIf="errorMessage('address')">填寫此欄位</div>
                </div>
            </div>
            <div class="dialog-footer">
                <div class="btn-area" style="margin-top: -22px">
                    <button type="button" class="btn-cancel dialog-close-all" (click)="removeImage(icon2)">重新拍攝</button>
                    <button type="button" class="btn-submit dialog-submit dialog-close-all"
                        [disabled]="errorMessage('counties') || errorMessage('township') || errorMessage('address')">確認無誤</button>
                </div>
            </div>
        </form>
    </div>
</div>