<div *ngIf="isRPL" class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/person']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>{{loanTitle}}</h1>
                    </div>

                    <div class="form-item">
                        <label>{{loanAmountLabel}}</label>
                        <div class="input-wrapper">
                            <input #amount formControlName="p_apy_amount" type="tel" maxlength="3"
                                [cleave]="cleave.Number" (ngModelChange)="onPhonepress(amount.value)" />
                            <div class="error-text"
                                *ngIf="errorMessage('p_apy_amount', 'required') && !(checkAmountErrRpl)">
                                填寫此欄位</div>
                            <div class="error-text" *ngIf="checkAmountErrRpl">申請金額必須介於1~100萬</div>
                            <div class="unit">萬</div>
                        </div>
                    </div>


                    <div class="btn-area">
                        <button type="submit" class="btn-submit"
                            [disabled]="applyForm.invalid || checkAmountErrRpl"
                            (click)="onSubmit()">下一步</button>
                    </div>


                </form>
                <!-- <div class="demolink">
                    <a [routerLink]="['/apply/loan']">PL</a>
                    <a [routerLink]="['/apply/loan.rpl']" style="margin-left: 5px;">RPL</a>
                    <a [routerLink]="['/apply/loan.old']" style="margin-left: 5px;">既有戶</a>
                </div> -->
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>


    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <ol><br />
                您的專屬方案貸款金額是依您留存於本行往來紀錄，並排除您目前於其他銀行的信貸餘額後計算，若您有債務整合需要或可提供其他財力，可直接於下方申貸金額調整至最高600萬元。
            </ol>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>