<div *ngIf="isPA" class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/person']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>{{loanTitle}}</h1>
                    </div>
                    <!-- OLD------------------------------------------------------------------------------ -->
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="txt-darkgray">
                                <div class="txt-info" tabindex="0" (click)="showDialog('#dialog1')">
                                    <span>優先核准金額</span>
                                    <i title="查看說明" class="icon-info txt-large"></i>
                                </div>
                            </td>
                            <td class="txt-darkgray" align="right">專屬優惠利率</td>
                        </tr>
                        <tr>
                            <td class="txt-orange txt-xxlarge txt-art">{{preAuditCreditLine}}萬元</td>
                            <td align="right">
                                <div class="txt-xlarge">{{preAuditFinalRate}}%</div>
                                <div class="txt-small">{{preAuditIntrestRate}}% + 本行指數利率</div>
                            </td>
                        </tr>
                    </table>
                    <div style="height: 40px"></div>
                    <!-- PL------------------------------------------------------------------------------ -->
                    <div class="form-item">
                        <label>{{loanAmountLabel}}</label>
                        <div class="input-wrapper">
                            <input #amount formControlName="p_apy_amount" type="tel" maxlength="3"
                                [cleave]="cleave.Number" (ngModelChange)="onPhonepress(amount.value)" />
                            <div class="error-text"
                                *ngIf="errorMessage('p_apy_amount', 'required') && !(checkAmountErr)">
                                填寫此欄位</div>
                            <div class="error-text" *ngIf="checkAmountErr">申請金額必須介於3~600萬</div>
                            <div class="unit">萬</div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>貸款期間</label>
                        <select required formControlName="p_period">
                            <option *ngFor="let selectOption of periodOptions" [value]="selectOption.key">
                                {{selectOption.value}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('p_period')">選取列表中的項目</div>
                    </div>

                    <div class="form-item">
                        <label>貸款用途</label>
                        <select required formControlName="p_purpose">
                            <option *ngFor="let item of loanPurposeOptions" [value]="item.dataKey">{{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('p_purpose')">選取列表中的項目</div>
                    </div>

                    <div class="form-item" [hidden]="applyForm.get('p_purpose').value !== '16'">
                        <label>填寫貸款用途</label>
                        <div class="input-wrapper">
                            <textarea type="text" formControlName="loanPurpose"></textarea>
                        </div>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit"
                            [disabled]="applyForm.invalid || checkAmountErr"
                            (click)="onSubmit()">下一步</button>
                    </div>


                </form>
                <!-- <div class="demolink">
                    <a [routerLink]="['/apply/loan']">PL</a>
                    <a [routerLink]="['/apply/loan.rpl']" style="margin-left: 5px;">RPL</a>
                    <a [routerLink]="['/apply/loan.old']" style="margin-left: 5px;">既有戶</a>
                </div> -->
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>


    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <ol><br />
                您的專屬方案貸款金額是依您留存於本行往來紀錄，並排除您目前於其他銀行的信貸餘額後計算，若您有債務整合需要或可提供其他財力，可直接於下方申貸金額調整至最高600萬元。
            </ol>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>