<div class="row no-margin kgi-box-001"
     [formGroup]="dropdownForm"
>
  <div class="col-12">
    <div class="row">
      <label
        *ngIf="!hideLeft"
        class="col-md-3 d-none d-md-block col-form-label"
      ></label>
      <div
        class="kgi-panel-group col-12 p-0 mx-auto"
        [ngClass]="hideLeft ? '' : 'col-md-9'"
      >
        <!-- local css -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a
                class="btn-link"
                [ngClass]="isLookdocOpen ? '' : 'collapsed'"
                (click)="isLookdocOpen = !isLookdocOpen"
              >推薦資訊
              </a>
            </h6>
          </div>
          <div class="panel-collapse collapse "
               [ngClass]="isLookdocOpen ?  'show' :''"
          >
            <div class="panel-body ">
              <div class="form-group">
                <label>推薦申請產品</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <select class="form-control custom-select" formControlName="productName">
                      <option value="">請選擇產品</option>
                      <option value="0">貸款</option>
                      <option value="1">信用卡</option>
                      <option value="6">數位存款帳戶</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label>推薦人身分</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <select class="form-control custom-select" formControlName="refereeClass">
                     <!-- <option value="">請選擇</option> -->
                      <option *ngFor="let channelList of channelListAry"
                              [value]="channelList.channelId">{{channelList.channelName}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>單位代號</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <select class="form-control custom-select" formControlName="orgID">
                     <option value="">請選擇</option>
                      <option *ngFor="let departList of departListAry"
                              [value]="departList.departId">{{departList.departName}}</option>
                    </select>

                    <!-- <input
                      type="text"
                      class="form-control"
                      formControlName="orgID"
                      id="orgID"
                      placeholder="請輸入"
                      autocomplete="off"
                      [ngClass]="formCheckService.validClass(dropdownForm,'orgID')"
                    >
                    <label
                      *ngIf="formCheckService.checkIsInValid(dropdownForm, 'orgID')"
                      class="error border-danger"
                      for="orgID"
                    >單位代號錯誤</label> -->
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>員工代號</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="empID"
                      id="empID"
                      placeholder="請輸入"
                      autocomplete="off"
                      maxlength="{{this.validLength||10}}"

                      [ngClass]="formCheckService.validClass(dropdownForm,'empID')"
                    >
                    <label
                      *ngIf="formCheckService.checkIsInValid(dropdownForm, 'empID')"
                      class="error border-danger"
                      for="empID"
                    >{{ empErrorMsg }}</label>
                  </div>
                </div>

              </div>
            </div>
            <div [ngClass]="isLookdocOpen ? '' : 'doc-bottom-shadow'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
