<!-- 帳戶+信用卡填寫資料 Start -->
<div class="main-form">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <app-fill-data-step-bar
          [hidden]="hideStepBar"
          [stepbar]="stepbar"
        ></app-fill-data-step-bar>

        <!-- *********** Step3 ************ -->
        <form [formGroup]="dataForm" id="step3">
          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >電子信箱</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                  <ng-container [ngSwitch]="true">
                      <ng-container *ngSwitchCase="hasAppointment()">
                          <input
                          type="email"
                          id="email"
                          formControlName="email"
                          class="email col-12 form-control add-clear-btn "
                          [ngClass]="formCheckService.validClass(dataForm, 'email')"
                          maxlength="40"
                          value=""
                          placeholder="請輸入"
                          autocomplete="off"
                          required
                        />
              </ng-container>
              <ng-container *ngSwitchDefault>
                  <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="email col-12 form-control add-clear-btn "
                  [ngClass]="formCheckService.validClass(dataForm, 'email')"
                  maxlength="40"
                  value=""
                  placeholder="請輸入"
                  autocomplete="off"
                  (keyup) = "clearErrorMsg()"
                  (focusout) = "validateEmail()"
                  required
                />
            </ng-container>
            </ng-container>
                <label
                  *ngIf="formCheckService.checkIsInValid(dataForm, 'email')"
                  class="error border-danger errorEmail"
                >{{ updateEmailErrorMsg() }}</label
                >
                <label
                *ngIf="dataForm.controls['email'].invalid"
                  class="error border-danger errorEmail"
                >{{errorMsgEmail}}</label
                >
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >對帳單寄送方式(含帳單)</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col p-0">
                  <select
                    class="form-control custom-select required2"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'sendType')
                    "
                    id="sendType"
                    formControlName="sendType"
                  >
                    <option value="">請選擇</option>
                    <option
                      [value]="item.dataKey"
                      *ngFor="let item of sendTypeList"
                    >{{ item.dataName }}</option
                    >
                  </select>
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'sendType')
                    "
                    class="error border-danger"
                  >請選擇對帳單寄送方式</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >戶籍電話</label
            >

            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-4 pr-1 pl-0">
                  <input
                    type="tel"
                    class="chkAreaCode number form-control"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'resTelArea')
                    "
                    KeydownRegexp="num"
                    placeholder="區碼"
                    id="phoneNumber_dist"
                    formControlName="resTelArea"
                    maxlength="4"
                    autocomplete="off"
                    required
                  />
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'resTelArea')
                    "
                    class="error border-danger"
                  >請輸入戶籍電話區碼</label
                  >
                </div>

                <div class="col-8 pr-0 pl-1">
                  <input
                    type="tel"
                    class="number form-control"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validClass(dataForm, 'resTel')"
                    placeholder="請輸入"
                    id="phoneNumber"
                    formControlName="resTel"
                    maxlength="8"
                    autocomplete="off"
                    required
                  />
                  <label
                    *ngIf="formCheckService.checkIsInValid(dataForm, 'resTel')"
                    class="error border-danger"
                  >戶籍電話需為6-8位阿拉伯數字</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-md-3 col-form-label text-md-right text-left"
            >居住電話</label
            >
            <div
              class="col-8 col-md-7 squaredFour"
              style="padding-left:25px; padding-right:0px; padding-bottom:5px; margin-top:calc(.375rem + 1px);"
            >
              <input
                id="asResPhone"
                type="checkbox"
                formControlName="checkTerms"
                (change)="asResPhone($event)"
              />
              <label for="asResPhone" style="margin:0px;">同戶籍電話</label>
            </div>
            <div class="col-12 col-md-8 offset-md-3">
              <div class="row">
                <div class="col-4 pr-1 pl-0">
                  <input
                    type="tel"
                    class="chkAreaCode number form-control"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'homeTelArea')
                    "
                    KeydownRegexp="num"
                    placeholder="區碼"
                    id="homeTel_dist"
                    formControlName="homeTelArea"
                    maxlength="4"
                    autocomplete="off"
                    required
                  />
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'homeTelArea')
                    "
                    class="error border-danger"
                  >請輸入居住電話區碼</label
                  >
                </div>
                <div class="col-8 pr-1 pl-1">
                  <input
                    type="tel"
                    class="number form-control"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validClass(dataForm, 'homeTel')"
                    placeholder="請輸入"
                    id="homeTel"
                    formControlName="homeTel"
                    maxlength="8"
                    autocomplete="off"
                    required
                  />
                  <label
                    *ngIf="formCheckService.checkIsInValid(dataForm, 'homeTel')"
                    class="error border-danger"
                  >居住電話需為6-8位阿拉伯數字</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >教育程度</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col p-0">
                  <select
                    class="form-control custom-select required2"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'education')
                    "
                    id="education"
                    formControlName="education"
                  >
                    <option value="">請選擇</option>
                    <option
                      [value]="item.dataKey"
                      *ngFor="let item of educationList"
                    >{{ item.dataName }}</option
                    >
                  </select>
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'education')
                    "
                    class="error border-danger"
                  >請選擇教育程度</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="isCreditCardChoosed()" ><!-- *ngIf="!hideEstate" -->
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >不動產所有</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 p-0">
                  <select
                    class="form-control custom-select required2"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'estateType')
                    "
                    id="estateType"
                    formControlName="estateType"
                    required
                  >
                    <option value="">請選擇</option>
                    <option
                      [value]="item.dataKey"
                      *ngFor="let item of estateTypeList"
                    >{{ item.dataName }}</option
                    >
                  </select>
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'estateType')
                    "
                    class="error border-danger"
                  >請選擇不動產所有</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >開戶目的</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 p-0">
                  <select
                    class="form-control custom-select required2"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'purpose')
                    "
                    id="purpose"
                    formControlName="purpose"
                    required
                  >
                    <option value="">請選擇</option>
                    <option
                      [value]="item.dataKey"
                      *ngFor="let item of purposeList"
                    >{{ item.dataName }}</option>
                  </select>
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'purpose')
                    "
                    class="error border-danger"
                  >請選擇開戶目的</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >指定服務分行</label>
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 p-0">
                  <app-bank-list3 [parentform]="dataForm.get('branchInfo')" [branchInfo]="selectedBranchInfo"></app-bank-list3>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" [hidden]="!showAuthInfo">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >共同行銷客戶個人資料使用同意聲明</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 p-0 squaredFour">
                  <input
                    id="authInfo"
                    type="checkbox"
                    formControlName="authInfo"
                  />
                  <label for="authInfo" class="font-14 m-0 checkbox-padding"
                  >同意(如未勾選視為不同意)</label
                  >
                  <div class="font-14 checkbox-padding">
                    貴行得利用、處理及國際傳輸個人資料保護法之特定目的及個人資料之類別於特定目的利用，請詳閱<a
                    class="text-primary cursor-pointer"
                    (click)="showTerms()"
                  >共同行銷客戶同意事項</a
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 按鈕區 -->
  <app-submit-button-group
    [hidden]="hideButton"
    primaryButtonText="下一步"
    [primaryButtonDisabledForm]="dataForm"
    (primaryButtonClick)="nextStep()"
    secondaryButtonText="上一步"
    (secondaryButtonClick)="prevStep()"
  >
  </app-submit-button-group>
</div>
