.font-14 {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 900;
  padding-bottom: 5px;
}

.checkbox-padding{
  padding-left: 25px;
}

.errorEmail {
  position: relative;
  text-align: left !important;
}


