<section class="apply">

  <!-- step Start -->
  <app-step-num [step]="stepStr"></app-step-num>
  <!-- step End-->
  
  <!-- OUTER FRAMEWORK -->
  <form class="main-form">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">

          <!-- IMAGE of finish -->
          <div class="form-group text-center">
            <div class="control-label mt-3 p-3">
              <div class="fa fa-exclamation-triangle fa-5x color-primary mb-5"></div>
              <h4 style="width: auto;">您未有任何可線上簽署的<span style="color: red;">表單</span>。</h4>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  
    <!-- SECTOR: SUBMIT -->
    <!-- WINDOW -->
    <div class="container text-center mt-2 d-none d-md-block">
      <a href="https://www.kgibank.com/" class="btn btn-kgi-primary" (click)="onSubmit()">
        回首頁
      </a>
    </div>

    <!-- MOBILE -->
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <a href="https://www.kgibank.com/" class="btn btn-kgi-primary" (click)="onSubmit()">
          回首頁
        </a>
      </div>
    </div>


  </form>


</section>