<form [formGroup]="parentform" class="row">
  <div class="form-group col-6 col-md-6" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'securitiesCity')}">
    <select class="form-control custom-select" formControlName="securitiesCity">
      <option value="">請選擇縣市</option>
      <option *ngFor="let item of countyList" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="form-group col-6 col-md-6" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'securitiesDist')}">
    <select class="form-control custom-select" formControlName="securitiesDist">
      <option value="">請選擇區域</option>
      <option *ngFor="let district of districtList" [value]="district">{{district}}</option>
    </select>
  </div>
  <div class="form-group col-12 col-md-12" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'securitiesName')}">
    <select class="form-control custom-select" formControlName="securitiesName">
      <option value="">請選擇分行</option>
      <option *ngFor="let b of branchs" [value]="b">{{b}}</option>
    </select>
  </div>
  <input type="hidden" formControlName="securitiesAddrZipCode">
  <input type="hidden" formControlName="securitiesCode">
</form>
