<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <!-- Step4 Start -->
  <form class="main-form" [formGroup]="form">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">
          <!-- 選擇線上驗證身分方式 Start -->
          <div class="form-group mt-3 text-center">
            <p class="form-title">請選擇線上驗證身分方式</p>
            <div class="applyType">
              <div>
                <input
                  type='radio'
                  id='1'
                  class="radioHide"
                  formControlName='applyType'
                  autocomplete='off'
                  value='1'>
                <label class='creditBtn' for="1">
                  <div>
                    <span class="btn-title">各家銀行存款帳戶</span><br />
                    <span class="font-16 text-center">{{bankDesc}}</span>
                  </div>
                  <img class="img-right-top" src="assets/image/icon/45-mark.png" alt="">
                </label>
              </div>
              <!-- <div>
                <input
                  type='radio'
                  id='2'
                  class="radioHide"
                  formControlName='applyType'
                  autocomplete='off'
                  value='2'>
                <label class='creditBtn' for="2">
                  <div>
                    <span class="btn-title">行動門號身份認證</span><br />
                    <span class="font-16">{{creditCardDesc}}</span>
                  </div>
                  <img class="img-right-top" src="assets/image/icon/45-mark.png" alt="">
                </label>
              </div> -->
            </div>
          </div>
          <!-- 選擇線上驗證身分方式 End -->

        </div>
      </div>
    </div>

    <!-- 按鈕區 Stert -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button
        name="btnsubmit"
        type="button"
        class="btn btn-kgi-secondary color-kgi-gray"
        (click)="otherActions()"
        >
        專人與我聯絡
      </button>
      <button
        name="btnsubmit"
        type="button"
        class="btn btn-kgi-primary"
        (click)="next()"
        [disabled]="isNextDisabled()">
        下一步
      </button>
    </div>
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
          <button
          name="btnsubmit"
          type="button"
          class="btn btn-kgi-secondary color-kgi-gray col"
          (click)="otherActions()"
          >
          專人與我聯絡
        </button>
        <button
          name="btnsubmit"
          type="button"
          class="btn btn-kgi-primary col"
          (click)="next()"
          [disabled]="isNextDisabled()">
          下一步
        </button>
      </div>
    </div>
    <!-- 按鈕區 End -->

  </form>
  <!-- Step4 End -->

</section>
