<form [formGroup]="parentform" class="row">
  <div class="form-group col-3 pr-0 pr-md-3">
    <input class="form-control" type="tel"
    KeydownRegexp="num"
    formControlName="area" placeholder="區碼" maxlength="5" [ngClass]="{'is-invalid':showError(parentform,'area')}">
    <div class="invalid-feedback box d-none d-md-block" *ngIf="showError(parentform,'area')">
      請輸入正確的區碼
    </div>
  </div>
  <div class="form-group col-6 px-2 px-md-3">
    <input class="form-control" type="tel"
    KeydownRegexp="num"
    formControlName="tel" placeholder="電話" maxlength="10" [ngClass]="{'is-invalid':showError(parentform,'tel')}">
    <div class="invalid-feedback box d-none d-md-block" *ngIf="showError(parentform,'tel')">
      請輸入正確的電話
    </div>
  </div>
  <div class="form-group col-3 pl-0 pl-md-3">
    <input class="form-control" type="tel"
    KeydownRegexp="num"
    formControlName="ext" placeholder="分機" maxlength="6" [ngClass]="{'is-invalid':showError(parentform,'ext')}">
    <div class="invalid-feedback box d-none d-md-block" *ngIf="showError(parentform,'ext')">
      請輸入正確的分機
    </div>
  </div>
  <div class="col-12">
    <div class="invalid-feedback box d-md-none" *ngIf="showError(parentform,'area') || showError(parentform,'tel') ||showError(parentform,'ext')">
      請輸入正確的電話號碼
    </div>
  </div>
</form>
