#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;

  .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;

    &::before {
      border-radius: 100%;
      content: "";
      height: 87.5px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scale(0);
      width: 87.5px;
    }

    &:nth-child(7n+1) {
      transform: rotate(45deg);

      &::before {
        animation: 0.8s linear 0.1s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }

    &:nth-child(7n+2) {
      transform: rotate(90deg);

      &::before {
        animation: 0.8s linear 0.2s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }

    &:nth-child(7n+3) {
      transform: rotate(135deg);

      &::before {
        animation: 0.8s linear 0.3s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }

    &:nth-child(7n+4) {
      transform: rotate(180deg);

      &::before {
        animation: 0.8s linear 0.4s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }

    &:nth-child(7n+5) {
      transform: rotate(225deg);

      &::before {
        animation: 0.8s linear 0.5s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }

    &:nth-child(7n+6) {
      transform: rotate(270deg);

      &::before {
        animation: 0.8s linear 0.6s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }

    &:nth-child(7n+7) {
      transform: rotate(315deg);

      &::before {
        animation: 0.8s linear 0.7s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }

    &:nth-child(7n+8) {
      transform: rotate(360deg);

      &::before {
        animation: 0.8s linear 0.8s normal none infinite running load;
        background: #A9A9A9 none repeat scroll 0 0;
      }
    }
  }

  .loading {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}


@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}


.spinner-message {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35%;
}
