@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./spinner.scss";
@import '~font-awesome/css/font-awesome.css';


html {
  height: 100%;
}

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "メイリオ", Arial;
  background-color: #F2F2F2;
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}

/* 隱藏IE-10以上輸入框右方X按鈕與密碼框右方眼睛按鈕 */
::-ms-clear,
::-ms-reveal {
  display: none;
}

.small-50 {
  font-size: 50%;
}

.img-100 {
  width: 100%;
}

.index {
  padding: 0px;
  position: relative;
  border: 0px solid red;
}


.choose-div .click-img {
  color: #ffffff;
  background: #002F7B;
  padding: 1rem;
}

.fa-10x {
  font-size: 10rem;
}

#big-banner {
  width: 100%;
  height: 300px;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 0px 0px;
  text-align: center;

}

@media (min-width: 576px) {
  #big-banner {
    height: 350px;
  }
}

@media (min-width: 768px) {
  #big-banner {
    height: 400px;
  }
}

@media (min-width: 992px) {
  #big-banner {
    height: 460px;
  }
}

@media (min-width: 1200px) {
  #big-banner {
    height: 460px;
  }
}


.main-icon {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin-top: 75px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0px 2px 6px #555555;
  background: #002F7B;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2E6DC3, #002F7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2E6DC3, #002F7B);
  /* Standard syntax */
  cursor: pointer;
}

@media (min-width: 576px) {
  .main-icon {
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
}

.main-icon:active {
  background: #2E6DC3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #002F7B, #2E6DC3);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #002F7B, #2E6DC3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #002F7B, #2E6DC3);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #002F7B, #2E6DC3);
  /* Standard syntax */
}

.main-icon span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 20px;
}

.w-35 {
  width: 35% !important;
}

.w-15 {
  width: 15% !important;
}

.stepwizard-step img {
  margin: 0;
  width: 35px;
}

.stepwizard-step .text {
  font-size: 0.8em;
}


.header-border-top {
  border-top: 8px solid #002F7B;
  display: none;
}

.color-primary {
  color: #002F7B;
}

.color-kgi-gray {
  background: #cccccc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #FFFFFF, #DBDBDB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFFFFF, #DBDBDB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFFFFF, #DBDBDB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFFFFF, #DBDBDB);
  /* Standard syntax */
  color: #222;
  border: 1px solid #aaa;
}

.color-kgi-gray:hover {
  background: #cccccc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #FFFFFF, #AAAAAA);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFFFFF, #AAAAAA);
  /* Standard syntax */
  color: #222;
  border: 1px solid #aaa;
}

.color-kgi-gray:active {
  background: #cccccc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #FFFFFF, #AAAAAA);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFFFFF, #AAAAAA);
  /* Standard syntax */
  color: #222;
  border: 1px solid #aaa;
}


.color-kgi-gray.disabled,
.color-kgi-gray:disabled {
  background: #e4e4e4;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #e4e4e4, #e4e4e4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #e4e4e4, #e4e4e4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #e4e4e4, #e4e4e4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #e4e4e4, #e4e4e4);
  /* Standard syntax */
  color: #222;
  border: 1px solid #e4e4e4;
}


.color-remind {
  color: #EA5504;
}

.color-white {
  color: #fff;
}

.kgi-color {
  color: #3278bc !important;
}

.kgi-gray-light {
  background-color: #F0F0F0;
}

.addPhoto hr {
  margin: 0;
  border-top: 1px solid #ffffff;
}

.bg-primary {
  background: #002F7B !important;
}

.header {
  height: 40px;
  // border: 1px solid red;
  width: auto;
}

.page-title {
  padding: 0px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
  font-size: 18px;
  padding-left: 8px;
  margin-top: 8px;
  border-left: 1px solid #9b9b9b;
}

@media (min-width: 576px) {
  .page-title {
    height: 24px;
    text-align: center;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
    line-height: 24px;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 19px;
    border-left: 0px solid #9b9b9b;
  }
}


.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

@media (min-width: 576px) {
  .header {
    height: 60px;
  }

}

@media (min-width: 768px) {
  .header {
    height: 60px;
  }

}

@media (min-width: 992px) {
  .header {
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 60px;
  }
}


.navbar-brand-kgi {
  padding: 0px 0px;
  height: 40px;
  width: 115px;
  // background: url('../img/kgi_logo.svg') 8px center no-repeat;
  background-size: 100px auto;
  margin-right: 0px;

}

@media (min-width: 576px) {
  .navbar-brand-kgi {
    padding: 0px 0px;
    height: 60px;
    width: 195px;
    // background: url('../img/kgi_logo.svg') 0px center no-repeat;
    background-size: 125px auto;

  }
}

.navbar-menu-kgi {
  width: 32px;
  height: 40px;
  border: 0px dotted red;
  display: block;
  // background: url('../img/menu-icon.png') no-repeat;
  background-position: center center;
  background-size: 32px 32px;
}

@media (min-width: 576px) {
  .navbar-menu-kgi {
    height: 60px;
    width: 60px;
    background-size: 40px 40px;
  }
}


.nav-link-kgi {
  height: 40px;
  width: 40px;
  border: 0px solid red;
  // xbackground: url('../img/contact.png') center center no-repeat;
  background-size: 30px 30px;
  display: block;
  position: absolute;
  right: 10px;
  padding: 0px;
  cursor: pointer;
  text-align: right;

}

@media (min-width: 576px) {
  .nav-link-kgi {
    height: 60px;
    width: 60px;
    background-size: 28px 28px;
  }
}


.centered {
  text-align: center;
}

.func-group {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 25px;
  height: auto;
  border: 0px solid #aaa;
}

@media (min-width: 576px) {
  .func-group {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .func-group {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .func-group {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .func-group {
    width: 1170px;
  }
}

.slogan-text {
  position: relative;
  display: block;
  width: auto;
  margin: 0px 10%;
  color: #ffffff;
  text-align: left;
  font-weight: 800;
  top: 15%;
}

.slogan-text div {
  width: 100%;
  border: 0px solid red;
  color: #FFFFFF;

}


.index .menu-text {
  font-size: 12px;
  font-weight: bold;
}

.menu-block {
  padding: 0;
  display: inline-block;
}

.menu-img-block {
  padding: 0 5px;
  cursor: pointer;

}

.no-cursor {
  cursor: default;
}

.no-cursor p {
  background-color: #ffffff;
}

.menu-img-block a {
  border-radius: 4px;
  text-decoration: none;
  display: block;
  color: #002F7B;
  background: #FFFFFF;
  /* For browsers that do not support gradients */
}

.menu-img-block a:active {
  background: #FFFFFF;
  /* For browsers that do not support gradients */
}

.kgi-box-001 {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px 16px;
}

@media (min-width: 768px) {
  .kgi-box-001 {
    padding: 40px 100px;
  }
}

@media (min-width: 992px) {
  .kgi-box-001 {
    padding: 40px 200px;
  }
}

.title {
  color: #002F7B;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    text-align: left;
    font-size: 2rem;
  }
}

.main-form {
  margin: 0px;
}

.quota .countdown {
  font-size: 1.5rem;
  color: #EA5504;
}

.quota .quota-result-border {
  border-color: #002F7B !important;
}

.addPhoto .uploadedDiv {
  border: 0px solid #000000;
}

.addPhoto .uploadedDiv .trash {
  max-width: 32px;
}

.addPhoto .uploadedDiv .preview {
  width: 100%;
}


.addPhoto .big-cameara {
  font-size: 72px;
}

@media (min-width: 768px) {

  .stepwizard-step img {
    margin: 10px 0;
    width: 35px;
  }

  .col-md-auto {
    max-width: 14%;
  }
}

#func-row {
  justify-content: center;
}

.block-hidden {
  display: none;
}

.hidden {
  display: none;
}

#bottom-blank {
  height: 40px;
  margin: 5px auto;
  width: 100%;
  background-color: #ffffff;
}

#footer {
  color: #222222;
  background-color: #FFFFFF;
  height: 40px;
  margin: 0px auto;
  padding: 0px 0px;
  line-height: 40px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 14px;
}

.notify-text {
  text-align: left;
  padding: 4px 15px;
  font-size: 14px;
  color: #777777;
}

.message-zone {
  color: #002F7B;
  background-color: #ffffff;
}


/*小版步驟panel*/
.progress-step {
  vertical-align: middle;
  text-align: center;
  height: 56px;
  width: 100%;
  padding: 0px 21px;
  margin: 16px 0px;
}

.progress-step .step {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0px solid red;
  margin: 0px 0px;
  vertical-align: middle;
  position: relative;

}

.progress-step .step-line {
  width: 10%;
}

.progress-step .step-line-width-10 {
  width: 15%;
}

.progress-step .step-line-width-15 {
  width: 15%;
}

.progress-step .step-line-width-20 {
  width: 25%;
}

.progress-step .step-line-width-full {
  width: 93%;
}

.progress-step .step-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0px;
  font-size: 16px;
  background-color: #E0E0E0;
  color: #000;
  line-height: 22px;
  text-align: center;
}

.progress-step .step-current {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0px;
  font-size: 16px;
  background-color: #FF6e40;
  color: #fff;
  line-height: 22px;
  text-align: center;
}

.progress-step .step-circle:before,
.progress-step .step-current:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.progress-step .step-line:before {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 3px;
  background-color: #E0E0E0;
  top: 50%;
  left: 0px;
  margin-top: -2px;
  margin-left: -4px;
}

.progress-step .step .tip-text {
  display: block;
  width: 100px;
  position: absolute;
  padding-top: 5px;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  color: #444;
  font-size: 16px;
}

.progress-step .step-current .tip-text {
  color: #FF6e40;
}

.progress-step .step-circle .tip-text {
  display: block;
}


/*大版步驟panel*/
.progress-step-large {
  vertical-align: middle;
  text-align: center;
  height: 54px;
  width: 100%;
  margin: 8px 0px;
  padding: 0px 0px;
  overflow: hidden;
}

.progress-step-large:before {
  content: "";
  width: 70%;
  height: 3px;
  margin: 0 auto;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -1px;
  background-color: #e0e0e0;
  left: 0px;
  right: 0px;


}

.progress-step-large .step {
  display: inline-block;
  width: 40px;
  height: 38px;
  border: 0px solid red;
  margin: 8px 0px;
  vertical-align: middle;
  position: relative;

}

@media (min-width: 768px) {
  .progress-step-large .step-line {
    width: 20px;
  }
}

@media (min-width: 798px) {
  .progress-step-large .step-line {
    width: 40px;
  }
}

@media (min-width: 956px) {
  .progress-step-large .step-line {
    width: 10%;
  }
}

.progress-step-large .step-line-width-15 {
  width: 15%;
}

.progress-step-large .step-line-width-20 {
  width: 15%;
}

.progress-step-large .step-circle {
  width: 155px;
  height: 38px;
  border-radius: 25px;
  border: 0px;
  font-size: 18px;
  background-color: #E0E0E0;
  color: #000;
  line-height: 100%;
  text-align: center;
}

.progress-step-large .step-current {
  width: 155px;
  height: 38px;
  border-radius: 25px;
  border: 0px;
  font-size: 18px;
  background-color: #FF6e40;
  color: #fff;
  line-height: 100%;
  text-align: center;
}

.progress-step-large .step-circle:before,
.progress-step-large .step-current:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.progress-step-large .step-line:before {
  content: "";
  display: none;
  position: absolute;
  width: 110%;
  height: 3px;
  background-color: #E0E0E0;
  top: 50%;
  left: 0px;
  margin-top: -2px;
  margin-left: -4px;
}

.progress-step-large .step .tip-text {
  display: inline-block;
  width: 80px;
  position: relative;
  padding-top: 5px;
  text-align: center;
  color: #444;
  font-size: 18px;
}

.progress-step-large .step-current .tip-text {
  color: #FFF;
}

.progress-step-large .step-current .tip-text:before {
  content: "";
  color: #FFF;
  display: block;
  position: absolute;
  left: 2px;
  top: 80%;
  width: 2px;
  height: 2px;
  background-color: #fff;
}

.progress-step-large .step-circle .tip-text {
  color: #444;
}

.progress-step-large .step-circle .tip-text:before {
  content: "";
  color: #444;
  display: block;
  position: absolute;
  left: 2px;
  top: 80%;
  width: 2px;
  height: 2px;
  background-color: #444;
}


.text-vertical-middle {
  position: relative;
}

.text-vertical-middle:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}


.galleryImg {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: 0px solid red;
  background-position: center center;
  background-size: cover;
  margin: 0px 0px;
  text-align: center;
}

.galleryImg .gallery-img-text {
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 20%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  text-shadow: 0px 0px 5px #111111;
  padding: 0 10%;
  font-weight: 800;

}

@media (min-width: 768px) {
  .galleryImg .gallery-img-text {
    font-size: 36px;
    top: 40%;
    padding: 0 15%;
  }
}

.arrow {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: rgba(190, 190, 190, 0.4);
  top: 50%;
  margin-top: -20px;
  z-index: 100;
  font-size: 24px;
  opacity: 0.9;
  cursor: pointer;

}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.top-main-icon {
  display: block;
  position: absolute;
  width: 140px;
  height: 65px;
  color: #fff;
  border-radius: 5px;
  line-height: 60px;
  box-shadow: 0px 2px 6px #555555;
  background: #002F7B;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2E6DC3, #002F7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2E6DC3, #002F7B);
  /* Standard syntax */
  cursor: pointer;
  left: 50%;
  bottom: 20px;
  opacity: 0.9;

}


.top-main-icon span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 18px;
}

.top-main-icon a {
  text-decoration: none;
  color: #fff;
}

.icon-001 {
  margin-left: -150px;
}

.icon-002 {
  margin-left: 10px;
}

/* .squaredFour */
.squaredFour {
  position: relative;
  padding-left: 32px;
  text-align: left;
}

.squaredFour label:before {
  content: '';
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  xmargin-top: -8px;
  left: 0px;
  background: #fcfff4;
  background: _linear-gradient_legacy(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%...);
  border-radius: 4px;
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.squaredFour label:after {
  content: '';
  cursor: pointer;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #3278bc;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour label {
  cursor: pointer;
  line-height: 22px;
}

.squaredFour input[type=checkbox] {
  display: none;
}

.squaredFour input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .squaredFour */


.sticky-bottom {
  position: -webkit-fixed;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
  max-width: 100% !important;
  // left: 1%;
  z-index: 1020;
  background: rgba(238, 238, 238, 0.5);
}


@media (min-width: 576px) {
  .container {
    width: 98%;
    max-width: 98%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 98%;
    max-width: 98%;
  }

  .form-group {
    margin-bottom: 2.4rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

.col-form-label {
  padding-left: 0;
}

.kgi-panel-group .panel-default {
  background-color: #eeeeee;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
}

.kgi-panel-group .panel-title {
  margin: 0px;
}

.kgi-panel-group .panel-title a {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  line-height: 24px;
  border: 0px solid red;
}

.kgi-panel-group .panel-title a:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 12px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.kgi-panel-group .panel-title a:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 12px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.kgi-panel-group .panel-title a:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.kgi-panel-group .panel-title a:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.kgi-panel-group .panel-title a.collapsed:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.kgi-panel-group .panel-title a.collapsed:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}

.kgi-panel-group .panel-collapse {
  padding: 10px 5px 5px 5px;
  max-height: 500px;
}

.kgi-panel-group .panel-body {
  position: relative;
  height: 460px;
  overflow-y: scroll;
  margin-right: 6px;
  padding-right: 16px;
}

.normal-link {
  word-break: break-all;
  text-decoration: underline;
  color: #3278bc;
}


/* overwrite bootstrap */
.container {
  padding-left: 8px;
  padding-right: 8px;
}

.container .form-control {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.ap-theme-ios .ap-bg {
  font-family: '微軟正黑體', arial;
  font-size: 20px;
}

.upload-card {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 38px;
  display: inline-block;
  padding-left: 55px !important;
  position: relative;
}

.upload-card:before {
  content: "";
  display: block;
  position: relative;
  //width: 50px;
  height: 25px;
  //left: 5px;
  right: 5px;
  top: 0px;
  background-image: url('./assets/image/cam-1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 36px 28px;
}

.btn:focus{
  box-shadow: 0px 2px 6px #aaaaaa;
}


.cursor-pointer {
  cursor: pointer;
}


.no-shadow {
  box-shadow: none !important;
}

.preview-icon:before {
  content: "\f00e";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: calc(50% + 25px);
  bottom: 0;
  color: #3278bc;
  font-size: 24px;
}


label.error {
  color: #dc3545 !important;
  display: block;
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 100%;
  text-align: right !important;
  padding-right: .25rem !important;
  margin: 0 !important;
}

.doc-bottom-shadow {
  position: absolute;
  width: 100%;
  border: 0px solid red;
  height: 40px;
  left: 0px;
  bottom: 0px;

  rem_background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(238, 238, 238, 1) 60%);
  /* FF3.6-15 */
  rem_background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(238, 238, 238, 1) 60%);
  /* Chrome10-25,Safari5.1-6 */
  rem_background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(238, 238, 238, 1) 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  rem_filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */

  background-color: none;
  background: url('./assets/image/docGrayBg.png') repeat-x 0px -6px;
  background-size: auto 50px;


}

.text-link {
  color: #0056b3;
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.contract ul > li {
  padding: 0 0 1rem 0;
}

.preview-block {
  max-height: 67vh;
  overflow-y: scroll;

}

.arrow-point {
  border: 0px solid red;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 36px;
  height: 32px;
}

.arrow-open:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.arrow-open:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}

.arrow-close:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.arrow-close:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.box-close {
  height: 43px;
  overflow: hidden;
}

.box-open {
  height: auto;
  overflow: auto;
}


.box-open .box-icon:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.box-open .box-icon:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.box-close .box-icon:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.box-close .box-icon:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}

.kgi-bg-grayF2 {
  background-color: #f2f2f2 !important;
}


.kgi-tooltip {
  display: block;
  position: relative;
  min-height: 20px;
  min-width: 50px;
  border: 0px solid red;
  z-index: 999;
}

.kgi-tooltip div {
  border: 1px solid red;
}

.kgi-tooltip .tooltip-arrow {
  position: relative;
  height: 7px;
  border: 6px solid #3278bc;
  width: 0px;
  border-top: 0px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  margin-left: 16px;
  display: none;
}

.kgi-tooltip .tooltip-block {
  position: relative;
  font-size: 0.9rem;
  color: #444;
  border: 0px;
  padding: 2px 8px;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .kgi-tooltip .tooltip-block {
    font-size: 0.7rem;
  }
}


/* ---------頁面設定------------ */
select::-ms-expand {
  display: none;
}

.custom-select {
  background: #fff url('./assets/image/drowdown-arrow.png') no-repeat right 0.25rem center;
}

// 生日欄位向下的icon
.add-drowdown-arrow-bg {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-image: url('./assets/image/drowdown-arrow.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px auto;
}

/* Radio */
.kgi-style-radio {
  background-color: #fff;
  color: #444;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 1rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  margin-right: 15px;
  min-width: 80px;
  height: 36px;
}

.kgi-style-radio:hover {
  background-color: #eee;
  color: #444;
  border: 1px solid #ccc;
}

input[type=radio]:checked + label {
  border-color: #3278bc;
  color: #3278bc;
}

.radioHide,
.checkboxHide {
  display: none;
}

/* 條款及告知事項區塊 */
.kgi-panel-group .panel-title a,
.kgi-panel-group .panel-title a:hover {
  text-decoration: none;
  color: #0066cc;
}

.kgi-panel-group .panel-title a.collapsed:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.kgi-panel-group .panel-title a.collapsed:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}

/* 滾動條 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滾動條滑塊 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 同意條款btn */
.btn-kgi-primary {
  /*.btn */
  border-radius: 4px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0;
  padding: 8px 18px;
  margin: 8px;
  cursor: pointer;
  /* btn-primary */
  background-color: #3278bc;
  border-color: #3278bc;
  color: #fff;
}

.btn-kgi-primary:active,
.btn-kgi-primary:hover {
  background-color: #275b90;
  color: #fff;
}

.btn-kgi-primary.disabled,
.btn-kgi-primary:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #222222;
}

.btn-kgi-primary.focus,
.btn-kgi-primary:focus {
  box-shadow: none;
}

.btn-kgi-secondary {
  font-size: 18px;
  padding: 8px 18px;
  margin: 8px;
  // line-height: 22px;
  /* width: 230px; */
  box-shadow: 0px 2px 6px #aaaaaa;
  background: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
  background: -o-linear-gradient(bottom, #ffffff, #dbdbdb);
  background: -moz-linear-gradient(bottom, #ffffff, #dbdbdb);
  background: linear-gradient(to bottom, #ffffff, #dbdbdb);
  color: #222;
}

// @media (max-width: 575px) {
//   .btn-kgi-primary.singleBtn {
//     margin-right: 16px;
//   }
// }

// 欄位驗證的設定
.errBox {
  padding: 0;
}

span.errMsg {
  color: red;
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}




// MODAL相關
.modal-dialog {
  overflow-y: initial !important;
}

.modal-open .modal {
  overflow-y: hidden;
}


.modal-content {
  margin: 15px auto;
  min-width: 80px !important;
  padding: 0 10px !important;
  vertical-align: middle;

  border-radius: 8px !important;
  display: inline-block !important;
  max-width: 90% !important;
  max-height: 85vh;
}


.modal-body {
  max-height: 73vh;
  min-width: 100%;
  overflow-y: auto;
  padding: 0px 6px !important;
  text-align: left;
  text-align: justify;
}

.modal-dialog .modal-footer {
  // padding: 16px 5px;
  padding: 0px 5px; // MODE: 11/11
}

.modal-dialog {
  height: 100%;
  // DEPR: USE offical modal setting
  // max-width: 90vw;
  margin: auto;
  text-align: center;
}

.modal-dialog::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  /* width: 0px; */
  //width: 40px;  /* MODE: Post 8/21 */
  height: 100%;
}


/* add @ 2018/06/26 , for modal win width in pc mode */
.max-width-400-for-desktop {
  max-width: 90% !important;
}

/* add @ 2018/06/26 , for modal win width in pc mode */
@media (min-width: 576px) {
  .max-width-400-for-desktop {
    max-width: 400px !important;
  }
}

.modal-header {
  border-bottom: 0px solid #fff !important;
}


.model-close-circle-btn {
  border: 0;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: -15px;
  margin-right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3278bc !important;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.model-close-circle-btn:focus {
  border: 0;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: -15px;
  margin-right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3278bc !important;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}


.model-close-circle-btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -11px;
  width: 2px;
  height: 22px;
  background-color: #fff;
  border: 0px sloid red;
  color: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  outline: none;
}

.model-close-circle-btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -1px;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border: 0px sloid red;
  color: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  outline: none;
}

// 生日
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('./assets/image/icon/38-calendar.png') !important;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
}


ngb-datepicker-navigation-select > .custom-select {
  padding-right: 1.5rem !important;
  font-size: 0.8rem;
  padding-left: 0.2rem !important;
}
