<div class="body-wrapper ">

  <main>
    <section id="contact">
      <div class="contact-wrapper">
        <!-- 須移除 -->
        <!-- <h1><a [routerLink]="['/apply/verify' ]" style="color: red;">測試用下一頁</a></h1> -->
        <!-- <button (click)="showDialog()">logger</button> -->
        <!-- ------ -->
        <form [formGroup]="applyForm">
          <div class="title-area">
            <h1>開始申請{{entryName}}</h1>
          </div>

          <!-- <div class="alert-area">
            <i class="icon-alert"></i>
            <span>此帳號不存在，請確認資料是否正確</span>
          </div> -->
          <div class="form-item">
            <label>身分證字號</label>
            <input formControlName="id" type="text" maxlength="10" [cleave]="cleave.Upper"
              (blur)="idValidate($event.target.value)" placeholder="請輸入身分證字號" class="input-disabled" />
            <div class="error-text" *ngIf="errorMessage('id','required')">填寫此欄位 </div>
            <div class="error-text" *ngIf="errorMessage('id','errors')">此身分證字號有誤 </div>
          </div>
          <div class="form-item">
            <label>生日 YYYY/MM/DD</label>
            <input formControlName="birthday" type="tel" maxlength="10" [cleave]="cleave.Date"
              placeholder="請輸入YYYY/MM/DD" />
            <div class="error-text" *ngIf="errorMessage('birthday') && !errorMessage('birthday', 'underAge20') && !errorMessage('birthday', 'overAge65')">不符合要求的格式</div>
            <div class="error-text" *ngIf="errorMessage('birthday', 'underAge20')">不可小於20歲</div>
            <div class="error-text" *ngIf="errorMessage('birthday', 'overAge65')">不可大於65歲</div>
          </div>
          <div class="form-item">
            <div class="columns">
              <div class="column-item flexbasis-50">
                <label>手機號碼</label>
                <input formControlName="phone" type="tel" maxlength="10" [cleave]="cleave.Number"
                  placeholder="請輸入手機號碼" />
                <div class="error-text" *ngIf="errorMessage('phone')">不符合要求的格式</div>
              </div>
              <div class="column-item">
                <label>業務員代號</label>
                <input formControlName="business" type="text" maxlength="10" placeholder="選填" />
                <div class="error-text" *ngIf="errorMessage('business')">不符合要求的格式</div>
              </div>
            </div>
          </div>
          <dl>
            <dt class="form-item">
              <input formControlName="ch1" type="checkbox" id="ch1" (click)="autoCheck($event.target.checked)" />
              <label for="ch1">
                <div class="check-widget"></div>
                <div>
                  <span>我已閱讀並同意下列條款及告知事項</span>
                </div>
              </label>
            </dt>
            <dd class="info-area txt-gray">
              <div class="info-title">電話/網路/行動銀行約定條款</div>
              <span>立約人茲為電話/網路/行動銀行業務服務之提供及使用，經雙方協議，同意訂定下列條款，俾資遵守。…</span>
              <span class="txt-link" tabindex="0" (click)="showTerms('#dialog1',terms[5])">更多</span>
            </dd>
            <dd class="info-area txt-gray" *ngIf=logger.isCSRT >
              <span class="txt-link" tabindex="0" (click)="showTerms('#dialog1',terms[5])">申請進度同意回傳條款</span>
            </dd>
            <dd class="info-area txt-gray">
              <span>為維護您的權益，請詳閱</span>
              <span class="txt-link" tabindex="0"
                (click)="showTerms('#dialog1',terms[2])">{{terms[2]?.title || ''}}</span>
              <span>、</span>
              <span class="txt-link" tabindex="0" (click)="showTerms('#dialog1',terms[3])">個人資料運用告知聲明使用者條款及約定</span>
              <span>、</span>
              <span class="txt-link" tabindex="0" (click)="showTerms('#dialog1',terms[4])">未透過他人代辦或行員勸誘取得資金</span>
            </dd>
          </dl>

          <dl>
            <dt class="form-item">
              <input formControlName="ch2" type="checkbox" id="ch2" />
              <label for="ch2">
                <div class="check-widget"></div>
                <div>
                  <span>同意使用與貴行往來之資料申辦貸款</span>
                </div>
              </label>
            </dt>
            <dd class="info-area txt-gray">
              <span>已審閱貴行之「蒐集、處理及利用個人資料告知書」且同意貴行得調閱本人與貴行其他業務往來之基本資料或財力資料</span>
              <span class="txt-link" tabindex="0" (click)="showTerms('#dialog1',terms[1])">更多…</span>
            </dd>
          </dl>

          <div class="btn-area">
            <button type="submit" class="btn-submit" [disabled]="applyForm.invalid || !applyForm.get('ch1').value"
              (click)="onSubmit()">下一步</button>
          </div>

          <!-- <div class="demolink">
            <span onclick="document.forms[0].classList.add('error-form')">此帳號不存在（.form-error）</span>
          </div> -->
        </form>
      </div>
    </section>
    <aside id="side">
      <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
      <footer id="footer"></footer>
    </aside>
  </main>

  <div class="dialog dialog-small" id="dialog0">
    <form action="javascript:;">
      <div class="dialog-header">
        <i class="close-icon dialog-close"></i>
        <div class="dialog-title">您有案件尚未完成請問是否接續申請？</div>
      </div>
      <div class="dialog-content">
        <h3>&nbsp;</h3>
      </div>
      <div class="btn-area">
        <button type="button" class="btn-submit dialog-submit dialog-close" (click)="clickResume()">接續申請</button>

        <button type="button" *ngIf='result && result.caseCreated' class="btn-cancel dialog-close" (click)="closeDialog();showDialog('#dialogContactMethod');">聯絡客服</button>
        <button type="button" *ngIf='result && !result.caseCreated' class="btn-cancel dialog-close" (click)="clickNewApply()">重新申請</button>
      </div>
    </form>
  </div>

  <div class="dialog" id="dialog1">
    <div class="dialog-header">
      <i class="close-icon dialog-close"></i>
      <div class="dialog-title">{{dialogTitle}}</div>
    </div>
    <div class="dialog-content">
      <!-- 內容開始 -->
      <div [innerHTML]="dialogData | safe:'html'"></div>
    </div>
    <div class="btn-area">
      <button type="button" class="btn-submit dialog-close">我知道了</button>
    </div>
  </div>

</div>