<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a (click)="showDialog('#dialog2')" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>請專人與我聯絡</h1>
                    </div>

                    <div class="form-item">
                        <label>姓名</label>
                        <input formControlName="Name" type="text" placeholder="請輸入姓名" />
                        <div class="error-text" *ngIf="errorMessage('Name')">填寫此欄位</div>
                    </div>
                    <!-- <div class="form-item">
                        <label>想了解產品</label>
                        <select required formControlName="ProductId">
                            <option *ngFor="let item of productIdOptions" [value]="item.dataKey">
                                {{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('ProductId')">選取列表中的項目</div>
                    </div> -->
                            <!-- <option value="" hidden>請選擇產品</option>
                            <option value="素還金">素還金</option>
                            <option value="振興金">振興金</option>
                            <option value="樂透金">樂透金</option> -->
                    <div class="form-item">
                        <label>手機號碼</label>
                        <input formControlName="Phone" type="tel" maxlength="10" [cleave]="cleave.Number"
                            placeholder="請輸入手機號碼" />
                        <div class="error-text" *ngIf="errorMessage('Phone', 'required')">填寫此欄位</div>
                        <div class="error-text" *ngIf="errorMessage('Phone','pattern')">
                            不符合要求的格式 </div>
                    </div>
                    <div class="form-item">
                        <label>電子信箱</label>
                        <div class="input-wrapper">
                            <input #email formControlName="EMail" type="EMail" placeholder="請輸入電子信箱(非必填)"
                                (ngModelChange)="dedicateMail($event)"
                                (blur)="applyForm.get('EMail').patchValue(email.value);corpNameBL = false" />
                            <div class=" error-text" *ngIf="errorMessage('EMail', 'required')">
                                填寫此欄位 </div>
                            <div class=" error-text" *ngIf="errorMessage('EMail', 'pattern')">
                                輸入電子郵件地址 </div>
                            <div class="candidate" hidden>
                                <div class="candidate-item" tabindex="0">{{email.value}}gmail.com</div>
                                <div class="candidate-item" tabindex="0">{{email.value}}yahoo.com.tw</div>
                                <div class="candidate-item" tabindex="0">{{email.value}}hotmail.com</div>
                                <div class="candidate-item" tabindex="0">{{email.value}}hinet.net</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-item">
                        <label>聯絡單位</label>
                        <select required formControlName="DepartId">
                            <option *ngFor="let item of departIdOptions" [value]="item.dataKey">
                                {{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('DepartId')">選取列表中的項目</div>
                    </div> -->
                            <!-- <option value="" hidden>請選擇分行</option>
                            <option value="0102 板橋分行">0102 板橋分行</option>
                            <option value="0103 江子翠分行">0103 江子翠分行</option>
                            <option value="0104 新店分行">0104 新店分行</option>
                            <option value="0105 小碧潭分行">0105 小碧潭分行</option> -->
                    <!-- <div class="form-item">
                        <label>聯絡人員代碼</label>
                        <input formControlName="Member" type="text" placeholder="請輸入聯絡人員代碼（非必填）" />
                    </div> -->
                    <!-- <div class="form-item">
                        <label>方便聯絡時間</label>
                        <select required formControlName="ContactTime">
                            <option value="" hidden>請選擇分行</option>
                            <option value="上午">上午</option>
                            <option value="下午">下午</option>
                            <option value="晚上">晚上</option>
                            <option value="深夜">深夜</option>
                            <option value="均可">均可</option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('ContactTime')">選取列表中的項目</div>
                    </div> -->
                    <div class="form-item">
                        <label>意見或問題</label>
                        <textarea formControlName="Note" rows="4" maxlength="1000"
                            placeholder="請輸入意見或問題，最多1000字（非必填）"></textarea>
                    </div>

                    <!-- <div class="info-area">
                        <span>本行將依據「</span>
                        <span class="txt-link" tabindex="0" (click)="showDialog('#dialog1')">凱基商業銀行個人資料告知書</span>
                        <span class="txt-link" tabindex="0"
                            (click)="showTerms('#dialog1',terms[1])">{{terms[1]?.title || ''}}</span>

                        <span>」保護您個人資料安全，且於法令許可及目的範圍內蒐集、處理、利用您的個人資料，若您同意前述聲明並已詳閱告知書內容，請按「送出」</span>
                    </div> -->

                    <div class="btn-area">
                        <button type="button" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">送出</button>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>

    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">{{dialogTitle}}</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <div [innerHTML]="dialogData | safe:'html'"></div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>

    <div class=" dialog" id="dialog2">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">我們將稍後與您聯絡</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <p>專人將於三個工作天內，透過{{applyForm.controls['Phone'].value}}與您聯絡</p>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>