<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/verify2']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>用他行帳號驗證您的身分</h1>
                    </div>

                    <div class="form-item">
                        <label>銀行別</label>
                        <select required formControlName="bank" (change)="changeInput()">
                            <option value="">請選擇</option>
                            <option [value]="item.dataKey" *ngFor="let item of pcode2566BankList">{{item.dataName}}
                        </select>
                        <div class="error-text" *ngIf="errorMessage('bank')">選取列表中的項目
                        </div>
                    </div>

                    <div class="form-item">
                        <label>銀行帳號</label>
                        <input formControlName="bankAccount" type="tel" maxlength="16" [cleave]="cleave.Number"
                            placeholder="請輸入銀行帳號" (change)="changeInput()" />
                        <div class="error-text" *ngIf="errorMessage('bankAccount')">填寫此欄位
                        </div>
                    </div>
                    <div class="form-item">
                        <label>手機號碼</label>
                        <input formControlName="phone" type="tel" maxlength="10" [cleave]="cleave.Number"
                            placeholder="留存於上述銀行的手機號碼" (change)="changeInput()" />
                        <div class="error-text" *ngIf="errorMessage('phone', 'required')">填寫此欄位</div>
                        <div class="error-text" *ngIf="errorMessage('phone', 'pattern')">不符合要求的格式 </div>
                    </div>

                    <div class="btn-area btn-hasinfo">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">進行驗證</button>
                        <p>
                            <span>支援34家銀行帳號驗證，還是沒有適合的嗎？</span>
                            <a class="txt-link" (click)='clickApplyOtherway()'>試試看其他方式</a>
                        </p>
                    </div>

                    <!--<div class="demolink">
                        <span (click)="showDialog('#dialog1')">此銀行不支援帳戶身分驗證</span>
                    </div>-->
                </form>

            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

    <!--<div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">此銀行不支援帳戶身分驗證</div>
        </div>
        <div class="dialog-content">
            <p>很抱歉！此銀行未參與共用驗證平台。請選擇表列銀行或透過以下方式申請：</p>
        </div>
        <div class="btn-area btn-full">
            <a [routerLink]="['/CAD/newcard']" class="btn-submit dialog-close">用信用卡驗證</a>
            <p>先辦卡，免等寄卡，核卡後最快2小時核准貸款</p>
        </div>
        <div class="btn-area btn-full">
            <a [routerLink]="['/apply/paper']" class="btn-submit dialog-close">紙本申請</a>
            <p>先填寫申請書，列印後親簽寄回</p>
        </div>
    </div>-->
</div>