.font-14 {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 900;
  padding-bottom: 5px;
}

.checkbox-padding{
  padding-left: 25px;
}

.errorEmail {
  position: relative;
  text-align: left !important;
}


.pageTitle{
	font-size: 1.8rem;
    font-weight: 900;
    padding: 0px 0px 24px 0px !important;
}


@media only screen and (max-width: 600px) {
  .pageTitle{
	font-size: 1.8rem;
    font-weight: 900;
    padding: 0px 0px 24px 0px !important;
  }
}


.title-area-sub{
	font-size:1.1rem;
	font-weight:900;
}


.viewed-date{
	border: 0px;
    width: 100px;
    text-align: center;
    color: #0066cc;
    /* font-weight: 900; */
    font-weight: bolder;
	background-color: unset;

}


