<section class="apply">

  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <form class="main-form" [formGroup]="dataForm">
    <div class="container">
      <div class="row no-margin kgi-box-001">
	  <div class="title-area"><h2>約定事項</h2></div>
        <!-- Step1 信箱 Start -->
        <div class="col-12">
		  <div class="title-area-sub">契約書寄送電子信箱</div>
          <div class="form-group row">
            <label class="d-none col-12 col-form-label text-left">契約書寄送電子信箱</label>
            <div class="col-12">
              <div class="">
                  <input
                      type="email"
                      id="email"
                      formControlName="email"
                      class="email col-12 form-control add-clear-btn "
                      [ngClass]="formCheckService.validClass(dataForm, 'email')"
                      maxlength="40"
                      value=""
                      placeholder="請輸入"
                      autocomplete="off"
                      required
                    />
              </div>
            </div>
          </div>
        </div>
        <!-- Step1 信箱 End -->

        <!-- Step2 繳款日Start -->
        <div class="col-12">
		  <div class="title-area-sub">設定還款日</div>
          <div class="form-group">
            <label class="d-none col-12 col-form-label text-left">繳款日</label>
            <div class="col-12">
              <div class="row">
                <div class="">
                    設定此申貸還款日為每月<select class="" formControlName="payMentDay" id="payMentDay" [ngClass]="formCheckService.validClass(dataForm, 'payMentDay')" style="padding: 0px 8px;
    text-align: center;
    color: #0066cc;
    font-weight: bolder;
    margin: 0px 8px;
    height: 28px; border: 0px;
    background-color: unset;">
                    <option *ngFor="let c of payDayOptions" [value]="c">{{c}}</option>
                    </select>日
                </div>
              </div>
            </div>
          </div>
        </div>  
        <!-- Step2 繳款日End -->

        <!-- Step3 審閱Start -->
        <div class="col-12">
		  <div class="title-area-sub">貸款同意書</div>
          <div class="col-12 p-0 squaredFour">
            <input
               id="agreeReview"
               type="checkbox"
               formControlName="agreeReview"
            />
            <label for="agreeReview" class="font-14 m-0 checkbox-padding">我已閱讀並同意下列條款及告知事項</label>
          </div>


          <ol class="font-14 checkbox-padding" style="color:gray;">
            <li style="list-style-type: decimal; text-align:justify;">已於
			
              <!-- Step4 審閱日期Start -->
              <div class="form-group mb-0" style="display:inline-block; vertical-align: baseline;">
                <div class=" input-group date-box">
                      <input
                        type="text"
                        class="viewed-date"
                        placeholder=""
                        formControlName="reviewDate"
                        ngbDatepicker
                        #d="ngbDatepicker"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        [placement]="'bottom-left'"
                        maxlength="10"
                        required
                      />
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary fa fa-chevron-down" (click)="d.toggle()" type="button" style="padding: 0px 8px; color:#00aaff; line-height: 1.0; border: 0px;"></button>
                      </div>
                      <div class="col-12 errBox" *ngIf="dataForm.controls['reviewDate'].invalid && dataForm.controls['reviewDate'].touched">
                          <span class="errMsg pull-right" *ngIf="dataForm.controls['reviewDate'].errors.required">請選擇日期</span>
                      </div>
                </div>
              </div>
              <!-- Step4 審閱日期End -->
			
			
			審閱本行  <a [href]="pdfUrl" target="_blank">個人信貸(隨借隨還)契約書</a>需審閱達五日以上。</li> <!-- 個人信貸契約書須帶入連結瀏覽 -->


            <li style="list-style-type: decimal; text-align:justify;">指數利率調整十五日內將採<b style="color: rgb(233, 119, 42);">簡訊通知。</b></li>
            <li style="list-style-type: decimal; text-align:justify;">倘因本契約涉訴時，以<b style="color: rgb(233, 119, 42);">臺灣臺北法院</b>為第一審查管轄法院。</li>
            <li style="list-style-type: decimal; text-align:justify;">貴行得將本人與貴行之個人與授信往來資料提供於財團法人金融聯合徵信中心，受讓(或擬受讓)貴行行債權債務之人及受貴行遵循相關法令委任為處理事務之人。</li>
            <li style="list-style-type: decimal; text-align:justify;">小額循環信用貸款提供申請人若約定本行存款帳戶為證劵款項劃撥帳戶餘額不足抵扣時由小額循環信用貸款之放款連結帳戶轉撥之服務，條款內容詳小額循環信用貸款契約書。(現金卡不適用)。</li>
          </ol>
          <hr style="width: 100%;">
        </div>
        <!-- Step3 審閱End -->

        <!-- Step4 同意聲明 Start -->
        <!-- <div class="form-group row col-12" [hidden]="!showAuthInfo">
          <label class="col-12 col-md-3 col-form-label text-md-right text-left">共同行銷客戶個人資料使用同意聲明</label>
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-12 p-0 squaredFour">
                <input
                   id="authInfo"
                   type="checkbox"
                   formControlName="authInfo"
                />
                <label for="authInfo" class="font-14 m-0 checkbox-padding">同意(如未勾選視為不同意)</label>
                <div class="font-14 checkbox-padding">
                    貴行得利用、處理及國際傳輸個人資料保護法之特定目的及個人資料之類別於特定目的利用，請詳閱<a
                    class="text-primary cursor-pointer"
                    (click)="showTerms()"
                    >共同行銷客戶同意事項</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-12" [hidden]="!showAuthInfo">
          <label class="title-area-sub">共同行銷客戶個人資料使用同意聲明</label>
          <div class="col-12 p-0 squaredFour">
            <input
               id="authInfo"
               type="checkbox"
               formControlName="authInfo"
            />
            <label for="authInfo" class="font-14 m-0 checkbox-padding">同意(如未勾選視為不同意)</label>
            <div class="font-14 checkbox-padding" style="text-align: justify;">
                貴行得利用、處理及國際傳輸個人資料保護法之特定目的及個人資料之類別於特定目的利用，請詳閱<a
                class="text-primary cursor-pointer"
                (click)="showTerms()"
                >共同行銷客戶同意事項</a>
            </div>
          </div>
        </div>
        <!-- Step4 同意聲明 End -->

      </div>
    </div>

    <!-- 按鈕區 Start -->
    <!-- 大版 -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="backStep()">上一步</button>
      <button type="button" class="btn btn-kgi-primary" (click)="nextStep()"
              [disabled]="isNextDisabled()">下一步</button>
    </div>
    <!-- 小版 -->
    <div class="container xsticky-bottom d-md-none mt-2">
       <div class="row no-margin">
         <button type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="backStep()">上一步</button>
         <button type="button" class="btn btn-kgi-primary col" (click)="nextStep()"
                 [disabled]="isNextDisabled()">下一步</button>
       </div>
    </div>
    <!-- 按鈕區 End -->

  </form>
</section>
