<header id="header"></header>
<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form method="GET" action="statement.html">
                    <div class="title-area">
                        <h1>核貸內容</h1>
                    </div>

                    <div class="panel block-panel">
                        <table width="100%" class="wide-table">
                            <tr>
                                <th>核准金額</th>
                                <td align="right">
                                    <span class="txt-orange txt-xxlarge">{{tbA_aprove_amount}}元</span>
                                </td>
                            </tr>
                            <tr>
                                <th>借款期間</th>
                                <td align="right">{{aprove_period}} 年</td>
                            </tr>
                            <tr>
                                <th>開辦費</th>
                                <td align="right">{{apy_fee | number}} 元</td>
                            </tr>
                            <tr>
                                <th>利率</th>
                                <td align="right">
                                    <div *ngFor="let rateData of rateDatas;let  i=index">
                                        <div *ngIf="i<2">
                                            <div *ngIf="inPeriod===0 || inPeriod===null && i===0">
    <!--                                            // 這是一段式-->
                                                {{rateData.pay_rate}} %
                                            </div>
                                            <div class="container"  *ngIf="inPeriod!==0 && inPeriod!==null ">
                                                <div class="row">
                                                    <div class="col">
                                                        <span *ngIf="i===0" class="mr-3"> 第{{rateData.pay_rate_m}}期</span>
                                                        <span *ngIf="i>0">第{{rateData.pay_rate_m}}期起</span>
                                                    </div>
                                                    <div class="col"> {{rateData.pay_rate}}%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>月付金</th>
                                <td align="right">
                                    <div *ngFor="let rateData of rateDatas;let  i=index">
                                        <div *ngIf="i<2">
                                            <div *ngIf="inPeriod===0 || inPeriod===null && i===0">
    <!--                                            // 這是一段式-->
                                                {{rateData.month_pay | number}} 元
                                            </div>
                                            <div class="container" *ngIf="inPeriod!==0 && inPeriod!==null ">
                                                <div class="row">
                                                    <div class="col">
                                                        <span *ngIf="i===0" class="mr-3"> 第{{rateData.pay_rate_m}}期</span>
                                                        <span *ngIf="i>0">第{{rateData.pay_rate_m}}期起</span>
                                                    </div>
                                                    <div class="col"> {{rateData.month_pay | number}} 元</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="bb0">總費用年百分率</th>
                                <td class="bb0" align="right">{{sum_rate}} %</td>
                            </tr>
                            <tr>
                                <th>限制清償期間</th>
                                <td align="right">{{b_range}} 個月</td>
                            </tr>
                        </table>
                    </div>
                    <div class="txt-small txt-gray">本行保留核貸及撥款與否、詮釋、裁決及終止本活動辦法之權利。<br/>實際貸款月付金將依您契約條件計算,或查詢本行提供之撥貸通知書。
                    </div>

                    <div class="btn-area btn-hasinfo">
                        <button type="submit" class="btn btn-kgi-primary btn-submit" (click)="next()">確認並開始檢視合約</button>
                        <p>
                            <span>遇到問題嗎？</span>
                            <a class="txt-link" onclick="showContactUsDialog()">請專人與我聯絡</a>
                        </p>
                    </div>

                </form>
            </div>

        </section>
        <aside id="side">
            <footer id="footer"></footer>
        </aside>
    </main>
</div>