<form [formGroup]="parentform" class="row">
  <div
    class="form-group col-md-6"
    style="padding: 0 7px 0 0;"
    [ngClass]="{
      'is-invalid': formCheckService.checkIsInValid(parentform, 'county'),
      'col-4': '!hiddenZipcode',
      'col-6': 'hiddenZipcode'
    }"
  >
    <select
      class="form-control custom-select"
      formControlName="county"
      [ngClass]="formCheckService.validClass(parentform, 'county')"
    >
      <option value="">請選擇</option>
      <option
        *ngFor="let item of zipcodeFull | keyvalue: descOrder"
        [value]="item.key"
        >{{ item.key }}</option
      >
    </select>
    <label
      *ngIf="formCheckService.checkIsInValid(parentform, 'county')"
      class="error border-danger"
      >請選擇縣市</label
    >
  </div>
  <div
    class="form-group col-md-6"
    style="padding: 0 0 0 8px;"
    [ngClass]="{
      'is-invalid': formCheckService.checkIsInValid(parentform, 'district'),
      'col-4': '!hiddenZipcode',
      'col-6': 'hiddenZipcode'
    }"
  >
    <select
      class="form-control custom-select"
      formControlName="district"
      [ngClass]="formCheckService.validClass(parentform, 'district')"
    >
      <option value="">請選擇</option>
      <option
        *ngFor="let district of districtList | keyvalue: descOrder"
        [value]="district.key"
        >{{ district.key }}</option
      >
    </select>
    <label
      *ngIf="formCheckService.checkIsInValid(parentform, 'district')"
      class="error border-danger"
      >請選擇區域</label
    >
  </div>
  <div class="form-group col-4 col-md-2 pl-0 pl-md-3" [hidden]="hiddenZipcode">
    <input
      class="form-control"
      type="text"
      formControlName="zip"
      readonly="readonly"
    />
  </div>
  <div class="col-12 col-md-12 p-0">
    <input
      class="form-control"
      type="text"
      formControlName="addressOther"
      placeholder="請輸入地址"
      maxlength="34"
      (blur)="addressOtherErrorMessageUpdate()"
      [ngClass]="formCheckService.validClass(parentform, 'addressOther')"
    />
    <!-- <label
      *ngIf="formCheckService.checkIsInValid(parentform, 'addressOther')"
      class="error border-danger"
      >請輸入地址</label
    > -->
    <div
        *ngIf="formCheckService.checkIsInValid(parentform, 'addressOther')"
      >
        <label class="error border-danger">{{
          addressOtherErrorMessage
        }}</label>
      </div>
  </div>
</form>
