
.contact-wrapper{
	max-width: 640px;
    padding: 20px 0 0 0;
    margin: 0 auto;
}

.contact-wrapper .title-area{
	font-size: 2.5rem;
	font-weight: bold;
}

.wide-table{
    width: 100%;
    background-color: #ffffff;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;

}

.wide-table tr{
	border-bottom:1px solid #ccc;
	vertical-align: middle;
}


.wide-table th,.wide-table td{
	padding:24px;
	border-bottom:1px solid #ccc;
}

.wide-table .bb0{
	border-bottom:0px solid #ccc;
}

.txt-orange {
color: #F15F3F;
}

.txt-xxlarge{
font-size: 38px;
}

.txt-small{
font-size: 14px;
text-align: justify;
}

.txt-gray{
color: #8993A5;
}

.btn-hasinfo {text-align:center;}

.btn-hasinfo .btn-submit{
    margin: 24px auto 10px auto;
    background: #3174E0;
    width: 90%;
}

.txt-link{
cursor:pointer;
color:#0066cc !important;
font-weight:800;
text-decoration: underline !important;
}




@media (max-width: 600px) {
	.contact-wrapper{
		max-width: 640px;
		padding: 20px 0 0 0;
		margin: 0 16px;
	}
	.contact-wrapper .title-area{
		font-size: 2.0rem;
		font-weight: bold;
	}	
	
	.wide-table th,.wide-table td{
		padding:16px 8px;
	}	
	
	#footer	{display:none;}
	
}



