/******************
背景遮罩、鎖滑螢幕
*******************/
body.has-dialog {
	position: relative;
}

body.has-dialog .body-wrapper {
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
}

.body-wrapper:after {
	content: '';
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;
	z-index: 1;
}

body.has-dialog .body-wrapper:after {
	opacity: 0.5;
	pointer-events: auto;
}

/******************
Dialog本體
*******************/
.dialog {
	position: absolute;
	z-index: 2;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: calc(100% - 32px);
	max-width: 600px;
	border-radius: 8px;
	transition: top 0.5s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body.has-dialog .dialog-show {
	top: 20%;
}

.dialog > * {
	padding: 0 16px;
	box-sizing: border-box;
}

.dialog-title {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 15px;
}

.dialog-content {
	max-height: 40vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.dialog-double .dialog-content {
	min-height: 120px;
}

.dialog-content > *:first-child {
	margin-top: 0;
}

.dialog-header .close-icon {
width: 36px;
    height: 36px;
    display: block;
    -ms-flex-preferred-size: 32px;
    flex-basis: 32px;
    margin-left: auto;
    margin-top: 16px;
    color: #8993a5;
    text-align: center;
    font-style: normal;
    position: absolute;
    border: 0px solid red;
    right: 5px;
    top: -10px;
}


.dialog-header .close-icon:hover {
	cursor: pointer;	
}

.dialog-header .close-icon:hover .dialog-header .close-icon:before, .dialog-header .close-icon:after {
	background-color: #0066cc;	
}

.dialog-header .close-icon:before, .dialog-header .close-icon:after {
position: absolute;
    right: 16px;
    top: 0px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #ccc;
}
.dialog-header .close-icon:before {
  transform: rotate(45deg);
}
.dialog-header .close-icon:after {
  transform: rotate(-45deg);
}


.dialog .btn-area {
	justify-content: center;
}

.dialog .btn-submit, .dialog .btn-cancel {
	height: 40px;
	min-width: auto;
	max-width: 180px;
	width: 100%;
	line-height: 2.2;
	margin: 0 20px;
}

.btn-area.btn-full .btn-submit {
	margin: 0;
}

.dialog .form-item {
	margin: 24px 0;
}

/*桌機裝置在dialog裡面時padding會把input的focused outline給吃掉*/
.dialog .form-item {
	padding-left: 3px;
	padding-right: 3px;
}

.BGGray{
    display: none;
    position: absolute;
    left: 0px;
    top: 60px;
    border: 0px solid red;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 50;
    background-color: #000;
    opacity: 0.5;
}