@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    top: 0px;
    margin: auto;
	width:2000px; opacity:0.9;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #0066cc 20%, #00aaff 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
	background-image: url('image/wave-top.png');
}
.waveAnimation .waveTop {
  animation: move-wave 10s;
   -webkit-animation: move-wave 10s;
   -webkit-animation-delay: 10s;
   animation-delay: 10s;	
}
.waveMiddle {
    background-size: 50% 120px;
	background-image: url('image/wave-mid.png');
}

.waveAnimation .waveTop {
    animation: move_wave 10s linear infinite;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
	background-image: url('image/wave-bot.png');
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}