.height-40 {
  height: 40px;
  overflow: hidden;
}

.kgi-panel-group .panel-default {
  background-color: white;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
}

.kgi-panel-group .panel-body {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  margin-right: 6px;
  padding-right: 16px;
}

.kgi-panel-group .panel-collapse {
  padding: 10px 5px 5px 5px;
  max-height: 100%;
}

.height-300 {
  height: 150px;
  overflow: hidden;
}


.height-600 {
  height: 450px;
  overflow: hidden;
}

/* 條款及告知事項區塊 */
.kgi-panel-group .panel-title a
{
  text-decoration:none;
  color:black;
}

a label{
  margin-left: 5px;
}
