<progress id="progress" value="0" max="7"></progress>
<div class="body-wrapper">
    <main>
        <section id="contact">
            <form [formGroup]="applyForm">

                <div class="slide-block">

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>和我們聊聊，<br>估算您的初步額度利率！</div>
                    </div>
                    <div class="quote-item">請問該怎麼稱呼？</div>

                    <input type="checkbox" class="trigger-checkbox" id="question1" checked />
                    <label class="question-showbar" for="question1"></label>
                    <div class="question-dropdown">
                        <!-- <input formControlName="gender" type="radio" name="gender" id="gender1"
                            (change)="closeDropdown('#question1', '先生', $event);slideMove(2, $event);listQuest_Answer('1','1')"
                            value="先生" />
                        <label class="question-item" for="gender1">先生</label>

                        <input formControlName="gender" type="radio" name="gender" id="gender2"
                            (change)="closeDropdown('#question1', '小姐', $event);slideMove(2, $event);listQuest_Answer('1','2')"
                            value="小姐" />
                        <label class="question-item" for="gender2">小姐</label> -->
                        <label class="question-item" [for]="item.id" *ngFor="let item of genderOptions">
                            <input formControlName="gender" name="gender" [id]="item.id" type="radio"
                            (change)="changeGender($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>謝謝。<br>請告訴我們您的年齡？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question2" checked />
                    <label class="question-showbar" for="question2"></label>
                    <div class="question-dropdown input-wrapper">
                        <input formControlName="age" type="tel" autocomplete="new-password"
                            class="cleave-number question-item" maxlength="2"
                            (change)="changeAge($event)" />
                        <div class="question-info">按 Enter 前往下一題</div>
                        <div class="unit">歲</div>
                    </div>

                </div>


                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>以及您的婚姻狀態？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question3" checked />
                    <label class="question-showbar" for="question3"></label>
                    <div class="question-dropdown">
                        <!-- <input formControlName="marriage" type="radio" name="marriage" id="marriage1"
                            (change)="closeDropdown('#question3', '已婚', $event);slideMove(4, $event);listQuest_Answer('4','1')"
                            value="已婚" />
                        <label class="question-item" for="marriage1">已婚</label>

                        <input formControlName="marriage" type="radio" name="marriage" id="marriage2"
                            (change)="closeDropdown('#question3', '單身', $event);slideMove(4, $event);listQuest_Answer('4','2')"
                            value="單身" />
                        <label class="question-item" for="marriage2">單身</label> -->
                        <label class="question-item" [for]="item.id" *ngFor="let item of marriageOptions">
                            <input formControlName="marriage" name="marriage" [id]="item.id" type="radio"
                            (change)="changeMarital_Status($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>最高學歷？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question4" checked />
                    <label class="question-showbar" for="question4"></label>
                    <div class="question-dropdown">
                        <!-- <input formControlName="school" type="radio" name="school" id="school1"
                            (change)="closeDropdown('#question4', '國中及以下', $event);slideMove(5, $event);listQuest_Answer('3','1')"
                            value="國中及以下" />
                        <label class="question-item" for="school1">國中及以下</label>

                        <input formControlName="school" type="radio" name="school" id="school2"
                            (change)="closeDropdown('#question4', '高中/高職', $event);slideMove(5, $event);listQuest_Answer('3','1')"
                            value="高中/高職" />
                        <label class="question-item" for="school2">高中/高職</label>

                        <input formControlName="school" type="radio" name="school" id="school3"
                            (change)="closeDropdown('#question4', '大專', $event);slideMove(5, $event);listQuest_Answer('3','2')"
                            value="大專" />
                        <label class="question-item" for="school3">大專</label>

                        <input formControlName="school" type="radio" name="school" id="school4"
                            (change)="closeDropdown('#question4', '大學', $event);slideMove(5, $event);listQuest_Answer('3','3')"
                            value="大學" />
                        <label class="question-item" for="school4">大學</label>

                        <input formControlName="school" type="radio" name="school" id="school5"
                            (change)="closeDropdown('#question4', '研究所以上', $event);slideMove(5, $event);listQuest_Answer('3','4')"
                            value="研究所以上" />
                        <label class="question-item" for="school5">研究所以上</label> -->
                        <label class="question-item" [for]="item.id" *ngFor="let item of schoolOptions">
                            <input formControlName="school" name="school" [id]="item.id" type="radio"
                            (change)="changeEducation($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>再來談談工作吧！<br>工作多久了呢？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question5" checked />
                    <label class="question-showbar" for="question5"></label>
                    <div class="question-dropdown">
                        <!-- <input formControlName="work" type="radio" name="work" id="work1"
                            (change)="closeDropdown('#question5', '未滿半年', $event);slideMove(6, $event);listQuest_Answer('7','0.5')"
                            value="未滿半年" />
                        <label class="question-item" for="work1">未滿半年</label>

                        <input formControlName="work" type="radio" name="work" id="work2"
                            (change)="closeDropdown('#question5', '半年到 1 年', $event);slideMove(6, $event);listQuest_Answer('7','1')"
                            value="半年到 1 年" />
                        <label class="question-item" for="work2">半年到 1 年</label>

                        <input formControlName="work" type="radio" name="work" id="work3"
                            (change)="closeDropdown('#question5', '1 - 4 年', $event);slideMove(6, $event);listQuest_Answer('7','3')"
                            value="1 - 4 年" />
                        <label class="question-item" for="work3">1 - 4 年</label>

                        <input formControlName="work" type="radio" name="work" id="work4"
                            (change)="closeDropdown('#question5', '5 - 9 年', $event);slideMove(6, $event);listQuest_Answer('7','7')"
                            value="5 - 9 年" />
                        <label class="question-item" for="work4">5 - 9 年</label>

                        <input formControlName="work" type="radio" name="work" id="work5"
                            (change)="closeDropdown('#question5', '10 - 15 年', $event);slideMove(6, $event);listQuest_Answer('7','12')"
                            value="10 - 15 年" />
                        <label class="question-item" for="work5">10 - 15 年</label>

                        <input formControlName="work" type="radio" name="work" id="work6"
                            (change)="closeDropdown('#question5', '15 年以上', $event);slideMove(6, $event);listQuest_Answer('7','16')"
                            value="15 年以上" />
                        <label class="question-item" for="work6">15 年以上</label> -->
                        <label class="question-item" [for]="item.id" *ngFor="let item of workOptions">
                            <input formControlName="work" name="work" [id]="item.id" type="radio"
                            (change)="changeJob_Tenure($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>好的，<br>那工作性質是…？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question6" checked />
                    <label class="question-showbar" for="question6"></label>
                    <div class="question-dropdown">
                        <!-- <input formControlName="type" type="radio" name="type" id="type1"
                            (change)="closeDropdown('#question5', '政府機關', $event);slideMove(7, $event);listQuest_Answer('6','1')"
                            value="政府機關" />
                        <label class="question-item" for="type1">政府機關</label>

                        <input formControlName="type" type="radio" name="type" id="type2"
                            (change)="closeDropdown('#question5', '教育機關', $event);slideMove(7, $event);listQuest_Answer('6','2')"
                            value="教育機關" />
                        <label class="question-item" for="type2">教育機關</label>

                        <input formControlName="type" type="radio" name="type" id="type3"
                            (change)="closeDropdown('#question5', '上市/上櫃/知名大企業', $event);slideMove(7, $event);listQuest_Answer('6','3')"
                            value="上市/上櫃/知名大企業" />
                        <label class="question-item" for="type3">上市/上櫃/知名大企業</label>

                        <input formControlName="type" type="radio" name="type" id="type4"
                            (change)="closeDropdown('#question5', '一般企業', $event);slideMove(7, $event);listQuest_Answer('6','4')"
                            value="一般企業" />
                        <label class="question-item" for="type4">一般企業</label>

                        <input formControlName="type" type="radio" name="type" id="type5"
                            (change)="closeDropdown('#question5', '小型/獨資公司', $event);slideMove(7, $event);listQuest_Answer('6','5')"
                            value="小型/獨資公司" />
                        <label class="question-item" for="type5">小型/獨資公司</label>

                        <input formControlName="type" type="radio" name="type" id="type6"
                            (change)="closeDropdown('#question5', '軍職', $event);slideMove(7, $event);listQuest_Answer('6','6')"
                            value="軍職" />
                        <label class="question-item" for="type6">軍職</label> -->
                        <label class="question-item" [for]="item.id" *ngFor="let item of typeOptions">
                            <input formControlName="type" name="type" [id]="item.id" type="radio"
                            (change)="changeOccupation($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>最後一題！<br>您的年收入大概有？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question7" checked />
                    <label class="question-showbar" for="question7"></label>
                    <div class="question-dropdown input-wrapper">
                        <input formControlName="annualIncome" type="tel" autocomplete="new-password"
                            class="cleave-number question-item" maxlength="4"
                            (change)="changeAnnual_Income($event)"
                            (keypress)="keydownTel($event, 'question7')" />
                        <div class="question-info" style="margin-bottom:16px;">按 Enter 進行估算</div>
                        <div class="unit wan">萬</div>
                    </div>
					<button type="button" class="btn-submit" (click)="onSubmit()" >開始計算我的額度利率</button>
                </div>
            </form>
        </section>
        <aside id="side" class="fixed-side">
            <img src="assets/inc/default/img/visual-calculator.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>

<div class="dialog dialog-estimating dialog-full " id="dialog1">
    <div class="dialog-content dialog-close">
        <div class="quote-item">
            <i class="icon-quote"></i>
            <div>系統正在幫您估算方案，<br>請稍等…</div>
        </div>
        <img class="loading-image" src="assets/inc/default/img/art-abacus.svg" alt="請稍等" width="200" />
        <img class="loading-image-ie" src="assets/inc/default/img/art-abacus.gif" alt="請稍等" width="200" />
    </div>
    <div class="txt-center">
        <!-- <span tabindex="0" class="txt-link dialog-close" (click)="cancelCalculating()">修改填答資料</span> -->
    </div>
</div>