<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/verify2']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>

                    <div class="title-area">
                        <h1>小額循環信用貸款契約書</h1>
                    </div>
                    <p>
                        <span>請確認以下契約書內容，契約書將於撥款完成後次日寄送至您的信箱</span>
                        <span class="txt-link">abc.edf@gmail.com</span>
                    </p>

                    <div style="height: 32px;"></div>


                    <strong>第一條</strong>
                    <p>立約人同意貴行將借款款項逕行扣除委託貴行代償款項(放款及其他債務)、開辦費以及匯費(適用撥入他行帳戶者，並含退匯後再次匯出之相關費用，實際收取金額依財金資訊股份有限公司規定)等金額後，撥入立約人申請書所載之指定撥入帳戶中，惟若發生錯誤，立約人同意授權貴行得以電話通知、書面或傳真方式授權貴行更正後重新撥入，一經撥入，即視同全部借款款項於撥付當日已由立約人親收足訖無誤，惟另有約定者，從其約定。前述所列費用均以一次為限。且除前述所列費用之項目與金額外，貴行不得另外收取其他費用。
                    </p>

                    <br>

                    <strong>第二條</strong>
                    <p>立約人同意自實際撥款日起，依年金法按月平均攤還利息。</p>

                    <br>

                    <strong>第三條</strong>
                    <p>立約人同意自實際撥款日起，依年金法按月平均攤還利息。</p>

                    <br>

                    <strong>第四條</strong>
                    <p>個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文個人信用貸款契約書內文內文
                    </p>

                    <div class="form-item" style="margin-left: 10px ; display:none;">
                        <input type="checkbox" id="ch1" [(ngModel)]="ch1" name="ch1" />
                        <label for="ch1">
                            <div class="check-widget"></div>
                            <span>你好請同意</span>
                        </label>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" (click)="onSubmit()">確認送出</button>
                    </div>

                    <!-- <div class="demolink">
                        <a [routerLink]="['/SGN/contract']">PL</a>
                        <a [routerLink]="['/SGN/contract.rpl']" style="margin-left: 5px;">RPL</a>
                        <a [routerLink]="['/SGN/contract.gm']" style="margin-left: 5px;">現金卡契約書(既有戶)</a>
                    </div> -->
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

</div>