<section class="main-form">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div
          class="col-md-4 d-none d-md-block d-lg-block"
          id="ad-img-001"
          style="display:none !important;"
        ></div>
        <div class="col-md-12 col-12 text-center">
          <div class="control-label mt-3 p-3">
            <div
            class="fa fa-cloud-download fa-5x color-primary mb-5"
          ></div>
            <h3 class="color-primary">處理中，請稍後....</h3>
            <br />
            <h6 class="color-primary" style="color:#222222;">
              如讀取過久未回應，可能是服務忙碌，請進行重新整理.
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-line d-none d-md-block d-lg-block"></div>
  </section>
