// SECTOR: 按鈕
.item-button {
  position: relative;
  border: 1px solid #aaa;
  cursor:pointer;
  border-radius: 4px;
  min-width:230px;
  margin-bottom: 20px;

  width: 100%;
  padding: 10px 10px 20px;

  background-color: #fff;
  color: rgb(128, 128, 128);

  font-size: 18px;
  font-weight: bold;
}
