<section class="apply">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">

        <div class="form-group row">
          <div class="col-12 text-md-center">
            <h3>RPL API TEST AND MISCELLANEOUS</h3>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-12 col-md-3 col-form-label text-md-right text-left">FM_APILOG</label>
          <div class="col-12 col-md-9">
            <div class="row">
              <button type="button" class="item-button" (click)="onFuncAlpha()">Alpha</button>
            </div>
          </div>
        </div>

        
        <div class="form-group row">
          <label class="col-12 col-md-3 col-form-label text-md-right text-left">BETA</label>
          <div class="col-12 col-md-9">
            <div class="row">
              <button type="button" class="item-button" (click)="onFuncBeta()">Beta</button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>  
</section>