<section class="apply">

  <!-- SECTOR: STEP -->
  <app-step-num [step]="stepStr"></app-step-num>


  <!-- SECTOR: OUTER FRAMESWORK -->
  <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="main-form" autocomplete="off">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">


          <!-- SECTOR: MAIN -->
          <!-- STEP: TITLE with your phone number -->
          <div class="form-group row">
            <div class="col-sm-12 text-center" *ngIf="rplContractData">
              <span>
                親愛的 <span style="font-size: large;">{{ rplContractData.userName }}</span> 客戶，您好
              </span><br>
              <span>
                已發送簡訊驗證碼至以下手機號碼
              </span>
              <h2 class="color-primary text-center mt-3">
                {{ phoneRe | hiddenStr: { start: 3, length: 3 } }}
              </h2>
            </div>
          </div>


          <!-- STEP: 輸入驗證碼/客服電話 -->
          <div class="form-group row">
            <div class="col-sm-12 text-center">
              <div class="input-box">
                <input type="tel" class="form-control verificationInput" id="inputcaptcha" formControlName="inputcaptcha" KeydownRegexp="num" autocomplete="off" maxlength="6" placeholder="請於5分鐘內輸入驗證碼">
                <div class="col-12 errBox" *ngIf="otpForm.controls['inputcaptcha'].invalid && otpForm.controls['inputcaptcha'].touched">
                  <span class="errMsg" style="padding-left: 135px;" *ngIf="otpForm.controls['inputcaptcha'].errors">
                    請輸入6位數字
                  </span>
                </div>
              </div>
            </div>
          </div>


          <!-- STEP: HACK: 致電客服更新手機號碼 -->
          <div class="form-group row">
            <!-- <label class="col-sm-12 col-md-3 col-form-label text-left"></label> -->
            <!-- <div class="col-sm-12 col-md-9 text-center"> -->
            <div class="col-sm-12 text-center">
              <a class="btn btn-kgi-secondary d-sm-none phoneBtn" href="tel:(02)8023-9088">
                <img class="phone-img" src="assets/image/icon/07-phone.png" alt="">&nbsp;致電客服更新手機號碼
              </a>
              <a class="btn btn-kgi-secondary d-none d-sm-inline-block phoneBtn" (click)="showConsume()">
                <img class="phone-img" src="assets/image/icon/07-phone.png" alt="">&nbsp;致電客服更新手機號碼
              </a>
            </div>
          </div>


          <!-- STEP: 我已閱讀並同意下列條款及告知事項 -->
          <!-- HACK: Copy from cc-choose page -->
          <div class="form-group row" style="margin-bottom:0px;">
            <div class="col-sm-12 squaredFour mx-auto" style="padding:0 0 5px 25px;">
              <input id="agreement" formControlName="agreement" type="checkbox">
              <label for="agreement" class="no-margin">我已閱讀並同意下列條款及告知事項</label>
            </div>
            <div class="col-sm-12 mx-auto w-100 p-0">
              <app-term *ngFor="let item of termsDiv" [termTitle]="item.termTitle" [termName]="item.termName" [hideLeft]="true"></app-term>
            </div>
          </div>


          <!-- STEP: 下方連結區 -->
          <div class="form-group row">
            <div class="col-sm-12 link-box mx-auto" style="padding:0 0 5px;">
              為維護您的權益，請詳閱
                <a class="text-primary cursor-pointer" style="text-decoration:underline;" (click)="showTerms('EOPPersonalDataUsing')">個人資料運用告知聲明使用者條款及約定</a>、
                <a class="text-primary cursor-pointer" style="text-decoration:underline;" (click)="showTerms('loan_rate')">利率費用告知事項</a>、
                <a class="text-primary cursor-pointer" style="text-decoration:underline;" (click)="showTerms('nonAgent')">非代辦宣告</a>
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- SECTOR: 按鈕區 -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="goPreviousPage()">
        上一步
      </button>
      <button *ngIf="isInputPhoneNumberShow" name="goNext" type="button" class="btn btn-kgi-primary" (click)="secText > 0 ? '' : sendSMS()">
        重領驗證碼 <span *ngIf="secText > 0">({{ secText }}秒)</span>
      </button>
      <button name="btnsubmit" type="button" class="btn btn-kgi-primary" (click)="onSubmit()" [disabled]="isDisabled()">
        下一步
      </button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="goPreviousPage()">
          上一步
        </button>
        <button *ngIf="isInputPhoneNumberShow" name="goNext" type="button" class="btn btn-kgi-primary" (click)="secText > 0 ? '' : sendSMS()">
          重領驗證碼 <span *ngIf="secText > 0">({{ secText }}秒)</span>
        </button>
        <button name="btnsubmit" type="button" class="btn btn-kgi-primary col" (click)="onSubmit()" [disabled]="isDisabled()">
          下一步
        </button>
      </div>
    </div>


  </form>

</section>