// NOTE: copy from o-user otp page
// 驗證碼輸入框
.verificationInput {
  display: inline-block;
  width: 230px;
  border: 1px solid #3278bc;
}
.phoneBtn {
  padding: 8px 0;
  width: 230px;
  img {
    width: 25px;
  }
}