<form [formGroup]="parentform" class="row">
    <div class="form-group col-6 col-md-6" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'branchAddrCity')}">
      <select class="form-control custom-select" formControlName="branchAddrCity"
      [ngClass]="formCheckService.validClass(parentform, 'branchAddrCity')"
      >
        <option value="">請選擇縣市</option>
        <option *ngFor="let item of countyList" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="form-group col-6 col-md-6" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'branchAddrDist')}">
      <select class="form-control custom-select" formControlName="branchAddrDist"
      [ngClass]="formCheckService.validClass(parentform, 'branchAddrDist')"
      >
        <option value="">請選擇區域</option>
        <option *ngFor="let district of districtList" [value]="district">{{district}}</option>
      </select>
    </div>
    <div class="form-group col-12 col-md-12" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'branchName')}">
      <select class="form-control custom-select" formControlName="branchName"
      [ngClass]="formCheckService.validClass(parentform, 'branchName')"
      >
        <option value="">請選擇分行</option>
        <option *ngFor="let b of branchs" [value]="b">{{b}}</option>
      </select>
      <div class="col-12 errBox">
        <label
        *ngIf="formCheckService.checkIsInValid(parentform, 'branchName')" class="error border-danger">請選擇分行</label>
      </div>
    </div>
    <div *ngIf = "branchAddr" class="form-group col-12 col-md-12">
      <label>{{branchAddr}}</label>
    </div>
    <input type="hidden" formControlName="branchAddrZipCode">
    <input type="hidden" formControlName="branchID">
  </form>
