<div *ngIf="logger.isCSRT" class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/person']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>您的專屬方案</h1>
                    </div>
                    <!-- OLD------------------------------------------------------------------------------ -->
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="txt-darkgray">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <div class="txt-info" tabindex="0" (click)="showDialog('#dialog1')">
                                                <span>預核金額</span>
                                                <i title="查看說明" class="icon-info txt-large"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <td align="right">
                                        <div class="txt-info" tabindex="0" (click)="showDialog('#dialog1')" style="text-align:center;font-size:36px;">
                                            <label>{{p_apy_amount}}</label>
                                            <span>萬元</span>
                                        </div>
                                    </td>
                                </table>
                            </td>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td align="right">專屬優惠利率</td>
                                    </tr>
                                    <tr>
                                        <td align="right">享60天1.111%</td>
                                    </tr>
                                    <tr>
                                        <td align="right">核准後30天內動用享優惠</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit"
                            (click)="onSubmit()">下一步</button>
                    </div>


                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>


    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <ol><br />
                您的專屬方案貸款金額是依您留存於本行往來紀錄，並排除您目前於其他銀行的信貸餘額後計算，若您有債務整合需要或可提供其他財力，可直接於下方申貸金額調整至最高600萬元。
            </ol>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>