<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/UPL/stepok']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>提供關係人資料</h1>
                        <div class="title-info">
                            <span>由於銀行法銀行法第33條之3規定，須請您提供</span>
                            <a class="txt-link" title="銀行法第 33 條之 3「同一關係人」資料表 " tabindex="0" target="_blank" href="https://www.kgibank.com/T01/docs/T08-DocApply-0104.pdf">同一關係人</a>
                            <span>資訊</span>
                            <i title="查看說明" class="icon-info txt-large"
                                style="margin-left:4px; margin-top: -4px; cursor:pointer;"
                                (click)="showDialog('#dialogBankLowContent')"></i>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>身分證字號</label>
                        <input formControlName="idno" id="idno" type="text" maxlength="10" [cleave]="cleave.Upper"
                            (blur)="idValidate($event.target)" placeholder="請輸入身分證字號" />
                        <div class="error-text" *ngIf="errorMessage('idno','required')">填寫此欄位 </div>
                        <div class="error-text" *ngIf="errorMessage('idno','errors')">此身分證字號有誤 </div>
                    </div>

                    <div class="form-item">
                        <label>姓名</label>
                        <input formControlName="customer_name" type="text" placeholder="請輸入姓名" />
                        <div class="error-text" *ngIf="errorMessage('customer_name')">填寫此欄位 </div>
                    </div>

                    <!-- <hr />

                    <div class="form-item">
                        <label>二親等以內血親</label>
                        <select required formControlName="relationship">
                            <option *ngFor='let item of relationDegreeOptions' [value]="item.dataKey">{{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('relationship')">填寫此欄位 </div>
                    </div>

                    <div class="form-item">
                        <label>姓名</label>
                        <input formControlName="relationshipName" type="text" placeholder="請輸入姓名" />
                        <div class="error-text" *ngIf="errorMessage('relationshipName')">填寫此欄位 </div>

                    </div>

                    <div class="form-item">
                        <label>身分證字號</label>
                        <input formControlName="relationshipId" id="relationshipId" type="text" maxlength="10"
                            [cleave]="cleave.Upper" (blur)="idValidate($event.target)" placeholder="請輸入身分證字號" />
                        <div class="error-text" *ngIf="errorMessage('relationshipId','required')">填寫此欄位 </div>
                        <div class="error-text" *ngIf="errorMessage('relationshipId','errors')">此身分證字號有誤 </div>
                    </div> -->

                    <div formArrayName="addSecondDegreeData">
                        <div *ngFor="let ctrl of getFormArray('addSecondDegreeData').controls; let i=index">
                            <div [formGroupName]="i">
                                <hr />
                                <div class="form-item">
                                    <label>二親等以內血親</label>
                                    <select #relationship formControlName="relationship">
                                        <option *ngFor='let item of relationDegreeOptions' [value]="item.dataKey">{{item.dataName}}
                                        </option>
                                    </select>
                                    <div class="error-text" *ngIf="errorMessageOfSecondDegreeData(i, 'relationship')">填寫此欄位 </div>
                                </div>
                                <ng-container *ngIf="relationship.value">
                                    <div class="form-item">
                                        <label>姓名</label>
                                        <input formControlName="relationshipName" type="text" placeholder="請輸入姓名" />
                                        <div class="error-text" *ngIf="errorMessageOfSecondDegreeData(i, 'relationshipName')">填寫此欄位 </div>
                
                                    </div>
                
                                    <div class="form-item">
                                        <label>身分證字號</label>
                                        <input formControlName="relationshipId" id="relationshipId" type="text" maxlength="10"
                                            [cleave]="cleave.Upper" (blur)="idValidate($event.target)" placeholder="請輸入身分證字號" />
                                        <div class="error-text" *ngIf="errorMessageOfSecondDegreeData(i, 'relationshipId','required')">填寫此欄位 </div>
                                        <div class="error-text" *ngIf="errorMessageOfSecondDegreeData(i, 'relationshipId','errors')">此身分證字號有誤 </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 20px 0;display: flex;justify-content: flex-start">
                        <p class="txt-link" tabindex="0" (click)="addSecondDegreeDatas()">新增一組填寫欄位</p>
                        <p class="txt-link" tabindex="1" (click)="removeSecondDegreeDatas()" style="margin-left: auto">刪除</p>
                    </div>

                    <div formArrayName="addData">
                        <div *ngFor="let data of getFormArray('addData').controls; let i=index">
                            <div [formGroupName]="i">
                                <hr />
                                <div class="form-item">
                                    <label>若您或您的配偶擔任「企業負責人」,請填寫</label>
                                    <select #corpRelationDegree (change)="dataToggle($event.target);selectActive($event.target);"
                                        formControlName="corpRelationDegree">
                                        <option *ngFor='let item of relationDegreeCorpOptions' [value]="item.dataKey">
                                            {{item.dataName}}
                                        </option>
                                    </select>
                                </div>

                                <ng-container *ngIf="corpRelationDegree.value">
                                    <div class="form-item">
                                        <label>企業名稱</label>
                                        <input formControlName="corpName" type="text" placeholder="請輸入企業名稱" />
                                    </div>

                                    <div class="form-item">
                                        <label>統編</label>
                                        <input formControlName="corpnumber" type="tel" placeholder="請輸入統編" maxlength="8"
                                            [cleave]="cleave.Number" />
                                    </div>

                                    <div class="form-item">
                                        <label>職務</label>
                                        <input formControlName="corpJobTitle" type="text" placeholder="請輸入職務" />
                                    </div>

                                    <div class="form-item">
                                        <label>備註</label>
                                        <input formControlName="memo" type="text" placeholder="請輸入備註" />
                                    </div>
                                </ng-container>
                                <!-- <ng-container *ngIf="corpRelationDegree.value === '親屬關係'">
                                    <div class="form-item">
                                        <label>關係</label>
                                        <select (change)="selectActive($event.target);" formControlName="kinship">
                                            <option *ngFor='let item of relationDegreeOptions' [value]="item.dataKey">
                                                {{item.dataName}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-item">
                                        <label>姓名</label>
                                        <input formControlName="kinshipName" type="text" placeholder="請輸入姓名" />
                                    </div>

                                    <div class="form-item">
                                        <label>身分證字號</label>
                                        <input formControlName="kinshipId" id="relationshipId" type="text"
                                            maxlength="10" [cleave]="cleave.Upper" (blur)="idValidate($event.target)"
                                            placeholder="請輸入身分證字號" />
                                    </div>
                                </ng-container> -->
                            </div>
                        </div>
                    </div>

                    <div style="margin: 20px 0;display: flex;justify-content: flex-start">
                        <p class="txt-link" tabindex="0" (click)="addDatas()">新增一組填寫欄位</p>
                        <p class="txt-link" tabindex="1" (click)="removeDatas()" style="margin-left: auto">刪除</p>
                    </div>

                    <div class="btn-area btn-hasinfo-reverse">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid" (click)="onSubmit()">下一步</button>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

    <div class="dialog" id="dialogBankLowContent">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 --><br />
            <ol>
                <li>銀行法第 33 條之 3 同一關係人之範圍包括本人、配偶、二親等以內之血親，及以本人或配偶為負責人之企業。</li>
                <li>二親等以內血親包括祖（外祖）父母、父母、兄弟姐妹、子女、孫（外孫）子女。</li>
                <li>公司法第 8
                    條所稱公司負責人，在無限公司、兩合公司為執行業務或代表公司之股東；在有限公司、股份有限公司為董事。另公司之經理人或清算人，股份有限公司之發起人、監察人、檢查人、重整人或重整監督人，在執行職務範圍內亦為公司負責人。非公司組織之企業，為商業登記文件所載之負責人。
                </li>
            </ol>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>

    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">{{dialogTitle}}</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <div [innerHTML]="dialogData | safe:'html'"></div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>