<!-- stepbar -->
<div class="row" id="stepBar">
  <div class="col-5"></div>
  <div class="col-7 pull-right p-0">
    <div class="progress mb-4" style="height: 4px;">
      <div
        class="progress-bar progress-bar-real"
        role="progressbar"
        id="progress-step1"
        style="width: 19%; background: #FF6E40;"
        aria-valuenow="19"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 1%; background: #ffffff;"
        aria-valuenow="20"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-real"
        role="progressbar"
        id="progress-step2"
        [ngClass]="stepbar > 1 ? 'bg-orange' : 'bg-gray'"
        style="width: 19%;"
        aria-valuenow="39"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 1%; background: #ffffff;"
        aria-valuenow="40"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-real"
        role="progressbar"
        id="progress-step3"
        [ngClass]="stepbar > 2 ? 'bg-orange' : 'bg-gray'"
        style="width: 19%;"
        aria-valuenow="59"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 1%; background: #ffffff;"
        aria-valuenow="60"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-real"
        role="progressbar"
        id="progress-step4"
        [ngClass]="stepbar > 3 ? 'bg-orange' : 'bg-gray'"
        style="width: 19%;"
        aria-valuenow="79"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 1%; background: #ffffff;"
        aria-valuenow="80"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-real"
        role="progressbar"
        id="progress-step5"
        [ngClass]="stepbar > 4 ? 'bg-orange' : 'bg-gray'"
        style="width: 20%;"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>
