<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/work']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>個人資料</h1>
                    </div>

                    <div class="form-item">
                        <label>姓名</label>
                        <input formControlName="customer_name" type="text" placeholder="請輸入姓名" maxlength="40" />
                        <div class="error-text" *ngIf="errorMessage('customer_name')">填寫此欄位</div>
                    </div>

                    <div class="form-item">
                        <label>電子信箱</label>
                        <div class="input-wrapper ">
                            <input #email formControlName="email_address" autocomplete="offinput" type="email_address" maxlength="40" placeholder="請輸入電子信箱"
                                (ngModelChange)="dedicateMail($event)"
                                (blur)="applyForm.get('email_address').patchValue(email.value);corpNameBL = false" />
                            <div class=" error-text" *ngIf="errorMessage('email_address', 'required')">
                                填寫此欄位 </div>
                            <div class=" error-text" *ngIf="errorMessage('email_address', 'email')">
                                輸入電子郵件地址 </div>
                            <div class="candidate" hidden>
                                <div class="candidate-item" tabindex="0">{{email.value}}gmail.com</div>
                                <div class="candidate-item" tabindex="0">{{email.value}}yahoo.com.tw</div>
                                <div class="candidate-item" tabindex="0">{{email.value}}hotmail.com</div>
                                <div class="candidate-item" tabindex="0">{{email.value}}hinet.net</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>居住地址</label>
                        <div class="columns">
                            <div class="column-item flexbasis-50">
                                <select required formControlName="counties"
                                    (change)="makeDistrict($event.target.value)">
                                    <option value="" hidden>縣市</option>
                                    <optgroup *ngFor='let option of options' label="{{option.counties}}">
                                        <option *ngFor='let item of option.items' [value]="item.dataKey">
                                            {{item.dataName}}
                                        </option>
                                    </optgroup>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('counties')">選取列表中的項目 </div>
                            </div>
                            <div class="column-item">
                                <select required id="district" formControlName="township">
                                    <option #township *ngFor='let item of cityOption'
                                        [value]="item.dataKey?item.dataName:''">
                                        {{item.dataName}}
                                    </option>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('township')">選取列表中的項目</div>
                            </div>
                        </div>
                        <input type="text" placeholder="請輸入地址" formControlName="address" maxlength="40" />
                        <div class="error-text" *ngIf="errorMessage('address')">填寫此欄位</div>

                    </div>

                    <div class="form-item">
                        <label>住家市話</label>
                        <input formControlName="homePhone" id="homePhone" #homePhone type="tel" class="cleave-number"
                            maxlength="11" (blur)="telValidate($event.target)" placeholder="區碼-住家市話號碼" />
                        <div class="error-text" *ngIf="errorMessage('homePhone','required')">
                            如無市話，請填寫手機號碼 </div>
                        <div class="error-text" *ngIf="errorMessage('homePhone','pattern')">
                            不符合要求的格式</div>
                    </div>

                    <div class="form-item">
                        <label>戶籍市話</label>
                        <div class="input-wrapper">
                            <input formControlName="domicilePhone" id="domicilePhone" #domicilePhone type="tel" class="cleave-number"
                                maxlength="11" (blur)="telValidate($event.target)" placeholder="區碼-戶籍市話號碼" />
                            <div class="error-text" *ngIf="errorMessage('domicilePhone','required')">
                                如無市話，請填寫手機號碼</div>
                            <div class="error-text" *ngIf="errorMessage('domicilePhone','pattern')">
                                不符合要求的格式 </div>
                            <div class="checkbox">
                                <input formControlName="ch1" type="checkbox" id="ch1"
                                    (click)="phoneAutoFill($event.target.checked)" />
                                <label for="ch1" title="自動代入住家市話號碼">
                                    <div class="check-widget"></div>
                                    <span>同住家</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">下一步</button>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>