.form-title {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

// SECTOR: 按鈕
.item-button {
  position: relative;
  border: 1px solid #aaa;
  cursor:pointer;
  border-radius: 4px;
  min-width:230px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 10px 20px;
  background-color: #fff;
  color: rgb(128, 128, 128);
  font-size: 18px;
  font-weight: bold;
}

.item-button:hover {
  width: 100%;
  padding: 10px 10px 20px;
  color:#3278bc;
  border: 1px solid #3278bc;
}

.item-button:focus {
  // border: 2px solid #3278bc;
  // box-shadow: 0px 2px 6px #3278bc;
  box-shadow: none;
}

.item-button-selected {
  position: relative;
  border: 2px solid #3278bc;
  cursor:pointer;
  border-radius: 4px;
  min-width:230px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 10px 20px;
  background-color: #fff;
  border-color: #3278bc;
  color:#3278bc;
  font-size: 18px;
  font-weight: bold;
}
