<section class="apply">

  <!-- SECTOR: STEP -->
  <!-- step Start -->
  <app-step-num [step]="stepStr"></app-step-num>
  <!-- step End-->

  <!-- SECTOR: OUTER FRAMESWORK -->
  <form class="main-form" [formGroup]="contractForm">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">


          <!-- SECTOR: MAIN -->
          <!-- STEP: Protocol list choose by button -->
          <div class="form-group mt-3 text-center" *ngIf="itemsFromASystem$">
            <p class="form-title">待簽署契約項目如下：</p>
            <div class="row" *ngFor="let item of itemsFromASystem$.result; index as i">
              <div class="col-12 mt-1">
                <button type="button" class="{{ selectElem.innerText === getNameByCaseType(selectItem) ? 'item-button-selected' : 'item-button'}}" id="button{{i}}" #selectElem (click)="buttonClick(item, selectElem)">
                  {{ getNameByCaseType(item) }}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- SECTOR: SUBMIT -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="goPreviousPage()">
        上一步
      </button>
      <button name="btnsubmit" type="button" class="btn btn-kgi-primary" (click)="onSubmit()" [disabled]="isDisabled()">
        下一步
      </button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="goPreviousPage()">
          上一步
        </button>
        <button name="btnsubmit" type="button" class="btn btn-kgi-primary col" (click)="onSubmit()" [disabled]="isDisabled()">
          下一步
        </button>
      </div>
    </div>
  </form>


</section>