.btn-area {
	margin: 20px 0;
	display: flex;
	justify-content: flex-end;
}

/*登出用置中小板短按鈕*/
.btn-area.btn-center {
	justify-content: center;
	text-align: center;
}

button {
	font-family: 'PingFang TC', 微軟正黑體;
}

button:focus {
	outline: none;
}

.btn-submit, .btn-cancel {
	transition: background 0.3s, opacity 0.3s;
	border: 1px solid #3174E0;
	border-radius: 30px;
	height: 56px;
	min-width: 280px;
	font-size: 18px;
	cursor: pointer;
	display: inline-block;
	line-height: 54px;
}

.btn-submit {
	background: #3174E0;
	color: #fff;
	text-align: center;
	border: 0;
}

.btn-cancel {
	background: #fff;
	color: #3174E0;
}

.btn-normal {
	background: none;
	border: 0;
	color: #3174E0;
}

.btn-normal * {
	font-size: 16px;
}

.btn-submit:disabled {
	color: #838A8F;
	background: #DBDEE7;
	cursor: default;
	border-color: #DBDEE7;
}

/******************
有包圖示的按鈕
*******************/
.btn-hasicon * {
	vertical-align: middle;
}

/******************
左邊有功能性文字的按鈕
*******************/
.btn-hasinfo, .btn-hasinfo-reverse {
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

/******************
滿版按鈕+下面有字
*******************/
.btn-area.btn-full {
	display: block;
	text-align: center;
}

.btn-area.btn-full .btn-submit, 
.btn-area.btn-full .btn-cancel {
	width: 100%;
	max-width: none;
}

.btn-area.btn-full .btn-submit + p {
	color: #3B3B51;
	margin: 8px 0 0;
}

/******************
白色外框按鈕
*******************/
.btn-submit.btn-white-outline {
	border: 1px solid #fff;
	background: none;
	box-sizing: border-box;
}