input[type="checkbox"],
input[type="radio"] {
	/*用w0,h0藏起來才能給使用者用tab選到*/
	width: 0;
	height: 0;
	-webkit-appearance: none;
	margin: 0;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline: 0;
}

input[type="checkbox"]:focus+label .check-widget,
input[type="radio"]:focus+label .radio-widget {
	box-shadow: 0 0 0 2px #3783FF;
}

input[type="checkbox"]:not(#menuTrigger)+label:not(.question-showbar),
input[type="radio"]+label:not(.tab-item):not(.question-item) {
	user-select: none;
	-ms-user-select: none;
	display: inline-flex;
	margin-left: -5px;
	margin-right: 20px;
}

input[type="checkbox"]+label .check-widget,
input[type="radio"]+label .radio-widget {
	width: 24px;
	height: 24px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	margin-right: 4px;
	transition: background 0.3s;
	background: #fff;
	text-align: center;
	box-sizing: border-box;
}

input[type="checkbox"]+label .check-widget:before,
input[type="radio"].fake-checkbox+label .radio-widget:before {
	content: '\e805'; /*icon-check*/
	font-family: fontello;
	color: #fff;
	/*font-size: 14px;*/
	/*line-height: 22px;*/
}

input[type="radio"]:not(.fake-checkbox)+label .radio-widget {
	background: #fff;
	border-radius: 50%;
}

input[type="checkbox"]:checked+label .check-widget,
input[type="radio"].fake-checkbox:checked+label .radio-widget {
	border-color: #3174E0;
	background: #3174E0;
}

input[type="radio"]:not(.fake-checkbox):checked+label .radio-widget {
	border-color: #3174E0;
	background: radial-gradient(#3174E0 45%, #fff 50%)
}

input[type="radio"]:not(.fake-checkbox):checked+label.panel {
	border-color: #3174E0;
}