.columns {
	display: flex;
}

.flex-justifybetween {
	justify-content: space-between;
}

.flex-aligncenter {
	align-items: center;
}

.flexbasis-25 {
	flex-basis: calc(25% - 10px);
}

.flexbasis-40 {
	flex-basis: calc(40% - 10px);
}

.flexbasis-50 {
	flex-basis: calc(50% - 10px);
}

.flexbasis-60 {
	flex-basis: calc(60% - 10px);
}

.column-item {
	flex-grow: 1;
	flex-shrink: 1;
}

.column-item[class*='flexbasis-'],
.flex-justifybetween .column-item {
	flex-grow: 0;
	flex-shrink: 0;
}