/******************
上傳檔案樣式
*******************/
.file-box {
	width: 600px;
	margin: 24px 0;
	position: relative;
}

.file-box .icon-close {
	display: none;
}

.file-box img {
	border-radius: 6px;
	border: 1px dashed #D3D8E9;
	overflow: hidden;
}

.file-content {
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.file-box.has-image img {
	border-style: solid;
}

.file-box.has-image .icon-close {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 5px 8px;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
	cursor: pointer;
}

.has-image {
	position: relative;
	overflow: hidden;
}

.file-box.has-image label {
	border-radius: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	opacity: 0;
	margin: 0;
}

.file-box.has-image .file-title,
.file-box.has-image label * {
	display: none;
}

.has-image:after {
	content: '僅限凱基銀行信用貸款使用';
	background: rgba(255, 255, 255, 0.8);
	transform: rotate(-45deg);
	position: absolute;
	transform-origin: 0% center;
	width: 100%;
	left: -2%;
	font-size: 12px;
	text-align: left;
	padding-left: 8%;
	top: 140px;
}

.file-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.file-upload input {
	display: none;
}

.file-upload {
	background: #3174E0;
	color: #fff;
	border-radius: 30px;
	padding: 12px 35px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}

/******************
切圖Dialog Popup
*******************/
.dialog.dialog-full {
	overflow: hidden;
}

.dialog.dialog-full .dialog-content {
	max-height: none;
}

.dialog-crop .rotate {
	background-image: url('/assets/inc/default/img/icon-rotate.svg');
	width: 30px;
	height: 30px;
}

.dialog-crop .dialog-content {
	height: 350px;
	padding: 0;
	position: relative;
}

.dialog-crop .dialog-footer {
	background: #F0F2F7;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.dialog-ocr {
	background: #F0F2F7;
}

.dialog-ocr .dialog-content {
	padding: 24px 36px;
}

.dialog-ocr .title-area {
	margin-top: 0;
}

.dialog-ocr .dialog-header {
	display: none;
}

.crop-info {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	bottom: 8px;
}

.sample-wrap {
	width: 350px;
}

.sample-wrap img {
	border: 1px solid #D3D8E9;
	border-radius: 6px;
}

/******************
財力證明樣式
*******************/
.afterFilePicked {
	display: none;
}

.has-image ~ .beforeFilePicked {
	display: none;
}

.file-box ~ .btn-area .btn-submit {
	visibility: hidden;
}

.has-image.file-box ~ .btn-area .btn-submit {
	visibility: visible;
}