.quote-item {
	font-weight: bold;
	font-size: 28px;
	position: relative;
	padding-top: 30px;
	padding-left: 20px;
	margin-bottom: 24px;
}

.quote-item + .quote-item {
	padding-top: 0;
	box-sizing: border-box;
}

.quote-item .icon-quote {
	color: #F15A21;
	position: absolute;
	top: 0;
	left: -10px;
	font-weight: bold;
}

.question-item, .question-showbar {
	background: #fff;
	display: block;
	font-size: 18px;
	border-radius: 40px;
	border: 1px solid #EDEDED;
	box-shadow: 0px 2px 3px rgba(116, 121, 129, 0.2);
	cursor: pointer;
	box-sizing: border-box;
	margin: 16px 0;
}

.question-showbar {
	padding: 10px 24px;
}

input.question-item {
	padding: 12px 24px;
}

.question-item {
	width: 100%;
	font-weight: bold;
	padding: 10px 24px;
}

.question-dropdown.input-wrapper .unit {
	top: 16px;
	left: 55px;
	height: 45px;
	line-height: 45px;
}

.question-dropdown.input-wrapper .unit.wan {
	left: 75px;
}

input:checked + .question-item {
	color: #3174E0;
}

.question-dropdown input{
	outline: 0; /*IE的奇怪橘色框*/
}

.question-dropdown input[type="radio"], .trigger-checkbox {
	display: none;
}

.question-dropdown {
	display: none;
}

.question-showbar:after {
	content: '\e801'; /*icon-arrow-down*/
	color: #3174E0;
	font-family: fontello;
	font-size: 14px;
	float: right;
	height: 25px;
	line-height: 27px;
}

.slide-block {
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}

.trigger-checkbox:checked + .question-showbar {
	display: none;
}

.trigger-checkbox:checked + .question-showbar + .question-dropdown {
	display: block;
}

.slide-block {
	height: calc(100vh - 57px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.slide-block.slide-collapsed {
	height: auto;
	min-height: auto;
}

.question-info {
	opacity: 1;
	transition: opacity 0.3s;
	font-size: 14px;
	color: #8993A5;
	text-align: right;
}

input:invalid + .question-info {
	opacity: 0;
}

.dialog-estimating {
	width: 380px;
	padding: 30px 0;
}

.dialog-estimating {
	background: #f0f2f7;
}

.dialog-estimating .dialog-content {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.dialog-estimating .dialog-header {
	display: none;
}

.dialog-estimating .quote-item {
	padding: 0;
	text-align: center;
	margin: 20px 0;
}

.dialog-estimating .quote-item i {
	display: none;
}

.loading-image-ie {
	display: none;
}

@media all and (-ms-high-contrast: none) {
	/*IE 吃Gif動圖*/
	.loading-image {
		display: none;
	}
	
	.loading-image-ie {
		display: block;
	}
}

.panel.estimate-panel {
	height: auto;
	display: block;
	border: 0;
	padding-bottom: 10px;
}

.panel.estimate-panel .upper-panel {
	display: block;
	flex: auto;
}

.lower-panel.champion {
	background: url('src/assets/inc/default/img/art-champion.svg'), #F0F2F7;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}
