@font-face {
	font-family: Montserrat;
	src: 
		url('../../library/Montserrat/fonts/webfonts/Montserrat-Medium.woff2'),
		url('../../library/Montserrat/fonts/ttf/Montserrat-Medium.ttf');
}

@font-face {
	font-family: fontello;
	src: 
		url('../icon/fontello.woff2'),
		url('../icon/fontello.ttf');
}

[class^="icon-"] {
	display: inline-flex;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 24px;
}

[class^="icon-"]:before {
	font-family: fontello;
	font-style: normal;
}

.icon-alert:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-check-sharp:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-rotate:before { content: '\e807'; } /* '' */
.icon-quote:before { content: '\e808'; } /* '' */
.icon-check-art:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-arrow-left:before { content: '\e812'; } /* '' */
