/******************
表單　焦點樣式
*******************/
*:focus {
	outline-color: #3783FF;
}

@-moz-document url-prefix(){
	form *:focus {
		outline: 2px solid #3783FF;
		-moz-outline-radius: 6px;
	}
}

@media all and (-ms-high-contrast: none) {
	input:focus, select:focus, button:focus {
		outline: 2px solid #3783FF;
	}
}

/******************
表單　錯誤樣式&排版
*******************/
.form-item+.form-item {
	margin-top: 20px;
}

.error-text {
	text-align: right;
	color: #E90C5B;
	font-size: 14px;
}

.form-item .need-valid:invalid:not(:focus) {
	border-color: #E90C5B;
}

.form-item input:invalid,
.form-item select:invalid {
	/*FF輸入格式錯誤後噴出的紅色陰影外框*/
	box-shadow: none;
}

.form-item .column-item+.column-item {
	margin-left: 10px;
}

.alert-area {
	display: none;
	color: #E90C5B;
	margin: 20px 0;
}

.alert-area .alert-icon {
	width: 24px;
	height: 24px;
	background: url('/src/assets/inc/default/img/icon-alert.svg');
	display: block;
	margin-right: 5px;
}

.error-form .alert-area {
	display: flex;
	align-items: center;
}

.error-form .form-item input:not([type="checkbox"]):not([type="radio"]):invalid {
	border: 1px solid #E90C5B;
}
