.visual-content {
	position: absolute;
	color: #fff;
	top: 0;
	width: 1000px;
	margin-right: calc((100vw - 1000px) / 2);
	margin-left: calc((100vw - 1000px) / 2);
	padding: 0 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	height: 100%;
}

.slide-title {
	font-size: 48px;
}

.visual-content .btn-area {
	justify-content: flex-start;
}

.visual-content .btn-area * {
	margin-right: 16px;
	min-width: 240px;
}

section[class*='section-']:not(#visual) {
	padding: 40px 0;
}

section[class*='section-']:not(#visual) > * {
	max-width: 1000px;
	margin-right: calc((100vw - 1000px) / 2);
	margin-left: calc((100vw - 1000px) / 2);
}

section.section-white {
	background: #fff;
}

section.section-blue {
	background: #3174E0;
	color: #fff;
}

footer.section-gray {
	background: #F0F2F7;
	padding: 16px 0;
	color: #000;
}

section .column-item+.column-item {
	margin-left: 40px;
}

.far-list li {
	margin-bottom: 20px;
}

#menu {
	position: relative;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.menu-wrapper {
	padding: 0 40px;
}

.menu-mobile-btn, #menuTrigger {
	display: none;
}

#menu .menu-item {
	padding: 16px 20px;
	font-size: 18px;
	transition: color 0.3s;
	cursor: pointer;
	display: inline-block;
}

input[type="radio"]:checked + .menu-item {
	color: #0D4DB4;
}

#line {
	background-color: #F15A21;
	height: 4px;
	border-radius: 6px;
	position: absolute;
	bottom: 0;
	transition: width 0.3s, left 0.3s;
}

/* swiper */
.swiper-area {
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	position: relative;
}

.swiper-container {
	display: flex;
}

.swiper-slide {
	width: 100vw;
	position: relative;
}

/* swiper-nav swiper-dots */
.swiper-nav .swiper-prev,
.swiper-nav .swiper-next {
	width: 120px;
	height: 120px;
	color: #fff;
	text-align: center;
	line-height: 120px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	padding: 0;
	background: none;
}

.swiper-nav .swiper-prev i,
.swiper-nav .swiper-next i {
	font-size: 60px;
}

.swiper-nav .swiper-prev {
	left: 0;
}

.swiper-nav .swiper-next {
	right: 0;
}

.swiper-dots {
	position: absolute;
	top: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.swiper-dots .swiper-dot {
	margin: 0 5px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #fff;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	transition: background 0.3s;
	display: inline-block;
}

.swiper-dots .swiper-dot.actived {
	background: #F15A21;
}
