/******************
條款訊息縮排樣式
*******************/
dl {
	margin: 5px 0;
}

dd {
	margin-left: 30px;
}

dd+dd {
	margin-top: 5px;
}


/******************
條款訊息
*******************/
.info-area {
	font-size: 14px;
}

.info-area .info-title {
	margin: 4px 0;
	color: #000;
}

.info-area select {
	-webkit-appearance: none;
	border: 0;
	padding: 0 15px 0 3px;
	background: #f0f2f7 url('src/assets/inc/default/img/icon-arrow-down.svg') no-repeat 112% center;
	background-size: 25px;
	font-size: 14px;
	color: #3174E0;
}

/******************
有拉霸的條款書
*******************/
.term-area {
	height: calc(100vh - 430px);
    overflow-y: auto;
    padding: 10px 0;
}