section[class*='section-']:not(#visual) {
	padding-right: calc(16px + constant(safe-area-inset-right));
	padding-right: calc(16px + env(safe-area-inset-right));
	padding-left: calc(16px + constant(safe-area-inset-left));
	padding-left: calc(16px + env(safe-area-inset-left));
}