body {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
	pointer-events: none; /*mobile有時滑一滑會卡住的問題*/
}

#header, .body-wrapper, #menu {
	pointer-events: auto; /*mobile有時滑一滑會卡住的問題*/
}

body.mobile-white {
	background: #fff;
}

#side {
	display: none;
}

#contact {
	flex-basis: 100%;
	overflow-y: visible;
	height: 100%;
}

/*頁首固定*/
header {
	width: 100%;
	background: #fff;
	height: 49px;
}

main {
	box-sizing: border-box;
	min-height: auto;
}

/*dialog背景防滑*/
html, body {
	height: 100%;
}

.body-wrapper {
	height: calc(100% - 50px);
}

#menu ~ .body-wrapper {
	height: calc(100% - 50px - 49px);
}

progress ~ .body-wrapper {
	height: calc(100% - 50px - 4px);
}

.contact-wrapper,
.header-wrapper {
	max-width: 432px;
	padding: 0 16px;
}

.header-wrapper {
	padding-top: 6px;
	padding-bottom: 6px;
}

.header-text, .header-phone {
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	margin-left: 10px;
}

h1 {
	font-size: 26px;
}

.title-area {
	margin: 16px 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="checkbox"]:not(#menuTrigger)+label,
input[type="radio"]+label:not(.panel) {
	margin-left: 0;
	margin-right: 5px;
}

.form-item+.form-item {
	margin-top: 16px;
}

dd {
	margin-left: 25px;
}

div.btn-area:not(.btn-full) {
	text-align: center;
}

div.btn-area+.btn-area {
	padding-top: 0;
}

.dialog .btn-area {
	padding: 0 16px;
}

.btn-submit, .btn-cancel,
.mobile-btn-submit {
	width: 100%;
	height: 44px;
	min-width: auto;
	line-height: 42px;
}

.mobile-btn-submit {
	border: #3174E0 1px solid;
	border-radius: 30px;
	text-decoration: none;
	box-sizing: border-box;
	align-self: flex-end;
}

.dialog .btn-submit, .dialog .btn-cancel {
	margin: 0 5px;
}

.btn-center .btn-submit {
	max-width: 180px;
}

.file-box, .sample-wrap {
	width: 100%;
}

.code-form .code-area {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	max-width: 320px;
	margin-right: auto;
	margin-left: auto;
}

.code-info {
	text-align: center;
	margin: 16px 0;
}

.code-form input {
	padding: 10px 8px;
	width: 40px;
	font-size: 20px;
	line-height: normal;
}

.code-form input:not(:focus) {
	outline: 5px solid transparent; /*高階哀鳳雞切換輸入框的殘影問題*/
}

.code-form input+input {
	margin-left: 0;
}

.btn-fixed {
	position: fixed;
	width: calc(100% - 32px);
	bottom: 0;
	max-width: 400px;
}

.dialog {
	position: fixed; /*iOS safari在頁面下方開啟又關閉後再滑上去會有殘影*/
}

/*切圖元件*/
.dialog.dialog-full {
	width: 100vw;
	height: 100%; /*瀏海機100vh會算到下面的智障bar*/
	border-radius: 0;
	display: flex;
	flex-direction: column;
}

.dialog-crop .dialog-content {
	height: auto;
	flex: 2;
}

.dialog-crop .dialog-footer {
	background: #171717;
	border-top: 1px solid #454545;
	box-sizing: border-box;
	height: auto;
	flex: 1;
}

.dialog-crop .btn-normal {
	color: #fff;
}

.dialog-crop .btn-cancel {
	background: #171717;
	border-color: #fff;
	color: #fff;
}

.dialog-crop .btn-submit {
	background: #fff;
	color: #3174E0;
	border-color: #fff;
}

.dialog-ocr .dialog-header,
.dialog-estimating .dialog-header {
	background: #fff;
	padding: 0;
	display: block;
}

.dialog-ocr .dialog-content {
	padding: 0 16px;
	flex: 1;
}

.dialog-ocr .dialog-footer {
	flex-basis: 80px;
}

.line {
	margin: 25px 0;
}

.btn-hasinfo, .btn-hasinfo-reverse {
	flex-wrap: wrap;
	justify-content: center;
}

.btn-hasinfo-reverse {
	flex-direction: column-reverse;
}

.banner {
	align-items: flex-end;
	width: calc(100% + 32px);
	margin-left: -16px;
	margin-right: -16px;
	border-radius: 0;
}

.banner img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.banner-content {
	padding: 24px;
	box-sizing: border-box;
	width: 100%;
}

.panel {
	padding: 0 16px;
}

.panel.mobile-full-panel {
	border: 0;
	border-radius: 0;
	margin-right: -16px;
	margin-left: -16px;
	box-sizing: border-box;
}

.panel.fixed-panel {
	height: auto;
	margin-bottom: 0;
	border: 0;
	padding-bottom: 16px;
	box-sizing: border-box;
}

.panel.fixed-panel.fixed-panel-short {
	height: auto;
	min-height: calc(100vh - 91px);
}

@media all and (-ms-high-contrast: none) {
	/*IE RWD後高度扁掉的問題*/
	.panel.fixed-panel {
		height: calc(100vh - 51px);
	}
}

.upper-panel {
	padding: 40px 24px;
}

.lower-panel > * {
	padding: 20px 24px;
}

.lower-panel-header {
	border-radius: 6px 6px 0 0;
}

.fixed-panel .lower-panel {
	border: 1px solid #D3D8E9;
}

.check-widget {
	flex-basis: 24px;
	flex-shrink: 0;
}

.term-area {
	height: calc(100vh - 350px);
}

.tab-area {
	padding: 4px;
}

.wide-table {
	width: calc(100% + 32px);
	margin-right: -16px;
	margin-left: -16px;
}

.collapse-content img {
	margin: 16px;
    width: calc(100% - 32px);
}

input[type="radio"]+label.tab-item {
	padding: 2px 0;
}

.slide-block {
	width: 100%;
	padding: 0 16px;
	max-width: 380px;
}

.quote-item {
	padding-top: 20px;
	padding-left: 30px;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 12px;
}

.quote-item .icon-quote {
	left: 0;
}

.question-info {
	display: none;
}

.question-item, .question-showbar {
	padding: 8px 24px;
}

.question-dropdown input {
	padding: 10px 24px;
	-webkit-appearance: none;
}

.question-dropdown.input-wrapper .unit {
	height: 43px;
	line-height: 43px;
}

.input-wrapper .checkbox {
	right: 0;
}

.dialog-estimating .quote-item {
	padding-top: 30px;
	padding-left: 30px;
	text-align: left;
	margin-bottom: 30px;
}

.dialog-estimating .quote-item i {
	display: block;
}

.body-estimate {
	background: url('src/assets/inc/default/img/visual-calculator-m.svg') #f0f2f7;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 70%;
}

.dialog-estimating .dialog-content {
	flex-direction: column;
	margin-bottom: 30px;
}

.slide-block {
	height: calc(100vh - 52px);
}

.panel.estimate-panel {
	padding: 0;
}

.panel.estimate-panel .upper-panel {
	padding: 10px 0;
}

.lower-panel.champion {
	background-position: 110% center;
}

.btn-submit.btn-floating {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	position: fixed;
	width: calc(100% - 32px);
	left: 16px;
	margin-bottom: 16px;
	bottom: 16px;
	transition: none;
	border: none;
}

.btn-space {
	height: 112px;
}

.dialog-double .dialog-content {
	min-height: 150px;
}

.responsive-columns {
	flex-wrap: wrap;
}

.responsive-columns .column-item {
	flex-basis: 100% !important;
	margin-left: 0 !important;
	margin-bottom: 20px;
}

.visual-content {
	width: 100%;
	max-width: 432px;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	transform: translateX(-50%);
	padding: 0 36px;
}

.visual-content .btn-area {
	flex-wrap: wrap;
	margin-bottom: 60px; /*LINE瀏覽器頂端條仍不會被算進innerHeight所以用CSS補正*/
}

.visual-content .btn-area *+* {
	margin-top: 20px;
}

section[class*='section-']:not(#visual) > * {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

section[class*='section-']:not(#visual),
footer.section-gray {
	padding: 20px 16px;
}

.visual-content {
	justify-content: flex-end;
	background: linear-gradient(to top, black 20%, transparent 50%);
}

.slide-title {
	font-size: 32px;
}

#menu {
	width: 100%;
	pointer-events: auto;
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
}

#menu .menu-item-area {
	overflow: hidden;
	width: 100%;
	max-height: 0;
	transition: max-height .3s ease-out;
	background: #fff;
	position: absolute;
	left: 0;
	z-index: 1;
}

#menuTrigger:checked ~ .menu-item-area {
	max-height: 200px;
	padding-bottom: 10px;
}

.menu-wrapper {
	max-width: 432px;
	padding: 0 16px;
}

#menu .menu-mobile-btn {
	display: flex;
	align-items: center;
	padding: 13px 6px;
}

#menu .icon-menu {
	font-size: 18px;
	margin-right: 10px;
}

#menu .menu-placeholder {
	display: inline-block;
	vertical-align: middle;
}

#menu .menu-item {
	font-weight: bold;
	font-size: 16px;
	color: #3174E0;
	padding: 10px 35px;
	width: 100%;
}

input[type="radio"]:checked + .menu-item {
	color: #3174E0;
}

.swiper-area .swiper-nav {
	display: none;
}

.hidden-mobile {
	display: none;
}

.hidden-desktop {
	display: block;
}