.panel {
	background: #fff;
	border: 1px solid #D3D8E9;
	border-radius: 6px;
	padding: 0 24px;
	margin-bottom: 10px;
	display: block;
}

.panel > table {
	table-layout: fixed;
	border-spacing: 0;
}

.panel:not(label) > table:not(.wide-table) th,
.panel:not(label) > table:not(.wide-table) td {
	padding: 26px 0;
	vertical-align: middle;
}

.panel > table th {
	color: #3B3B51;
	font-weight: normal;
	text-align: left;
}

.panel > table td {
	font-size: 18px;
}

.panel > table tr+tr td:not(.range-td),
.panel > table tr+tr th {
	border-top: 1px solid #D3D8E9;
}

.more-icon {
	display: block;
	font-style: normal;
	color: #8993A5;
	font-size: 12px;
	text-align: right;
}

.more-icon:before {
	content: '\e802'; /*icon-arrow-right*/
	font-family: fontello;
}

.step-icon {
	font-style: normal;
	border-radius: 50%;
	border: 2px solid;
	text-align: center;
	line-height: 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.step-icon.stepok {
	font-size: 0;
	border-color: #51B848;
	background: #51B848;
}

.step-icon.stepok:before {
	font-family: fontello;
	content: '\e804'; /*icon-check-sharp*/
	font-size: 16px;
	color: #fff;
}

a.block-panel,
label.block-panel {
	padding: 16px;
	margin-bottom: 16px;
}

.block-panel {
	font-family: Montserrat ,'PingFang TC', 微軟正黑體;
}