#side {
	display: none;
}

section[class*='section-']:not(#visual) > *,
.visual-content {
	width: auto;
	margin-right: 20px;
	margin-left: 20px;
	page-break-inside: avoid;
}

body {
	overflow: auto;
	opacity: 1;
}

.show {
	opacity: 1;
}

.body-wrapper {
	height: auto;
}

.header-text, .header-phone {
	font-size: 0;
	margin-left: 10px;
}

.header-logo {
	background-size: cover;
}