progress, progress[value]{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 100vw;
	height: 4px;
	border: 0;
	color: #F2F2F2;
	display: block;
}

progress[value]::-webkit-progress-bar {
	background-color: #F2F2F2;
}

progress[value]::-webkit-progress-value {
	background-color: #F15A21;
	transition: width 0.3s;
}

progress[value]::-moz-progress-bar {
	background-color: #F15A21;
	transition: width 0.3s;
}

progress[value] {
	color: #F15A21;
}

progress::-ms-fill {
	border: none;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	outline: none;
	background: none;
	height: 50px;
	cursor: pointer;
}

.square-range::-webkit-slider-runnable-track {
	height: 4px;
	border-radius: 4px;
	background: #3174E0;
}

.circle-range::-webkit-slider-runnable-track {
	border-radius: 10px;
	background: #DBDEE7;
	height: 6px;
}

.square-range::-moz-range-track {
	height: 4px;
	border-radius: 4px;
	background: #3174E0;
}

.circle-range::-moz-range-track {
	height: 6px;
	border-radius: 10px;
	background: #DBDEE7;
}

.circle-range::-moz-slider-runnable-track {
	height: 6px;
	border-radius: 10px;
	background: #DBDEE7;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.square-range::-webkit-slider-thumb {
	width: 52px;
	height: 24px;
	background: url('src/assets/inc/default/img/icon-range.svg') #3174E0;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 200px;
	border: 0;
	margin-top: -10px;
	box-shadow: 0px 4px 10px rgba(47, 64, 115, 0.4);
}

.circle-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	border: 2px solid #3174E0;
	border-radius: 50%;
	background: radial-gradient(#3174E0 45%, #fff 50%);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	margin-top: -8px;
	position: relative;
}

.range-wrapper {
	position: relative;
}

.range-fill {
	background: #3174E0;
	height: 6px;
	border-radius: 10px 0 0 10px;
	width: 100px;
	position: absolute;
	left: 0;
	top: 24px;
}

@media all and (-ms-high-contrast: none){
	.range-fill {
		display: none;
	}
}

@-moz-document url-prefix() {
	.range-fill {
		display: none;
	}
}

input[type="range"]::-moz-range-thumb {
	border: none;
}

.square-range::-moz-range-thumb {
	width: 52px;
	height: 24px;
	background: url('src/assets/inc/default/img/icon-range.svg') #3174E0;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 200px;
	margin-top: -10px;
	box-shadow: 0px 4px 10px rgba(47, 64, 115, 0.4);
}

.circle-range::-moz-range-thumb {
	width: 24px;
	height: 24px;
	border: 2px solid #3174E0;
	border-radius: 50%;
	background: radial-gradient(#3174E0 45%, #fff 50%);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	margin-top: -8px;
}

.circle-range::-moz-range-progress{
	height: 6px;
	background: #3174E0;
	border-radius: 10px;
}

input[type="range"]::-moz-focus-outer{
	border:none;
}

input[type="range"]::-ms-track {
	width: 100%;
	background: transparent;
	border-color: transparent;
	border-width: 6px 0;
	color: transparent;
}

.square-range::-ms-track {
	height: 4px;
}

.circle-range::-ms-track {
	height: 6px;
}

input[type="range"]::-ms-fill-lower {
	border-radius: 10px;
}

input[type="range"]::-ms-fill-upper {
	border-radius: 10px;
}

.square-range::-ms-fill-lower {
	background: #3174E0;
}

.circle-range::-ms-fill-lower {
	background: #3174E0;
}

.square-range::-ms-fill-upper {
	background: #3174E0;
}

.circle-range::-ms-fill-upper {
	background: #DBDEE7;
}

input[type="range"]::-ms-thumb {
	border: none;
}

.square-range::-ms-thumb {
	width: 52px;
	height: 24px;
	background: url('src/assets/inc/default/img/icon-range.svg') #3174E0;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 200px;
	box-shadow: 0px 4px 10px rgba(47, 64, 115, 0.4);
}

.circle-range::-ms-thumb {
	width: 24px;
	height: 24px;
	border: 2px solid #3174E0;
	border-radius: 50%;
	background: radial-gradient(#3174E0 45%, #fff 50%);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	margin-top: 2px;
}

.square-range:focus::-ms-fill-lower {
	background: #3174E0;
}

.square-range:focus::-ms-fill-upper {
	background: #3174E0;
}

.circle-range:focus::-ms-fill-lower {
	background: #3174E0;
}

.circle-range:focus::-ms-fill-upper {
	background: #DBDEE7;
}
