.header-logo {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9I);
	width: 10px;
	height: 29px;
	display: block;
}


.btn-submit {
	background: #971561;
	color: rgb(199, 230, 26);
	text-align: center;
	border: 0;
}

.lbl-companyName{
	font-size: 0px
}
.lbl-companyName:before{
	font-size: 1.0rem;
	content: "露天賣家名稱";
}

.lbl-workStartTime{
	font-size: 0px
}
.lbl-workStartTime:before{
	font-size: 1.0rem;
	content: "支付連帳號註冊時間";
}

.input-disabled{
	pointer-events: none;
	background-color: gainsboro;
}
