.tab-area {
	background: #F0F2F7;
	border-radius: 6px;
	display: flex;
	justify-content: space-around;
	padding: 8px 12px;
	box-sizing: border-box;
}

input[type="radio"]+label.tab-item {
	color: #3B3B51;
	transition: background 0.3s;
	width: 100%;
	text-align: center;
	padding: 8px 0;
	border-radius: 4px;
	display: inline-block;
}

.tab-area input[type="radio"]:checked + .tab-item {
	color: #fff;
	background: #3174E0;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.collapse-area {
	/*margin-top: 24px;*/
}

.wide-table {
	width: calc(100% + 48px);
	margin-right: -24px;
	margin-left: -24px;
}

.wide-table tr > *:first-child {
	padding-left: 16px;
}

.wide-table tr > *:last-child {
	padding-right: 16px;
}

.wide-table tr th, .wide-table td:not(.range-td) {
	padding-top: 24px;
	padding-bottom: 24px;
}

.panel > table.collapse-area tr:nth-child(even) > * {
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.collapse-area tr:first-child td {
	border-top: 1px solid #D3D8E9;
}

.collapse-area .collapse-open .icon-arrow-down {
	transform: rotate(180deg);
}

.collapse-area .collapse-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
}

.collapse-content img {
	margin: 16px 24px;
	width: calc(100% - 48px);
}

.collapse-area .collapse-open + tr .collapse-content {
	max-height: 1200px;
}