/******************
文字樣式
*******************/
a {
	color: inherit;
	text-decoration: none;
}

.txt-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.txt-link {
	text-decoration: underline;
	color: #3174E0;
}

.txt-xxxlarge {
	font-size: 88px;
}

.txt-xxlarge {
	font-size: 38px;
}

.txt-xlarge {
	font-size: 24px;
}

.txt-large {
	font-size: 20px;
}

.txt-normal {
	font-size: 16px;
}

.txt-art {
	font-family: Montserrat ,'PingFang TC', 微軟正黑體;
}

.txt-small {
	font-size: 14px;
}

.txt-nowrap {
	white-space: nowrap;
}

.txt-b {
	font-weight: bold;
}

.txt-black {
	color: #000 !important;
}

.txt-red {
	color: #E90C5B;
}

.txt-blue {
	color: #3174E0;
}

.txt-gray {
	color: #8993A5;
}

.txt-darkgray {
	color: #3B3B51;
}

.txt-orange {
	color: #F15F3F;
}

.txt-green {
	color: #51B848;
}

.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.txt-info {
	display: inline-flex;
	align-items: flex-start;
}

.txt-right {
	text-align: right;
}

.txt-info i {
	color: #3B3B51;
	margin-right: 0;
	margin-left: 5px;
	line-height: 22px;
}

.txt-underline {
	text-decoration: underline;
}

.demolink {
	text-align: center;
	margin: 20px 0;
}

.demolink * {
	color: gray;
	display: inline-block;
}

ul,ol {
	padding-left: 20px;
}