/******************
一般輸入框
*******************/

.form-item input:not([type="checkbox"]):not([type="radio"]),
.code-form input,
.form-item select,
.gift-info,
.form-item textarea {
	/* background: #fff; */
	width: 100%;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	font-size: 18px;
	padding: 9px 12px;
	box-sizing: border-box;
	-webkit-appearance: none;
	margin: 4px 0;
	text-overflow: ellipsis;
	line-height: normal;
	/*height: 48px;*/
	font-family: 'PingFang TC', 微軟正黑體;
}

.form-item label {
	display: block;
}

.form-item input::placeholder,
.form-item textarea::placeholder {
	color: #959FB2;
	font-family: 'PingFang TC', 微軟正黑體;
}

.form-item select:invalid {
	color: #959FB2; /*IE因為吃不到::placeholder所以select要另外寫*/
}

.form-item select:invalid option {
	color: #000; /*Win10 Chrome的選項會被上面那行影響*/
}

/*for IE*/
.form-item input:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder {
	color: #959FB2;
	font-family: 'PingFang TC', 微軟正黑體;
}

/*for Edge*/
.form-item input::-ms-input-placeholder,
.form-item textarea::-ms-input-placeholder {
	color: #959FB2;
	font-family: 'PingFang TC', 微軟正黑體;
}

/******************
簡訊碼輸入框
*******************/
.code-form input {
	width: 52px;
	font-size: 24px;
	text-align: center;
	line-height: 24px; /*IE歪掉問題*/
}

.code-form input+input {
	margin-left: 10px;
}

/******************
包元件的輸入框
*******************/
.input-wrapper {
	position: relative;
}

.input-wrapper .unit {
	position: absolute;
	top: 4px;
	left: 65px;
	pointer-events: none;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
}

.input-wrapper .checkbox {
	position: absolute;
	right: 15px;
	top: 5px;
	padding: 10px 0;
}

.input-wrapper .checkbox label {
	align-items: center;
	margin-right: 0;
}

/******************
互動式候選清單
*******************/
.candidate {
	position: absolute;
	top: 55px;
	border-radius: 6px;
	width: 100%;
	overflow-y: auto;
	border: 1px solid #D3D8E9;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
	box-sizing: border-box;
	display: none;
	background: #fff;
}

.has-candidate .candidate {
	display: block;
	max-height: 250px;
	overflow-y: auto;
}

.has-candidate input.need-valid:invalid {
	border: #EDEDED 1px solid;
}

.candidate-item {
	padding: 16px;
	cursor: pointer;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.candidate-item:hover {
	opacity: 1;
	background: #D3D8E9;
}

.candidate-item:focus {
	outline: none;
	background: #D3D8E9;
}

/******************
原生下拉選單
*******************/
.form-item select {
	background-image: url('src/assets/inc/default/img/icon-arrow-down.svg');
	background-repeat: no-repeat;
	background-position: right center;
	padding: 10px 12px;
	-ms-appearance:none;
}

.form-item select:not([required]) {
	color: #959FB2;
}
select::-ms-expand {
	display: none;
}
