/*頁面大標*/
h1 {
	font-size: 40px;
	margin: 0;
}

.title-area {
	margin-bottom: 24px;
}

.title-info {
	margin: 4px 0;
}

/*確認頁小標*/
.title-area ~ h2 {
	font-size: 18px;
	margin-top: 36px;
}

hr {
	border-bottom: 1px solid #D3D8E9;
	border-top: 0;
	margin: 24px 0;
}

.line hr {
	margin: 0;
}

.line span {
	font-size: 14px;
	padding: 0 8px;
	background: #F0F2F7;
}

/*banner*/
.banner {
	width: 100%;
	height: 320px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	position: relative;
	color: #fff;
	border-radius: 6px;
	overflow: hidden;
}

.banner-content {
	position: absolute;
	padding: 36px;
	text-shadow: -2px 0px 4px rgba(0,0,0,0.4);
	left: 0;
	bottom: 0;
}