*[hidden] {
	display: none;
}

.hidden-desktop {
	display: none;
}

.margin0 {
	margin: 0 !important;
}

.border0 {
	border-top: 0 !important;
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}