<app-apply-header></app-apply-header>
<nav id="menu">
	<div class="menu-wrapper">
		<input type="checkbox" id="menuTrigger" />
		<label class="menu-mobile-btn" for="menuTrigger">
			<i class="icon-menu"></i>
			<span id="menuPlaceholder">全部貸款專案</span>
		</label>
		<div class="menu-item-area">
			<input type="radio" id="all" name="project" checked (change)="fillProject($event.target)" value="全部貸款專案" />
			<label class="menu-item" for="all">全部貸款專案</label>
			<input type="radio" id="hot" name="project" (change)="fillProject($event.target)" value="熱門專案" />
			<label class="menu-item" for="hot">熱門專案</label>
			<input type="radio" id="special" name="project" (change)="fillProject($event.target)" value="抗疫特別專案" />
			<label class="menu-item" for="special">抗疫特別專案</label>
			<input type="radio" id="other" name="project" (change)="fillProject($event.target)" value="速還金專案" />
			<label class="menu-item" for="other">速還金專案</label>
			<div id="line" class="hidden-mobile" style="left: 40px;width: 148px;"></div>
		</div>
	</div>
</nav>
<div class="body-wrapper">
	<section id="visual">
		<div class="swiper-area">

			<div class="swiper-container" style="transform: translate3d(-100vw, 0, 0)">
				<div class="swiper-slide">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/inc/default/img/demo/home1b-min.png" />
						<img src="assets/inc/default/img/demo/home1a-min.png" alt="凱基好貼薪" width="100%" />
					</picture>
					<div class="visual-content">
						<div class="slide-title">凱基好貼薪</div>
						<p>首月優惠利率每萬元日息1.1元<br>免付財力免費申請</p>
						<div class="btn-area">
							<a [routerLink]="['/apply/start']" class="btn-submit">申請此方案</a>
							<a [routerLink]="['/CAL/fill']" class="btn-submit btn-white-outline">試算我的額度利率</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/inc/default/img/demo/home2b-min.png" />
						<img src="assets/inc/default/img/demo/home2a-min.png" alt="MOKO好貼薪" width="100%" />
					</picture>
					<div class="visual-content">
						<div class="slide-title">MOKO好貼薪</div>
						<p>文字文字<br>文字文字</p>
						<div class="btn-area">
							<a [routerLink]="['/FIL/start']" class="btn-submit">申請此方案</a>
							<a [routerLink]="['/CAL/fill']" class="btn-submit btn-white-outline">試算我的額度利率</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/inc/default/img/demo/home3b-min.png" />
						<img src="assets/inc/default/img/demo/home3a-min.png" alt="MOKO吃火鍋" width="100%" />
					</picture>
					<div class="visual-content">
						<div class="slide-title">MOKO吃火鍋</div>
						<p>TEXTTEXTTEXT<br>TEXTTEXTTEXT</p>
						<div class="btn-area">
							<a [routerLink]="['/FIL/start']" class="btn-submit">申請此方案</a>
							<a [routerLink]="['/CAL/fill']" class="btn-submit btn-white-outline">試算我的額度利率</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/inc/default/img/demo/home4b-min.png" />
						<img src="assets/inc/default/img/demo/home4a-min.png" alt="第四張" width="100%" />
					</picture>
					<div class="visual-content">
						<div class="slide-title">第四張</div>
						<p>第四張第四張<br>第四張第四張第四張</p>
						<div class="btn-area">
							<a [routerLink]="['/FIL/start']" class="btn-submit">申請此方案</a>
							<a [routerLink]="['/CAL/fill']" class="btn-submit btn-white-outline">試算我的額度利率</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<picture>
						<source media="(max-width: 480px)" srcset="assets/inc/default/img/demo/home5b-min.png" />
						<img src="assets/inc/default/img/demo/home5a-min.png" alt="第五張" width="100%" />
					</picture>
					<div class="visual-content">
						<div class="slide-title">第五張</div>
						<p>第五張第五張<br>第五張第五張第五張</p>
						<div class="btn-area">
							<a [routerLink]="['/FIL/start']" class="btn-submit">申請此方案</a>
							<a [routerLink]="['/CAL/fill']" class="btn-submit btn-white-outline">試算我的額度利率</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-nav">
				<button type="button" class="swiper-prev" (click)="desktopSlide(-1)">
					<i class="icon-arrow-left"></i>
				</button>
				<button type="button" class="swiper-next" (click)="desktopSlide(1)">
					<i class="icon-arrow-right"></i>
				</button>
			</div>
			<div class="swiper-dots">
				<div class="swiper-dot actived"></div>
				<div class="swiper-dot"></div>
			</div>
		</div>
	</section>
	<section class="section-white">
		<div class="columns responsive-columns">
			<div class="column-item txt-center">
				<img src="assets/inc/default/img/home-loan.svg" alt="貸款額度最高300萬元" width="80" />
				<h2 class="txt-xlarge">貸款額度最高300萬元</h2>
				<p>貸款額度3萬～300萬<br>滿足您各種資金需求</p>
			</div>
			<div class="column-item txt-center">
				<img src="assets/inc/default/img/home-period.svg" alt="貸款期間最長7年" width="80" />
				<h2 class="txt-xlarge">貸款期間最長7年</h2>
				<p>貸款期間2~7年<br>依照您的還款計畫彈性選擇</p>
			</div>
			<div class="column-item txt-center">
				<img src="assets/inc/default/img/home-interest.svg" alt="利率為指數利率+2.17%起" width="80" />
				<h2 class="txt-xlarge">利率為指數利率+2.17%起</h2>
				<p>依照您的身份條件<br>為您量身定作最佳優惠利率</p>
			</div>
		</div>
	</section>
	<section class="section-blue">
		<div class="columns responsive-columns">
			<div class="column-item flexbasis-50">
				<h2 class="txt-normal">申請資格</h2>
				<ol>
					<li>20歲(含)以上60歲(含)以下之本國國民</li>
					<li>年收入25萬以上</li>
				</ol>
			</div>
			<div class="column-item">
				<h2 class="txt-normal">檢附資料</h2>
				<p>財力證明、工作證明…等</p>
			</div>
		</div>
	</section>
	<section class="section-white">
		<div class="columns responsive-columns">
			<div class="column-item flexbasis-50">
				<h2 class="txt-large">總費用年百分率 範例說明</h2>
				<div class="panel block-panel">
					<table class="wide-table" width="100%">
						<tr>
							<th>貸款金額</th>
							<td align="right">30 萬</td>
						</tr>
						<tr>
							<th>貸款利率</th>
							<td align="right">3.25% ~ 18.71%</td>
						</tr>
						<tr>
							<th>貸款期間</th>
							<td align="right">5 年</td>
						</tr>
						<tr>
							<th>各相關費用總金額</th>
							<td align="right">最高 8,000 元</td>
						</tr>
						<tr>
							<th>總費用年百分率</th>
							<td align="right">4.35% ~ 19.99%</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="column-item">
				<h2 class="txt-large">注意事項</h2>
				<ol class="txt-small txt-darkgray far-list">
					<li>本行服務專線(02) 8023-9088或(02) 8023-9076</li>
					<li>本廣告揭露之年百分率係按主管機關備查之標準計算範例予以計算，實際貸款條件，仍以凱基銀行提供之產品為準。且每一客戶實際之年百分率仍視其個別貸款產品及授信條件而有所不同。</li>
					<li>總費用年百分率不等於貸款利率，本行指數型利率於每年一、四、七、十月份之五日調整，遇例假日順延至下一營業日，本總費用年百分率之計算基準日為108年10月5日。</li>
					<li>本優惠利率專案申辦截止日為109年12月31日。各信用貸款專案內容及條件均有不同，詳細內容依凱基銀行最新規定為準，相關內容及限制條件請洽本行，本行保留核貸與否、詮釋、裁決及終止本活動辦法之權利。
					</li>
					<li>《本行未委請任何代辦或行銷公司合作辦理貸款業務事宜，敬請您留意。若有任何申辦需求，請洽本行專員辦理》</li>
				</ol>
			</div>
		</div>
	</section>
	<footer class="section-gray">© 凱基商業銀行 版權所有 105 臺北市松山區南京東路五段125號</footer>
</div>