<div class="modal-header">
  <h5 class="modal-title d-none">
    {{ setting.title }}
  </h5>
  <button type="button" id="modalCloseButton" *ngIf="setting.showClose" class="model-close-circle-btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('cancel')">
    <span aria-hidden="true" class="hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5 id="messageModalContent" class="text-center" style="word-break:break-all;">
    {{ setting.message }}
  </h5>
  <h5 *ngIf="setting.message2" class="text-center" style="word-break:break-all;">
    {{ errorName }}
    <span style="color: red">{{setting.message2}}</span>
  </h5>
</div>
<div class="modal-footer text-center" style="border-top:0px;">
  <button id="modalCancelButton" *ngIf="setting.showConfirm" type="button" class="btn btn-kgi-secondary col" data-dismiss="modal" (click)="modal.close('cancel')">
    {{ setting.btnCancel }}
  </button>
  <button id="modalOKButton" type="button" class="btn btn-kgi-primary col" data-dismiss="modal" (click)="modal.close('ok')">
    {{ setting.btnOK }}
  </button>
</div>
