<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/fill']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>
                    <div class="title-area">
                        <h1>核貸內容</h1>
                    </div>
                    <div class="panel block-panel">
                        <table width="100%" class="wide-table">
                            <tr>
                                <th>核准金額</th>
                                <td align="right">
                                    <span class="txt-orange txt-xxlarge">789萬元</span>
                                </td>
                            </tr>
                            <tr>
                                <th>月付金</th>
                                <td align="right">7,851 元</td>
                            </tr>
                            <tr>
                                <th>借款期間</th>
                                <td align="right">7 年</td>
                            </tr>
                            <tr>
                                <th>借款利率</th>
                                <td align="right">8.23 %</td>
                            </tr>
                            <tr>
                                <th>總費用年百分率</th>
                                <td align="right">8.74 %</td>
                            </tr>
                            <tr>
                                <th>開辦費</th>
                                <td align="right">8,000 元</td>
                            </tr>
                            <tr>
                                <th>限制清償期間</th>
                                <td align="right">12 個月</td>
                            </tr>
                        </table>
                    </div>
                    <div class="txt-small txt-gray">本行保留核貸及撥款與否、詮釋、裁決及終止本活動辦法之權利。<br />實際貸款月付金將依您契約條件計算,或查詢本行提供之撥貸通知書。
                    </div>

                    <div class="btn-area btn-hasinfo">
                        <button type="submit" class="btn-submit" (click)="onSubmit()">確認並開始檢視合約</button>
                        <p>
                            <span>遇到問題嗎？</span>
                            <a class="txt-link" [routerLink]="['/SGN/client']">請專人與我聯絡</a>
                        </p>
                    </div>

                    <!-- <div class="demolink">
                        <a [routerLink]="['/SGN/content']">PL</a>
                        <a [routerLink]="['/SGN/content.rpl']" style="margin-left: 5px;">RPL</a>
                    </div> -->
                </form>
            </div>

        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>