<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <!-- 新戶OTP Start -->
  <form class="main-form">
    <div class="container">
      <div class="row no-margin kgi-box-001">

        <div class="col-12">
          <div class="form-group text-center">
          <div class="upper-panel bg-white">
              <i class="icon-check-sharp" style="width:110px; height:110px;"></i>
              <div style="font-size:1.6rem; margin:24px 0;">簽約完成，最快當天撥款</div>
<!--              <div class="demolink">-->
<!--                  <a href="complete.html">PL</a>-->
<!--                  <a href="complete.rpl.html">RPL</a>-->
<!--                  <a href="complete.more.html">繼續簽署</a>-->
<!--              </div>-->
          </div>
              <div class="lower-panel">
                  <div class="lower-panel-header">
                      <div class="txt-large">何時撥款與繳款？</div>
                      <img class="art-image" src="assets/inc/default/img/art-money.svg" alt="Art Image" />
                  </div>
                  <div *ngIf="this.currentUrl === '/n/content' ">
                      <div class="lower-panel-content">
                          <ol class="art-list">
                              <li>
                                  <div>
                                      <div style="text-align:left;">款項將撥入以下帳戶</div>
                                      <div class="txt-small">{{this.bankName}} {{this.bankAcc}}</div>
                                  </div>
                              </li>
                              <li>
                                  <div>
                                      <div style="text-align:left;">每月&nbsp;<span style="color:#00aaff;font-weight:900;">{{payMentDay}}</span>&nbsp;日繳款，請留意以下帳戶餘額</div>
                                      <div class="txt-small">{{this.sordBankName}} {{this.sordAcc}}</div>
                                  </div>
                              </li>
                          </ol>
                      </div>
                  </div>
              </div>
              <div *ngIf="this.currentUrl === '/n/contentrpl' ">
                  <div class="lower-panel-content">
                      <ol class="art-list">
                          <li>收到額度成功啟用簡訊，隨時可動用</li>
                          <li>透過簡訊連結，即可動用資金</li>
                          <li>
                              <span>更多動用與還款方式請</span>
                              <a href="https://nb.kgibank.com/KgiChgPdRst/rpl/check.do" target="_blank" class="txt-underline">點此</a>
                          </li>
                      </ol>
                  </div>
              </div>
<!--            <img src="assets/image/icon/41-success.png" *ngIf="showGreenCheck" alt="">-->
            <img src="assets/image/icon/31-approve.png" *ngIf="!showGreenCheck" alt="">
<!--            <div class="mt-4">-->
<!--              <h4 style="width: auto;">{{title}}</h4>-->
<!--            </div>-->
          </div>

<!--          <div class="kgi-panel-group col-12 col-md-9 mx-auto text-center sec-box">-->
<!--              <div>-->
<!--                <span>本契約將於次一營業日寄送至您提供的電子信箱</span><br/>-->
<!--              </div>-->
<!--          </div>-->

<!--          <hr>-->

<!--          <div class="form-group text-center thr-box">-->
<!--            <span>如有任何問題，請點選右上方客服電話，由專人為您說明</span>-->
<!--          </div>-->

        </div>

      </div>
    </div><!-- end of container -->

    <!-- 按鈕區Start -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="isAllFinish()">完成</button>
      <button type="button" class="btn btn-kgi-primary" (click)="continueToNext()" *ngIf="showNext" >繼續簽署下一份契約</button>
    </div>
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="isAllFinish()">完成</button>
        <button type="button" class="btn btn-kgi-primary col" (click)="continueToNext()" *ngIf="showNext" >繼續簽署下一份契約</button>
      </div>
    </div>
    <!-- 按鈕區End -->

  </form>
  <!-- 新戶OTP End -->
</section>
