<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form action="SGN/identify">
                    <div class="panel fixed-panel fixed-panel-short">
                        <div class="upper-panel">
                            <i class="icon-check-sharp"></i>
                            <h1>簽約完成，最快當天撥款</h1>
                        </div>
                        <div class="lower-panel">
                            <div class="lower-panel-header">
                                <div class="txt-large">何時撥款與繳款？</div>
                                <img class="art-image" src="assets/inc/default/img/art-money.svg" alt="Art Image" />
                            </div>
                            <div class="lower-panel-content">
                                <ol class="art-list">
                                    <li>收到額度成功啟用簡訊，隨時可動用</li>
                                    <li>透過簡訊連結，即可動用資金</li>
                                    <li>
                                        <div>
                                            <span>更多動用與還款方式請</span>
                                            <a href="https://www.kgibank.com/T03/T0304/T0304_0006.html" target="_blank"
                                                class="txt-underline">點此</a>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="btn-area btn-center">
                        <a [routerLink]="['/apply/start']" class="txt-link">繼續簽署其他合約</a>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>