<div>
  <div class="container text-center mt-2 d-none d-md-block">
    <button
      type="button"
      class="btn btn-kgi-secondary color-kgi-gray"
      [hidden]="secondaryButtonHidden"
      [disabled]="secondaryButtonisDisabled()"
      (click)="secondaryButtonClick.emit()"
    >
      {{ secondaryButtonText }}
    </button>
    <button
      type="button"
      class="btn btn-kgi-primary"
      [disabled]="primaryButtonisDisabled()"
      (click)="primaryButtonClick.emit()"
    >
      {{ primaryButtonText }}
    </button>
  </div>
  <div class="container sticky-bottom d-md-none mt-2">
    <div class="row no-margin">
      <button
        type="button"
        class="btn btn-kgi-secondary color-kgi-gray col"
        [hidden]="secondaryButtonHidden"
        [disabled]="secondaryButtonisDisabled()"
        (click)="secondaryButtonClick.emit()"
      >
        {{ secondaryButtonText }}
      </button>
      <button
        type="button"
        class="btn btn-kgi-primary col"
        [disabled]="primaryButtonisDisabled()"
        (click)="primaryButtonClick.emit()"
      >
        {{ primaryButtonText }}
      </button>
    </div>
  </div>
</div>
