

.bg-primary {
  background-color: #007bff !important;
}

.date-box {
  padding: 0;
  input {
    background-color: #fff;
  }
}

.height-40 {
  height: 40px;
  overflow: hidden;
}

// 欄位驗證的設定
.errBox {
  padding: 0;
}
span.errMsg {
  color: red;
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

// 下方連結區
.link-box {
  word-break: break-all;
  font-size:0.9rem;
  padding:0;
  text-align: justify;
  a {
    text-decoration:underline;
  }
}

.pageTitle{
	font-size: 1.8rem;
    font-weight: 900;
    padding: 0px 0px 24px 0px !important;
}

@media only screen and (max-width: 600px) {
  .pageTitle{
	font-size: 1.8rem;
    font-weight: 900;
    padding: 0px 0px 24px 0px !important;
  }
}

.w-100 .col-form-label{
	display:none;
}
