<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <!-- Step1身分認證 -->
  <form class="main-form" [formGroup]="initForm">
    <div class="container">
      <div class="row no-margin kgi-box-001">
	  <div class="pageTitle">您的貸款已核准，<br/>請登入查看核貸內容</div>
        <div class="col-12">
			
          <!-- 身分證字號 Start -->
          <div class="form-group row">
            <label class="col-12 col-form-label  text-left">身分證字號</label>
            <div class="col-12">
              <div class="row">
                <input
                  type="text"
                  class="form-control"
                  formControlName="userid"
                  id="userid"
                  placeholder="請輸入(含英文字母10碼)"
                  (keyup)="upperCase($event)"
                  autocomplete="off"
                  maxlength="10"
                  required>
                <div class="col-12 errBox" *ngIf="initForm.controls['userid'].invalid && initForm.controls['userid'].touched">
                  <span class="errMsg pull-right" *ngIf="initForm.controls['userid'].errors.required">請輸入資料</span>
                  <span class="errMsg pull-right" *ngIf="initForm.controls['userid'].errors.wrongAns">格式錯誤</span>
                </div>
              </div>
            </div>
          </div>
          <!-- 身分證字號 End -->

          <!-- 生日 Start -->
          <div class="form-group row">
            <label class="col-12  col-form-label  text-left">生日 YYYY/MM/DD</label>
			<div class="col-12">
				<div class="row">
				  <input   class="form-control" formControlName="birthday" type="tel" maxlength="10" name="date" [cleave]="cleave.Date"
						 onkeyup="
							 var v = this.value;
							 if (v.match(/^\d{4}$/) !== null) {
								 this.value = v + '/';
							 } else if (v.match(/^\d{4}\/\d{2}$/) !== null) {
								 this.value = v + '/';
							 }"
						 placeholder="請輸入YYYY/MM/DD" required/>
				  <span class="errMsg pull-right" *ngIf="errorMessage('birthday') && !errorMessage('birthday', 'underAge20') && !errorMessage('birthday', 'overAge65')">不符合要求的格式</span>
				  <span class="errMsg pull-right" *ngIf="errorMessage('birthday', 'underAge20')">線上開戶僅限本國年滿20歲的自然人，若您有開戶需求，請洽各分行辦理。</span>
				  <span class="errMsg pull-right" *ngIf="errorMessage('birthday', 'overAge65')">不可大於65歲</span>
				</div>
			</div>
          </div>
          <!-- 生日 End -->

          <!-- 生日 Start -->
          <!-- <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-md-right text-left">rolldate生日</label>
            <div class="col-12 col-md-9 input-group date-box"> -->
              <!-- <input readonly="" class="form-control" type="text" id="date-group1-2" placeholder="YYYY-MM-DD"> -->
              <!-- <app-rolldate></app-rolldate>
            </div>
          </div> -->
          <!-- 生日 End -->

          <!-- 我已閱讀並同意下列條款及告知事項 -->
          <div class="form-group row">
            <label class="col-12 col-form-label"></label>
            <div class="col-12 squaredFour" style="padding:0 0 5px 25px;">
              <input id="agreement" formControlName="agreement" type="checkbox">
              <label for="agreement" class="no-margin">我已閱讀並同意下列條款及告知事項</label>
            </div>

            <!-- 下方連結區 -->
            <label class="d-none col-form-label"></label>
            <div class=" col-12 link-box">
              <div class="text-primary" style="padding-left:25px">為維護您的權益，請詳閱
<!--              <a class="text-primary cursor-pointer" (click)="showTerms('EOPPersonalDataUsing')">個人資料運用告知聲明使用者條款及約定</a>、-->
<!--              <a class="text-primary cursor-pointer" (click)="showTerms('EOPRateFee')">利率費用告知事項</a>、-->
<!--              <a class="text-primary cursor-pointer" (click)="showTerms('EOPNoAgency')">非代辦宣告</a>-->
                <div class="d-inline" *ngFor="let item of termsLink;let  i = index">
                  <a  class="text-primary cursor-pointer" (click)="showTerms(item.termName)">{{ item.termTitle }}</a><span *ngIf="i < termsLink.length-1">、</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" style="margin-bottom:0px;">

            <div class="w-100">
              <app-term *ngFor="let item of termsDiv" [termTitle]="item.termTitle" [termName]="item.termName"></app-term>
            </div>
          </div>

        </div>
      </div>
      </div>

    <div class="container text-center mt-2 d-none d-md-block">
      <button
        name="btnsubmit"
        type="button"
        class="btn btn-kgi-primary"
        (click)="sendAgree()"
        [disabled]="isAgreeDisabled()">
        請確認同意相關條款後繼續
      </button>
    </div>
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button
          name="btnsubmit"
          type="button"
          class="btn btn-kgi-primary col"
          (click)="sendAgree()"
          [disabled]="isAgreeDisabled()">
          請確認同意相關條款後繼續
        </button>
      </div>
    </div>
  </form>
</section>
