//.SpiritAI{
//	display: none;
//    position: absolute;
//    left: 0px;
//    top: 57px;
//    width: calc(100vw - 0px);
//    height: calc(100vh - 57px);
//    xborder: 1px solid red;
//    text-align: center;
//    xbackground-color: #555;
//    opacity: 100%;
//    z-index: 98;
//}
//
//.SpiritAI .talk-bubble{
//    position: absolute;
//    border-radius: 5px;
//    background-color: #fff;
//    //left: 50%;
//    //top: 10px;
//    display: block;
//    //height: calc(100% - 20px);
//    //width: calc(50% - 20px);
//    z-index: 99;
//    opacity: 100%;
//    //margin-left: 10px;
//
//}
//
//.SpiritAI .shadow {
//  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
//  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
//  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
//    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//}
//
//.talk-triangle-base{
//    position: absolute;
//    border: 0px solid #f00;
//	display:block;
//    width:25px; height:25px;
//	background-color:#fff;
//    left: 45px;
//    top: 45px;
//    z-index: 90;
//    xmargin-top: -18px;
//    xmargin-left: -408px;
//    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//	transform: rotate(45deg);
//	display:none;
//}
//
//.talk-triangle-top{
//    position: absolute;
//    border: 0px solid #f00;
//	display:block;
//    width:25px; height:25px;
//	background-color:#fff;
//    left: 45px;
//    top: 45px;
//    z-index: 100;
//    xmargin-top: -18px;
//    xmargin-left: -408px;
//	transform: rotate(45deg);
//	display:none;
//}
//
//
//
//.SpiritAI .goodlook{
//	xbackground-color: #e9eaee;
//	xbackground-color: #fff;
//    //border: 2px solid #ffffff;
//    xpadding: 44px 40px 20px 40px;
//    text-align: center;
//    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
//}


.help-tip-alert{
	background-color:#0066cc;
	padding: 8px;
	position: absolute;
	left: 0px;
	top: 60px;
	width:180px;
	xheight:40px;
	border-radius: 10px;
	z-index:50;
}

.help-tip-alert .text{
	font-size: 1.0rem;
	color:#fff;
}

.help-tip-alert .arrow{
	position: absolute;
	width: 0;
	height: 0;
	top: -12px;
	left: calc(50% - 8px);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #0066cc;
}


@media screen and (max-width: 1000px) {
  .help-tip-alert {
    left: calc(0% - 96px);
  }
  .help-tip-alert .arrow{
	left: calc(100% - 80px);
  }
}
