<header id="header">
    <div class="header-wrapper">
        <div class="columns flex-justifybetween flex-aligncenter">
            <div class="column-item">
                <a [routerLink]="['/home']" class="header-logo" (click)="closeChatBot();"> 凱基線上申辦</a>
            </div>
            <div class="column-item" style="position:relative;">
                <!-- <a title="開啟智能客服" class="header-text" href="https://www.kgieworld.com.tw/webchat/WebChatLogin.aspx"
                    target="_blank">智能客服</a>
                <a title="撥打客服專線" class="header-phone" href="tel:+886-2-80239088">客服專線 02-80239088</a> -->
                
<div class="help-tip-alert" id="help-tip-alert" style="display:none;">
	<div class="arrow"></div>
	<div class="text">點這裡可以向我諮詢喔!</div>
</div>
                <a [title]="chatbotUrl" id="chatBotIcon" class="header-text"
                   (click)="showChatBot();alterChatBotUrl();">智能客服
					   
				   </a>
                <a title="撥打客服專線" class="header-phone" href="javascript:;"
                   (click)="showDialog('#dialogContactMethod'); closeChatBot()">聯絡客服</a>
                <div id="talk-triangle-base" class="talk-triangle-base " style="position:absolute;"></div>
                <div id="talk-triangle-top" class="talk-triangle-top " style="position:absolute;"></div>
            </div>
        </div>

        <div class="SpiritAI" id="SpiritAI" style="">
            <div class="talk-bubble goodlook" style="">
                <div class="talk-topbanner" style="position:absolute; overflow:hidden;">

                    <div class="waveWrapper waveAnimation">
                        <div class="waveWrapperInner bgTop">
                            <div class="wave waveTop" style="background-image: url('assets/inc/default/img/wave-top.png')"></div>
                        </div>
                        <div class="waveWrapperInner bgMiddle">
                            <div class="wave waveMiddle" style="background-image: url('assets/inc/default/img/wave-mid.png')"></div>
                        </div>
                        <div class="waveWrapperInner bgBottom">
                            <div class="wave waveBottom" style="background-image: url('assets/inc/default/img/wave-bot.png')"></div>
                        </div>
                    </div>


                </div>
                <div class="talk-close" (click)="showChatBot()"></div>
                <div class="wellcomeText">您好，我是鯨寶</div>
                <div class="bigIcon"></div>
                <iframe *ngIf="chatbotUrl$ | async" name="chatbotIframe" id="chatbotIframe" class="talk-Content" [src]="chatbotUrl$ | async"></iframe>
            </div>
            <div class="bg"></div>
        </div>
    </div>


    <div class="dialog" id="dialogContactMethod">
        <div class="dialog-header">
            <i class="close-icon dialog-close" (click)="closeDialog()"></i>
            <div class="dialog-title"></div>
        </div>
        <div class="btn-area" style="margin-bottom:2px;">
            <button type="button" class="btn-submit dialog-close amazingWidth" (click)="routerlink()">專人與我聯絡</button>
        </div>
        <div class="dialog-content" style="text-align:center;">
            填寫線上表單，將有專人聯繫您
        </div>
        <div class="btn-area" style="margin-bottom:2px;">
            <button type="button" class="btn-submit dialog-close amazingWidth">
                <a href="tel:+886-2-80239088">
                    直撥客服中心
                </a>
            </button>
        </div>
        <div class="dialog-content" style="text-align:center;">
            電話直撥 02-80239088
        </div>
        <div class="dialog-content" style="text-align:center;">
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="dialog" id="dialogCommon">
        <div class="dialog-header">
            <i class="close-icon dialog-close" (click)="closeDialog()"></i>
        </div>
        <div class="dialog-content dialogCommon-text">
            <!-- 內容開始 -->
            <p class="dialogCommon-msg" style="margin:10px;">提示訊息</p>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close" (click)="closeDialog()">我知道了</button>
        </div>
    </div>
</header>
