<div id="footer" class="containre-fluid d-none d-md-block">
  <div class="row">
    <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center text-sm-right text-md-right">www.kgibank.com</div>
    <div class="col-12 col-sm-7 col-md-7 col-lg-7 text-center text-sm-left text-md-left">(c) 凱基商業銀行股份有限公司版權所有</div>
  </div>
</div>
