<section class="apply">
<!-- alen 20200617 test -->
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End -->

  <form class="main-form" [formGroup]="dataForm">
    <div class="container">
      <!-- Step1 款項資訊Start -->
      <div class="row no-margin kgi-box-001">

        <!-- Step2 撥款Start -->
        <div class="col-12">
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">撥款資訊</label>

            <!-- Begin 撥款至本行帳號/撥款至他行帳號 -->
            <div class="col-12 col-md-9" *ngIf="dataForm.controls['hasPayBankOption'].value">
              <div class="row">
                <div class="col-12 p-0">
                  <select class="browser-default custom-select" formControlName="selectedOption" 
                  (ngModelChange)="selectPayBank()">
                    <option value="" selected>請選擇</option>
                    <option *ngFor="let k of kgiBankList" [ngValue]="k">撥款至本行帳號 {{k.kgiAcctName}} {{k.kgiAcctNo}}</option>
                    <option value="1">撥款至他行帳號</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End 撥款至本行帳號/撥款至他行帳號 -->

          </div>
          <hr>
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">銀行別</label>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col-12 p-0">
                  <select class="form-control custom-select" formControlName="bankId" id="bankId" [ngClass]="formCheckService.validClass(dataForm, 'bankId')" (ngModelChange)="changePayDate()">
                    <option value="">請選擇</option>
                    <option [value]="item.dataKey" *ngFor="let item of pcode2566BankList">{{item.dataName}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">分行代號</label>
            <div class="col-12 col-md-9">
              <div class="row">
                  <input
                    type="text" class="number form-control add-clear-btn" id="branchId"
                    placeholder="" maxlength="4"
                    formControlName="branchId"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validClass(dataForm, 'branchId')"
                    autocomplete="off" />
              </div>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">帳號</label>
            <div class="col-12 col-md-9">
              <div class="row">
                  <input
                    type="tel" class="number form-control add-clear-btn" id="accountnum"
                    placeholder="請輸入" maxlength="16"
                    formControlName="account"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validClass(dataForm, 'account')"
                    autocomplete="off" />
              </div>
            </div>
          </div>

          <!-- Step5 電話號碼Start -->
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">手機號碼</label>
            <div class="col-12 col-md-9">
              <div class="row">
                 <input
                   type="tel" class="number mobile form-control add-clear-btn"
                   id="otherbankphoneNumber" maxlength="10"
                   formControlName="phone"
                   KeydownRegexp="num"
                   (keyup) = "clearErrorMsg()"
                   (focusout) = "validatePhone()"
                   [ngClass]="formCheckService.validClass(dataForm, 'phone')"
                   placeholder="請輸入"
                   autocomplete="off"/>
                   <label class="col-12  text-right">
                    將用此手機發送簡訊驗證碼
                  </label>
                 <div class="col-12 errBox"
                      *ngIf="dataForm.controls['phone'].invalid && dataForm.controls['phone'].touched">
                      <span class="errMsg pull-right" *ngIf="dataForm.controls['phone'].invalid">{{errorMsgPhone}}</span>
                 </div>
              </div>
            </div>
          </div>
          <!-- Step5 電話號碼End -->
        </div>
        <!-- Step2 撥款End -->

        <!-- Step3 繳款Start -->
        <div class="col-12">
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">繳款資訊</label>

            <!-- Begin 使用本行帳號繳款/使用他行帳號繳款 -->
            <div class="col-12 col-md-9" *ngIf="dataForm.controls['hasSordBankOption'].value">
              <div class="row">
                <div class="col-12 p-0">
                  <select class="browser-default custom-select" formControlName="selectedEddaOption" 
                  (ngModelChange)="selectSordBank()">
                    <option value="" selected>請選擇</option>
                    <option *ngFor="let k of kgiBankList" [ngValue]="k">使用本行帳號繳款 {{k.kgiAcctName}} {{k.kgiAcctNo}}</option>
                    <option value="1">使用他行帳號繳款</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End 使用本行帳號繳款/使用他行帳號繳款 -->

          </div>
          <hr>
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">銀行別</label>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col-12 p-0">
                  <select class="form-control custom-select" formControlName="eddaBankId" id="bankPay" [ngClass]="formCheckService.validClass(dataForm, 'eddaBankId')">
                    <option value="">請選擇</option>
                    <option [value]="item.dataKey" *ngFor="let item of eddaBankList">{{item.dataName}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">帳號</label>
            <div class="col-12 col-md-9">
              <div class="row">
                  <input
                    type="tel" class="number form-control add-clear-btn" id="accountnumPay"
                    placeholder="請輸入" maxlength="16"
                    formControlName="eddaAccountNo"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validClass(dataForm, 'eddaAccountNo')"
                    autocomplete="off">
              </div>
            </div>
          </div>
        </div>
        <!-- Step3 繳款End -->
        <!-- Step4 繳款日Start -->
        <div class="col-12">
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-left">繳款日</label>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col-12 p-0">
                    <select class="form-control custom-select" formControlName="payMentDay" id="payMentDay" [ngClass]="formCheckService.validClass(dataForm, 'payMentDay')">
                    <option *ngFor="let c of payDayOptions" [value]="c">{{c}}</option>
                    </select>
                </div>
              </div>
                  <!-- <input
                    class="form-control"
                    placeholder="請選擇日期"
                    formControlName="payMentDay"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    [placement]="'bottom-left'"
                    (click)="d.toggle()"
                    [ngClass]="formCheckService.validClass(dataForm, 'payMentDay')"
                    readonly
                    required
                  />
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
                  </div> -->
                  <!-- <div class="col-12 errBox" *ngIf="dataForm.controls['payMentDay'].invalid && dataForm.controls['payMentDay'].touched">
                      <span class="errMsg pull-right" *ngIf="dataForm.controls['payMentDay'].errors.required">請選擇日期</span>
                  </div> -->
            </div>
          </div>
        </div>  
        <!-- Step4 繳款日End -->
      </div>
      <!-- Step 款項資訊End -->
    </div>
    <!-- 按鈕區 Start -->
    <!-- 大版 -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="backStep()">上一步</button>
      <button type="button" class="btn btn-kgi-primary" (click)="nextStep()"
      [disabled]="isNextDisabled()">下一步</button>
    </div>
    <!-- 小版 -->
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="backStep()">上一步</button>
        <button type="button" class="btn btn-kgi-primary col" (click)="nextStep()"
        [disabled]="isNextDisabled()">下一步</button>
      </div>
    </div>
    <!-- 按鈕區 End -->
  </form>
</section>
