<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/identify']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>
                    <div class="title-area">
                        <h1>確認資料</h1>
                        <div class="title-info">如有錯誤，請點擊欄位修改。</div>
                    </div>
                    <h2>基本資料</h2>
                    <div class="panel mobile-full-panel">
                        <table class="wide-table" width="100%">
                            <tr title="點選並修改此內容" tabindex="0" data-index=0>
                                <th class="border0" width="100">姓名</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('customer_name')">
                                    {{ data.customer_name || '請填寫'}}</td>
                                <td width="24">
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=1>
                                <th class="border0">電子信箱</th>
                                <td class="txt-ellipsis txt-b" *ngIf="data" [ngClass]="classname('email_address')">
                                    {{ data.email_address ||'請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <!-- <tr title="點選並修改此內容" tabindex="0" data-index=2>
                                <th class="border0">生日</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('birthday')">
                                    {{ (birthday ? (birthday | date : "yyyy年MM月dd日") : '') ||'請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr> -->
                            <tr title="點選並修改此內容" tabindex="0" data-index=3>
                                <th class="border0">居住地址</th>
                                <td class="txt-b "
                                    *ngIf="data" [ngClass]="classname('counties') || classname('township')||classname('address')">
                                    {{(data.counties+data.township+data.address)|| '請填寫'}}
                                </td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=4>
                                <th class="border0">住家市話</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('homePhone')">
                                    {{data.homePhone || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=15>
                                <th class="border0">戶籍市話</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('domicilePhone')">
                                    {{data.domicilePhone || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <h2>工作資料</h2>
                    <div class="panel mobile-full-panel">
                        <table class="wide-table" width="100%">
                            <tr title="點選並修改此內容" tabindex="0" data-index=5>
                                <th class="border0" width="100">{{ lblCompanyName }}</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('corp_name')">
                                    {{ data.corp_name || '請填寫'}}</td>
                                <td width="30">
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=6>
                                <th class="border0">行業類別</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('Occupation')">
                                    {{ getOption('occupationOptions', data.Occupation) || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=7>
                                <th class="border0">職稱</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('title')">
                                    {{ data.title || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=8>
                                <th class="border0">{{ lblJobStartTime }}</th>
                                <td class="txt-b "
                                    *ngIf="data" [ngClass]="classname('year') || classname('month')">
                                    {{(data.year && data.month ? data.year+'年'+data.month +'月':'') || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=9>
                                <th class="border0">公司地址</th>
                                <td class="txt-b "
                                    *ngIf="data" [ngClass]="classname('companyCounties')||classname('companyTownship')||classname('companyAddress')">
                                    {{ (data.companyCounties+data.companyTownship+data.companyAddress) || '請填寫'}}
                                </td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=10>
                                <th class="border0">公司電話</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('companyPhone')">
                                    {{ (data.companyPhone ? data.companyPhone + (data.corp_tel_exten ? '#' + data.corp_tel_exten : '') : '') || '請填寫'}}
                                </td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <h2>其他</h2>
                    <div class="panel mobile-full-panel">
                        <table class="wide-table" width="100%">
                            <tr title="點選並修改此內容" tabindex="0" data-index=11>
                                <th class="border0" width="100">學歷</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('education')">
                                    {{ getOption('educationOptions', data.education) || '請填寫'}}</td>
                                <td width="30">
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=12>
                                <th class="border0">年收入</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('yearly_income')">
                                    {{ (data.yearly_income+'萬') || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=13>
                                <th class="border0">婚姻狀況</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('marriage')">
                                    {{ getOption('marriageOptions', data.marriage) || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                            <tr title="點選並修改此內容" tabindex="0" data-index=14>
                                <th class="border0">不動產狀態</th>
                                <td class="txt-b " *ngIf="data" [ngClass]="classname('estate_type')">
                                    {{ getOption('estateOptions', data.estate_type) || '請填寫'}}</td>
                                <td>
                                    <i class="more-icon"></i>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <dl>

                        <dt class="form-item">
                            <input type="checkbox" id="ch1" required [(ngModel)]="ch1" name="ch1" />
                            <label for="ch1">
                                <div class="check-widget"></div>
                                <span  style="color:#e90c5b; font-weight:900;">我已閱讀並同意貴行查詢聯徵信用資訊</span>
                            </label>
                        </dt>
                        <dd class="info-area txt-gray">
                            <span style="color:#e90c5b; font-weight:900;">申請人同意貴行、財團法人金融聯合徵信中心、財團法人聯合信用卡處理中心、財團法人中小企業信用保證基金、財金資訊股份有限公司、台灣票據交換所及其他經金融監督管…</span>
                            <span class="txt-link" style="color:#e90c5b; font-weight:900;" tabindex="0" (click)="showTerms('#dialog100',terms[1])">更多</span>
                        </dd>
                    </dl>


                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid || !ch1"
                            (click)="onSubmit()">確認送出申請書</button>
                    </div>

                    <!--<div class="demolink">
                        <a [routerLink]="['/apply/confirm']">非既有戶(PL/RPL)</a>
                        <a [routerLink]="['/apply/confirm.old']" style="margin-left: 5px;">既有戶</a>
                    </div>-->
                </form>
            </div>

        </section>
        <aside id="side" class="fixed-side">
            <img src="assets/inc/default/img/visual-check.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
    <!-- ========================================================================================================= -->
    <div class="dialog dialog-small" id="dialog0">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label for="customer_name">姓名</label>
                    <input formControlName="customer_name" type="text" placeholder="請輸入姓名" />
                    <div class=" error-text" *ngIf="errorMessage('customer_name', 'required')">填寫此欄位 </div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog1">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>電子信箱</label>
                    <input formControlName="email_address" type="email_address" placeholder="請輸入電子信箱" />
                    <div class=" error-text" *ngIf="errorMessage('email_address', 'required')"> 填寫此欄位 </div>
                    <div class=" error-text" *ngIf="errorMessage('email_address', 'pattern')"> 輸入電子郵件地址 </div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <!-- <div class="dialog dialog-small" id="dialog2">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>生日</label>
                    <input formControlName="birthday" type="tel" maxlength="10" [cleave]="cleave.Date"
                        placeholder="請輸入YYYY/MM/DD" />
                    <div class=" error-text" *ngIf="errorMessage('birthday', 'required')">填寫此欄位 </div>
                    <div class="error-text" *ngIf="errorMessage('birthday', 'pattern')">不符合要求的格式</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div> -->

    <div class="dialog dialog-small" id="dialog3">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>居住地址</label>
                    <div class="columns">
                        <div class="column-item flexbasis-50">
                            <select formControlName="counties" required
                                (change)="makeDistrict($event.target.value)" id="counties">
                                <option value="" hidden>縣市</option>
                                <optgroup *ngFor='let option of options' label="{{option.counties}}">
                                    <option *ngFor='let item of option.items' [value]="item.dataKey">
                                        {{item.dataName}}
                                    </option>
                                </optgroup>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('counties')">選取列表中的項目 </div>
                        </div>
                        <div class="column-item">
                            <select formControlName="township" id="district" required>
                                <option *ngFor='let item of cityOption' [value]="item.dataKey?item.dataName:''">
                                    {{item.dataName}}
                                </option>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('township')">選取列表中的項目</div>
                        </div>
                    </div>
                    <input formControlName="address" type="text" placeholder="請輸入地址" />
                    <div class="error-text" *ngIf="errorMessage('address')">填寫此欄位</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog4">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>住家市話</label>
                    <input formControlName="homePhone" id="homePhone" #homePhone type="tel" (blur)="telValidate($event.target)" (change)="sameTel($event.target.value)"
                        maxlength="11" placeholder="區碼-住家市話號碼" />
                    <div class="error-text" *ngIf="errorMessage('homePhone')">請填市話號碼或手機</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog15">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>戶籍市話</label>
                    <input formControlName="domicilePhone" id="domicilePhone" #domicilePhone type="tel" (blur)="telValidate($event.target)" (change)="sameTel($event.target.value)"
                        maxlength="11" placeholder="區碼-戶籍市話號碼" />
                    <div class="error-text" *ngIf="errorMessage('domicilePhone')">請填市話號碼或手機</div>
                    <div class="checkbox">
                        <input formControlName="ch2" type="checkbox" id="ch2" (change)="sameTel()" />
                        <label for="ch2" title="自動代入住家市話號碼">
                            <div class="check-widget"></div>
                            <span>同住家</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog5">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>公司名稱</label>
                    <input formControlName="corp_name" type="text" placeholder="請輸入公司名稱" />
                    <div class="error-text" *ngIf="errorMessage('corp_name')">填寫此欄位</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog6">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>行業類別</label>
                    <select formControlName="Occupation" required title="">
                        <option *ngFor='let item of occupationOptions' [value]="item.dataKey">{{item.dataName}}
                        </option>
                    </select>
                    <div class="error-text" *ngIf="errorMessage('Occupation')">選取列表中的項目</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog7">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>職稱</label>
                    <input formControlName="title" type="text" placeholder="請輸入職稱"/>
                    <div class="error-text" *ngIf="errorMessage('title')">填寫此欄位</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog8">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>到職年月</label>
                    <div class="columns">
                        <div class="column-item flexbasis-50">
                            <select formControlName="year" required title="">
                                <option *ngFor='let item of yearOption' [value]="item.key">{{item.value}}
                                </option>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('year') && !errorMessage('year', 'overMonth')">選取列表中的項目</div>
                            <div class="error-text" *ngIf="errorMessage('year', 'overMonth')">不可大於當月</div>
                        </div>
                        <div class="column-item">
                            <select formControlName="month" required title="">
                                <option *ngFor='let item of monthOption' [value]="item.key">{{item.value}}
                                </option>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('month') && !errorMessage('month', 'overMonth')">選取列表中的項目</div>
                            <div class="error-text" *ngIf="errorMessage('month', 'overMonth')">不可大於當月</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog9">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>公司地址</label>
                    <div class="columns">
                        <div class="column-item flexbasis-50">
                            <select formControlName="companyCounties" required
                                (change)="makeDistrictCompany($event.target.value)" id="companyCounties"
                                title="">
                                <optgroup *ngFor='let option of options' label="{{option.counties}}">
                                    <option *ngFor='let item of option.items' [value]="item.dataKey">{{item.dataName}}
                                    </option>
                                </optgroup>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('companyCounties')">選取列表中的項目</div>
                        </div>
                        <div class="column-item">
                            <select formControlName="companyTownship" required id="companyTownship">
                                <option *ngFor='let item of cityOption2' [value]="item.dataKey?item.dataName:''">
                                    {{item.dataName}}
                                </option>
                            </select>
                            <div class="error-text" *ngIf="errorMessage('companyTownship')">選取列表中的項目</div>
                        </div>
                    </div>
                    <input formControlName="companyAddress" type="text" required placeholder="請輸入地址" />
                    <div class="error-text" *ngIf="errorMessage('companyAddress')">填寫此欄位</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog10">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>公司電話</label>
                    <div class="columns">
                        <div class="column-item flexbasis-60">
                            <input formControlName="companyPhone" id="companyPhone" #companyPhone type="tel"
                                (blur)="telValidate($event.target)" maxlength="11" placeholder="區碼-公司市話號碼" />
                            <div class="error-text" *ngIf="errorMessage('companyPhone')">請填市話號碼</div>
                        </div>
                        <div class="column-item">
                            <input formControlName="corp_tel_exten" maxlength="8" type="tel" [cleave]="cleave.Number"
                                placeholder="分機（選填）" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog11">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>學歷</label>
                    <select formControlName="education" required title="">
                        <option *ngFor='let item of educationOptions' [value]="item.dataKey">{{item.dataName}}
                        </option>
                    </select>
                    <div class="error-text" *ngIf="errorMessage('education')">選取列表中的項目</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog12">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>年收入</label>
                    <div class="input-wrapper">
                        <input formControlName="yearly_income" type="tel" maxlength="5" [cleave]="cleave.Money" />
                        <div class="error-text" *ngIf="errorMessage('yearly_income') && !errorMessage('yearly_income', 'under25W')">填寫此欄位</div>
                        <div class="error-text" *ngIf="errorMessage('yearly_income', 'under25W')">不可少於25萬</div>
                        <div class="unit">萬</div>
                    </div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog13">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>婚姻狀況</label>
                    <select formControlName="marriage" required title="">
                        <option *ngFor='let item of marriageOptions' [value]="item.dataKey">{{item.dataName}}
                        </option>
                    </select>
                    <div class="error-text" *ngIf="errorMessage('marriage')">選取列表中的項目</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog dialog-small" id="dialog14">
        <form [formGroup]="applyForm" action="javascript:;">
            <div class="dialog-header">
                <i class="close-icon dialog-close"></i>
                <div class="dialog-title">修改資料</div>
            </div>
            <div class="dialog-content">
                <div class="form-item">
                    <label>不動產狀態</label>
                    <select formControlName="estate_type" required title="">
                        <option *ngFor='let item of estateOptions' [value]="item.dataKey">{{item.dataName}}
                        </option>
                    </select>
                    <div class="error-text" *ngIf="errorMessage('estate_type')">選取列表中的項目</div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-cancel dialog-close" (click)="confirm_cancel(false)">取消</button>
                <button type="button" class="btn-submit dialog-submit dialog-close"
                    (click)="confirm_cancel(true)">確認</button>
            </div>
        </form>
    </div>

    <div class="dialog" id="dialog100">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">{{dialogTitle}}</div>
        </div>
        <div class="dialog-content">
            <div [innerHTML]="dialogData | safe:'html'"></div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>

</div>