<div class="header-border-top">
</div>
<div class="help-tip-alert" id="help-tip-alert" style="display:none;">
	<div class="arrow"></div>
	<div class="text">點這裡可以向我諮詢喔!</div>
</div>	 
  <!--大版用-->
  <div class="header no-padding d-none d-md-block">
    <div class="container" style="position: relative; max-width: unset;">

    <div class="row no-margin">
      <div class="">
        <a class="navbar-menu navbar-menu-kgi hidden">
        </a>
      </div>
      <div class="col">
        <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
        </a>
      </div>
      <div class="">
        <div class="page-title">&nbsp;&nbsp;</div>
      </div>
      <div class=""> 
		    <a class="nav-link nav-link-kgi chatbot-whale" title="開啟智能客服" id="chatBotIcon" (click)="showChatBot();alterChatBotUrl();">智能客服</a>
      </div>		  
      <div class="">
        <a class="nav-link nav-link-kgi header-phone" (click)="showContactUsDialog();closeChatBot();">聯絡客服
        </a>
      </div>
    </div>

    </div>
  </div>

  <!--小版用-->
  <div class="header no-padding  d-block d-md-none">

    <div class="row no-margin">
      <div class="">
        <a class="navbar-menu navbar-menu-kgi hidden">
        </a>
      </div>
      <div class="">
        <a class="navbar-brand navbar-brand-kgi" href="http://172.31.1.117:8090/airloanEX/front/initPlContract" target='_blank'>
        </a>
      </div>
      <div class="">
        <div class="page-title">&nbsp;</div>
      </div>
      <div class="">
		    <a class="nav-link nav-link-kgi chatbot-whale-small" title="開啟智能客服" id="chatBotIcon" (click)="showChatBot();alterChatBotUrl();"></a>
      </div>		  
      <div class="">
        <a class="nav-link nav-link-kgi header-phone-small" (click)="showContactUsDialog();closeChatBot();" style=" padding-top:7px;" >
        </a>
      </div>

    </div>
  </div>



  <div class="bottom-line block-hidden"></div>

<div class="BGGray" id="BGGray"></div>


	<div class="SpiritAI" id="SpiritAI" style="">
		
		<div class="talk-bubble goodlook" style="">
			<div class="talk-topbanner" style="position:absolute; overflow:hidden;">
			
			<div class="waveWrapper waveAnimation">
			  <div class="waveWrapperInner bgTop">
				<div class="wave waveTop" ></div>
			  </div>
			  <div class="waveWrapperInner bgMiddle">
				<div class="wave waveMiddle" ></div>
			  </div>
			  <div class="waveWrapperInner bgBottom">
				<div class="wave waveBottom" ></div>
			  </div>
			</div>			
			
			
			</div>
			<div class="talk-close" (click)="showChatBot()"></div>
			<div class="wellcomeText" >您好，我是鯨寶</div>
			<div class="bigIcon" ></div>
			<iframe *ngIf="chatbotUrl$ | async" name="chatbotIframe" id="chatbotIframe" class="talk-Content" [src]="chatbotUrl$ | async"></iframe>
		</div>
		<div class="bg"></div>
	</div>

<div class="dialog p-4 pb-1" id="dialogContactMethod">
	<div class="dialog-header">
		<i class="close-icon dialog-close" (click)="closeContactUsDialog()"></i>
		<div class="dialog-title"></div>
	</div>
	<div class="btn-area"  style="margin-bottom:2px;">
		<button type="button" class="btn btn-kgi-primary col m-0"  onclick="location.href = '../../airloanEXHOME/front/SGN/client';">專人與我聯絡</button>
	</div>
	<div class="dialog-content" style="text-align:center;">
		填寫線上表單，將有專人聯繫您
	</div>
	<div class="btn-area"  style="margin-bottom:2px;">
		<button type="button" class="btn btn-kgi-primary col m-0 mt-3" onclick="location.href = 'tel:+886-2-80239088';">直撥客服中心</button>
	</div>
	<div class="dialog-content" style="text-align:center;">
		電話直撥 02-80239088
	</div>	
	<div class="d-none dialog-content" style="text-align:center;">
		<p>&nbsp;</p>
	</div>
</div>


