<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form  style="background-color:#ffffff; padding:16px;">
                    <div class="title-area">
                        <h1>進階試算</h1>
                    </div>

                    <div class="panel block-panel">
                        <table width="100%" class="wide-table">
                            <tr>
                                <th>貸款金額</th>
                                <td align="right" id="amount">{{creditLine}}萬</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="range-td">
                                    <div class="range-wrapper">
                                        <div class="range-fill"></div>
                                        <input [(ngModel)]="creditLine" name="creditLine" id="applyAmount" type="range"
                                            class="circle-range" max="600" min="10" step="10"
                                            (ngModelChange)="initRange()" />

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>貸款期間</th>
                                <td align="right" id="year">{{year}} 年</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="range-td">
                                    <div class="range-wrapper">
                                        <div class="range-fill"></div>
                                        <input [(ngModel)]="year" name="year" id="applyYear" type="range"
                                            class="circle-range" max="7" min="2" step="1"
                                            (ngModelChange)="initRange()" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>開辦費</th>
                                <td align=" right">最高 8,000 元
                                </td>
                            </tr>
                            <tr>
                                <th>月付金</th>
                                <td align="right">{{payValue}} 元</td>
                            </tr>
                            <tr>
                                <th>借款利率</th>
                                <td align="right">{{interestRate}} %</td>
                            </tr>
                        </table>
                    </div>

                    <div class="btn-area btn-hasinfo">
                        <a (click)="onSubmit()" class="btn-submit">立即申請</a>
                        <p>
                            <a class="txt-link" (click)="close()">返回試算結果</a>
                        </p>
                    </div>
                </form>

            </div>

        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>

</div>