<div class="container">
  <div class="row centered no-margin">
    <!--小版用-->
    <div class="d-none col-12  progress-step">
      <div class="step" [ngClass]="step === 1 ? 'step-current' : 'step-circle'">
        <span>1</span>
        <div class="tip-text">身分認證</div>
      </div>
      <div class="step step-line step-line-width-10">&nbsp;</div>
      <div class="step" [ngClass]="step === 2 ? 'step-current' : 'step-circle'">
        <span>2</span>
        <div class="tip-text">選擇產品</div>
      </div>
      <div class="step step-line step-line-width-10">&nbsp;</div>
      <div class="step" [ngClass]="step === 3 ? 'step-current' : 'step-circle'">
        <span>3</span>
        <div class="tip-text">填寫資料</div>
      </div>
      <div class="step step-line step-line-width-10">&nbsp;</div>
      <div class="step" [ngClass]="step === 4 ? 'step-current' : 'step-circle'">
        <span>4</span>
        <div class="tip-text">完成申請</div>
      </div>
    </div>
    <!--大版用-->
    <div class="d-none col-12  progress-step-large">
      <div class="step" [ngClass]="step === 1 ? 'step-current' : 'step-circle'">
        <span>1</span>
        <div class="tip-text">身分認證</div>
      </div>
      <div class="step step-line step-line-width-10">&nbsp;</div>
      <div class="step" [ngClass]="step === 2 ? 'step-current' : 'step-circle'">
        <span>2</span>
        <div class="tip-text">選擇產品</div>
      </div>
      <div class="step step-line step-line-width-10">&nbsp;</div>
      <div class="step" [ngClass]="step === 3 ? 'step-current' : 'step-circle'">
        <span>3</span>
        <div class="tip-text">填寫資料</div>
      </div>
      <div class="step step-line step-line-width-10">&nbsp;</div>
      <div class="step" [ngClass]="step === 4 ? 'step-current' : 'step-circle'">
        <span>4</span>
        <div class="tip-text">完成申請</div>
      </div>
    </div>
  </div>
</div>
