<!-- <div class="modal-header text-center border-0" ngbAutofocus>
  <h4 class="modal-title modal-title-underline px-5" id="modal-title">裁切圖片</h4>
  <button type="button" class="close" aria-label="關閉" (click)="activeModal.dismiss('cancel')">
  </button>
</div>
<div class="modal-body text-center">
  <form class="custom-form">
    <angular-cropper [hidden]="resultImage" *ngIf="dataImage" #cropper [cropperOptions]="config" (export)="exportEvent($event)"
      [imageUrl]="dataImage"></angular-cropper>
      <div class="form-group clearfix form-group-submit pt-4">
        <button class="btn btn-kgi-secondary color-kgi-gray ml-md-2" [hidden]="resultImage" (click)="rotate(-90)" type="button">向左旋轉</button>
        <button class="btn btn-kgi-secondary color-kgi-gray ml-md-2" [hidden]="resultImage" (click)="rotate(90)" type="button">向右旋轉</button>
      </div>
      <div>
        <img class="img-responsive mw-100" *ngIf="resultImage" [src]="resultImage" alt="預覽">
      </div>
    <div class="form-group clearfix form-group-submit pt-4" style="float:right;">
        <button class="btn btn-kgi-primary color-kgi-gray ml-md-2" [hidden]="!resultImage" (click)="reset()" type="button">重來</button>
        <button class="btn btn-kgi-primary color-kgi-gray ml-md-2" (click)="close();" type="button">取消</button>
        <button class="btn btn-kgi-primary ml-md-2" [hidden]="resultImage" (click)="crop()" type="button">裁切</button>
        <button class="btn btn-kgi-primary ml-md-2" [hidden]="!resultImage" (click)="sendResult()" type="button">確定</button>
    </div>
  </form>
</div> -->

<div class="modal-header">
  <h5 class="modal-title" id="messageModalTitle" style="display:none;">
    裁切圖片
  </h5>
  <button
    type="button"
    id="modalCloseButton"
    class="model-close-circle-btn"
    data-dismiss="modal"
    aria-label="Close"
    (click)="activeModal.dismiss('cancel')"
  >
    <span aria-hidden="true" class="hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <angular-cropper
    [hidden]="resultImage"
    *ngIf="dataImage"
    #cropper
    [cropperOptions]="config"
    (export)="exportEvent($event)"
    [imageUrl]="dataImage"
  ></angular-cropper>
  <div class="text-center clearfix form-group-submit" *ngIf="!resultImage">
<!--    <div class="btn-group mr-md-2 mr-0">-->
<!--      <button type="button" class="btn btn-kgi-primary" (click)="zoom(0.1)">-->
<!--        <span class="docs-tooltip">-->
<!--          <span class="fa fa-search-plus" ></span>-->
<!--        </span>-->
<!--      </button>-->
<!--      <button type="button" class="btn btn-kgi-primary" (click)="zoom(-0.1)" >-->
<!--        <span class="docs-tooltip">-->
<!--          <span class="fa fa-search-minus" ></span>-->
<!--        </span>-->
<!--      </button>-->
<!--    </div>-->

    <div class="btn-group">
      <button type="button" class="btn btn-kgi-primary" (click)="rotate(-90)">
        <span class="docs-tooltip">
          <span class="fa fa-undo" ></span>
        </span>
      </button>
      <button type="button" class="btn btn-kgi-primary" (click)="rotate(90)">
        <span class="docs-tooltip" data-toggle="tooltip">
          <span class="fa fa-repeat"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="text-center">
    <img
      class="img-responsive mw-100"
      *ngIf="resultImage"
      [src]="resultImage"
      alt="預覽"
    />
  </div>
</div>
<div class="modal-footer text-center" style="border-top:0px;">
  <button
    class="btn btn-kgi-primary color-kgi-gray ml-md-2"
    [hidden]="!resultImage"
    (click)="reset()"
    type="button"
  >
    重來
  </button>
  <!-- <button
    class="btn btn-kgi-primary color-kgi-gray ml-md-2"
    (click)="close()"
    type="button"
  >
    取消
  </button> -->
  <button
    class="btn btn-kgi-primary ml-md-2"
    [hidden]="resultImage"
    (click)="crop()"
    type="button"
  >
    裁切
  </button>
  <button
    class="btn btn-kgi-primary ml-md-2"
    [hidden]="!resultImage"
    (click)="sendResult()"
    type="button"
  >
    確定
  </button>
</div>
