<!-- 帳戶+信用卡填寫資料 Start -->
<div class="main-form">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <app-fill-data-step-bar
          [hidden]="hideStepBar"
          [stepbar]="stepbar"
        ></app-fill-data-step-bar>

        <!-- *********** Step4 ************ -->
        <form [formGroup]="dataForm" id="step4">


          <div class="form-group row">

            <div class="col-12 col-md-6 mx-auto">
<!--              <span-->
<!--                    style="display: block; width: 100%; text-align: center;">-->
<!--              -->

<!--              </span>-->
              <button type="button" (click)="upload.triggerUpload()" class=" btn btn-kgi-secondary bc-upload m-0">拍名片帶入資料</button>
              <app-upload
                class="d-none"
                #upload
                (docResult)="bcOcr($event)"
              ></app-upload>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >職業類別</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 p-0">
                  <select
                    class="form-control custom-select required2"
                    id="occupation"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'occupation')
                    "
                    formControlName="occupation"
                    required2
                  >
                    <option value="">請選擇</option>
                    <option
                      [value]="item.dataKey"
                      *ngFor="let item of occupationList"
                    >{{ item.dataName }}</option
                    >
                  </select>
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'occupation')
                    "
                    class="error border-danger"
                  >請選擇職業類別</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >公司名稱</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="text"
                  class="form-control col-12 add-clear-btn"
                  [ngClass]="formCheckService.validClass(dataForm, 'corpName')"
                  placeholder="請輸入完整公司名稱"
                  id="corpName"
                  formControlName="corpName"
                  maxlength="100"
                  autocomplete="off"
                  required
                />
                <label
                  *ngIf="formCheckService.checkIsInValid(dataForm, 'corpName')"
                  class="error border-danger"
                >{{corpNameErrorMessage}}</label
                >
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >公司電話</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-4 pl-0 pr-1">
                  <input
                    type="tel"
                    class="chkAreaCode number form-control"
                    KeydownRegexp="num"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'corpTelArea')
                    "
                    placeholder="區碼"
                    id="corpTelArea"
                    formControlName="corpTelArea"
                    maxlength="4"
                    autocomplete="off"
                    required
                  />
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'corpTelArea')
                    "
                    class="error border-danger"
                  >請輸入公司電話區碼</label
                  >
                </div>
                <div class="col-8 pl-1 pr-1">
                  <input
                    type="tel"
                    class="number form-control"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validCorpTel(dataForm)"
                    placeholder="請輸入"
                    id="corpTel"
                    formControlName="corpTel"
                    value=""
                    maxlength="8"
                    autocomplete="off"
                    required
                  />
                  <label
                    *ngIf="formCheckService.checkCorpTelIsInValid(dataForm)"
                    class="error border-danger">電話需為6-8位數字，且第一碼不為0
                  </label>
                  <label
                    *ngIf="formCheckService.checkCorpTelIsInValid(dataForm)&&formCheckService.checkIsInValid(dataForm, 'corpTel')"
                    class="error border-danger">電話需為6-8位數字
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="this.showCorpDetail">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >公司地址</label
            >
            <div class="col-12 col-md-8">
              <app-tw-zip-code
                #appZipCode
                [parentform]="dataForm.get('corpAddr')"
                [hiddenZipcode]="'true'"
              ></app-tw-zip-code>
            </div>
          </div>


          <div class="form-group row" *ngIf="this.showCorpDetail">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >到職日期</label
            >
            <div class="col-12 col-md-8 input-group date-box">
              <input
                class="form-control"
                placeholder="請選擇"
                [ngClass]="formCheckService.validClass(dataForm, 'onBoardDate')"
                formControlName="onBoardDate"
                ngbDatepicker
                #dp="ngbDatepicker"
                [minDate]="minDate"
                [maxDate]="maxDate"
                [placement]="'bottom-left'"
                (click)="dp.toggle()"
                readonly
                required
              />
              <label
                *ngIf="formCheckService.checkIsInValid(dataForm, 'onBoardDate')"
                class="error border-danger"
              >請選擇到職日期</label
              >
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary fa fa-calendar"
                  (click)="dp.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >職稱</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <select
                  class="form-control custom-select required2"
                  id="jobTitle"
                  [ngClass]="formCheckService.validClass(dataForm, 'jobTitle')"
                  formControlName="jobTitle"
                  required2
                >
                  <option value="">請選擇</option>
                  <option
                    [value]="item.dataKey"
                    *ngFor="let item of jobTitleList"
                  >{{ item.dataName }}</option
                  >
                </select>
                <label
                  *ngIf="formCheckService.checkIsInValid(dataForm, 'jobTitle')"
                  class="error border-danger"
                >請選擇職稱</label
                >
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >年收入</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-9 p-0">
                  <input
                    type="tel"
                    class="number form-control"
                    [ngClass]="
                      formCheckService.validClass(dataForm, 'yearlyIncome')
                    "
                    KeydownRegexp="num"
                    placeholder="請輸入"
                    id="yearlyIncome"
                    formControlName="yearlyIncome"
                    value=""
                    autocomplete="off"
                    maxlength="4"
                    required
                  />
                  <label
                    *ngIf="
                      formCheckService.checkIsInValid(dataForm, 'yearlyIncome')
                    "
                    class="error border-danger"
                  >請輸入年收入</label
                  >
                </div>
                <label class="col-3 col-form-label pl-2">萬元</label>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="isQualified()">
            <label class="col-12 col-md-3 col-form-label text-md-right text-left">是否領有全民健康保險重大傷病證明</label>
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-9 p-0">
                  <input type='radio' id='injuryCertificationY' class="radioHide" formControlName='injury'
                         autocomplete='off'
                         value='Y'>
                  <label class='btn no-margin kgi-style-radio' for="injuryCertificationY">是</label>
                  <input type='radio' id='injuryCertificationN' class="radioHide" formControlName='injury'
                         autocomplete='off'
                         value='N'>
                  <label class='btn no-margin kgi-style-radio' for="injuryCertificationN">否</label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isRecommanded()" class="form-group row">
            <div class="col col-md-9 offset-md-3 squaredFour" style="padding:0 0 5px 25px;">
              <input id="agreement" formControlName="agreement" type="checkbox">
              <label for="agreement" class="no-margin">我已閱讀並同意下列條款及告知事項</label>
            </div>
          </div>
          <div *ngIf="isRecommanded()" class="form-group row">
            <div class="  w-100">
              <app-term *ngFor="let item of terms" [termTitle]="item.termTitle" [termName]="item.termName"></app-term>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
  <!-- 按鈕區 -->
  <app-submit-button-group
    [hidden]="hideButton"
    primaryButtonText="下一步"
    [primaryButtonDisabledForm]="dataForm"
    (primaryButtonClick)="nextStep()"
    secondaryButtonText="上一步"
    (secondaryButtonClick)="prevStep()"
  >
  </app-submit-button-group>
</div>
