

.font-14 {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 900;
  padding-bottom: 5px;
}

.bg-primary {
  background-color: #007bff !important;
}

.date-box {
  padding: 0;
  input {
    background-color: #fff;
  }
}

.bc-upload{
  width: 100%;
  height: 38px;
  @media(max-width: 576px) {
    padding-left: 35px;
  }
  padding-left: 50px;
}
.bc-upload:before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../../../assets/image/cam-1.png");
  background-repeat: no-repeat;
  @media(max-width: 576px) {
    background-position: 12% center;
  }
  background-position: 17% center;
  background-size: 36px 28px;
}
