<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/UPL/step4']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>
                    <div class="title-area">
                        <h1>上傳財力證明</h1>
                        <div class="title-info">
                            <span>手邊沒有文件嗎？　您可以</span>
                            <a (click)='clickUploadLater()' class="txt-link">稍後補件上傳</a>
                        </div>
                    </div>

                    <div *ngFor="let item of imgArr; let i = index" [ngClass]="checkClass(item)">
                        <i class="icon-close " title="移除此圖" (click)="removeImage(i)"></i>
                        <img [src]="checkSrc(item)" alt="財力證明" width="100%" />
                        <div class="file-content">
                            <div class="file-title">上傳財力證明</div>
                            <label *ngIf="i == imgArr.length - 1" class="file-upload btn-hasicon ">
                                <input #img type="file" accept="image/*" (change)="fillImage($event.target)" />
                                <i class="icon-camera"></i>
                                <span>選擇檔案</span>
                            </label>
                            <div *ngIf="isShowRTMsg">露天賣家優先以收款紀錄作為財力，如有不足將通知提供其他收入資料。</div>
                        </div>
                    </div>

                    <!-- 選擇檔案後 -->
                    <div class="btn-area btn-hasinfo">
                        <button type="submit" class="btn-submit" (click)="onSubmit()">完成送出</button>
                        <p>什麼可以當財力文件？請瀏覽下方範例</p>
                    </div>

                    <!-- 選擇檔案前 -->
                    <div class="hidden-desktop beforeFilePicked" style="height: calc(100vh - 620px)"></div>

                    <div class="panel block-panel">
                        <p>
                            <strong>必要文件：</strong>
                            <span>請選擇以下</span>
                            <span class="txt-orange">至少1項</span>
                        </p>

                        <div class="tab-area">
                            <input type="radio" id="all" name="rd" checked (click)="filterSample($event.target)" />
                            <label class="tab-item" for="all">全部</label>
                            <input type="radio" id="ant" name="rd" (click)="filterSample($event.target)" />
                            <label class="tab-item" for="ant">上班族</label>
                            <input *ngIf="enterPoint === 'PL' " type="radio" id="boss" name="rd" (click)="filterSample($event.target)" />
                            <label *ngIf="enterPoint === 'PL' " class="tab-item" for="boss">老闆</label>
                            <input *ngIf="enterPoint === 'RPL' " type="radio" id="soho" name="rd" (click)="filterSample($event.target)" />
                            <label *ngIf="enterPoint === 'RPL' " class="tab-item" for="soho">自由業/SOHO族</label>
                        </div>

                        <div style="height: 24px"></div>

                        <table class="collapse-area wide-table" id="filterArea">

                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,ant">
                                <td>
                                    <div class="txt-blue txt-large">薪資單</div>
                                    <strong *ngIf="enterPoint === 'PL' " class="txt-darkgray txt-small">近 3 個月薪資單</strong>
                                    <strong *ngIf="enterPoint === 'RPL' " class="txt-darkgray txt-small">近 1 個月薪資單</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/salary1.png" alt="薪資單sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,ant,boss">
                                <td>
                                    <div class="txt-blue txt-large">薪轉存摺</div>
                                    <strong *ngIf="enterPoint === 'PL' " class="txt-darkgray txt-small">近 3 個月，現職公司薪轉存摺(含帳號封面及內頁)</strong>
                                    <strong *ngIf="enterPoint === 'RPL' " class="txt-darkgray txt-small">近 1 個月，現職公司薪轉存摺(含帳號封面及內頁)</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/book1.png" alt="薪轉存摺sample1" />
                                        <img src="assets/inc/default/img/demo/book2.png" alt="薪轉存摺sample2" />
                                    </div>
                                </td>
                            </tr>
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,boss,ant">
                                <td>
                                    <div class="txt-blue txt-large">扣繳憑單</div>
                                    <strong class="txt-darkgray txt-small">最新 1 年</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/sheet1.png" alt="扣繳憑單sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,boss,ant">
                                <td>
                                    <div class="txt-blue txt-large">所得清單</div>
                                    <strong class="txt-darkgray txt-small">最新 1 年</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/income1.png" alt="所得清單sample1" />
                                    </div>
                                </td>
                            </tr>
                            <!--    2021/06/02  上傳財力證明分類調整，新增上傳文件範例 -->
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,boss">
                                <td>
                                    <div class="txt-blue txt-large">企業報稅資料</div>
                                    <strong class="txt-darkgray txt-small">限負責人可提供近一年401、403或405表或營利事業所得稅結算申報書，及近6個月個人與公司主要銀行存摺明細。</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="企業報稅資料sample1" />
                                    </div>
                                </td>
                            </tr>

                            <tr *ngIf="enterPoint === 'RPL' " title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,boss,soho">
                                <td>
                                    <div class="txt-blue txt-large">主要往來存摺</div>
                                    <strong class="txt-darkgray txt-small">近 1 個月，主要收入往來存摺(限自由業、計程車司機…)</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' ">
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="主要往來存摺sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' " title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,ant">
                                <td>
                                    <div class="txt-blue txt-large">勞保投保明細</div>
                                    <strong class="txt-darkgray txt-small">最近 1 個月資料(限公司有登記)</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' ">
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="勞保投保明細sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' " title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,soho">
                                <td>
                                    <div class="txt-blue txt-large">不動產權狀或謄本</div>
                                    <strong class="txt-darkgray txt-small">本人名下房地不動產權狀或謄本</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' ">
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="不動產權狀或謄本sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' " title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,soho">
                                <td>
                                    <div class="txt-blue txt-large">股票庫存現值資料</div>
                                    <strong class="txt-darkgray txt-small">最近二週股票庫存現值資料(現值金額不含已融資、融券及已質借金額)，且股票須持有逾一個月以上，金額達勞工基本工資</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' ">
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="股票庫存現值資料sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' " title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,soho">
                                <td>
                                    <div class="txt-blue txt-large">保險可貸款金額資料</div>
                                    <strong class="txt-darkgray txt-small">最近1個月保險可貸款金額資料(不含已質借金額且保單要保人與被保險人均需為申請人)，且保單須持有逾一個月以上，金額達勞工基本工資</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' ">
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="保險可貸款金額資料sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' " title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,soho">
                                <td>
                                    <div class="txt-blue txt-large">定存</div>
                                    <strong class="txt-darkgray txt-small">近一個月定存資料(不含已質借金額)，且定存須持有逾一個月以上，金額達勞工基本工資</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' ">
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="定存sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' " title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,soho">
                                <td>
                                    <div class="txt-blue txt-large">基金/債券現值資料</div>
                                    <strong class="txt-darkgray txt-small">近一個月基金/債券現值資料(不含已質借金額)，且基金/債券須持有逾一個月以上，現值金額達勞工基本工資</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr *ngIf="enterPoint === 'RPL' ">
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="" alt="基金/債券現值資料sample1" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel block-panel beforeFilePicked">
                        <p>加分文件：可併入年收入計算</p>
                        <table class="collapse-area wide-table">
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)">
                                <td>
                                    <div class="txt-blue txt-large">非上述財力文件</div>
                                    <strong class="txt-darkgray txt-small">可證明收入與存款之文件</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/other1.png" alt="非上述財力文件sample1" />
                                        <img src="assets/inc/default/img/demo/other2.png" alt="非上述財力文件sample2" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-file.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>
</div>