  <div class="modal-header">
    <h5 class="modal-title" id="messageModalTitle" style="display:none;">
      {{ setting.title }}
    </h5>
    <button
      type="button"
      id="modalCloseButton"
      class="model-close-circle-btn"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('cancel')"
    >
      <span aria-hidden="true" class="hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <img class="preview" [src]="setting.message" />
  </div>
  <div class="modal-footer text-center" style="border-top:0px;"></div>
