<div class="" [ngClass]="{ row: !hideRow }">
  <label *ngIf="!hideLeft" class="col-md-3 d-none d-md-block col-form-label"></label>
  <div class="kgi-panel-group col-12 " [ngClass]="hideLeft ? '' : 'col-md-9'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">
          <a class="btn-link" [ngClass]="isLookdocOpen ? '' : 'collapsed'" (click)="isLookdocOpen = !isLookdocOpen">
            <label>{{ termTitle }}</label>
          </a>
        </h6>
      </div>
      <div class="panel-collapse collapse show" style="position:relative;">
        <div class="panel-body scrollbar-macosx" [ngClass]="isLookdocOpen ? '' : 'height-40'" [innerHTML]="termText | safe: 'html'" ></div>
        <div [ngClass]="isLookdocOpen ? '' : 'doc-bottom-shadow'"></div>
      </div>
    </div>
  </div>
</div>
