<div class="body-wrapper">
  <main>
    <section id="contact">
      <div class="contact-wrapper">
        <!-- 須移除 -->
        <!-- <h1><a [routerLink]="['/apply/loan']" style="color: red;">測試用下一頁</a></h1> -->
        <!-- ------ -->
        <form [formGroup]="applyForm" class="code-form rapid-form">
          <div class="title-area">
            <h1>輸入簡訊驗證碼</h1>
            <div class="title-info">
              <h3>已發送簡訊驗證碼至您{{ datatypeName }}手機號碼<span class="color-primary text-center mt-3" style="font-size: 25px;color:rgb(7, 7, 115);">{{userPhoneNum | hiddenStr: { start: 3, length: 3 } }}</span>，請於5分鐘內輸入</h3>
            </div>
          </div>
          <div class="alert-area">
            <i class="icon-alert"></i>
            <span>驗證碼錯誤，請重新輸入</span>
          </div>
          <div class="code-area ">
            <input #tel1 formControlName="tel1" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            autofocus (ngModelChange)="checkValue('tel1', $event)" />
                        <input formControlName="tel2" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel2', $event)" />
                        <input formControlName="tel3" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel3', $event)" />
                        <input formControlName="tel4" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel4', $event)" />
                        <input formControlName="tel5" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel5', $event)" />
                        <input formControlName="tel6" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel6', $event)" />
          </div>

          <div>
            <a class="text-primary cursor-pointer" style="color: blue;" (click)="secText>0 ? '' : sendSMS()">
              <span *ngIf="secText > 0">{{secText}}秒後，可以</span>重領驗證碼
            </a>
          </div>
        </form>
      </div>
    </section>
    <aside id="side">
      <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
      <footer id="footer"></footer>
    </aside>
  </main>

  <div class="dialog" id="dialog0">
    <div class="dialog-header">
      <i class="close-icon dialog-close"></i>
    </div>
    <div class="dialog-content">
      <div class="dialog-title">{{dialogData}}</div>
    </div>
    <div class="btn-area">
      <button type="button" class="btn-submit dialog-close" (click)="tel1.focus()">確認</button>
    </div>
  </div>
</div>