<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/statement.rpl']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>
                    <div class="title-area">
                        <h1>核貸內容</h1>
                    </div>

                    <div class="panel block-panel">
                        <table width="100%" class="wide-table">
                            <tr>
                                <th width="80">核准金額</th>
                                <td align="right">
                                    <span class="txt-orange txt-xxlarge">789萬元</span>
                                </td>
                            </tr>
                            <tr>
                                <th>借款利率</th>
                                <td align="right">14.99 %<br>動用一萬元每日利息 4 元</td>
                            </tr>
                            <tr>
                                <th>帳務管理費</th>
                                <td align="right">
                                    <div id="infoText" class="txt-info" tabindex="0" (click)="showDialog('#dialog1')">
                                        <span>200 元/次<br>最高收 3,000 元/年</span>
                                        <i title="查看說明" class="icon-arrow-down txt-small" style="display:none;"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <p class="txt-small txt-gray">帳務管理費為每次動用資金時需收取之費用，預設為每次200元，每年最高3,000元，當年第16次之後免費。
                        若帳戶管理費改以年費3,000元於首次動用時收取，請另洽本行服務專員。<br />
                        本行保留核貸與否、詮釋、裁決及終止本活動辦法之權利。</p>
                    <div class="btn-area btn-hasinfo">
                        <button type="submit" class="btn-submit" (click)="onSubmit()">確認並開始檢視合約</button>
                        <p>
                            <span>遇到問題嗎？</span>
                            <a class="txt-link" [routerLink]="['/SGN/client']">請專人與我聯絡</a>
                        </p>
                    </div>

                    <!-- <div class="demolink">
                        <a [routerLink]="['/SGN/content']">PL</a>
                        <a [routerLink]="['/SGN/content.rpl']" style="margin-left: 5px;">RPL</a>
                        <a [routerLink]="['/SGN/fill']" style="margin-left: 5px;">填寫撥款及繳款資訊(既有戶)</a>
                    </div> -->
                </form>
            </div>

        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">選擇帳務管理費計費方式</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <input type="radio" id="ra1" name="ra" required (click)="setInfoText('ra1')" />
            <label class="panel list-panel block-panel margin0" for="ra1">
                <table width="100%">
                    <tr>
                        <th width="45">
                            <div class="radio-widget"></div>
                        </th>
                        <td>
                            <div class="txt-large txt-blue">每次動用200元</div>
                            <div class="txt-small">每年上限3,000元</div>
                        </td>
                    </tr>
                </table>
            </label>

            <div style="height: 16px" class="hidden-desktop"></div>

            <input type="radio" id="ra2" name="ra" required (click)="setInfoText('ra2')" />
            <label class="panel list-panel block-panel margin0" for="ra2">
                <table width="100%">
                    <tr>
                        <th width="45">
                            <div class="radio-widget"></div>
                        </th>
                        <td>
                            <div class="txt-large txt-blue">年費3,000元</div>
                            <div class="txt-small">僅限首年度設定，續約年度分次收費</div>
                        </td>
                    </tr>
                </table>
            </label>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">確認</button>
        </div>
    </div>
</div>