<body class="chatBody">

    <div class="chatBody chatContainer body-wrapper">

        <div class="AITalk">
            你好，請問你有什麼疑問嗎?
        </div>
        <div class="UserTalk" (click)="closeChatBot();">
            我對貸款利率有疑問
        </div>
        <div class="AITalk"  (click)="showContactUsDialog();">
            <span style="color:#06c; font-weight:900; cursor:pointer;"><u>點此連結留聯絡資訊或撥打客服...</u></span>
        </div>
        <div class="UserTalk">
            ........
        </div>
        <div class="AITalk">
            ........
        </div>
        <div class="UserTalk">
            ........
        </div>

    </div>

</body>

