
<section class="apply">

  <!-- SECTOR: STEP -->
  <app-step-num [step]="stepStr"></app-step-num>


  <!-- SECTOR: OUTER FRAMESWORK -->
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="main-form" autocomplete="off">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">


          <!-- SECTOR: MAIN -->
          <!-- STEP: LINE ONE -->
          <div class="row form-group">
            <label class="col-12 col-md-4 col-form-label text-md-right text-left">最高授信額度調整前</label>
            <div class="col-12 col-md-8">
              <div class="row">
                <input type="text" class="form-control" id="creditCur" name="creditCur" formControlName="creditCur" autocomplete="off" readonly>
              </div>
            </div>
          </div>


          <!-- STEP: LINE TWO -->
          <div class="row form-group">
            <label class="col-sm-12 col-md-4 col-form-label text-md-right text-left">最高授信額度調整後</label>
            <div class="col-sm-12 col-md-8">
              <div class="row">
                <select class="custom-select" id="creditModify" name="creditModify" formControlName="creditModify">
                  <option *ngFor="let item of rangeArr" value="{{ item.value }}">{{ item.value | currency:'$':'symbol':'4.0' }}</option>
                </select>
              </div>
            </div>
          </div>

          <!-- STEP: LINE THREE -->
          <div class="row form-group">
            <label class="col-sm-12 col-md-4 col-form-label text-md-right text-left">寄送Email填寫</label>
            <div class="col-sm-12 col-md-8">
              <div class="row">
                <input type="email" class="form-control" id="email" name="email" formControlName="email">
                <div class="col-12 errBox" *ngIf="dataForm.controls['email'].invalid && dataForm.controls['email'].touched">
                  <span class="errMsg pull-right" *ngIf="dataForm.controls['email'].errors.email">請輸入正確的Email格式</span>
                  <span class="errMsg pull-right" *ngIf="dataForm.controls['email'].errors.required">請輸入Email資料</span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    
    <!-- SECTOR: 按鈕區 Stert -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="goPreviousPage()">
        上一步
      </button>
      <button name="btnsubmit" type="button" class="btn btn-kgi-primary" (click)="onSubmit()" [disabled]="isDisabled()">
        下一步
      </button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="goPreviousPage()">
          上一步
        </button>
        <button name="btnsubmit" type="button" class="btn btn-kgi-primary col" (click)="onSubmit()" [disabled]="isDisabled()">
          下一步
        </button>
      </div>
    </div>
    <!-- 按鈕區 End -->

  </form>


</section>
