<section class="apply">

  <!-- SECTOR: STEP -->
  <app-step-num [step]="stepStr"></app-step-num>


  <!-- SECTOR: MAIN -->
  <form [formGroup]="pcForm" (ngSubmit)="onSubmit()" class="main-form" autocomplete="off">
    <div class="container">
      <div class="row no-margin kgi-box-002">
        <div class="col-12">


          <!-- SECTOR: MAIN -->
          <div class="form-group row" style="margin-bottom:0px;" *ngIf="termsDivR1">
            <!-- <div class="col-12 col-md-9 squaredFour mx-auto" style="padding:0 0 5px 25px;"> -->
            <div class="col-sm-12 squaredFour mx-auto" style="padding:0 0 5px 25px;">
              <input id="agreementR1" formControlName="agreementR1" type="checkbox">
              <label for="agreementR1" class="no-margin">我已閱讀並同意下列條款及告知事項</label>
            </div>
            <!-- <div class="col-12 col-md-9 mx-auto w-100 p-0"> -->
            <!-- <div class="col-sm-12 mx-auto w-100 p-0"> -->
            <div class="col-12 col-md-12 mx-auto w-100 p-0">
              <!-- <app-term [termTitle]="termsDivR1.termTitle" [termName]="termsDivR1.termName" [hideLeft]="true"></app-term> -->

              <!-- WORKSPACE: -->
              <div class="" [ngClass]="{ row: !hideRow }">
                <label *ngIf="!hideLeft" class="col-md-3 d-none d-md-block col-form-label"></label>
                <div class="kgi-panel-group col-12 " [ngClass]="hideLeft ? '' : 'col-md-9'">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h6 class="panel-title">
                        <a class="btn-link" [ngClass]="isLookdocOpenR1 ? '' : 'collapsed'" (click)="isLookdocOpenR1 = !isLookdocOpenR1">
                          <label>同意契變書內容</label>
                        </a>
                      </h6>
                    </div>
                    <div class="panel-collapse collapse show" style="position:relative;">
                      <div class="panel-body scrollbar-macosx" [ngClass]="isLookdocOpenR1 ? '' : 'height-40'" [innerHTML]="termTextR1 | safe: 'html'" ></div>
                      <div [ngClass]="isLookdocOpenR1 ? '' : 'doc-bottom-shadow'"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- WORKSPACE: -->

            </div>
          </div>

          <div class="form-group row" style="margin-bottom:0px;" *ngIf="termsDivR2">
            <div class="col-sm-12 squaredFour mx-auto" style="padding:0 0 5px 25px;">
              <input id="agreementR2" formControlName="agreementR2" type="checkbox">
              <label for="agreementR2" class="no-margin">我已閱讀並同意下列條款及告知事項</label>
            </div>
            <div class="col-sm-12 mx-auto w-100 p-0">
              <!-- HACK: COPY from terms-page -->
              <div class="" [ngClass]="{ row: !hideRow }">
                <div class="kgi-panel-group col-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h6 class="panel-title">
                        <a class="btn-link" [ngClass]="isLookdocOpenR2 ? '' : 'collapsed'" (click)="isLookdocOpenR2 = !isLookdocOpenR2">
                          <label>同意調額同意書</label>
                        </a>
                      </h6>
                    </div>
                    <div class="panel-collapse collapse show" style="position:relative;">
                      <div class="panel-body scrollbar-macosx" [ngClass]="isLookdocOpenR2 ? '' : 'height-40'" [innerHTML]="termTextR2 | safe: 'html'" ></div>
                      <div [ngClass]="isLookdocOpenR2 ? '' : 'doc-bottom-shadow'"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- SECTOR: 按鈕區 Stert -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="goPreviousPage()">
        上一步
      </button>
      <button name="btnsubmit" type="button" class="btn btn-kgi-primary" (click)="onSubmit()" [disabled]="isDisabled()">
        下一步
      </button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button name="btnsubmit" type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="goPreviousPage()">
          上一步
        </button>
        <button name="btnsubmit" type="button" class="btn btn-kgi-primary col" (click)="onSubmit()" [disabled]="isDisabled()">
          下一步
        </button>
      </div>
    </div>
    <!-- 按鈕區 End -->

  </form>
</section>