.height-40 {
    height: 40px;
    overflow: hidden;
}
a label{
    padding-right: 30px;
}

.kgi-box-002 {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px 16px;
}

@media (min-width: 768px) {
  .kgi-box-002 {
    padding: 40px 50px;
  }
}

@media (min-width: 992px) {
  .kgi-box-002 {
    padding: 40px 100px;
  }
}
