<div *ngIf="!sub" class="body-wrapper" (scroll)="controlFloating($event)">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form  style="background-color:#ffffff; padding:16px;">
                    <div class="title-area">
                        <h1>試算結果</h1>
                    </div>
                    <div class="panel estimate-panel" style="background:none;">
                        <div class="upper-panel">
                            <div class="txt-orange">
                                <span ntabindex="0" class="txt-xxxlarge txt-art" id="amount"
                                    (click)="showDialog('#dialog4')">{{creditLine}}</span>
                                <span class="txt-large">萬元</span>
                            </div>
                            <!-- <div class="demolink">
                                <a [routerLink]="['/CAL/result']">PL</a>
                                <a [routerLink]="['/CAL/result.rpl']" style="margin-left: 5px;">RPL</a>
                            </div> -->
                            <div class="txt-center">
                                <span class="txt-link" tabindex="0"
                                    (click)="detailsToggle();controlFloating($event);">{{textContent}}</span>
                            </div>
                            <div id="hideTarget" [hidden]=hideTarget>
                                <div style="height: 24px;"></div>
                                <div class="panel block-panel">
                                    <table class="wide-table" width="100%">
                                        <tr>
                                            <th>借款期間</th>
                                            <td align="right">{{year}} 年</td>
                                        </tr>
                                        <tr>
                                            <th>借款利率</th>
                                            <td align="right">{{interestRate}} %</td>
                                        </tr>
                                        <tr>
                                            <th>月付金</th>
                                            <td align="right">{{payValue}} 元</td>
                                        </tr>
                                        <tr>
                                            <th>開辦費</th>
                                            <td align="right">最高 8,000 元</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="btn-area">
                                    <a class="txt-link" (click)="sub = true; this.userDataService.subPageName='PL_Est_Result_ADV' ">進階試算</a>
                                </div>
                                <p class="txt-small txt-gray txt-left">
                                    本服務係依您所填寫個人資料計算，試算結果僅供參考。本行保留核貸與否、詮釋、裁決及終止本活動辦法之權利。</p>
                            </div>
                        </div>
                        <div class="lower-panel">
                            <div class="lower-panel-content" style="background:#ffffff;">
                                <p class="txt-large">想要更早還清貸款？</p>
                                <table width="100%">
                                    <tr>
                                        <td>月付金</td>
                                        <td align="right">貸款期間</td>
                                    </tr>
                                    <tr>
                                        <td class="border0">
                                            <span class="txt-xxlarge txt-blue txt-art">{{payValue}}</span>
                                            <span class="txt-small txt-blue">元</span>
                                        </td>
                                        <td class="border0" align="right">
                                            <span class="txt-xxlarge txt-blue txt-art" id="year">{{year}}</span>
                                            <span class="txt-small txt-blue">年</span>
                                        </td>
                                    </tr>
                                </table>
                                <input [(ngModel)]="year" name="year" type="range" class="square-range" id="range"
                                    min="1" step="1" max="7" (ngModelChange)="loanRange()" />
                            </div>
                        </div>

                        <div class="btn-area btn-hasinfo btn-space">
                            <a (click)="onSubmit()"
                                class="btn-submit btn-floating" id="floatingButton">立即申請</a>
                            <span tabindex="0" class="txt-link mobile-btn-submit"
                                (click)="showDialog('#dialog1')">透過簡訊，傳送此方案到手機</span>
                        </div>

                    </div>

                    <p class="txt-gray txt-small txt-center">本行保留核貸與否、詮釋、裁決及終止本活動辦法之權利。</p>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>






</div>

<div class="dialog" id="dialog1">
    <form [formGroup]="applyForm" action="javascript:;">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">傳送方案</div>
        </div>
        <div class="dialog-content">
            <div class="form-item">
                <label>手機號碼</label>
                <input formControlName="phone" type="tel" placeholder="請輸入手機號碼" maxlength="10"
                    [cleave]="cleave.Number" />
                <div class="error-text" *ngIf="errorMessage('phone', 'required')">填寫此欄位</div>
                <div class="error-text" *ngIf="errorMessage('phone', 'pattern')">不符合要求的格式</div>
                <div class="txt-small">
                    <span>送出即同意</span>
                    <span class="txt-link" tabindex="0" (click)="showTerms('#dialog2',terms[1])">個人資料運用告知聲明使用者條款及約定</span>
                </div>
            </div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-cancel dialog-close">取消</button>
            <button type="button" class="btn-submit" [disabled]="applyForm.invalid"
                (click)="sendSms()">確認</button>
        </div>
    </form>
</div>

<div class="dialog" id="dialog2">
    <div class="dialog-header">
        <i class="close-icon dialog-close"></i>
        <div class="dialog-title">{{dialogTitle}}</div>
    </div>
    <div class="dialog-content">
        <!-- 內容開始 -->
        <div [innerHTML]="dialogData | safe:'html'"></div>
    </div>
    <div class="btn-area">
        <button type="button" class="btn-submit dialog-close">我知道了</button>
    </div>
</div>

<div class="dialog dialog-double" id="dialog3">
    <div class="dialog-header">
        <i class="close-icon dialog-close-all"></i>
        <div class="dialog-title">已傳送方案</div>
    </div>
    <div class="dialog-content">推薦方案已傳送至{{applyForm.controls['phone'].value}}。請透過簡訊連結申請。</div>
    <div class="btn-area">
        <button type="button" class="btn-submit dialog-close-all">我知道了</button>
    </div>
</div>

<div class="dialog dialog-small" id="dialog4">
    <form action="javascript:;">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">請輸入預計貸款的金額</div>
        </div>
        <div class="dialog-content">
            <div class="form-item">
                <label>貸款金額</label>
                <div class="input-wrapper">
                    <input [(ngModel)]="creditLine" name="creditLine" type="tel" maxlength="3" [cleave]="cleave.Money"
                        required id="amountInput" />
                    <div class="unit">萬</div>
                </div>
            </div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-cancel dialog-close">取消</button>
            <button type="button" class="btn-submit dialog-close" (click)="loanRange()">確認</button>
        </div>
    </form>
</div>

<div *ngIf="sub">
    <app-advance [inputData]="setViewData()" (subClose)="setMode($event)"></app-advance>
</div>