<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/statement']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>填寫撥款及繳款資訊</h1>
                    </div>

                    <div class="form-item">
                        <label>撥款銀行</label>
                        <select formControlName="grantBank" id="bank" required>
                            <option *ngFor='let item of bankOption' [value]="item.key">
                                {{item.value}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('grantBank')">選取列表中的項目</div>
                    </div>

                    <div class="form-item">
                        <label>撥款分行別</label>
                        <div class="input-wrapper">
                            <input #appropriationBranch formControlName="appropriationBranch" type="text"
                                (ngModelChange)="dedicateCompany($event)"
                                (blur)="applyForm.get('appropriationBranch').patchValue(appropriationBranch.value);corpNameBL = false"
                                placeholder="請輸入分行別" />
                            <div class="error-text" *ngIf="errorMessage('appropriationBranch')">填寫此欄位</div>
                            <div class="candidate" hidden>
                                <div class="candidate-item" tabindex="0">0009 臺南分行</div>
                                <div class="candidate-item" tabindex="0">0020 臺中分行 </div>
                                <div class="candidate-item" tabindex="0">0023 臺東分行</div>
                                <div class="candidate-item" tabindex="0">0092 臺中工業區分行</div>
                                <div class="candidate-item" tabindex="0">0094 臺南工業區分行</div>
                                <div class="candidate-item" tabindex="0">0095 橋頭工業區分行</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>撥款帳號</label>
                        <input #grantAccount formControlName="grantAccount" id="account" maxlength="16" type="tel"
                            [cleave]="cleave.Number" placeholder="請輸入銀行帳號" />
                        <div class="error-text" *ngIf="errorMessage('grantAccount')">填寫此欄位</div>
                    </div>

                    <div class="form-item">
                        <label>留存於上述銀行的手機號碼</label>
                        <input formControlName="bankPhone" type="tel" maxlength="10" [cleave]="cleave.Number"
                            placeholder="留存於上述銀行的手機號碼" />
                        <div class="error-text" *ngIf="errorMessage('bankPhone')">填寫此欄位</div>
                    </div>

                    <hr />

                    <div class="form-item">
                        <label>繳款日期</label>
                        <select formControlName="paymentDate" required>
                            <option *ngFor='let item of dateOption' [value]="item.key">
                                {{item.value}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('paymentDate')">選取列表中的項目</div>
                    </div>

                    <div class="form-item">
                        <label>繳款銀行</label>
                        <div class="input-wrapper">
                            <input formControlName="payingBank" id="payBank" type="text" placeholder="請輸入繳款銀行" />
                            <div class="error-text" *ngIf="errorMessage('payingBank')">填寫此欄位</div>
                            <div class="checkbox">
                                <input type="checkbox" id="ch1" (click)="bankAutoFill($event.target)" />
                                <label for="ch1">
                                    <div class="check-widget"></div>
                                    <span>同撥款帳戶</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>繳款帳號</label>
                        <input formControlName="paymentAccount" id="payAccount" maxlength="16" type="number"
                            [cleave]="cleave.Number" placeholder="請輸入繳款帳號" />
                        <div class="error-text" *ngIf="errorMessage('paymentAccount')">填寫此欄位</div>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">確認</button>
                    </div>
                </form>

            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

</div>