<!DOCTYPE html>
<html>
  <head>
    <title>MGM</title>  
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainStyle.css">
  </head>

  <body>

    <!-- SECTOR: HEADER-->
    <div class="header-border-top">
    </div>
    <!--大版用-->
    <div class="header no-padding d-none d-md-block">
      <div class="container" style="position: relative;">  
        <div class="row no-margin">
          <div class="">
            <a class="navbar-menu navbar-menu-kgi hidden">
            </a>
          </div>
          <div class="col">
            <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
            </a>
          </div>
          <div class="col">
            <div class="page-title">線上開戶</div>
          </div>
          <div class="col">
            <a class="nav-link nav-link-kgi" (click)="showConsume();" style=" padding-top:22px;">
              <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--小版用-->
    <div class="header no-padding  d-block d-md-none">  
      <div class="row no-margin">
        <div class="">
          <a class="navbar-menu navbar-menu-kgi hidden">
          </a>
        </div>
        <div class="">
          <a class="navbar-brand navbar-brand-kgi" href="https://www.kgibank.com/" target='_blank'>
          </a>
        </div>
        <div class="">
          <div class="page-title">線上開戶</div>
        </div>
        <div class="">
          <a class="nav-link nav-link-kgi" style=" padding-top:7px;" href="tel:(02)8023-9088">
            <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-line block-hidden"></div>


    <!-- SECTOR: MAIN -->
    <section class="apply">

      <div class="container">
        <div class="row centered no-margin">
          <!--小版用-->
          <div class="col-12 d-block d-md-none progress-step">
            <div class="step step-current">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
          <!--大版用-->
          <div class="col-12 d-none d-md-block progress-step-large">
            <div class="step step-current">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- OUTER FRAMEWORK -->
      <form class="main-form">
        <div class="container">
          <div class="row no-margin kgi-box-001">
            <div class="col-12">


              <!-- SECTOR: MAIN -->

              <!-- STEP: IMAGE of finish -->
              <div class="form-group text-center">
                <img src="assets/image/icon/41-success.png" alt="">
                <div class="mt-4">
                  <h4 style="width: auto;">密碼變更完成</h4>
                  <h4 style="width: auto;">歡迎加入客戶推薦專區</h4>
                </div>
              </div>

            </div>
          </div>
        </div>


        <!-- SECTOR: SUBMIT -->
        <!-- For PC only -->
        <div class="container text-center mt-2 d-none d-md-block">
          <button name="successBtnSubmit1" id="successBtnSubmit1" type="button" class="btn btn-kgi-primary">參加活動，產生QRCODE</button>
        </div>
        <!-- For Mobile only -->
        <div class="container sticky-bottom d-md-none mt-2">
          <div class="row no-margin">
            <button name="successBtnSubmit2" id="successBtnSubmit2" type="button" class="btn btn-kgi-primary col">參加活動，產生QRCODE</button>
          </div>
        </div>

      </form>

    </section>


    <!-- SECTOR: FOOTER -->
    <div id="footer" class="containre-fluid d-none d-md-block">
      <div class="row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center text-sm-right text-md-right">www.kgibank.com</div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-7 text-center text-sm-left text-md-left">(c) 凱基商業銀行股份有限公司版權所有</div>
      </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="js/core/bootstrap.min.js"></script>
    <script src="js/core/jquery.min.js"></script>
    <scrpit src="js/core/popper.min.js"></scrpit>
    <!-- THIS PAGE -->
    <script src="js/alone/mgmChangeSuccess.js"></script>

  </body>
</html>