<!DOCTYPE html>
<html>

<head>
  <title>MGM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/mainStyle.css">
  <link rel="stylesheet" href="css/mockStyle.css">
  <link rel="stylesheet" href="css/spinnner.css">
</head>

<body>

  <div id='loader' class="spinner-style" style='display: none;'>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <!-- SECTOR: HEADER-->
  <div class="header-border-top">
  </div>
  <!--大版用-->
  <div class="header no-padding d-none d-md-block">
    <div class="container" style="position: relative;">
      <div class="row no-margin">
        <div class="">
          <a class="navbar-menu navbar-menu-kgi hidden">
          </a>
        </div>
        <div class="col">
          <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
          </a>
        </div>
        <div class="col">
          <div class="page-title">線上開戶</div>
        </div>
        <div class="col">
          <a class="nav-link nav-link-kgi" (click)="showConsume();" style=" padding-top:22px;">
            <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--小版用-->
  <div class="header no-padding  d-block d-md-none">
    <div class="row no-margin">
      <div class="">
        <a class="navbar-menu navbar-menu-kgi hidden">
        </a>
      </div>
      <div class="">
        <a class="navbar-brand navbar-brand-kgi" href="https://www.kgibank.com/" target='_blank'>
        </a>
      </div>
      <div class="">
        <div class="page-title">線上開戶</div>
      </div>
      <div class="">
        <a class="nav-link nav-link-kgi" style=" padding-top:7px;" href="tel:(02)8023-9088">
          <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
        </a>
      </div>
    </div>
  </div>
  <div class="bottom-line block-hidden"></div>


  <!-- SECTOR: MAIN -->
  <section class="apply">

    <div class="container">
      <div class="row centered no-margin">
        <!--小版用-->
        <div class="col-12 d-block d-md-none progress-step">
          <div class="step step-circle">
            <span>1</span>
            <div class="tip-text">推薦資訊</div>
          </div>
          <div class="step step-line step-line-width-10">&nbsp;</div>
          <div class="step step-current">
            <span>2</span>
            <div class="tip-text">推薦產品</div>
          </div>
          <div class="step step-line step-line-width-10">&nbsp;</div>
          <div class="step step-circle">
            <span>3</span>
            <div class="tip-text">產生網址</div>
          </div>
        </div>
        <!--大版用-->
        <div class="col-12 d-none d-md-block progress-step-large">
          <div class="step step-circle">
            <span>1</span>
            <div class="tip-text">推薦資訊</div>
          </div>
          <div class="step step-line step-line-width-10">&nbsp;</div>
          <div class="step step-current">
            <span>2</span>
            <div class="tip-text">推薦產品</div>
          </div>
          <div class="step step-line step-line-width-10">&nbsp;</div>
          <div class="step step-circle">
            <span>3</span>
            <div class="tip-text">產生網址</div>
          </div>
        </div>
      </div>
    </div>


    <!-- OUTER FRAMEWORK -->
    <form class="main-form" id="forgotOtpSector">
      <div class="container">
        <div class="row no-margin kgi-box-001">
          <div class="col-12">

            <div class="form-group row">
              <div class="col-sm-12 text-center">
                <span style="font-size: large;">已發送簡訊驗證碼至以下手機號碼</span>
                <!-- TODO: CHANGE GET value from user data -->
                <h2 id="phoneNum" class="color-primary text-center mt-3"></h2>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12 text-center">
                <div class="input-box">
                  <input type="text" class="form-control verificationInput" id="forgotOTPInput"
                    formControlName="forgotOTPInput" KeydownRegexp="num" autocomplete="off" maxlength="6"
                    placeholder="請於5分鐘內輸入驗證碼">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-kgi-primary" id="reSendOtp">
                  重領驗證碼(<span id="countdown">60</span>秒)
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- For PC only -->
      <div class="container text-center mt-2 d-none d-md-block">
        <button type="button" id="forgotOtpBtnSubmit1" name="forgotOtpBtnSubmit1" class="btn btn-kgi-primary">送出</button>
      </div>
      <!-- For Mobile only -->
      <div class="container sticky-bottom d-md-none mt-2">
        <div class="row no-margin">
          <button type="button" id="forgotOtpBtnSubmit2" name="forgotOtpBtnSubmit2" class="btn btn-kgi-primary col">送出</button>
        </div>
      </div>

    </form>
  </section>


  <!-- SECTOR: MODAL -->
  <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title d-none">
            title
          </h5>
          <button type="button" id="modalCloseButton" *ngIf="setting.showClose" class="model-close-circle-btn"
            data-dismiss="modal" aria-label="Close" (click)="modal.close('cancel')">
            <span aria-hidden="true" class="hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="messageModalContent" style="word-break:break-all;">
          </h5>
        </div>
        <div class="modal-footer text-center" style="border-top:0px;">
          <button id="modalOKButton" type="button" class="btn btn-kgi-primary col" data-dismiss="modal">
            確認
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- SECTOR: FOOTER -->
  <div id="footer" class="containre-fluid d-none d-md-block">
    <div class="row">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center text-sm-right text-md-right">www.kgibank.com</div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 text-center text-sm-left text-md-left">(c) 凱基商業銀行股份有限公司版權所有</div>
    </div>
  </div>

  <!-- JAVASCRIPT -->
  <script src="js/core/jquery.min.js"></script>
  <scrpit src="js/core/popper.min.js"></scrpit>
  <script src="js/core/bootstrap.min.js"></script>
  <!-- THIS PAGE -->
  <script src="js/alone/mgmForgotOtp.js"></script>

</body>

</html>