<!DOCTYPE html>
<html>
  <head>
    <title>MGM</title>  
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="css/mockStyle.css">
  </head>

  <body>

    <!-- SECTOR: HEADER-->
    <div class="header-border-top">
    </div>
    <!--大版用-->
    <div class="header no-padding d-none d-md-block">
      <div class="container" style="position: relative;">  
        <div class="row no-margin">
          <div class="">
            <a class="navbar-menu navbar-menu-kgi hidden">
            </a>
          </div>
          <div class="col">
            <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
            </a>
          </div>
          <div class="col">
            <div class="page-title">線上開戶</div>
          </div>
          <div class="col">
            <a class="nav-link nav-link-kgi" (click)="showConsume();" style=" padding-top:22px;">
              <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--小版用-->
    <div class="header no-padding  d-block d-md-none">  
      <div class="row no-margin">
        <div class="">
          <a class="navbar-menu navbar-menu-kgi hidden">
          </a>
        </div>
        <div class="">
          <a class="navbar-brand navbar-brand-kgi" href="https://www.kgibank.com/" target='_blank'>
          </a>
        </div>
        <div class="">
          <div class="page-title">線上開戶</div>
        </div>
        <div class="">
          <a class="nav-link nav-link-kgi" style=" padding-top:7px;" href="tel:(02)8023-9088">
            <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-line block-hidden"></div>


    <!-- SECTOR: MAIN -->
    <section class="apply">

      <div class="container">
        <div class="row centered no-margin">
          <!--小版用-->
          <div class="col-12 d-block d-md-none progress-step">
            <div class="step step-circle">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-current">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
          <!--大版用-->
          <div class="col-12 d-none d-md-block progress-step-large">
            <div class="step step-circle">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-current">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- OUTER FRAMEWORK -->
      <form class="main-form">
        <div class="container">
          <div class="row no-margin kgi-box-001">
            <div class="col-12">

              <!-- STEP: 1. 身分證字號號 (userid) -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">身分證字號</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="text" class="form-control" id="forgotLoginEntry1" name="forgotLoginEntry1" autocomplete="off" maxlength="10" required>
                    <span class="errMsg text-right idRequired hidden">請輸入資料</span>
                    <span class="errMsg text-right idError hidden">格式錯誤</span>
                  </div>
                </div>
              </div>
              <!-- STEP: 2. Birthday -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">生日</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="text" class="form-control" id="forgotLoginEntry2" name="forgotLoginEntry2" autocomplete="off" required>
                  </div>
                </div>
              </div>

              <!-- STEP: 3. Captcha -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">圖形驗證碼</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <canvas width="240" height="90" id="captcha1"></canvas>
                    <input type="text" class="form-control" id="forgotLoginEntry3" autocomplete="off" required>
                    <span class="errMsg text-right captchaError hidden">驗證碼錯誤</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- For PC only -->
        <div class="container text-center mt-2 d-none d-md-block">
          <button type="button" id="forgotLoginBtnSubmit1" name="forgotLoginBtnSubmit1" class="btn btn-kgi-primary">登入</button>
        </div>
        <!-- For Mobile only -->
        <div class="container sticky-bottom d-md-none mt-2">
          <div class="row no-margin">
            <button type="button" id="forgotLoginBtnSubmit2" name="forgotLoginBtnSubmit2" class="btn btn-kgi-primary col">登入</button>
          </div>
        </div>

      </form>

    </section>




    <!-- SECTOR: MODAL -->
    <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title d-none">
              title
            </h5>
            <button type="button" id="modalCloseButton" *ngIf="setting.showClose" class="model-close-circle-btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('cancel')">
              <span aria-hidden="true" class="hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 id="messageModalContent" style="word-break:break-all;">
            </h5>
          </div>
          <div class="modal-footer text-center" style="border-top:0px;">
            <button id="modalOKButton" type="button" class="btn btn-kgi-primary col" data-dismiss="modal">
              確認
            </button>
          </div>
        </div>
      </div>
    </div>





    <!-- SECTOR: FOOTER -->
    <div id="footer" class="containre-fluid d-none d-md-block">
      <div class="row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center text-sm-right text-md-right">www.kgibank.com</div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-7 text-center text-sm-left text-md-left">(c) 凱基商業銀行股份有限公司版權所有</div>
      </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="js/core/jquery.min.js"></script>
    <script src="js/core/popper.min.js"></script>
    <script src="js/core/bootstrap.min.js"></script>
    <!-- CAPTCHA -->
    <script src="js/plugin/captcha-mini.js"></script>
    <!-- THIS PAGE -->
    <script src="js/alone/mgmForgotLogin.js"></script>

  </body>
</html>
