<!DOCTYPE html>
<html>
  <head>
    <title>MGM</title>  
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="./css/border.css">
    <link rel="stylesheet" href="./css/alignStyle.css">
    <link rel="stylesheet" href="./css/kgiStyle.css">
    <link rel="stylesheet" href="./css/pageSetting.css">
    <link rel="stylesheet" href="./css/big-banner.css">
    <link rel="stylesheet" href="./css/progress-step.css">
    <link rel="stylesheet" href="./css/alphaStyle.css">
  </head>

  <body>

    <div id='loader' class="spinner-style" style='display: none;'>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>


    <!-- SECTOR: HEADER-->
    <div class="header-border-top">
    </div>
    <!--大版用-->
    <div class="header no-padding d-none d-md-block">
      <div class="container" style="position: relative;">  
        <div class="row no-margin">
          <div class="">
            <a class="navbar-menu navbar-menu-kgi hidden">
            </a>
          </div>
          <div class="col">
            <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
            </a>
          </div>
          <div class="col">
            <div class="page-title">線上開戶</div>
          </div>
          <div class="col">
            <a class="nav-link nav-link-kgi" (click)="showConsume();" style=" padding-top:22px;">
              <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--小版用-->
    <div class="header no-padding  d-block d-md-none">  
      <div class="row no-margin">
        <div class="">
          <a class="navbar-menu navbar-menu-kgi hidden">
          </a>
        </div>
        <div class="">
          <a class="navbar-brand navbar-brand-kgi" href="https://www.kgibank.com/" target='_blank'>
          </a>
        </div>
        <div class="">
          <div class="page-title">線上開戶</div>
        </div>
        <div class="">
          <a class="nav-link nav-link-kgi" style=" padding-top:7px;" href="tel:(02)8023-9088">
            <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-line block-hidden"></div>


    <!-- SECTOR: MAIN -->
    <section class="apply">

      <div class="container">
        <div class="row centered no-margin">
          <!--小版用-->
          <div class="col-12 d-block d-md-none progress-step">
            <div class="step step-circle">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-current">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
          <!--大版用-->
          <div class="col-12 d-none d-md-block progress-step-large">
            <div class="step step-circle">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-current">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
        </div>
      </div>


      <!-- OUTER FRAMEWORK -->
      <form class="main-form">
        <div class="container">
          <div class="row no-margin kgi-box-001">
            <div class="col-12">

              <!-- SECTOR: MAIN -->
              <div class="form-group row">
                <!-- title -->
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-12">
                      <label class="title">我的活動</label>
                    </div>
                  </div>
                </div>
                <div class="col-12" id="poolAlpha">
                </div>

                <!-- TEST: --><!--
                <div class="col-12" id="poolBeta">
                  <div class="form-group row" id="accordionExampleAlpha_MOCK">
                    <div class="col-12">
                      <p class="form-title text-left color-primary"> ACT_NAME </p>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseAlpha_MOCK" aria-expanded="true" aria-controls="collapseAlpha_MOCK">
                        <img src="assets/image/icon/03-chevronup.png" alt="" style=" width:25px;">
                        <label class="col-form-label text-left">選擇要推薦的產品</label>
                      </button>
                      <div id="collapseAlpha_MOCK" class="collapseAlpha_MOCK collapse moveContent" aria-labelledby="Alpha" data-parent="#accordionExampleAlpha_MOCK">
                        <div class="row">
                          <div id="barProduct_MOCK" class="col-12 form-group barProduct" style="white-space: nowrap;">
                            <button type="button" id="e_MOCK_A" name="e_MOCK_A" class="btn btn-outline-secondary border-0 productB" onclick="createProdContent()">E_MOCK_A</button>
                            <button type="button" id="e_MOCK_B" name="e_MOCK_B" class="btn btn-outline-secondary border-0 productB" onclick="createProdContent()">E_MOCK_B</button>
                            <button type="button" id="e_MOCK_C" name="e_MOCK_C" class="btn btn-outline-secondary border-0 productB" onclick="createProdContent()">E_MOCK_C</button>
                          </div>
                        </div>
                        <div id="mockDIVPROD_MOCK" class="barProduct_MOCK">
                          <div class="row">
                            <div class="col-12 h-25 backGround" id="qrcodediv" style="padding:0 15px;">
                              <div class="triangle"></div>
                              <img id="smallicon" src="assets/image/icon/46-QRcode.png"/>
                              <div class="row">
                                <div class="col-6 col-md-4 pl-0">
                                  <div class="qrcode row">
                                    <div class="col-12" style="text-align:center;">
                                      <div id="qrcodeTable" style="position:relative; width:160px; height:160px; border:0px solid #444; background-color:#e1e1e1;"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-6 col-md-8 p-0">
                                  <p style="font-size:12px;padding-top:15px;">推薦申辦</p>
                                  <p style="font-size:14px;" class="mb-1">CREDIT_CARD</p>
                                  <div style="font-size:12px;">ACT_NAME</div>
                                  <div style="font-size:12px;">CUST_NAME</div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                          <div class="row">
                            <div class="col-12 text-center">
                              <button type="button" onclick="downloadPic()" class="btn btn-kgi-primary">下載QRcode</button>
                              <button class="btn btn-kgi-primary" onclick="copyURL('shortURL')">複製分享網址</button>
                              <a href="https://social-plugins.line.me/lineit/share?url='shortUrl'">
                                <img src="assets/image/line208.png" class="line-button m-2" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12">
                      <img src="assets/image/icon/33-period.png" alt="" style=" width:25px;">
                      <span>2020/6/1-2020/7/31</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseBeta_MOCK" aria-expanded="true" aria-controls="collapseBeta_MOCK">
                        <img src="assets/image/icon/03-chevronup.png" alt="" style=" width:25px;">
                        <label class="col-form-label text-left">了解更多</label>
                      </button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12 kgi-panel-group" id="accordionExampleBeta_MOCK">
                      <div id="collapseBeta_MOCK" class="collapseBeta_MOCK collapse moveContent" aria-labelledby="Beta" data-parent="#accordionExampleBeta_MOCK">
                        <div class="panel panel-default">
                          <p> ACT_DESC </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- TEST: -->
              </div>
            </div>
          </div>
        </div>
      </form>

    </section>


    <!-- SECTOR: MODAL -->
    <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title d-none">
              title
            </h5>
            <button type="button" id="modalCloseButton" *ngIf="setting.showClose" class="model-close-circle-btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('cancel')">
              <span aria-hidden="true" class="hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 id="messageModalContent" style="word-break:break-all;">
            </h5>
          </div>
          <div class="modal-footer text-center" style="border-top:0px;">
            <button id="modalOKButton" type="button" class="btn btn-kgi-primary col" data-dismiss="modal">
              確認
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- SECTOR: FOOTER -->
    <div id="footer" class="containre-fluid d-none d-md-block">
      <div class="row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center text-sm-right text-md-right">www.kgibank.com</div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-7 text-center text-sm-left text-md-left">(c) 凱基商業銀行股份有限公司版權所有</div>
      </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="js/core/jquery.min.js"></script>
    <script src="js/core/bootstrap.min.js"></script>
    <script src="js/core/popper.min.js"></script>
    <!-- QRCode -->
    <script src="js/plugin/qrcode.js"></script>
    <script src="js/plugin/jquery.qrcode.js"></script>
    <script src="js/html2canvas/html2canvas.min.js"></script>
    <!-- THIS PAGE -->
    <script src="js/alone/mgmMoveList.js"></script>

  </body>
</html>
