<!DOCTYPE html>
<html>
  <head>
    <title>MGM</title>  
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="css/border.css">
    <link rel="stylesheet" href="css/alignStyle.css">
    <link rel="stylesheet" href="css/kgiStyle.css">
    <link rel="stylesheet" href="css/pageSetting.css">
    <link rel="stylesheet" href="css/progress-step.css">
    <link rel="stylesheet" href="css/alphaStyle.css">
    <link rel="stylesheet" href="css/squaredFour.css">
    <style>
      #departNum1 {
        background-color: #fff;
      }
    </style>
  </head>

  <body>

    <!-- SECTOR: HEADER-->
    <div class="header-border-top">
    </div>
    <!--大版用-->
    <div class="header no-padding d-none d-md-block">
      <div class="container" style="position: relative;">  
        <div class="row no-margin">
          <div class="">
            <a class="navbar-menu navbar-menu-kgi hidden">
            </a>
          </div>
          <div class="col">
            <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
            </a>
          </div>
          <div class="col">
            <div class="page-title">線上開戶</div>
          </div>
          <div class="col">
            <a class="nav-link nav-link-kgi" (click)="showConsume();" style=" padding-top:22px;">
              <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--小版用-->
    <div class="header no-padding  d-block d-md-none">  
      <div class="row no-margin">
        <div class="">
          <a class="navbar-menu navbar-menu-kgi hidden">
          </a>
        </div>
        <div class="">
          <a class="navbar-brand navbar-brand-kgi" href="https://www.kgibank.com/" target='_blank'>
          </a>
        </div>
        <div class="">
          <div class="page-title">線上開戶</div>
        </div>
        <div class="">
          <a class="nav-link nav-link-kgi" style=" padding-top:7px;" href="tel:(02)8023-9088">
            <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-line block-hidden"></div>


    <!-- SECTOR: MAIN -->
    <section class="apply">

      <div class="container">
        <div class="row centered no-margin">
          <!--小版用-->
          <div class="col-12 d-block d-md-none progress-step">
            <div class="step step-circle">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-current">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
          <!--大版用-->
          <div class="col-12 d-none d-md-block progress-step-large">
            <div class="step step-circle">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-current">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
        </div>
      </div>


      <!-- OUTER FRAMEWORK -->
      <form class="main-form">
        <div class="container">
          <div class="row no-margin kgi-box-001">
            <div class="col-12">


              <!-- SECTOR: MAIN -->
              <!-- STEP: LINE ONE DEPARTMENT CODE -->
              <div class="form-group row" id="employee1">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">單位代號</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="text" class="form-control" formControlName="departNum1" id="departNum1" autocomplete="off" readonly>
                  </div>
                </div>
              </div>

              <!-- STEP: LINE TWO EMPLOYEE NUMBER -->
              <div class="form-group row" id="employee2">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">員工代號</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="text" class="form-control" formControlName="employNum1" id="employNum1" autocomplete="off" maxlength="10" (keyup)="turnValueUpperCase($event)" required>
                  </div>
                </div>
              </div>

              <!-- STEP: TITLE reset your password -->
              <div class="form-group row">
                <div class="col-sm-12 text-center">
                  <span>
                    為了保障你的帳號安全，請重新設定密碼
                  </span>
                </div>
              </div>

              <!-- STEP: LINE ONE 身分證字號號 (userid) -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">設定使用者密碼</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="password" class="form-control" formControlName="passRe1" id="passRe1" placeholder="請輸入6-16位英數混合英文大小視為不同字" autocomplete="off" maxlength="10" (keyup)="turnValueUpperCase($event)" required>
                    <span class="errMsg text-right re1Required hidden">請輸入密碼</span>
                  </div>
                </div>
              </div>


              <!-- STEP: LINE TWO RE-entry your password again -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">確認使用者密碼</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="password" class="form-control" formControlName="passRe2" id="passRe2" placeholder="請輸入6-16位英數混合英文大小視為不同字" autocomplete="off" maxlength="10" (keyup)="turnValueUpperCase($event)" required>
                    <span class="errMsg text-right re2Required hidden">請輸入密碼</span>
                    <span class="errMsg pull-right" style="display: none;" id="passwordError">密碼不同</span>
                  </div>
                </div>
              </div>


              <!-- STEP: LINE THREE -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left"></label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <span>
                      為了提供您產生專屬推薦網址的服務，被推薦人點選您產生的專屬網址及QR Code進行申辦時，將顯示您的填寫資料於申辦網頁及各式申請文件內，本行將依據「
                      <button type="button" style="border: none; display: inline; background: white; color: #007bff;" data-toggle="modal" data-target="#staticBackdrop">
                        凱基商業銀行個人資料告知書
                      </button>
                      」保護您個人資料安全，且於法令許可前述聲明並已詳閱告知MGM活動條款內容，請進行登入                    
                    </span>
                  </div>


                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Halting problem</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>In computability theory, the halting problem is the problem of determining, from a description of an arbitrary computer program and an input, whether the program will finish running, or continue to run forever. Alan Turing proved in 1936 that a general algorithm to solve the halting problem for all possible program-input pairs cannot exist. For any program f that might determine if programs halt, a "pathological" program g called with an input can pass its own source and its input to f and then specifically do the opposite of what f predicts g will do. No f can exist that handles this case. A key part of the proof was a mathematical definition of a computer and program, which became known as a Turing machine; the halting problem is undecidable over Turing machines. Turing's proof is one of the first cases of decision problems to be concluded. The theoretical conclusion that it is not solvable is significant to practical computing efforts, defining a class of applications which no programming invention can possibly perform perfectly.</p>
                          <br>
                          <p>Jack Copeland (2004) attributes the introduction of the term halting problem to the work of Martin Davis in the 1950s.[1] </p>
                          <br>
                          <p>The halting problem is a decision problem about properties of computer programs on a fixed Turing-complete model of computation, i.e., all programs that can be written in some given programming language that is general enough to be equivalent to a Turing machine. The problem is to determine, given a program and an input to the program, whether the program will eventually halt when run with that input. In this abstract framework, there are no resource limitations on the amount of memory or time required for the program's execution; it can take arbitrarily long and use an arbitrary amount of storage space before halting. The question is simply whether the given program will ever halt on a particular input. </p>
                          <br>
                          <p>For example, in pseudocode, the program </p>
                          <br>
                          <p>    while (true) continue</p>
                          <br>
                          <p>does not halt; rather, it goes on forever in an infinite loop. On the other hand, the program </p>
                          <br>
                          <p>    print "Hello, world!"</p>
                          <br>
                          <p>does halt. </p>
                          <br>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                          <button type="button" class="btn btn-primary">確認</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


              <!-- STEP: LINE THREE -->
              <div class="form-group row" style="margin-bottom:0px;">
                <div class="col-sm-12 squaredFour mx-auto" style="padding:0 0 5px 25px;">
                  <input id="agreement" formControlName="agreement" type="checkbox">
                  <label for="agreement" class="no-margin">若被推薦人成為凱基銀行財富管理客戶，本行將提供理財服務包含：基金、債劵、ETF、存款、外匯等項目，若你已詳閱並同意「推薦活動辦法」及前述告知書內容，打勾後既同意參加推薦活動，並請按「下一步」。</label>    
                </div>
              </div>


            </div>
          </div>
        </div>


        <!-- SECTOR: SUBMIT -->
        <!-- For PC only -->
        <div class="container text-center mt-2 d-none d-md-block">
          <button id="resetBtnSubmit1" name="resetBtnSubmit1" type="button" class="btn btn-kgi-primary" disabled>送出</button>
        </div>
        <!-- For Mobile only -->
        <div class="container sticky-bottom d-md-none mt-2">
          <div class="row no-margin">
            <button id="resetBtnSubmit2" name="resetBtnSubmit2" type="button" class="btn btn-kgi-primary col" disabled>送出</button>
          </div>
        </div>

      </form>

    </section>


    <!-- SECTOR: FOOTER -->
    <div id="footer" class="containre-fluid d-none d-md-block">
      <div class="row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center text-sm-right text-md-right">www.kgibank.com</div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-7 text-center text-sm-left text-md-left">(c) 凱基商業銀行股份有限公司版權所有</div>
      </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="js/core/jquery.min.js"></script>
    <script src="js/core/bootstrap.min.js"></script>
    <script src="js/core/popper.min.js"></script>
    <!-- THIS PAGE -->
    <script src="js/alone/mgmResetPassword.js"></script>

  </body>
</html>
