<!DOCTYPE html>
<html>
  <head>
    <title>MGM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="css/mockStyle.css">
  </head>


  <body>

    <!-- NOTE: Spinner -->
    <div id='loader' class="spinner-style" style='display: none;'>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div class="header-border-top">
    </div>
    <!--大版用-->
    <div class="header no-padding d-none d-md-block">
      <div class="container" style="position: relative;">  
        <div class="row no-margin">
          <div class="">
            <a class="navbar-menu navbar-menu-kgi hidden">
            </a>
          </div>
          <div class="col">
            <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
            </a>
          </div>
          <div class="col">
            <div class="page-title">產生專屬推薦網址</div>
          </div>
          <div class="col">
            <a class="nav-link nav-link-kgi" (click)="showConsume();" style=" padding-top:22px;">
              <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--小版用-->
    <div class="header no-padding  d-block d-md-none">  
      <div class="row no-margin">
        <div class="">
          <a class="navbar-menu navbar-menu-kgi hidden">
          </a>
        </div>
        <div class="">
          <a class="navbar-brand navbar-brand-kgi" href="https://www.kgibank.com/" target='_blank'>
          </a>
        </div>
        <div class="">
          <div class="page-title">產生專屬推薦網址</div>
        </div>
        <div class="">
          <a class="nav-link nav-link-kgi" style=" padding-top:7px;" href="tel:(02)8023-9088">
            <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-line block-hidden"></div>


    <section class="apply">

      <!-- TITLE -->
      <div class="container">
        <div class="row centered no-margin">
          <!--小版用-->
          <div class="col-12 d-block d-md-none progress-step">
            <div class="step step-current">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
          <!--大版用-->
          <div class="col-12 d-none d-md-block progress-step-large">
            <div class="step step-current">
              <span>1</span>
              <div class="tip-text">推薦資訊</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>2</span>
              <div class="tip-text">推薦產品</div>
            </div>
            <div class="step step-line step-line-width-10">&nbsp;</div>
            <div class="step step-circle">
              <span>3</span>
              <div class="tip-text">產生網址</div>
            </div>
          </div>
        </div>
      </div>

      <!-- SECTOR: MAIN -->
      <!-- OUTER FRAMEWORK -->
      <form class="main-form" id="loginSector">
        <div class="container">
          <div class="row no-margin kgi-box-001">
            <div class="col-12">
              <!-- STEP: LINE ONE -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">推薦人身份</label>
                <div class="col-12 col-md-9">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">集團員工</label>
                  </div>
                  <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">一般客戶</label>
                  </div> -->
                </div>
                <label class="col-12 col-md-3 col-form-label text-md-right text-left SectADropLabel"></label>
                <div class="col-12 col-md-9 SectADropContent">
                  <div class="row">
                    <select id="sectAselect" class="form-control custom-select" formControlName="productName">
                      <option value="0">請選擇身份</option>
                      <option value="1">中國人壽</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- STEP: LINE TWO 身分證字號號 (userid) -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">身分證字號</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="text" class="form-control" formControlName="userid" id="userid" placeholder="請輸入(含英文字母10碼)" autocomplete="off" maxlength="10" required>
                    <span class="errMsg text-right idRequired hidden">請輸入資料</span>
                    <span class="errMsg text-right idError hidden">格式錯誤</span>
                  </div>
                </div>
              </div>
              <!-- STEP: LINE THREE Birthday -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">密碼</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <input type="password" class="form-control" formControlName="loginPassword" id="loginPassword" placeholder="請輸入密碼" autocomplete="off" maxlength="10" (keyup)="turnValueUpperCase($event)" required>
                    <span class="errMsg float-right passRequired hidden">請輸入資料</span>
                    <!-- <div class="col-12 errBox">
                      <span>首次登入者，請使用您的預設密碼西元出生年月日共8碼登入(e.g. 19880101)</span>
                    </div> -->
                    <div class="col-12 errBox">
                      <a id="hrefForgot" class="text-primary cursor-pointer">忘記密碼</a>
                    </div>
                  </div>sssss
                </div>
              </div>
              <!-- STEP: 3. Captcha -->
              <div class="form-group row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">圖形驗證碼</label>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <canvas width="240" height="90" id="loginCaptcha1"></canvas>
                    <input type="text" class="form-control" id="forgotLoginEntry1" autocomplete="off" required>
                    <span class="errMsg text-right captchaError hidden">驗證碼錯誤</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- SECTOR: SUBMIT -->
        <!-- For PC only -->
        <div class="container text-center mt-2 d-none d-md-block">
          <button name="loginBtnSubmit1" id="loginBtnSubmit1" type="button" class="btn btn-kgi-primary" disabled>登入</button>
        </div>
        <!-- For Mobile only -->
        <div class="container sticky-bottom d-md-none mt-2">
          <div class="row no-margin">
            <button name="loginBtnSubmit2" id="loginBtnSubmit2" type="button" class="btn btn-kgi-primary col" disabled>登入</button>
          </div>
        </div>

      </form>

    </section>


    <!-- SECTOR: MODAL -->
    <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title d-none">
              title
            </h5>
            <button type="button" id="modalCloseButton" *ngIf="setting.showClose" class="model-close-circle-btn" data-dismiss="modal" aria-label="Close" (click)="modal.close('cancel')">
              <span aria-hidden="true" class="hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 id="messageModalContent" style="word-break:break-all;">
            </h5>
          </div>
          <div class="modal-footer text-center" style="border-top:0px;">
            <button id="modalOKButton" type="button" class="btn btn-kgi-primary col" data-dismiss="modal">
              確認
            </button>
          </div>
        </div>
      </div>
    </div>




    <!-- SECTOR: FOOTER -->
    <div id="footer" class="containre-fluid d-none d-md-block">
      <div class="row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center text-sm-right text-md-right">www.kgibank.com</div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-7 text-center text-sm-left text-md-left">(c) 凱基商業銀行股份有限公司版權所有</div>
      </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="js/core/jquery.min.js"></script>
    <script src="js/core/popper.min.js"></script>
    <script src="js/core/bootstrap.min.js"></script>
    <!-- THIS PAGE -->
    <script src="js/alone/mgmUserLogin.js"></script>

  </body>
</html>
