<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form>
                    <div class="title-area">
                        <h1>申請書已送出<span *ngIf="!mustUploadIdcard && !mustUploadFinpf">，<br />我們還需要一些文件</span></h1>
                        <div class="title-info">
                            <span>手邊沒有文件嗎？　您可以</span>
                            <a (click)='clickUploadLater()' class="txt-link">稍後補件上傳</a>
                        </div>
                    </div>

                    <div class="panel mobile-full-panel">
                        <table width="100%">
                            <tr>
                                <td class="border0" width="50">
                                    <i class="step-icon stepok">1</i>
                                </td>
                                <td class="txt-b">已完成填寫申請書</td>
                                <td class="border0" width="5"></td>
                            </tr>
                            <tr *ngIf="mustUploadIdcard">
                                <td class="border0">
                                    <i class="step-icon">2</i>
                                </td>
                                <td class="txt-b">上傳身分證</td>
                                <td class="border0"></td>
                            </tr>
                            <tr *ngIf="mustUploadFinpf">
                                <td class="border0">
                                    <i class="step-icon">3</i>
                                </td>
                                <td class="txt-b">上傳財力證明</td>
                                <td class="border0"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" (click)="onSubmit()">下一步</button>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-file.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>