<div class="row" [formGroup]="parentForm">
  <div class="kgi-panel-group col-12 col-md-9 p-0 mx-auto squaredFour">
      <input id="agreement" type="checkbox" formControlName="check" />
      <label for="agreement" class="no-margin"></label>

      <div class="panel panel-default panel-width" >
      <div class="panel-heading">
        <h6 class="panel-title">
          <a
            class="btn-link"
            [ngClass]="isLookdocOpen ? '' : 'collapsed'"
            id="look-doc1"
            (click)="isLookdocOpen = !isLookdocOpen"
          >
            {{ termTitle }}
          </a>
        </h6>
      </div>
      <div
        id="collapse1"
        class="panel-collapse collapse show"
        style="position:relative;"
      >
        <div
          class="panel-body scrollbar-macosx"
          [ngClass]="isLookdocOpen ? '' : 'height-40'"
          id="phone-network-mobile-deal"
          [innerHTML]="termText  | safe: 'html'"
        ></div>
        <div
          [ngClass]="isLookdocOpen ? '' : 'doc-bottom-shadow'"
          id="doc-bottom-shadow-2"
        ></div>
      </div>
    </div>
  </div>
</div>
