.upload-div {
  // border: 0.9px solid #b8b8b8;
  // border-radius: 1rem;
  text-align: center;
  width: 100%;

  .upload-image {
    height: 13rem;

    &.icon-circle-plus {
      padding: 4rem;
    }

  }
}
