<!-- 信用卡驗證 -->
<form class="main-form" [formGroup]="form">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <div id="verifyCredit">
          <div class="form-group row">
            <label class="col-12 col-md-11 col-form-label text-left">
              <img src="assets/image/icon/12-info.png" alt="" style="width:28px;padding-bottom: 3px;">
              請提供他行資料進行驗證
            </label>
          </div>

          <div class="form-group row" style="border-bottom: 1px solid #aaa;padding-bottom: 20px;">
            <div class="btn-group btn-group-toggle w-100 kgi-radio-group" data-toggle="buttons">
              <label
                class="btn btn-kgi-primary m-0 w-50 no-shadow"
                [ngClass]="isActive('1')">
                <input
                  type="radio"
                  formControlName="validateType"
                  autocomplete="off"
                  value="1"
                  class="no-shadow" style="display: none;"
                  >信用卡
              </label>
                <label
                  class="btn btn-kgi-primary m-0 w-50 no-shadow"
                  [ngClass]="isActive('2')">
                  <input
                    type="radio"
                    formControlName="validateType"
                    autocomplete="off"
                    class="no-shadow" style="display: none;"
                    value="2">他行存款帳戶
                </label>
            </div>
          </div>

          <!-- 信用卡 -->
          <div id="v_credit" *ngIf="isActive('1')" [formGroup]="dataForm">
            <div class="form-group row">
              <label class="d-none d-md-block col-12 col-md-3 col-form-label text-md-right text-left"> </label>
              <div class="col-12 col-md-8 pl-0 no-padding">
                <!-- <span
                  class="choose-div"
                  style="display: block; width: 100%; text-align: center;">
                  <button type="button"
                    data-inputname="credit"
                    class="d-inline-block d-md-none btn btn-kgi-mackPhoto upload-card">
                    拍信用卡帶入資料
                  </button>
                  <button type="button" data-inputname="credit"
                    class="d-none d-md-block btn btn-kgi-mackPhoto upload-card">
                    拍信用卡帶入資料
                  </button>
                </span> -->


                <div id="upload-image-form-credit" style="border: 1px solid #aaa; display: none;">
                  <div class="text-center" id="image-preview-div">
                    <div class="text-center" style="padding: 5px 0;">請檢查照片與文字是否清楚可辨識</div>
                    <img id="preview-img-credit" class="border img-fluid" src="">
                    <div class="text-cecnter p-0" style="background-color: #f1f1f1;">
                      <button
                        type="button"
                        class="btn btn-kgi-mackPhoto"
                        data-inputname="credit">重拍
                      </button>
                      <button
                        type="button" class="btn btn-kgi-primary">
                        使用
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" id="criditCardSec">
              <div class="row">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">卡號</label>
                <div class="col-12 col-md-8">
                  <div class="row">
                    <div class="col-3 pl-0 pr-1">
                      <input
                        type="tel"
                        class="number form-control text-center"
                        id="cardId1"
                        name="creditNum"
                        maxlength="4"
                        formControlName="cardId1"
                        (keyup)="AutoChange('cardId1','cardId2','cardId1')"
                        KeydownRegexp="num"
                        [ngClass]="formCheckService.validClass(dataForm, 'cardId1')"
                        autocomplete="off"/>
                    </div>
                    <div class="col-3 pl-0 pr-1">
                      <input
                        type="tel"
                        class="number form-control  text-center"
                        id="cardId2"
                        name="creditNum" maxlength="4"
                        formControlName="cardId2"
                        (keyup)="AutoChange('cardId2','cardId3','cardId1')"
                        KeydownRegexp="num"
                        [ngClass]="formCheckService.validClass(dataForm, 'cardId2')"
                        autocomplete="off"/>
                    </div>
                    <div class="col-3 pl-0 pr-1">
                      <input
                        type="tel" class="number form-control text-center"
                        id="cardId3"
                        name="creditNum"
                        maxlength="4"
                        formControlName="cardId3"
                        (keyup)="AutoChange('cardId3','cardId4','cardId2')"
                        KeydownRegexp="num"
                        [ngClass]="formCheckService.validClass(dataForm, 'cardId3')"
                        autocomplete="off"/>
                    </div>
                    <div class="col-3 pl-0 pr-1">
                      <input
                        type="tel"
                        class="number form-control text-center"
                        id="cardId4"
                        name="creditNum" maxlength="4"
                        formControlName="cardId4"
                        (keyup)="AutoChange('cardId4','cardId4','cardId3')"
                        KeydownRegexp="num"
                        [ngClass]="formCheckService.validClass(dataForm, 'cardId4')"
                        autocomplete="off"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-md-2">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">有效期限</label>
                <div class="col-12 col-md-8">
                  <div class="row">
                    <div class="col-3 pl-0 pr-1">
                      <input
                        type="tel"
                        class="number form-control text-center "
                        id="creditlimitmonth"
                        name="creditlimit"
                        maxlength="2" placeholder="MM"
                        formControlName="month"
                        KeydownRegexp="num"
                        [ngClass]="formCheckService.validClass(dataForm, 'month')"
                        autocomplete="off"/>
                    </div>
                    <div class="col-3 pl-0 pr-1">
                      <input
                        type="tel"
                        class="number form-control text-center"
                        id="creditlimityear"
                        name="creditlimit"
                        formControlName="year"
                        KeydownRegexp="num"
                        [ngClass]="formCheckService.validClass(dataForm, 'year')"
                        maxlength="2" placeholder="YY"
                        autocomplete="off"/>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row mt-md-2">
                <label class="col-12 col-md-3 col-form-label text-md-right text-left">卡片背面後三碼</label>
                <div class="col-12 col-md-8">
                  <div class="row">
                    <div class="col-3 pl-0 pr-1">
                      <input
                        type="tel"
                        class="number form-control text-center"
                        id="creditimpNum" maxlength="3"
                        formControlName="validateNo"
                        KeydownRegexp="num"
                        [ngClass]="formCheckService.validClass(dataForm, 'validateNo')"
                        autocomplete="off"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 他行 -->
          <div id="v_account" *ngIf="isActive('2')" [formGroup]="dataForm">

            <div class="form-group row mb-md-3">
              <label class="col col-form-label text-left d-md-none">銀行別</label>
              <label
                class="col col-form-label text-right pb-1 align-self-end d-md-none"
                style="font-size: 75%;">
                僅部份銀行開放驗證
              </label>
              <label class="col col-md-3 col-form-label text-left d-none d-md-inline text-md-right">銀行別
                <label
                  class="d-none d-md-flex col col-md-12 col-form-label text-right pb-1 align-self-end px-md-0"
                  style="font-size: 75%;">僅部份銀行開放驗證</label>
              </label>
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="col-12 p-0">
                        <select class="form-control custom-select" formControlName="bankId" id="bank" [ngClass]="formCheckService.validClass(dataForm, 'bankId')">
                      <option value="">請選擇</option>
                      <option [value]="item.dataKey" *ngFor="let item of pcode2566BankList">{{item.dataName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-3 col-form-label text-md-right text-left">存款帳號</label>
              <div class="col-12 col-md-8">
                <div class="row">
                  <input
                    type="tel" class="number form-control add-clear-btn" id="accountnum"
                    placeholder="請輸入" maxlength="16"
                    formControlName="account"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validClass(dataForm, 'account')"
                    autocomplete="off"/>
                </div>
              </div>
            </div>
            <div class="form-group row" id="otherebankphone">
              <label class="col-12 col-md-3 col-form-label text-md-right text-left"
                      id="phoneLable">留存他行的手機號碼</label>
              <div class="col-12 col-md-8">
                <div class="row">
                  <input
                    type="tel" class="number mobile form-control add-clear-btn"
                    id="otherbankphoneNumber" maxlength="10"
                    formControlName="phone"
                    KeydownRegexp="num"
                    [ngClass]="formCheckService.validClass(dataForm, 'phone')"
                    placeholder="請輸入" autocomplete="off"/>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 按鈕區 -->
  <div class="container text-center mt-2 d-none d-md-block">
    <button type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="backStep()">上一步</button>
    <button type="button" class="btn btn-kgi-primary" (click)="nextStep()">下一步</button>
  </div>
  <div class="container sticky-bottom d-md-none mt-2">
    <div class="row no-margin">
      <button type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="backStep()">上一步</button>
      <button type="button" class="btn btn-kgi-primary col" (click)="nextStep()">下一步</button>
    </div>
  </div>
</form>
