.kgi-box-001 {
  min-height: 60vh;
}

.btn-kgi-primary {
  /*.btn */
  border-radius: 30px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0;
  padding: 8px 18px;
  margin: 8px;
  cursor: pointer;
  /* btn-primary */
  background-color: #3278bc;
  border-color: #3278bc;
  color: #fff;
}

.btn-kgi-primary:active,
.btn-kgi-primary:hover {
  background-color: #275b90;
  color: #fff;
}

.btn-kgi-primary.disabled,
.btn-kgi-primary:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #222222;
}

.btn-kgi-primary.focus,
.btn-kgi-primary:focus {
  box-shadow: none;
}

.kgi-radio-group .btn-kgi-primary:active,
.kgi-radio-group .btn-kgi-primary.active {
  background-color: #3278bc;
  border-color: #3278bc;
  color: #fff;
  cursor: pointer;
}

.kgi-radio-group .btn-kgi-primary {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #222222;
}

.color-kgi-gray {
  font-size: 18px;
  padding: 8px 18px;
  margin: 8px;
}

.form-title {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.upload-card:before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 38px;
  left: 5px;
  top: 0px;
  background-image: url("/assets/image/cam-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 28px;
}
.btn-kgi-mackPhoto {
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 18px;
  margin: 8px;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  line-height: 22px;
  /* width: 230px; */
  box-shadow: 0px 2px 6px #aaaaaa;
  background: #cccccc;
  background: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
  background: -o-linear-gradient(bottom, #ffffff, #dbdbdb);
  background: -moz-linear-gradient(bottom, #ffffff, #dbdbdb);
  background: linear-gradient(to bottom, #ffffff, #dbdbdb);
  cursor: pointer;
  color: #222;
  border: 1px solid #aaa;
}
