<form [formGroup]="form" class="row">
  <div
    class="form-group col-6 col-md-6"
    style="padding: 0 7px 0 0;"
    [ngClass]="{'is-invalid':checkIsInValid(form, 'county')}">
    <select class="form-control custom-select" formControlName="county">
      <option value="">請選擇</option>
      <option *ngFor="let item of zipcodeFull | keyvalue:descOrder" [value]="item.key">{{item.key}}</option>
    </select>
  </div>
  <div
    class="form-group col-6 col-md-6"
    style="padding: 0 0 0 8px;"
    [ngClass]="{'is-invalid':checkIsInValid(form, 'district')}">
    <select class="form-control custom-select" formControlName="district">
      <option value="">請選擇</option>
      <option *ngFor="let district of districtList | keyvalue:descOrder" [value]="district.key">{{district.key}}</option>
    </select>
  </div>
  <div class="col-12 col-md-12" style="padding: 0;">
    <input class="form-control" type="text" formControlName="addressOther" placeholder="請輸入地址" maxlength="34" [ngClass]="{'is-invalid':checkIsInValid(form, 'addressOther')}">
  </div>
</form>
