<!-- 上傳證件OCR Start-->
<form class="main-form" [formGroup]="form">
  <div class="container">

    <!-- 身分證件 -->
    <div class="row no-margin kgi-box-001">
      <div class="col-12">

        <div id="idCardStep1">
          <div class="form-group">
            <div class="text-left">身分證件</div>
            <div class="row IDCardPreview001">
              <div class="col-12 col-md-6 px-1 text-center ContentVAlign">
                <app-upload
                [doc]="frontIdDoc"
                  [imgName]="'assets/image/id-front-icon.png'"
                  (docResult)="getFrontIdImg($event)"></app-upload>
              </div>
              <div class="col-12 col-md-6 px-1 text-center ContentVAlign">
                <app-upload
                [doc]="backIdDoc"
                  [imgName]="'assets/image/id-back-icon.png'"
                  (docResult)="getBackIdImg($event)"></app-upload>
              </div>
            </div>
            <div style="font-size:0.9rem;color:#555; text-align: justify;">
              ※如您使用相機拍照功能，請將證件擺正，手機拿橫拍攝，確認證件完整且清晰後拍攝<br>
            </div>
            <div class="mt-2" style="font-size:0.9rem;color:#555; text-align: justify;">
              ※拍照傳送說明：<br>
              1.單一檔案大小上限6MB<br>
              2.格式限定為JPG或PNG<br>
              若非上述檔案類型，恕本行無法接收檔案
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 第二證件 -->
    <div class="row kgi-box-001" style="margin: 10px 0 0;" *ngIf="isSecCard">
      <div class="col-12">
        <div id="secCardStep1">
          <div class="form-group">
            <div class="text-left">
              第二證件<br/>
              <!-- <span class="font-14">請堤供「健保卡」或「駕照」正面照片</span> -->
            </div>
            <div class="row IDCardPreview001">
              <div class="col-12 px-1 text-center ContentVAlign">
                <app-upload
                [doc]="secCardIdDoc"
                  [imgName]="'assets/image/secCard-icon.png'"
                  (docResult)="getSecCardImg($event)"></app-upload>
              </div>
            </div>
            <!-- <div style="font-size:0.9rem;color:#555; text-align: justify;">
                ※如您使用相機拍照功能，請將證件擺正，手機拿橫拍攝，確認證件完整且清晰後拍攝<br>
            </div>
            <div class="mt-2" style="font-size:0.9rem;color:#555; text-align: justify;">
                ※拍照傳送說明：<br>
                1.單一檔案大小上限5MB<br>
                2.格式限定為JPG或PNG<br>
                若非上述檔案類型，恕本行無法接收檔案
            </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- 按鈕區 -->
  <div>
    <div>
      <div class="container text-center mt-2 d-none d-md-block">
        <button
          type="button"
          class="btn btn-kgi-secondary color-kgi-gray"
          [disabled]="isPrevDisabled()"
          (click)="back()">
          上一步
        </button>
        <button
          type="button"
          class="btn btn-kgi-primary"
          [disabled]="isNextDisabled()"
          (click)="next()">
          下一步
        </button>
      </div>
      <div class="container sticky-bottom d-md-none mt-2">
        <div class="row no-margin">
          <button
            type="button"
            class="btn btn-kgi-secondary color-kgi-gray col"
            [disabled]="isPrevDisabled()"
            (click)="back()">
            上一步
          </button>
          <button
            type="button"
            class="btn btn-kgi-primary col"
            [disabled]="isNextDisabled()"
            (click)="next()">
            下一步
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- 上傳證件OCR End-->
