<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <!-- Step1輸入驗證碼 + Step2確認薪轉帳戶 Start -->
  <form class="main-form" [formGroup]="form"  class="code-form rapid-form">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">

          <!-- Step1輸入驗證碼 Start-->
          <div>
            <div class="form-group text-center">
              <!-- 親愛的 <span class="h4 color-primary">{{ userName | hiddenStr: { start: 1, length: 1 } }}</span> 客戶，您好<br /> -->
              <span>
                已發送簡訊驗證碼至以下
                <!-- 您申辦本行<span>{{accountType}}</span>留填之 -->
                手機號碼
              </span>
              <h2 class="color-primary text-center mt-3">{{userPhoneNum | hiddenStr: { start: 3, length: 3 } }}</h2><br>請於5分鐘內輸入驗證碼
            </div>

            <!-- 輸入驗證碼/客服電話 -->
<!--            <div class="form-group row mt-3">-->
<!--              <label class="col-sm-12 col-md-3 col-form-label text-left"></label>-->
<!--              <div class="col-sm-12 col-md-6 text-center">-->
<!--                <input-->
<!--                  type="tel"-->
<!--                  class="form-control verificationInput"-->
<!--                  formControlName="inputcaptcha"-->
<!--                  autocomplete="off"-->
<!--                  maxlength="6"-->
<!--                  KeydownRegexp="num"-->
<!--                  placeholder="請於5分鐘內輸入驗證碼"-->
<!--                  required>-->
<!--                  <div class="col-12 errBox" *ngIf="form.controls['inputcaptcha'].invalid && form.controls['inputcaptcha'].touched">-->
<!--                    <span-->
<!--                      class="errMsg"-->
<!--                      style="padding-left: 140px;"-->
<!--                      *ngIf="form.controls['inputcaptcha'].errors">-->
<!--                      請輸入6位數字-->
<!--                    </span>-->
<!--                  </div>-->
<!--              </div>-->
<!--            </div>-->

            <div class="code-area">
              <input #tel1 formControlName="tel1" type="tel" [cleave]="cleave.Number" maxlength="1" required
                     autofocus (ngModelChange)="checkValue('tel1', $event)" />
              <input formControlName="tel2" type="tel" [cleave]="cleave.Number" maxlength="1" required
                     (ngModelChange)="checkValue('tel2', $event)" />
              <input formControlName="tel3" type="tel" [cleave]="cleave.Number" maxlength="1" required
                     (ngModelChange)="checkValue('tel3', $event)" />
              <input formControlName="tel4" type="tel" [cleave]="cleave.Number" maxlength="1" required
                     (ngModelChange)="checkValue('tel4', $event)" />
              <input formControlName="tel5" type="tel" [cleave]="cleave.Number" maxlength="1" required
                     (ngModelChange)="checkValue('tel5', $event)" />
              <input formControlName="tel6" type="tel" [cleave]="cleave.Number" maxlength="1" required
                     (ngModelChange)="checkValue('tel6', $event)" />
            </div>
            <div class="form-group row mt-3">
              <label class="col-sm-12 col-md-3 col-form-label text-left"></label>
              <div class="col-sm-12 col-md-6 text-center">
                <!-- <a class="btn btn-kgi-secondary d-sm-none phoneBtn" href="tel:(02)8023-9088">
                  <img class="phone-img" src="assets/image/icon/07-phone.png" alt="">&nbsp;致電客服更新手機號碼
                </a>
                <a class="btn btn-kgi-secondary d-none d-sm-inline-block phoneBtn" (click)="showConsume()">
                  <img class="phone-img" src="assets/image/icon/07-phone.png" alt="">&nbsp;致電客服更新手機號碼
                </a> -->
                <!-- <p class="m-3">or</p> -->
                <a class="text-primary cursor-pointer" (click)="secText>0 ? '' : sendSMS()">重領驗證碼<span *ngIf="secText > 0">({{secText}}秒)</span></a>

                  <!-- <a class="btn btn-kgi-secondary" style="padding:8px 12px;" (click)="newAccount()">
                    不修改電話直接加開新帳戶
                  </a> -->
              </div>
            </div>
          </div>
          <!-- Step1輸入驗證碼 End-->
        </div>
      </div>
    </div>

    <!-- 按鈕區 -->
<!--    <div>-->
<!--      <div class="container text-center mt-2 d-none d-md-block">-->
<!--        <button-->
<!--          type="button"-->
<!--          class="btn btn-kgi-secondary color-kgi-gray"-->
<!--          (click)="otherActions()"-->
<!--          [disabled]="isLeftBtnDisabled()"-->
<!--          >-->
<!--          {{leftBtnText}}-->
<!--        </button>-->
<!--        <button-->
<!--          type="button"-->
<!--          class="btn btn-kgi-primary"-->
<!--          (click)="next()"-->
<!--          [disabled]="isNextBtnDisabled()">-->
<!--          {{rightBtnText}}-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="container xsticky-bottom d-md-none mt-2">-->
<!--        <div class="row no-margin">-->
<!--          <button-->
<!--            type="button"-->
<!--            class="btn btn-kgi-secondary color-kgi-gray col"-->
<!--            (click)="otherActions()"-->
<!--            [disabled]="isLeftBtnDisabled()">-->
<!--            {{leftBtnText}}-->
<!--          </button>-->
<!--          <button-->
<!--            type="button"-->
<!--            class="btn btn-kgi-primary col"-->
<!--            (click)="next()"-->
<!--            [disabled]="isNextBtnDisabled()">-->
<!--            {{rightBtnText}}-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </form>
</section>
