.kgi-box-001 {
  min-height: 60vh;
}

input[type='radio']:checked + label {
  background-color: #3278bc;
  border-color: #3278bc;
  color: #fff;
}

// 驗證碼輸入框
.verificationInput {
  display: inline-block;
  width: 230px;
  border: 1px solid #3278bc;
}
.phoneBtn {
  padding: 8px 0;
  width: 230px;
  img {
    width: 25px;
  }
}
.color-kgi-gray {
  font-size: 18px;
  padding: 8px 18px;
  margin: 8px;
}

// 選擇銀行帳戶
.bankList {
  .bankBtn {
    position: relative;
    border: 1px solid #aaa;
    cursor: pointer;
    border-radius: 4px;
    min-width: 230px;
    padding: 10px;
    margin-bottom: 20px;
    i {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #aaa;
      font-size: 1.5em;
    }
  }
  .bankBtn:hover {
    i,
    span {
      color: #3278bc;
    }
    border: 1px solid #3278bc;
  }
  input[type='radio']:checked + label {
    background-color: #fff;
    border-color: #3278bc;
    i,
    span {
      color: #3278bc;
    }
  }
}

.form-title {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.code-form .code-area {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.code-info {
  text-align: center;
}

.code-form input {
  padding: 10px 8px;
  width: 40px;
  font-size: 20px;
  line-height: normal;
}

.code-form input:not(:focus) {
  outline: 5px solid transparent; /*高階哀鳳雞切換輸入框的殘影問題*/
}

.code-form input + input {
  margin-left: 0;
}

/******************
簡訊碼輸入框
*******************/
.code-form input {
  width: 48px;
  font-size: 24px;
  text-align: center;
  line-height: 24px; /*IE歪掉問題*/
}

.code-form input + input {
  margin-left: 10px;
}
