<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                    <div class="title-area">
                        <h1>選擇要簽署的項目</h1>
                        <div class="title-info">待簽署契約項目如下</div>
                    </div>

                    <div class="btn-area btn-full">
                        <a class="btn-submit" [routerLink]="['/SGN/account']">個人信用貸款契約書</a>
                    </div>

                    <div class="btn-area btn-full">
                        <a class="btn-submit" [routerLink]="['/SGN/account']">小額循環信用貸款契約書</a>
                    </div>
                    <div class="btn-area btn-full">
                        <a class="btn-submit" [routerLink]="['/SGN/account']">現金卡契約書</a>
                    </div>


                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>
</div>