<form [formGroup]="parentform" class="row">
  <div class="form-group col-6 col-md-6" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'bankCity')}">
    <select class="form-control custom-select" formControlName="bankCity">
      <option value="">請選擇</option>
      <option *ngFor="let item of countyList" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="form-group col-6 col-md-6" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'bankDist')}">
    <select class="form-control custom-select" formControlName="bankDist">
      <option value="">請選擇</option>
      <option *ngFor="let item of districtList " [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="form-group col-12" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'bankName')}">
    <select class="form-control custom-select" formControlName="bankName">
      <option value="">請選擇</option>
      <option *ngFor="let item of branchs" [value]="item">{{item}}</option>
    </select>
    <div class="mt-1" *ngIf="bankAddress!==''">{{bankAddress}}</div>
  </div>
<!--  <div class="form-group col-12 col-md-8" [ngClass]="{'is-invalid':checkIsInValid(parentform, 'bankAddress')}">-->
<!--    <input type="text" class="form-control" formControlName="bankAddress" readonly="readonly">-->
<!--  </div>-->
  <input type="hidden" formControlName="bankAddrZipCode">
  <input type="hidden" formControlName="bankAddr">


</form>
