.form-title {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.preferential .preBtn,
.applyType .creditBtn {
  position: relative;
  border: 1px solid #aaa;
  cursor:pointer;
  border-radius: 4px;
  min-width:230px;
  margin-bottom: 20px;
}

.preferential .preBtn {
  padding: 10px;
  i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #aaa;
    font-size: 1.5em;
  }
}

.applyType .creditBtn {
  width: 100%;
  padding: 10px 10px 20px;

  .img-left-top {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 30px;
  }

  .img-right-top {
    position: absolute;
    top: 10px;
    right: 3%;
    width:20px;
    display: none;
  }
}

.preBtn:hover,
.creditBtn:hover {
  border: 1px solid #3278bc;
}

.preBtn:hover i, .preBtn:hover span,
.creditBtn:hover i, .creditBtn:hover span {
  color:#3278bc;

}

input[type="checkbox"]:checked+label,
input[type="radio"]:checked+label{
  background-color: #fff;
  border-color: #3278bc;
}

input[type="checkbox"]:checked+label i,
input[type="checkbox"]:checked+label span,
input[type="radio"]:checked+label i,
input[type="radio"]:checked+label span {
  color:#3278bc;
}

.creditBtn div {
  // width: 200px;
  margin: auto;
  color: rgb(128, 128, 128);
}

input[type="radio"]:checked+label .img-right-top {
  display: inline-block;
}
.btn-title {
  font-size: 18px;
  font-weight: bold;
}

.font-16 {
  font-size: 14px;
}

.finishStep4Box {
  img {
    max-width: 80px;
  }

  .img-item {
    margin-bottom: 20px;
  }
  .img-item.googleIcon img {
    max-width: 110px;
  }
  .tip {
    font-size: 14px;
    font-weight: 800;
  }
}

.color-kgi-gray {
  font-size: 18px;
  padding: 8px 18px;
  margin: 8px;
}
