<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

    <!-- Step2 Start -->
    <form class="main-form" [formGroup]="form">
      <div class="container">
        <div class="row no-margin kgi-box-001">
          <div class="col-12">
            <!-- 選擇待簽署契約項目 Start -->
            <div class="form-group mt-3 text-center">
              <p class="form-title">待簽署契約項目如下</p>
              <div class="applyType">

                <div *ngIf="getDgtConstResp1">
                  <input
                    type='radio'
                    id='1'
                    class="radioHide"
                    formControlName='plContractType'
                    autocomplete='off'
                    value='1'>
                  <label class='creditBtn' for="1">
                    <div>
                      <span class="btn-title">個人信用貸款契約書</span><br />
                      <span class="font-16 text-center"></span>
                    </div>
                    <img class="img-right-top" src="assets/image/icon/45-mark.png" alt="">
                  </label>
                </div>

                <div *ngIf="getDgtConstResp3">
                  <input
                    type='radio'
                    id='2'
                    class="radioHide"
                    formControlName='plContractType'
                    autocomplete='off'
                    value='3'>
                  <label class='creditBtn' for="2">
                    <div>
                      <span class="btn-title">小額循環信用貸款(速還金/好貼薪)契約書</span><br />
                      <span class="font-16 text-center"></span>
                    </div>
                    <img class="img-right-top" src="assets/image/icon/45-mark.png" alt="">
                  </label>
                </div>

                <div *ngIf="getDgtConstResp2">
                  <input
                    type='radio'
                    id='3'
                    class="radioHide"
                    formControlName='plContractType'
                    autocomplete='off'
                    value='2'>
                  <label class='creditBtn' for="3">
                    <div>
                      <span class="btn-title">現金卡契約書</span><br />
                      <span class="font-16 text-center"></span>
                    </div>
                    <img class="img-right-top" src="assets/image/icon/45-mark.png" alt="">
                  </label>
                </div>
              </div>
            </div>
            <!-- 選擇待簽署契約項目 End -->
          </div>
        </div>
      </div>
    </form>
    <!-- Step2 End -->

    <!-- 按鈕區 Stert -->
    <div class="container text-center mt-2 d-none d-md-block">
      <!-- <button
        name="btnsubmit"
        type="button"
        class="btn btn-kgi-secondary color-kgi-gray"
        [disabled]="isPrevDisabled()"
        (click)="otherActions()"
        >
        上一步
      </button> -->
      <button
        name="btnsubmit"
        type="button"
        class="btn btn-kgi-primary"
        (click)="next()"
        [disabled]="isNextDisabled()">
        下一步
      </button>
    </div>
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
          <!-- <button
          name="btnsubmit"
          type="button"
          class="btn btn-kgi-secondary color-kgi-gray col"
          [disabled]="isPrevDisabled()"
          (click)="otherActions()"
          >
          上一步
        </button> -->
        <button
          name="btnsubmit"
          type="button"
          class="btn btn-kgi-primary col"
          (click)="next()"
          [disabled]="isNextDisabled()">
          下一步
        </button>
      </div>
    </div>
    <!-- 按鈕區 End -->
</section>
