<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form action="SGN/identify">
                    <div class="panel fixed-panel">
                        <div class="upper-panel">
                            <i class="icon-check-sharp"></i>
                            <h1>簽約完成，最快當天撥款</h1>
                            <!-- <div class="demolink">
                                <a [routerLink]="['/SGN/complete']">PL</a>
                                <a [routerLink]="['/SGN/complete.rpl']" style="margin-left: 5px;">RPL</a>
                                <a [routerLink]="['/SGN/complete.more']" style="margin-left: 5px;">繼續簽署</a>
                            </div> -->
                        </div>
                        <div class="lower-panel">
                            <div class="lower-panel-header">
                                <div class="txt-large">何時撥款與繳款？</div>
                                <img class="art-image" src="assets/inc/default/img/art-money.svg" alt="Art Image" />
                            </div>
                            <div class="lower-panel-content">
                                <ol class="art-list">
                                    <li>
                                        <div>
                                            <div>款項將撥入以下帳戶</div>
                                            <div class="txt-small">臺灣銀行 123459020021</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div>每月15日繳款，請留意以下帳戶餘額</div>
                                            <div class="txt-small">台新銀行 123459020021</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>
</div>