<div class="body-wrapper">
    <main>
        <section id="contact" class="mobile-white">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/CAD/gift']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>
                    <div class="banner">
                        <img src="assets/inc/default/img/demo/newcard.png" alt="Banner" width="100%" />
                        <div class="banner-content">
                            <h1>新戶申辦信用卡，<br>獲得優惠方案</h1>
                            <p>邀請您申辦魔fun卡，核卡後本行將優先提供您專屬貸款方案</p>
                        </div>
                    </div>
                    <div class="form-item">
                        <input type="checkbox" id="ch1" [(ngModel)]="ch1" name="ch1" />
                        <label for="ch1">
                            <div class="check-widget"></div>
                            <span>我已閱讀並同意聯名機構之個資利用同意事項</span>
                        </label>
                    </div>

                    <div style="height: 8px"></div>

                    <dl>
                        <dt class="form-item margin0">
                            <input type="checkbox" id="ch2" [(ngModel)]="ch2" name="ch2" />
                            <label for="ch2">
                                <div class="check-widget"></div>
                                <span>我已閱讀並同意上列條款及告知事項</span>
                            </label>
                        </dt>
                        <dd class="info-area txt-gray">
                            <span>為維護您的權益，請詳閱 </span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[1])">{{terms[1]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[2])">{{terms[2]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[3])">{{terms[3]?.title || ''}}</span>
                        </dd>
                    </dl>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="!ch1 || !ch2"
                            (click)="onSubmit()">下一步</button>
                    </div>
                </form>

            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>


    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">{{dialogTitle}}</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <div [innerHTML]="dialogData | safe:'html'"></div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>

</div>