<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/UPL/step0']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <!-- <input type="text" (onValueChanged)="onChange($event)" npInputMask [options]="{
                    numeral: true,
                    numeralIntegerScale: 4
                  }" [(ngModel)]="price" required>
                {{price}} -->

                <form [formGroup]="applyForm" class=" rapid-form">
                    <div class="title-area">
                        <h1>用他行信用卡驗證您的身分</h1>
                        <div class="title-info">
                            <span>哪些銀行的信用卡可以驗證？</span>
                            <span class="txt-link" tabindex="0" (click)="showDialog('#dialog1')">查看銀行列表</span>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>卡號</label>
                        <div class="columns">
                            <div class="column-item flexbasis-25">
                                <input #cardNumber1 formControlName="cardNumber1" type="tel" maxlength="4"
                                    [cleave]="cleave.Number" />
                                <div class="error-text" *ngIf="errorMessage('cardNumber1')">填寫此欄位</div>
                            </div>
                            <div class="column-item flexbasis-25">
                                <input formControlName="cardNumber2" type="tel" [cleave]="cleave.Number"
                                    maxlength="4" />
                                <div class="error-text" *ngIf="errorMessage('cardNumber2')">填寫此欄位</div>
                            </div>
                            <div class="column-item flexbasis-25">
                                <input formControlName="cardNumber3" type="tel" [cleave]="cleave.Number"
                                    maxlength="4" />
                                <div class="error-text" *ngIf="errorMessage('cardNumber3')">填寫此欄位</div>
                            </div>
                            <div class="column-item flexbasis-25">
                                <input formControlName="cardNumber4" type="tel" [cleave]="cleave.Number"
                                    maxlength="4" />
                                <div class="error-text" *ngIf="errorMessage('cardNumber4')">填寫此欄位</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>有效期限</label>
                        <div class="columns">
                            <div class="column-item flexbasis-25">
                                <input formControlName="month" type="tel" [cleave]="cleave.Number" maxlength="2"
                                    placeholder="MM" />
                                <div class="error-text" *ngIf="errorMessage('month')">填寫有誤</div>
                            </div>
                            <div class="column-item flexbasis-25">
                                <input formControlName="Year" type="tel" [cleave]="cleave.Number" maxlength="2"
                                    placeholder="YY" />
                                <div class="error-text" *ngIf="errorMessage('Year')">填寫此欄位</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>卡片背後3碼</label>
                        <div class="columns">
                            <div class="column-item flexbasis-50">
                                <input formControlName="cardBehind" type="tel" [cleave]="cleave.Number" maxlength="3" />
                                <div class="error-text" *ngIf="errorMessage('cardBehind')">填寫此欄位</div>
                            </div>
                            <!-- <div class="column-item"></div> -->
                        </div>
                    </div>
                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">進行驗證</button>
                    </div>
                </form>
            </div>

        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">支援身份驗證的信用卡銀行列表</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <ul>
                <li>臺灣銀行</li>
                <li>土地銀行</li>
                <li>合庫商銀</li>
                <li>第一銀行</li>
                <li>華南銀行</li>
                <li>彰化銀行</li>
                <li>上海銀行</li>
                <li>台北富邦</li>
                <li>國泰世華</li>
                <li>高雄銀行</li>
                <li>兆豐商銀</li>
                <li>花旗銀行</li>
                <li>臺灣企銀</li>
                <li>匯豐銀行</li>
                <li>渣打銀行</li>
                <li>標旗銀行</li>
                <li>華泰銀行</li>
                <li>陽信銀行</li>
                <li>中華郵政</li>
                <li>聯邦銀行</li>
                <li>遠東銀行</li>
                <li>玉山銀行</li>
                <li>台新銀行</li>
                <li>日盛銀行</li>
                <li>安泰銀行</li>
                <li>中國信託</li>
            </ul>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>