<div class="dialog dialog-small dialog-show">
  <form action="javascript:;">
  <div class="dialog-header">
    <i class="close-icon dialog-close"
    id="modalCloseButton"
    *ngIf="setting.showClose"
    (click)="modal.close('cancel')"
    ></i>
    <div class="dialog-title">{{ setting.title }}</div>
  </div>
  <div class="dialog-content">
    <h3 id="messageModalContent">
      {{ setting.message }}
    </h3>
  </div>
  <div class="btn-area">
       <button
         id="modalCancelButton"
         *ngIf="setting.showConfirm"
         type="button"
         class="btn-submit dialog-submit dialog-close"
         data-dismiss="modal"
         (click)="modal.close('cancel')"
       >
         {{ setting.btnCancel }}
       </button>
       <button
         id="modalOKButton"
         type="button"
         class="btn-cancel dialog-close"
         data-dismiss="modal"
         (click)="modal.close('ok')"
       >
         {{ setting.btnOK }}
       </button>
  </div>
  </form>
  </div>