<section class="apply">

  <!-- SECTOR: STEP -->
  <app-step-num [step]="stepStr"></app-step-num>

  <form class="main-form">

    <!-- SECTOR: OUTER FRAMESWORK -->
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">
        </div>
      </div>
    </div>
  </form>
</section>