<div class="dialog dialog-small" id="dialog">
    <div class="dialog-header">
        <i class="close-icon dialog-close" (click)="closeDialog()"></i>
        <div class="dialog-title"></div>
    </div>
    <div class="dialog-content">
        <!-- 內容開始 -->
        <div>{{logger.dialogContent}}</div>
    </div>
    <div class="btn-area" *ngIf=!logger.isCSRT>
        <button  type="button" class="btn-submit dialog-close" (click)="closeDialog()">我知道了</button>
    </div>
    <div class="btn-area" *ngIf=logger.isCSRT>
        <button  type="button" class="btn-submit dialog-close" (click)="redirectRT()">返回支付連</button>
    </div>
</div>

