.preview-large {
    height: calc(100vh - 370px);
    overflow: auto;
    // padding-right: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    padding-left: 5px;
  }  

.preview-small {
    height: calc(100vh - 270px);
    overflow: auto;
    width: calc(100vw - 30px);
    border-style: solid;
    border-color: #cccccc;
    padding-left: 5px;
  }

.kgi-box-001 {
    margin-right: 1px;
  }  

  @media (min-width: 992px) {
    .kgi-box-001 {
      padding: 40px 100px;
    }
  }

.container {
    padding-left: 8px;
    padding-right: 1px;
}

.col-12 {
  padding-left: 5px;
}