<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <form class="main-form" [formGroup]="dataForm">
    <!-- 契約書內容Start -->
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="title-area">
          <h3 *ngIf="this.currentUrl === '/n/contentrpl' ">額度型貸款契約書</h3>
          <h3 *ngIf="this.currentUrl === '/n/content' ">   分期型貸款契約書</h3>
        </div>
        <div class="col-12">
          <div id="previewPlContract">
            <div class="row">
              <label  class="col-12 col-md-11 col-form-label text-left ">
                <img src="assets/image/icon/12-info.png" alt="" style="width:28px;padding-bottom: 3px;">
                請確認以下契約書內容
              </label>
            </div>
            <div class="panel-collapse collapse show" style="position:relative;">
                <!-- 大版 -->
                <div class="mt-2 d-none d-md-block scrollbar-macosx preview-large" [innerHTML] ="previewHtml | safe: 'html'">
                </div>
                <!-- 小版 -->
                <div class="d-md-none mt-2 scrollbar-macosx preview-small" [innerHTML] ="previewHtml | safe: 'html'">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 契約書內容End -->

    <!-- 按鈕區 Start -->
    <!-- 大版 -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button type="button" class="d-none btn btn-kgi-secondary color-kgi-gray" (click)="backStep()">上一步</button>
      <button type="button" class="btn btn-kgi-primary" (click)="nextStep()"
      [disabled]="isNextDisabled()">確認簽約</button>
    </div>
    <!-- 小版 -->
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button type="button" class="d-none btn btn-kgi-secondary color-kgi-gray col" (click)="backStep()">上一步</button>
        <button type="button" class="btn btn-kgi-primary col" (click)="nextStep()"
        [disabled]="isNextDisabled()">確認簽約</button>
      </div>
    </div>
    <!-- 按鈕區 End -->

  </form>
</section>
