<input type="text" [cleave]="cleaveOptions" [(ngModel)]="creditcardNo" (ngModelChange)="creditcardNoChange.emit(creditcardNo)" />

<!-- <ul class="cards clearfix">
    <li>
        <div class="col-left">
            <div class="icon-amex icon icon-cc-amex"></div>
        </div>
        <div class="col-right">
            <p>American Express: starts with <span class="link-number">34/37</span></p>
            <p>34<span class="dots">
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                </span>
            </p>
        </div>
    </li>

    <li>
        <div class="col-left">
            <div class="icon-visa icon icon-cc-visa"></div>
        </div>
        <div class="col-right">
            <p>VISA: starts with <span class="link-number">4</span></p>
            <p>4<span class="dots">
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                </span>
            </p>
        </div>
    </li>

    <li>
        <div class="col-left">
            <div class="icon-diners icon icon-cc-diners-club"></div>
        </div>
        <div class="col-right">
            <p>Diners Club: starts with <span class="link-number">300-305/309...</span></p>
            <p>300<span class="dots">
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                </span>
            </p>
        </div>
    </li>

    <li>
        <div class="col-left">
            <div class="icon-mastercard icon icon-cc-mastercard active"></div>
        </div>
        <div class="col-right">
            <p>MasterCard: starts with <span class="link-number">51-55/22-27</span></p>
            <p>51<span class="dots">
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                </span>
            </p>
        </div>
    </li>

    <li>
        <div class="col-left">
            <div class="icon-jcb icon icon-cc-jcb"></div>
        </div>
        <div class="col-right">
            <p>JCB: starts with 35/2131/1800</p>
            <p>35<span class="dots">
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset-minus-gap"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                </span>
            </p>
        </div>
    </li>

    <li>
        <div class="col-left">
            <div class="icon-discover icon icon-cc-discover"></div>
        </div>
        <div class="col-right">
            <p>Discover: starts with 6011|65|644-649</p>
            <p>6011<span class="dots">

                    <span class="icon-circle dot-offset-minus-gap"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>

                    <span class="icon-circle dot-offset"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                    <span class="icon-circle"></span>
                </span>
            </p>
        </div>
    </li>
</ul> -->