.kgi-box-001 {
  min-height: 60vh;
}

.btn-kgi-primary {
  /*.btn */
  border-radius: 30px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0;
  padding: 8px 18px;
  margin: 8px;
  cursor: pointer;
  /* btn-primary */
  background-color: #3278bc;
  border-color: #3278bc;
  color: #fff;
}

.btn-kgi-primary:active,
.btn-kgi-primary:hover {
  background-color: #275b90;
  color: #fff;
}

.btn-kgi-primary.disabled,
.btn-kgi-primary:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #222222;
}

.btn-kgi-primary.focus,
.btn-kgi-primary:focus {
  box-shadow: none;
}

.kgi-radio-group .btn-kgi-primary:active,
.kgi-radio-group .btn-kgi-primary.active {
  background-color: #3278bc;
  border-color: #3278bc;
  color: #fff;
  cursor: pointer;
}

.kgi-radio-group .btn-kgi-primary {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #222222;
}

.color-kgi-gray {
  font-size: 18px;
  padding: 8px 18px;
  margin: 8px;
}

.form-title {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  /*webkit瀏覽器專用*/
  .row ::-webkit-input-placeholder {
    font-size: 12px;
  }
  /*Firefox 4-18瀏覽器專用*/
  .row input::-moz-placeholder {
    font-size: 12px;
  }
  /*Firefox 19+瀏覽器專用*/
  .row input::-moz-placeholder {
    font-size: 12px;
  }
  /*IE10瀏覽器專用*/
  .row:-ms-input-placeholder {
    font-size: 12px;
  }
}
