<!-- 設定網路銀行 -->
<form class="main-form" >
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <div class="form-group mt-3 text-center" [formGroup]="dataForm" *ngIf="webBankRes?.hasWebBank ==='N'">
          <p class="form-title">設定網路銀行</p>
          <!-- 使用者代號 Start -->
          <div class="form-group row input-row">
            <label
              class="col-12 col-md-4 col-form-label text-md-right text-left"
              >使用者代號</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="text"
                  class="form-control"
                  name="userid"
                  id="userid"
                  placeholder="請輸入6-12位英數混合英文大小寫視為不同字"
                  autocomplete="off"
                  minlength="6"
                  maxlength="12"
                  formControlName="bankUser"
                  KeydownRegexp="numeng"
                  (blur)="bankUserErrorMessageUpdate()"
                  [ngClass]="formCheckService.validClass(dataForm, 'bankUser')"
                  required
                />

                <div
                  *ngIf="formCheckService.checkIsInValid(dataForm, 'bankUser')"
                >
                  <label class="error border-danger">{{
                    bankUserErrorMessage
                  }}</label>
                </div>
              </div>
            </div>
          </div>
          <!-- 使用者代號 End -->
          <!-- 使用者密碼 Start -->
          <div class="form-group row input-row">
            <label
              class="col-12 col-md-4 col-form-label text-md-right text-left"
              >網路銀行密碼</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="請輸入6-16位英數混合英文大小寫視為不同字"
                  autocomplete="off"
                  minlength="6"
                  maxlength="16"
                  KeydownRegexp="numeng"
                  formControlName="bankpwd"
                  (blur)="bankPwdErrorMessageUpdate()"
                  [ngClass]="getWebBankPwdClass()"
                  required
                />
                <div
                  *ngIf="formCheckService.checkIsInValid(dataForm, 'bankpwd')"
                >
                  <label class="error border-danger">{{
                    bankPwdErrorMessage
                  }}</label>
                </div>
                <label *ngIf="checkWebBankPwd()" class="error border-danger"
                  >您設定的密碼不可與使用者代號相同</label
                >
              </div>
            </div>
          </div>
          <!-- 使用者密碼 End -->
          <!-- 確認使用者密碼 Start -->
          <div class="form-group row">
            <label
              class="col-12 col-md-4 col-form-label text-md-right text-left"
              >確認網路銀行密碼</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="password"
                  class="form-control"
                  name="passwordConfirm"
                  id="passwordConfirm"
                  placeholder="請輸入6-16位英數混合英文大小寫視為不同字"
                  autocomplete="off"
                  minlength="6"
                  maxlength="16"
                  KeydownRegexp="numeng"
                  formControlName="bankpwdConfirm"
                  (blur)="bankPwdConfirmErrorMessageUpdate()"
                  [ngClass]="getWebBankPwdConfirmClass()"
                  required
                />
                <label
                  *ngIf="
                    formCheckService.checkIsInValid(dataForm, 'bankpwdConfirm')
                  "
                  class="error border-danger"
                  >{{ bankPwdConfirmErrorMessage }}</label
                >
                <label *ngIf="checkWebBankPwdConfirm()" class="error border-danger"
                  >網路銀行密碼與確認網路銀行密碼不相同</label
                >
              </div>
            </div>
          </div>
          <!-- 確認使用者密碼 End -->
        </div>
        <hr class="row" *ngIf="webBankRes?.hasIvrBank ==='N'">
        <div class="form-group mt-3 text-center" [formGroup]="dataForm2" *ngIf="webBankRes?.hasIvrBank ==='N'">
          <p class="form-title">設定電話銀行密碼</p>
          <!-- 使用者密碼 Start -->
          <div class="form-group row input-row">
            <label
              class="col-12 col-md-4 col-form-label text-md-right text-left"
              >電話銀行密碼</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="password"
                  class="form-control"
                  name="ivrpassword"
                  id="ivrpassword"
                  placeholder="請輸入6-8位數字密碼"
                  autocomplete="off"
                  minlength="6"
                  maxlength="8"
                  KeydownRegexp="num"
                  formControlName="bankpwd"
                  (blur)="ivrBankPwdErrorMessageUpdate()"
                  [ngClass]="formCheckService.validClass(dataForm2, 'bankpwd')"
                  required
                />
                <div
                  *ngIf="formCheckService.checkIsInValid(dataForm2, 'bankpwd')"
                >
                  <label class="error border-danger">{{
                    ivrBankPwdErrorMessage
                  }}</label>
                </div>
              </div>
            </div>
          </div>
          <!-- 使用者密碼 End -->
          <!-- 確認使用者密碼 Start -->
          <div class="form-group row">
            <label
              class="col-12 col-md-4 col-form-label text-md-right text-left"
              >確認電話銀行密碼</label
            >
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="password"
                  class="form-control"
                  name="ivrpasswordConfirm"
                  id="ivrpasswordConfirm"
                  placeholder="請輸入6-8位數字密碼"
                  autocomplete="off"
                  minlength="6"
                  maxlength="8"
                  KeydownRegexp="num"
                  formControlName="bankpwdConfirm"
                  (blur)="ivrBankPwdConfirmErrorMessageUpdate()"
                  [ngClass]="getIvrConfirmClass()"
                  required
                />
                <label
                  *ngIf="
                    formCheckService.checkIsInValid(dataForm2, 'bankpwdConfirm')
                  "
                  class="error border-danger"
                  >{{ ivrBankPwdConfirmErrorMessage }}</label
                >
                <label *ngIf="checkIvrConfirm()" class="error border-danger"
                  >電話銀行密碼與確認電話銀行密碼不相同</label
                >
              </div>
            </div>
          </div>
          <!-- 確認使用者密碼 End -->
        </div>
      </div>
    </div>
  </div>
  <!-- 按鈕區 -->
  <div class="container text-center mt-2 d-none d-md-block">
    <button
      type="button"
      class="btn btn-kgi-secondary color-kgi-gray"
      (click)="back()"
    >
      上一步
    </button>
    <button
      type="button"
      class="btn btn-kgi-primary"
      [disabled]="formInValid()"
      (click)="next()"
    >
      下一步
    </button>
  </div>
  <div class="container sticky-bottom d-md-none mt-2">
    <div class="row no-margin">
      <button
        type="button"
        class="btn btn-kgi-secondary color-kgi-gray col"
        (click)="back()"
      >
        上一步
      </button>
      <button
        type="button"
        class="btn btn-kgi-primary col"
        [disabled]="formInValid()"
        (click)="next()"
      >
        下一步
      </button>
    </div>
  </div>
</form>
