<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <!-- 存款帳戶資料驗證 Start -->
  <form class="main-form" [formGroup]="dataForm">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">
          <div id="verifyCredit">
            <div class="row">
              <label class="col-12 col-md-11 col-form-label text-left titleCaption" style="font-size:1.6rem; font-weight:900;padding:8px 0px 24px 0px;">
                用他行帳號驗證您的身分
              </label>
            </div>

            <!-- 他行 -->
            <div id="v_account" >
              <div class="form-group row mb-md-3">
                <label class="col-6 col-form-label text-left">銀行別</label>
                <label
                  class="col-6 col-form-label text-right pb-1 align-self-end "
                  style="font-size: 75%;">
                  僅部份銀行開放驗證
                </label>
                <label class="col col-md-3 col-form-label text-left d-none text-md-right">銀行別
                  <label
                    class="d-none col col-md-12 col-form-label text-right pb-1 align-self-end px-md-0"
                    style="font-size: 75%;">僅部份銀行開放驗證</label>
                </label>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 p-0">
                      <select class="form-control custom-select" formControlName="bankId" id="bank" [ngClass]="formCheckService.validClass(dataForm, 'bankId')">
                        <option value="">請選擇</option>
                        <option [value]="item.dataKey" *ngFor="let item of pcode2566BankList">{{item.dataName}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-md-3">
                <label class="col-12  col-form-label  text-left">銀行帳號</label>
                <div class="col-12">
                  <div class="row">
                    <input
                      type="text" class="number form-control add-clear-btn" id="accountnum"
                      placeholder="請輸入銀行帳號" maxlength="16"
                      formControlName="account"
                      KeydownRegexp="numStar"
                      (change)="changed()"
                      [ngClass]="formCheckService.validClass(dataForm, 'account')"
                      autocomplete="off"/>
                  </div>
                </div>
              </div>
              <div class="form-group row" id="otherebankphone">
                <label class="col-12 col-form-label text-left"
                        id="phoneLable">手機號碼</label>
                <div class="col-12 ">
                  <div class="row">
                    <input
                      type="tel" class="number mobile form-control add-clear-btn"
                      id="otherbankphoneNumber" maxlength="10"
                      formControlName="phone"
                      KeydownRegexp="num"
                      (keyup) = "clearErrorMsg()"
                      (focusout) = "validatePhone()"
                      [ngClass]="formCheckService.validClass(dataForm, 'phone')"
                      placeholder="留存於上述銀行的手機號碼" autocomplete="off"/>
                      <label class="col-12  text-right">
                        將用此手機發送簡訊驗證碼
                      </label>
                      <div class="col-12 errBox"
                        *ngIf="dataForm.controls['phone'].invalid && dataForm.controls['phone'].touched">
                        <span class="errMsg pull-right" *ngIf="dataForm.controls['phone'].invalid">{{errorMsgPhone}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-group row" id="otherebankphone">
                <div class="link-box">
                  <div class="text-primary">
                    <div class="d-inline" *ngFor="let item of termsLink;let  i = index">
                      <a  class="text-primary cursor-pointer" (click)="showTerms(item.termName)">{{ item.termTitle }}</a><span *ngIf="i < termsLink.length-1">、</span>
                    </div>
                  </div>
                </div>
              </div>

            </div><!-- end of v_account -->
          </div>
        </div>
      </div>
    </div><!-- end of container -->
    <!-- 存款帳戶資料驗證 End -->

    <!-- 按鈕區 Start -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button type="button" class="d-none btn btn-kgi-secondary color-kgi-gray" (click)="backStep()">上一步</button>
      <button type="button" class="btn btn-kgi-primary" (click)="nextStep()"
      [disabled]="isNextDisabled()">進行驗證</button>
    </div>
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button type="button" class="d-none btn btn-kgi-secondary color-kgi-gray col" (click)="backStep()">上一步</button>
        <button type="button" class="btn btn-kgi-primary col" (click)="nextStep()"
        [disabled]="isNextDisabled()">進行驗證</button>
      </div>
    </div>
    <!-- 按鈕區 End -->
  </form>
  <!-- 存款帳戶資料驗證 End -->
</section>
