<section class="apply">
  <!-- step Start -->
  <app-step-num [step]="stepStr"></app-step-num>
  <!-- step End-->

  <!-- OUTER FRAMEWORK -->
  <form class="main-form">
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">


          <!-- IMAGE of finish -->
          <div class="form-group text-center">
            <img src="assets/image/icon/41-success.png" *ngIf="showGreenCheck" alt="">
            <img src="assets/image/icon/31-approve.png" *ngIf="!showGreenCheck" alt="">
            <div class="mt-4">
              <h4 style="width: auto;">{{title}}</h4>
            </div>
          </div>


          <!-- DETAIL of finish -->
          <div class="kgi-panel-group col-12 col-md-9 mx-auto text-center sec-box">

            <!-- NOTE: CONTENT ONE -->
            <ng-template #data1>
              <div>
                <span>本契變書將於次一營業日寄送至您提供的電子信箱</span><br/>
              </div>
              <hr>
            </ng-template>

            <!-- NOTE: CONTENT TWO -->
            <ng-template #data2>
              <div>
                <span>您的{{ productName }}可動用額度，</span><br/>
                <span>預計將於 {{ dateShow | date: 'yyyy年MMMdd日' }}起，</span><br/>
                <span>自新臺幣{{ contractStatus.creditCur | currency:' ':'symbol':'4.0' }} 元調高至新臺幣 {{ contractStatus.creditModify | currency:' ':'symbol':'4.0'  }} 元，</span><br/>
                <span>並自次日起可動用您的額度！</span><br/>
              </div>
              <hr>
            </ng-template>

            <!-- NOTE: CONTENT TRIGGER-->
            <div *ngTemplateOutlet="getTemplateSetV1()"></div>
            <div *ngTemplateOutlet="getTemplateSetV2()"></div>
          </div>

          <!-- NOTE: FOOTER of content -->
          <div class="form-group text-center thr-box" >
            <span>如有任何問題，請點選右上方客服電話</span><br/>
            <span>由專人為您說明</span>
          </div>

        </div>
      </div>
    </div>


    <!-- SECTOR: SUBMIT -->
    <!-- WINDOW -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button name="btnsubmit" type="button" class="btn btn-kgi-primary" (click)="onSubmit()">
        繼續簽署下一份契約
      </button>
    </div>

    <!-- MOBILE -->
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
      <!-- <div class="row"> -->
        <button name="btnsubmit" type="button" class="btn btn-kgi-primary col" (click)="onSubmit()">
          繼續簽署下一份契約
        </button>
      </div>
    </div>


  </form>


</section>