<div style="height: 150px;"></div>
<div class="wrapper-size" style="text-align: center;">
    <a href="home">
        <figure data-title="首頁">v 2020.0824_02
            <img src="assets/inc/default/img/demo/fake1.png" alt="首頁" width="300" />
        </figure>
    </a>
    <a href="sample">
        <figure data-title="Sample Page">
            <img src="assets/inc/default/img/demo/fake2.png" alt="Sample Page" width="300" />
        </figure>
    </a>
</div>