body {
    pointer-events: auto;
}

a {
    display: inline-block;
}

img {
    transition-duration: 0.3s;
}

figure {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 3px 7px #ddd;
}

figure:before {
    content: '';
    background: #000;
    content: '';
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

figure:after {
    content: attr(data-title);
    position: absolute;
    bottom: 0;
    color: #fff;
    right: 0;
    padding: 10px 20px;
    font-size: 20px;
}

a:hover img {
    width: 110%;
}