@import '~swiper/dist/css/swiper.min.css';

/* 下方內容 */
.body-for-doc{
  font-family: "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "メイリオ", Arial;
  background-color:#F2F2F2; font-size:100%; padding:0px 25px 0px 10px;
}
.text-center{text-align:center;}

// p,div{text-align: justify;}

.p-lv-001{
  margin-left:32px;text-indent:-32px; text-align: justify; text-justify:inter-ideograph;
  margin-top:0px;margin-bottom:0px;
}
.p-lv-002{
  padding-left:40px; margin-left:40px;text-indent:-24px; text-align: justify; text-justify:inter-ideograph;
  margin-top:10px;margin-bottom:10px;
}
.p-lv-normal{
  text-align: justify; text-justify:inter-ideograph;
  margin-top:10px;margin-bottom:10px;
}

.table-style-001{
  width:auto; margin-right:20px;
}

.table-style-001 td{
  padding: 10px;
  border:1px solid #555;
}

.header-text{
  font-weight:900; color:#3278BC;
}
#creditcard-content {
  height: auto;
  margin-bottom: 0px;
  margin-right: 0px;
  text-align: left;
  padding-right: 0px;
  max-height: 160px;
}

// swiper
.swiper-slide {
  width: 60% !important;
  @media (max-width:540px) {
    width: 55% !important;
  }
  img {
    width: 100%;
    margin: 10% 0 0 0;
  }
  p {
    padding-bottom: 15px;
  }
}

@media (max-width:500px) {
  .swiper-button-prev,
  .swiper-button-next {
    height: 22px;
  }

  .swiper-button-prev {
    position: absolute;
    left: 0;
  }

  .swiper-button-next {
    position: absolute;
    right: 0;
  }
}

// 告知區塊
.agree-title {
  border-top: 1px solid rgba(0,0,0, 0.1);
  margin-bottom:20px;
  padding: 5px 0 0;
}

.btn-link {
  padding-right: 30px;
}

.height-40 {
  height: 40px;
  overflow: hidden;
}
