<!-- 選擇信用卡 Start -->
<form class="main-form" [formGroup]="form">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-12">
            <swiper class="row" [config]="config" [(index)]="index" (indexChange)="changeCreditCard($event)"
                    *ngIf="creditCardList">
              <div class="" *ngFor="let item of creditCardList">
                <img class="img-responsive" [src]="item.cardImage" alt=""/>
                <p class="text-center">{{ item.cardTitle }}</p>
              </div>
            </swiper>
          </div>
        </div>

        <!-- 閱讀並同意下列條款 Start -->
        <!-- <div class="form-group row">
          <div class="col-12 col-md-9 squaredFour mx-auto" style="padding:0 0 5px 25px;">
            <input id="agreement" formControlName="agreement" type="checkbox">
            <label for="agreement" class="no-margin">我已閱讀並同意下列條款及告知事項</label>
          </div>
        </div> -->
        <!-- <div class="form-group row " style="margin-bottom:0px;">
          <div class="col-12 col-md-9 mx-auto w-100">
            <app-term *ngFor="let item of termsDiv" [termTitle]="item.termTitle" [termName]="item.termName" [hideLeft]="true"></app-term>
          </div>
        </div> -->
        <!-- 閱讀並同意下列條款 End -->

        <!-- 產品特色 Start -->
        <div class="form-group row" style="margin-bottom:0px;">
          <div class="kgi-panel-group col-12 col-md-9 p-0 mx-auto">
            <h6 class="text-left" style="text-decoration:none;">
              產品特色
            </h6>
          </div>
        </div>
        <div class="form-group row" style="margin-bottom:0px;">
<!--          <label class="col-md-3 d-none d-md-block col-form-label"></label>-->
          <div class="kgi-panel-group col-12 col-md-9 p-0 mx-auto" id="accordion">
            <div
              class="panel panel-default"
              style="background-color: #FFF; padding:0px;"
            >
              <div id="" class="" style="position:relative;">
                <div
                  class="panel-body scrollbar-macosx scroll-content scroll-scrolly_visible"
                  id="creditcard-content"
                  style="padding: 5px 10px; border: 1px solid rgba(0,0,0,0.1);"
                  *ngIf="selectedCard && selectedCard.cardContent"
                  [innerHTML]="selectedCard.cardContent  | safe: 'html'"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <!-- 產品特色 End -->
        <div class="form-group row" style="margin-bottom:0px;">
          <div id="credit-terms" class="col-12 col-md-9 p-0 mx-auto">
            <!-- 從後端來的區塊 Start-->
            <div
              class="header-text"
              style="font-weight: 900; color: #3278bc; font-size: 1.2rem; border-top: 1px solid rgba(0,0,0,0.1);"
              data-mce-style="font-weight: 900; color: #3278bc; font-size: 1.2rem; border-top: 1px solid rgba(0,0,0,0.1);"
            >
              謹慎理財 信用至上
            </div>
            <p
              class=""
              style="text-align: justify; font-size:0.8rem;"
              data-mce-style="text-align: justify;"
            >
              信用卡循環信用年利率6.25%~15%(定期依本行電腦評等而定)，預借現金手續費：每筆預借金額x3.5%+100元，其他相關費用請參閱本行網站公告，循環利率基準日：104/9/1
            </p>
            <!-- 從後端來的區塊 End-->
          </div>
        </div>

      </div>


    </div>
  </div>
  <!-- 按鈕區 -->
  <div>
    <div class="container text-center mt-2 d-none d-md-block">
      <button
        type="button"
        class="btn btn-kgi-secondary color-kgi-gray"
        [disabled]="isPrevDisabled()"
        (click)="back()"
      >
        上一步
      </button>
      <button
        name="choosebtn"
        type="button"
        class="btn btn-kgi-primary"
        [disabled]="isNextDisabled()"
        (click)="next()"
      >
        下一步
      </button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button
          type="button"
          class="btn btn-kgi-secondary color-kgi-gray col"
          [disabled]="isPrevDisabled()"
          (click)="back()"
        >
          上一步
        </button>
        <button
          name="choosebtn"
          type="button"
          class="btn btn-kgi-primary col"
          [disabled]="isNextDisabled()"
          (click)="next()"
        >
          下一步
        </button>
      </div>
    </div>
  </div>
  <input type="hidden" id="useBreakPoint" name="useBreakPoint" value=""/>
  <input id="cardId" name="cardId" type="hidden" value=""/>
  <input id="cardSerial" name="cardSerial" type="hidden" value=""/>
</form>
<!-- 選擇信用卡 End -->
