/*結果頁*/
.panel.fixed-panel {
	/*PC版不能用height不然螢幕太短時會被切掉*/
	min-height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	padding: 0;
	overflow: hidden;
}

@media all and (-ms-high-contrast: none) {
	.panel.fixed-panel {
		/*IE flex不能用min-height否則會亂掉*/
		height: calc(100vh - 150px);
	}
}

.panel.fixed-panel.fixed-panel-short {
	height: calc(100vh - 190px);
}

.upper-panel {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding: 40px 0;
}

.upper-panel h1 {
	margin: 20px 0;
}

.upper-panel .icon-check-sharp {
	border-radius: 50%;
	font-size: 50px;
	padding: 16px;
	color: #51B848;
	border: 2px solid #51B848;
}

@media all and (-ms-high-contrast: none) {
	.upper-panel .icon-check-sharp {
		/*因為IE用padding撐會有問題所以改用其他方式致中*/
		width: 88px;
		height: 88px;
		box-sizing: border-box;
		padding: 16px 16px;
		line-height: 44px;
	}
}


.upper-panel .icon-check-sharp:before {
	margin: 0 auto;
}

.lower-panel {
	background: #F0F2F7;
	border-radius: 6px;
}

.lower-panel > * {
	padding: 22px 40px;
	position: relative;
}

.lower-panel-header {
	background: #3174E0;
	color: #fff;
}

.art-list {
	font-size: 18px;
	padding-left: 0;
	counter-reset: list 0;
	margin: 0;
}

.art-list li {
	list-style: none;
	display: flex;
	align-items: center;
}

.art-list li+li {
	margin-top: 20px;
}

ol.art-list li:before {
	counter-increment: list 1;
	content: counter(list);
	color: rgb(241, 90, 33);
	font-family: Montserrat;
	font-size: 32px;
	height: auto;
	margin-right: 10px;
	text-align: center;
	width: 22px;
}

ul.art-list li:before {
	content: '\e805'; /*icon-check-a*/
	font-family: fontello;
	color: #fff;
	background: #F15A21;
	border-radius: 50%;
	padding: 4px;
	font-size: 16px;
	margin-right: 10px;
}

.art-image {
	position: absolute;
	right: 0;
	bottom: 0;	
}
