<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/confirm']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>其他資料</h1>
                    </div>

                    <div class="form-item">
                        <label>學歷</label>
                        <select required formControlName="education">
                            <option *ngFor='let item of educationOptions' [value]="item.dataKey">
                                {{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('education')">選取列表中的項目</div>
                    </div>

                    <div class="form-item">
                        <label>年收入</label>
                        <div class="input-wrapper">
                            <input formControlName="yearly_income" type="tel" maxlength="5" [cleave]="cleave.Money" />
                            <div class="error-text" *ngIf="errorMessage('yearly_income') && !errorMessage('yearly_income', 'under25W')">填寫此欄位</div>
                            <div class="error-text" *ngIf="errorMessage('yearly_income', 'under25W')">不可少於25萬</div>
                            <div class="unit">萬</div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>婚姻狀況</label>
                        <select required formControlName="marriage">
                            <option *ngFor='let item of marriageOptions' [value]="item.dataKey">{{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('marriage')">選取列表中的項目</div>
                    </div>

                    <div class="form-item">
                        <label>不動產狀態</label>
                        <select required formControlName="estate_type">
                            <option *ngFor='let item of estateOptions' [value]="item.dataKey">{{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('estate_type')">選取列表中的項目</div>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">送出</button>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>