<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form action="apply/identify">
                    <div class="panel fixed-panel" style="height:550px;">
                        <div class="upper-panel">
                            <i class="icon-check-sharp"></i>
                            <h1>完成申請</h1>
                            <div>已發送申請書至<br>{{applyForm.controls['email_address'].value}}</div>
                            <!-- <div class="demolink">
                                <a (click)='clickSGNback()'>簽署合約流程</a>
                            </div> -->
                        </div>
                        <div class="lower-panel">
                            <div class="lower-panel-header">
                                <p class="txt-large">
                                    休息一下，<br>
                                    凱基銀行最快當天<br>
                                    以簡訊通知核貸結果
                                </p>
                                <img class="art-image" src="assets/inc/default/img/art-phone.svg" alt="Art Image" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>