<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form>
                    <div style="height: 80px;"></div>
                    <div class="txt-center">
                        <img src="assets/inc/default/img/art-later.svg" />
                        <h1>稍後補件</h1>
                        <p>我們將寄送簡訊至{{phone}}，<br>您可透過簡訊連結或登入網站繼續填寫。</p>
                    </div>
                    <div class="btn-area btn-full">
                        <span tabindex="0" class="btn-submit" (click)="showDialog('#dialog1')">傳送補件連結到我的手機</span>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <div class="dialog dialog-small" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">已傳送</div>
        </div>
        <div class="dialog-content">補件連結已傳送至{{phone}}。請透過簡訊連結補件。</div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>