<section class="apply">

  <!-- SECTOR: STEP -->
  <app-step-num [step]="stepStr"></app-step-num>

  <form class="main-form" [formGroup]="piForm">

    <!-- SECTOR: OUTER FRAMESWORK -->
    <div class="container">
      <div class="row no-margin kgi-box-001">
        <div class="col-12">


          <!-- SECTOR: MAIN -->
          <!-- STEP: LINE ONE 身份證字號 (userid) -->
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-md-right text-left">身份證字號</label>
            <div class="col-12 col-md-9">
              <div class="row">
                <input type="text" class="form-control" formControlName="userid" id="userid" placeholder="請輸入(含英文字母10碼)" autocomplete="off" maxlength="10" (keyup)="turnValueUpperCase($event)" required>
                <div class="col-12 errBox" *ngIf="piForm.controls['userid'].invalid && piForm.controls['userid'].touched">
                  <span class="errMsg pull-right" *ngIf="piForm.controls['userid'].errors.required">請輸入資料</span>
                  <span class="errMsg pull-right" *ngIf="piForm.controls['userid'].errors.wrongAns">格式錯誤</span>
                </div>
              </div>
            </div>
          </div>


          <!-- STEP: LINE TWO Birthday -->
          <div class="form-group row">
            <label class="col-12 col-md-3 col-form-label text-md-right text-left">生日</label>
            <div class="col-12 col-md-9 input-group date-box">
              <input class="form-control" placeholder="請選擇出生年月日" formControlName="birthday" ngbDatepicker
                #d="ngbDatepicker" [minDate]="birthC.minDate" [maxDate]="birthC.maxDate"
                [startDate]="{ year: 1980, month: 1, day: 1 }" [placement]="'bottom-left'" (click)="d.toggle()" readonly
                required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
              </div>
              <div class="col-12 errBox" *ngIf="piForm.controls['birthday'].invalid && piForm.controls['birthday'].touched">
                <span class="errMsg pull-right" *ngIf="piForm.controls['birthday'].errors.required">
                  請選擇日期
                </span>
              </div>
            </div>
          </div>
          
        </div><!-- OUTER FRAMESWORK -->
      </div>
    </div>


    <!-- SECTOR: SUBMIT -->
    <!-- For PC only -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button name="btnSubmit" type="button" class="btn btn-kgi-primary" (click)="onSubmit()" [disabled]="isDisabled()">
        下一步
      </button>
    </div>
    <!-- For Mobile only -->
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button name="btnSubmit" type="button" class="btn btn-kgi-primary col" (click)="onSubmit()" [disabled]="isDisabled()">
          下一步
        </button>
      </div>
    </div>

  </form>

</section>
