<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/contract']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>約定事項</h1>
                    </div>

                    <ng-container *ngIf="statementStatus === 'RPL' || statementStatus === 'GM'">
                        <strong>設定還款日</strong>
                        <div class="info-area">
                            <span>設定此申貸還款日為</span>
                            <select formControlName="date">
                                <option *ngFor="let selectOption of dataOptions" [value]="selectOption.key">
                                    {{selectOption.value}}
                                </option>
                            </select>
                        </div>

                        <div style="height: 32px"></div>
                    </ng-container>
                    <!-- PL ----------------------------------- -->
                    <ng-container *ngIf="statementStatus === 'PL'">
                        <strong>貸款同意書</strong>
                        <dl>
                            <dt class="form-item">
                                <input formControlName="ch1" type="checkbox" id="ch1" />
                                <label for="ch1">
                                    <div class="check-widget"></div>
                                    <span>我已閱讀並同意下列條款及告知事項</span>
                                </label>
                            </dt>
                            <dd>
                                <div class="info-area">
                                    <ol class="margin0">
                                        <li>
                                            <span>已於</span>
                                            <select formControlName="date2">
                                                <option *ngFor="let selectOption of options" [value]="selectOption.key">
                                                    {{selectOption.value}}
                                                </option>
                                            </select>
                                            <span>審閱本行</span>
                                            <span class="txt-link" tabindex="0"
                                                (click)="showTerms('#dialog1',terms[1])">個人信貸契約書</span>。需審閱五日以上。
                                        </li>
                                        <li>指數利率調整十五日內將採簡訊通知。</li>
                                        <li>倘若本契約涉訴時，以臺灣臺北法院為第一審查管轄法院。</li>
                                        <li>貴行得將本人與貴行之個人與授信往來資料提供於財團法人金融聯合徵信中心，受讓（或擬授讓）貴行行債權債務之人及受貴行規遵循相關法令委任為處理事務之人
                                        </li>
                                    </ol>
                                </div>
                            </dd>
                        </dl>

                        <div style="height: 32px"></div>

                        <strong>共同行銷客戶個人資料使用聲明</strong>
                        <dl>
                            <dt class="form-item">
                                <input formControlName="rd" class="fake-checkbox" type="radio" name="rd" id="rd1"
                                    value="true" />
                                <label for="rd1">
                                    <div class="radio-widget"></div>
                                    <span>我同意</span>
                                </label>
                                <input formControlName="rd" class="fake-checkbox" type="radio" name="rd" id="rd2"
                                    value="false" />
                                <label for="rd2">
                                    <div class="radio-widget"></div>
                                    <span>不同意</span>
                                </label>
                            </dt>
                            <dd class="info-area">
                                <span>貴行得利用、處理及國際傳輸個人資料保護法之特定目的及個人資料之類別於特定目的利用。請詳閱</span>
                                <span class="txt-link" tabindex="0"
                                    (click)="showTerms('#dialog1',terms[1])">共同行銷客戶同意書</span>。需審閱五日以上。
                            </dd>
                        </dl>
                    </ng-container>
                    <!-- RPL ----------------------------------- -->
                    <ng-container *ngIf="statementStatus === 'RPL'">
                        <strong>貸款同意書</strong>
                        <dl>
                            <dt class="form-item">
                                <input formControlName="ch1" type="checkbox" id="ch1" />
                                <label for="ch1">
                                    <div class="check-widget"></div>
                                    <span>我已閱讀並同意下列條款及告知事項</span>
                                </label>
                            </dt>
                            <dd>
                                <div class="info-area">
                                    <ol class="margin0">
                                        <li>
                                            <span>已於</span>
                                            <select formControlName="date2">
                                                <option *ngFor="let selectOption of options" [value]="selectOption.key">
                                                    {{selectOption.value}}
                                                </option>
                                            </select>
                                            <span>審閱本行</span>
                                            <span class="txt-link" tabindex="0"
                                                (click)="showTerms('#dialog1',terms[1])">個人信貸契約書</span>。需審閱五日以上。
                                        </li>
                                        <li>指數利率調整十五日內將採簡訊通知。</li>
                                        <li>倘若本契約涉訴時，以臺灣臺北法院為第一審查管轄法院。</li>
                                        <li>貴行得將本人與貴行之個人與授信往來資料提供於財團法人金融聯合徵信中心，受讓（或擬授讓）貴行行債權債務之人及受貴行規遵循相關法令委任為處理事務之人
                                        </li>
                                    </ol>
                                </div>
                            </dd>
                        </dl>

                        <div style="height: 32px"></div>

                        <strong>共同行銷客戶個人資料使用聲明</strong>
                        <dl>
                            <dt class="form-item">
                                <input formControlName="rd" class="fake-checkbox" type="radio" name="rd" id="rd1"
                                    value="true" />
                                <label for="rd1">
                                    <div class="radio-widget"></div>
                                    <span>我同意</span>
                                </label>
                                <input formControlName="rd" class="fake-checkbox" type="radio" name="rd" id="rd2"
                                    value="false" />
                                <label for="rd2">
                                    <div class="radio-widget"></div>
                                    <span>不同意</span>
                                </label>
                            </dt>
                            <dd class="info-area">
                                <span>貴行得利用、處理及國際傳輸個人資料保護法之特定目的及個人資料之類別於特定目的利用。請詳閱</span>
                                <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[1])">共同行銷客戶同意書</span>。需審閱五日以上。                            </dd>
                        </dl>
                    </ng-container>
                    <!-- GM ----------------------------------- -->
                    <ng-container *ngIf="statementStatus === 'GM'">
                        <strong>貸款同意書</strong>
                        <dl>
                            <dt class="form-item">
                                <input formControlName="ch1" type="checkbox" id="ch1" />
                                <label for="ch1">
                                    <div class="check-widget"></div>
                                    <span>我已閱讀並同意下列條款及告知事項</span>
                                </label>
                            </dt>
                            <dd>
                                <div class="info-area">
                                    <ol class="margin0">
                                        <li>
                                            <span>已於</span>
                                            <select formControlName="date2">
                                                <option *ngFor="let selectOption of options" [value]="selectOption.key">
                                                    {{selectOption.value}}
                                                </option>
                                            </select>
                                            <span>審閱本行</span>
                                            <span class="txt-link" tabindex="0"
                                                (click)="showTerms('#dialog1',terms[1])">個人信貸契約書</span>。需審閱五日以上。
                                        </li>
                                        <li>指數利率調整十五日內將採簡訊通知。</li>
                                        <li>倘若本契約涉訴時，以臺灣臺北法院為第一審查管轄法院。</li>
                                        <li>貴行得將本人與貴行之個人與授信往來資料提供於財團法人金融聯合徵信中心，受讓（或擬授讓）貴行行債權債務之人及受貴行規遵循相關法令委任為處理事務之人
                                        </li>
                                    </ol>
                                </div>
                            </dd>
                        </dl>

                        <div style="height: 32px"></div>

                        <strong>共同行銷客戶個人資料使用聲明</strong>
                        <dl>
                            <dt class="form-item">
                                <input formControlName="rd" class="fake-checkbox" type="radio" name="rd" id="rd1"
                                    value="true" />
                                <label for="rd1">
                                    <div class="radio-widget"></div>
                                    <span>我同意</span>
                                </label>
                                <input formControlName="rd" class="fake-checkbox" type="radio" name="rd" id="rd2"
                                    value="false" />
                                <label for="rd2">
                                    <div class="radio-widget"></div>
                                    <span>不同意</span>
                                </label>
                            </dt>
                            <dd class="info-area">
                                <span>貴行得利用、處理及國際傳輸個人資料保護法之特定目的及個人資料之類別於特定目的利用。請詳閱</span>
                                <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[1])">共同行銷客戶同意書</span>。需審閱五日以上。                            </dd>
                        </dl>
                    </ng-container>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit"
                            [disabled]="applyForm.invalid || !applyForm.get('ch1').value"
                            (click)="onSubmit()">確認送出</button>
                    </div>

                    <!-- <div class="demolink">
                        <a [routerLink]="['/SGN/statement']" style="margin-left: 5px;">PL</a>
                        <a [routerLink]="['/SGN/statement.rpl']" style="margin-left: 5px;">RPL</a>
                        <a [routerLink]="['/SGN/statement.gm']" style="margin-left: 5px;">GM</a>
                    </div> -->
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>

    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">{{dialogTitle}}</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <div [innerHTML]="dialogData | safe:'html'"></div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>

</div>