
/* BORDER */
.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}
.centered {
  text-align: center;
}

/* COLOR */
.color-primary {
  color: #002F7B;
}
.color-remind {
  color: #EA5504;
}
.color-white {
  color: #fff;
}
.kgi-color {
  color: #3278bc !important;
}
.kgi-gray-light {
  background-color: #F0F0F0;
}
.bg-primary {
  background: #002F7B !important;
}
.no-cursor {
  cursor: default;
}
.no-cursor p {
  background-color: #ffffff;
}
.block-hidden {
  display: none;
}
.hidden {
  display: none;
}


/* cursor */
.cursor-pointer {
  cursor: pointer;
}

