#big-banner {
  width: 100%;
  height: 300px;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 0px 0px;
  text-align: center;
}

@media (min-width: 576px) {
  #big-banner {
    height: 350px;
  }
}

@media (min-width: 768px) {
  #big-banner {
    height: 400px;
  }
}

@media (min-width: 992px) {
  #big-banner {
    height: 460px;
  }
}

@media (min-width: 1200px) {
  #big-banner {
    height: 460px;
  }
}