/* BASIC */
@charset "UTF-8";

html {
  height: 100%;
}

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "メイリオ", Arial;
  background-color: #F2F2F2;
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}

/* 隱藏IE-10以上輸入框右方X按鈕與密碼框右方眼睛按鈕 */
::-ms-clear,
::-ms-reveal {
  display: none;
}

/* index */
.index {
  padding: 0px;
  position: relative;
  border: 0px solid red;
}


.index .menu-text {
  font-size: 12px;
  font-weight: bold;
}

/* title */
.title {
  color: #002F7B;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    text-align: left;
    font-size: 2rem;
  }
}

/* page title */
.page-title {
  padding: 0px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
  font-size: 18px;
  padding-left: 8px;
  margin-top: 8px;
  border-left: 1px solid #9b9b9b;
}

@media (min-width: 576px) {
  .page-title {
    height: 24px;
    text-align: center;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
    line-height: 24px;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 19px;
    border-left: 0px solid #9b9b9b;
  }
}



/* SECTOR: HEADER */
/* HEADER - LAYER 1  */
/* header-border-top */
.header-border-top {
  border-top: 8px solid #002F7B;
  display: none;
}

/* HEADER - LAYER 2 */
/*      header      */
.header {
  height: 40px;
  width: auto;
}

@media (min-width: 576px) {
  .header {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 60px;
  }
}

@media (min-width: 992px) {
  .header {
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 60px;
  }
}

/*           HEADER - LAYER 3            */
/* navbar-menu & navbar-brand & nav-link */
.navbar-brand-kgi {
  background: url('../assets/image/kgi_logo.svg') 0px center no-repeat;
  padding: 0px 0px;
  height: 40px;
  width: 115px;
  background-size: 100px auto;
  margin-right: 0px;
}

@media (min-width: 576px) {
  .navbar-brand-kgi {
    background: url('../assets/image/kgi_logo.svg') 0px center no-repeat;
    padding: 0px 0px;
    height: 60px;
    width: 195px;
    background-size: 125px auto;
  }
}

.navbar-menu-kgi {
  width: 32px;
  height: 40px;
  border: 0px dotted red;
  display: block;
  background-position: center center;
  background-size: 32px 32px;
}

@media (min-width: 576px) {
  .navbar-menu-kgi {
    height: 60px;
    width: 60px;
    background-size: 40px 40px;
  }
}

.nav-link-kgi {
  height: 40px;
  width: 40px;
  border: 0px solid red;
  background-size: 30px 30px;
  display: block;
  position: absolute;
  right: 10px;
  padding: 0px;
  cursor: pointer;
  text-align: right;
}

@media (min-width: 576px) {
  .nav-link-kgi {
    height: 60px;
    width: 60px;
    background-size: 28px 28px;
  }
}


/* SECTOR: FOOTER */
#footer {
  color: #222222;
  background-color: #FFFFFF;
  height: 40px;
  margin: 0px auto;
  padding: 0px 0px;
  line-height: 40px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 14px;
}