
.color-kgi-gray {
  background: #cccccc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #FFFFFF, #DBDBDB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFFFFF, #DBDBDB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFFFFF, #DBDBDB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFFFFF, #DBDBDB);
  /* Standard syntax */
  color: #222;
  border: 1px solid #aaa;
}

.color-kgi-gray:hover {
  background: #cccccc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #FFFFFF, #AAAAAA);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFFFFF, #AAAAAA);
  /* Standard syntax */
  color: #222;
  border: 1px solid #aaa;
}

.color-kgi-gray:active {
  background: #cccccc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #FFFFFF, #AAAAAA);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #FFFFFF, #AAAAAA);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #FFFFFF, #AAAAAA);
  /* Standard syntax */
  color: #222;
  border: 1px solid #aaa;
}

.color-kgi-gray.disabled,
.color-kgi-gray:disabled {
  background: #e4e4e4;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #e4e4e4, #e4e4e4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #e4e4e4, #e4e4e4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #e4e4e4, #e4e4e4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #e4e4e4, #e4e4e4);
  /* Standard syntax */
  color: #222;
  border: 1px solid #e4e4e4;
}



/* OUTER FRAMEWORK - LAYER 1 */
/*       main-form           */
.main-form {
  margin: 0px;
}

/* OUTER FRAMEWORK - LAYER 2 */
/*         container         */
.container {
  padding-left: 8px;
  padding-right: 8px;
}

.container .form-control {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

@media (min-width: 576px) {
  .container {
    width: 98%;
    max-width: 98%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 98%;
    max-width: 98%;
  }
  .form-group {
    margin-bottom: 2.4rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 992px;
  }
}


/* OUTER FRAMEWORK - LAYER 3 */
/*       kgi-box-001         */
.kgi-box-001 {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px 16px;
}

@media (min-width: 768px) {
  .kgi-box-001 {
    padding: 40px 100px;
  }
}

@media (min-width: 992px) {
  .kgi-box-001 {
    padding: 40px 200px;
  }
}





/* 同意條款btn */
.btn-kgi-primary {
  /*.btn */
  border-radius: 4px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0;
  padding: 8px 18px;
  margin: 8px;
  cursor: pointer;
  /* btn-primary */
  background-color: #3278bc;
  border-color: #3278bc;
  color: #fff;
}

.btn-kgi-primary:active,
.btn-kgi-primary:hover {
  background-color: #275b90;
  color: #fff;
}

.btn-kgi-primary.disabled,
.btn-kgi-primary:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #222222;
}

.btn-kgi-primary.focus,
.btn-kgi-primary:focus {
  box-shadow: none;
}

.btn-kgi-secondary {
  font-size: 18px;
  padding: 8px 18px;
  margin: 8px;
  /* width: 230px; */
  box-shadow: 0px 2px 6px #aaaaaa;
  background: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
  background: -o-linear-gradient(bottom, #ffffff, #dbdbdb);
  background: -moz-linear-gradient(bottom, #ffffff, #dbdbdb);
  background: linear-gradient(to bottom, #ffffff, #dbdbdb);
  color: #222;
}




/* 條款及告知事項區塊 */
.kgi-panel-group .panel-title a,
.kgi-panel-group .panel-title a:hover {
  text-decoration: none;
  color: #0066cc;
}

.kgi-panel-group .panel-title a.collapsed:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.kgi-panel-group .panel-title a.collapsed:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}


.kgi-panel-group .panel-default {
  background-color: #eeeeee;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
}

.kgi-panel-group .panel-title {
  margin: 0px;
}

.kgi-panel-group .panel-title a {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  line-height: 24px;
  border: 0px solid red;
}

.kgi-panel-group .panel-title a:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 12px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.kgi-panel-group .panel-title a:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 12px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.kgi-panel-group .panel-title a:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.kgi-panel-group .panel-title a:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.kgi-panel-group .panel-title a.collapsed:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.kgi-panel-group .panel-title a.collapsed:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}

.kgi-panel-group .panel-collapse {
  padding: 10px 5px 5px 5px;
  max-height: 200px;
}

.kgi-panel-group .panel-body {
  position: relative;
  height: 160px;
  overflow-y: scroll;
  margin-right: 6px;
  padding-right: 16px;
}
