
.small-50 {
  font-size: 50%;
}

.img-100 {
  width: 100%;
}

.choose-div .click-img {
  color: #ffffff;
  background: #002F7B;
  padding: 1rem;
}

.fa-10x {
  font-size: 10rem;
}

.w-35 {
  width: 35% !important;
}

.w-15 {
  width: 15% !important;
}

.stepwizard-step img {
  margin: 0;
  width: 35px;
}

.stepwizard-step .text {
  font-size: 0.8em;
}



.addPhoto hr {
  margin: 0;
  border-top: 1px solid #ffffff;
}



.slogan-text {
  position: relative;
  display: block;
  width: auto;
  margin: 0px 10%;
  color: #ffffff;
  text-align: left;
  font-weight: 800;
  top: 15%;
}

.slogan-text div {
  width: 100%;
  border: 0px solid red;
  color: #FFFFFF;
}



.menu-block {
  padding: 0;
  display: inline-block;
}
.menu-img-block {
  padding: 0 5px;
  cursor: pointer;
}
.menu-img-block a {
  border-radius: 4px;
  text-decoration: none;
  display: block;
  color: #002F7B;
  background: #FFFFFF;
  /* For browsers that do not support gradients */
}
.menu-img-block a:active {
  background: #FFFFFF;
  /* For browsers that do not support gradients */
}

.quota .countdown {
  font-size: 1.5rem;
  color: #EA5504;
}
.quota .quota-result-border {
  border-color: #002F7B !important;
}

.addPhoto .uploadedDiv {
  border: 0px solid #000000;
}
.addPhoto .uploadedDiv .trash {
  max-width: 32px;
}
.addPhoto .uploadedDiv .preview {
  width: 100%;
}
.addPhoto .big-cameara {
  font-size: 72px;
}

@media (min-width: 768px) {
  .stepwizard-step img {
    margin: 10px 0;
    width: 35px;
  }
  .col-md-auto {
    max-width: 14%;
  }
}

#func-row {
  justify-content: center;
}


#bottom-blank {
  height: 40px;
  margin: 5px auto;
  width: 100%;
  background-color: #ffffff;
}

.notify-text {
  text-align: left;
  padding: 4px 15px;
  font-size: 14px;
  color: #777777;
}

.message-zone {
  color: #002F7B;
  background-color: #ffffff;
}


.text-vertical-middle {
  position: relative;
}

.text-vertical-middle:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.galleryImg {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: 0px solid red;
  background-position: center center;
  background-size: cover;
  margin: 0px 0px;
  text-align: center;
}

.galleryImg .gallery-img-text {
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 20%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  text-shadow: 0px 0px 5px #111111;
  padding: 0 10%;
  font-weight: 800;
}

@media (min-width: 768px) {
  .galleryImg .gallery-img-text {
    font-size: 36px;
    top: 40%;
    padding: 0 15%;
  }
}

.arrow {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: rgba(190, 190, 190, 0.4);
  top: 50%;
  margin-top: -20px;
  z-index: 100;
  font-size: 24px;
  opacity: 0.9;
  cursor: pointer;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.top-main-icon {
  display: block;
  position: absolute;
  width: 140px;
  height: 65px;
  color: #fff;
  border-radius: 5px;
  line-height: 60px;
  box-shadow: 0px 2px 6px #555555;
  background: #002F7B;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2E6DC3, #002F7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2E6DC3, #002F7B);
  /* Standard syntax */
  cursor: pointer;
  left: 50%;
  bottom: 20px;
  opacity: 0.9;
}

.top-main-icon span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 18px;
}

.top-main-icon a {
  text-decoration: none;
  color: #fff;
}

.icon-001 {
  margin-left: -150px;
}

.icon-002 {
  margin-left: 10px;
}


.col-form-label {
  padding-left: 0;
}

.normal-link {
  word-break: break-all;
  text-decoration: underline;
  color: #3278bc;
}


.ap-theme-ios .ap-bg {
  font-family: '微軟正黑體', arial;
  font-size: 20px;
}

.upload-card {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 38px;
  display: inline-block;
  padding-left: 55px !important;
  position: relative;
}

.upload-card:before {
  content: "";
  display: block;
  position: relative;
  height: 25px;
  right: 5px;
  top: 0px;
  background-image: url("./assets/image/cam-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 36px 28px;
}

.btn:focus {
  box-shadow: 0px 2px 6px #aaaaaa;
}

.cursor-pointer {
  cursor: pointer;
}

.no-shadow {
  box-shadow: none !important;
}

.preview-icon:before {
  content: "\f00e";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: calc(50% + 25px);
  bottom: 0;
  color: #3278bc;
  font-size: 24px;
}

label.error {
  color: #dc3545 !important;
  display: block;
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 100%;
  text-align: right !important;
  padding-right: .25rem !important;
  margin: 0 !important;
}

.doc-bottom-shadow {
  position: absolute;
  width: 100%;
  border: 0px solid red;
  height: 40px;
  left: 0px;
  bottom: 0px;
  rem_background: -moz-linear-gradient(top, transparent 0%, #eeeeee 60%);
  /* FF3.6-15 */
  rem_background: -webkit-linear-gradient(top, transparent 0%, #eeeeee 60%);
  /* Chrome10-25,Safari5.1-6 */
  rem_background: linear-gradient(to bottom, transparent 0%, #eeeeee 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  rem_filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */
  background-color: none;
  background: url("./assets/image/docGrayBg.png") repeat-x 0px -6px;
  background-size: auto 50px;
}

.text-link {
  color: #0056b3;
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.contract ul > li {
  padding: 0 0 1rem 0;
}

.preview-block {
  max-height: 67vh;
  overflow-y: scroll;
}

.arrow-point {
  border: 0px solid red;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 36px;
  height: 32px;
}

.arrow-open:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.arrow-open:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}

.arrow-close:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.arrow-close:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.box-close {
  height: 43px;
  overflow: hidden;
}

.box-open {
  height: auto;
  overflow: auto;
}

.box-open .box-icon:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.box-open .box-icon:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(225deg);
}

.box-close .box-icon:before {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 13px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}

.box-close .box-icon:after {
  content: "";
  position: absolute;
  background-color: #002F7B;
  width: 10px;
  height: 2px;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}

.kgi-bg-grayF2 {
  background-color: #f2f2f2 !important;
}

.kgi-tooltip {
  display: block;
  position: relative;
  min-height: 20px;
  min-width: 50px;
  border: 0px solid red;
  z-index: 999;
}

.kgi-tooltip div {
  border: 1px solid red;
}

.kgi-tooltip .tooltip-arrow {
  position: relative;
  height: 7px;
  border: 6px solid #3278bc;
  width: 0px;
  border-top: 0px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  margin-left: 16px;
  display: none;
}

.kgi-tooltip .tooltip-block {
  position: relative;
  font-size: 0.9rem;
  color: #444;
  border: 0px;
  padding: 2px 8px;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .kgi-tooltip .tooltip-block {
    font-size: 0.7rem;
  }
}
