.main-icon {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin-top: 75px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0px 2px 6px #555555;
  background: #002F7B;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2E6DC3, #002F7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2E6DC3, #002F7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2E6DC3, #002F7B);
  /* Standard syntax */
  cursor: pointer;
}

@media (min-width: 576px) {
  .main-icon {
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
}

.main-icon:active {
  background: #2E6DC3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #002F7B, #2E6DC3);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #002F7B, #2E6DC3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #002F7B, #2E6DC3);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #002F7B, #2E6DC3);
  /* Standard syntax */
}

.main-icon span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 20px;
}