.nav-group span {
  color: #888;
}

.nav-group span.active {
  color: #3278bc;
  text-decoration: underline;
}

.dashboard .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #bdd7ee;
  border-radius: 4px;
  height: 80px;
  padding: 12px;
}

.dashboard .row-item.mainActive {
  background-color: antiquewhite;
}

.dashboard .row-item .row-item__text {
  width: 70%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .row-item .row-item__text > span {
  color: #6d8075;
  display: inline-block;
}

.dashboard .row-item .row-item__text > span.font-bold {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  padding: 0 20px;
}

.progressEnquiry .title {
  color: #3278bc;
}

.progressEnquiry .row-slider-frame {
  overflow: hidden;
}

.progressEnquiry .row-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.progressEnquiry .enquiryCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0px;
  min-width: 80px;
}

.progressEnquiry .enquiryCard .enquiryCard-count {
  font-weight: bold;
  color: #3278bc;
}

.progressEnquiry .enquiryCard .enquiryCard-text {
  font-size: 18px;
  text-align: center;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progressEnquiry .enquiryCard .enquiryCard-icon {
  width: 50px;
  height: 50px;
}

.progressEnquiry .enquiryCard .enquiryCard-iconSM {
  width: 24px;
  height: 24px;
}

.progressEnquiry .accordion-custom {
  border-radius: 24px;
  border: 2px solid #ced4da;
  overflow: hidden;
}

.progressEnquiry .accordion-custom .card {
  border: none;
}

.progressEnquiry .accordion-custom .card .btn {
  padding: 0;
}

.progressEnquiry .accordion-custom .card .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.progressEnquiry .accordion-custom .card:last-child .card-header {
  border-bottom: none;
}

.progressEnquiry .accordion-custom .card-header {
  background-color: #fff;
  border-bottom: 2px solid #ced4da;
}

.progressEnquiry .accordion-custom .card-header .card-text {
  text-align:left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.progressEnquiry .accordion-custom .card-body {
  background-color: #f2f2f2;
}

.pointExchange .present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pointExchange .presentCard {
  margin: 8px 4px;
  border-radius: 12px;
  border: 2px solid #ced4da;
  width: 150px;
  height: 220px;
  overflow: hidden;
  cursor: pointer;
}

.pointExchange .presentCard .presentCard-img {
  height: 140px;
}

.pointExchange .presentCard .presentCard-img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.pointExchange .presentCard .presentCard-text {
  font-size: 1.1rem;
}

.pointExchange .presentCard .point {
  color: orange;
  font-size: 1.1rem;
}

.exchangeApply {
  color: #888;
}

.exchangeApply .countInput {
  height: 36px;
}

.rotate_ninety {
  -webkit-transform: rotate(90deg);
}

.exchangeApply .countInput input {
  width: 100px;
  border-radius: 4px;
  padding: 0 12px;
  text-align: center;
}

.exchangeApply .countInput img {
  height: 100%;
}

.logout {
  border-radius: 4px;
  font-size: 18px;
  margin: 8px;
  margin-right: 0px;
  cursor: pointer;
  color: #3278bc;
}

@media (max-width: 576px) {
  .dashboard .row-item .row-item__text {
    width: 200px;
    display: block;
  }
  .dashboard .row-item .row-item__text > span {
    display: block;
  }
}

@media (min-width: 576px) {
  .pointExchange .presentCard {
    margin: 8px 12px;
  }
}
