.horizontal-scroll-wrapper {
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    transform: rotate(-90deg);
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
    /* width: 100px; */
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
    background-color: blue;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.inputError {
    border-color: #dc3545;
}

.verificationInput {
    display: inline-block;
    width: 230px;
    border: 1px solid #3278bc;
}

.phoneBtn {
    padding: 8px 0;
    width: 230px;
}

.slogan-text {
  position: relative;
  display: block;
  width: auto;
  margin: 0px 10%;
  color: #ffffff;
  text-align: left;
  font-weight: 800;
  top: 15%;
}

.slogan-text div {
  width: 100%;
  border: 0px solid red;
  color: #FFFFFF;
}

.inputError {
  border: 1px solid red;
}

