
/* ---------頁面設定------------ */
select::-ms-expand {
  display: none;
}

.custom-select {
  /* background: #fff url("./assets/image/drowdown-arrow.png") no-repeat right 0.25rem center; */
  background: #fff url("../assets/image/drowdown-arrow.png") no-repeat right 0.25rem center;
}

.add-drowdown-arrow-bg {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-image: url("./assets/image/drowdown-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px auto;
}

/* Radio */
.kgi-style-radio {
  background-color: #fff;
  color: #444;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 1rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  margin-right: 15px;
  min-width: 80px;
  height: 36px;
}

.kgi-style-radio:hover {
  background-color: #eee;
  color: #444;
  border: 1px solid #ccc;
}

input[type=radio]:checked + label {
  border-color: #3278bc;
  color: #3278bc;
}

.radioHide,
.checkboxHide {
  display: none;
}

/* 滾動條 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滾動條滑塊 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.errBox {
  padding: 0;
}

/* error message */
span.errMsg {
  color: red;
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-content {
  margin: 15px 0;
  min-width: 250px !important;
  padding: 0 10px !important;
  vertical-align: middle;
  border-radius: 8px !important;
  display: inline-block !important;
  max-width: 90% !important;
  max-height: 85vh;
}

.modal-body {
  max-height: 73vh;
  min-width: 100%;
  overflow-y: auto;
  padding: 0px 6px !important;
  text-align: left;
  text-align: justify;
}

.modal-dialog .modal-footer {
  padding: 16px 5px;
}

.modal-dialog {
  height: 100%;
  max-width: 80vw;
  margin: auto;
  text-align: center;
}

.modal-dialog::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 0px;
  height: 100%;
}

/* add @ 2018/06/26 , for modal win width in pc mode */
.max-width-400-for-desktop {
  max-width: 90% !important;
}

/* add @ 2018/06/26 , for modal win width in pc mode */
@media (min-width: 576px) {
  .max-width-400-for-desktop {
    max-width: 400px !important;
  }
}

.modal-header {
  border-bottom: 0px solid #fff !important;
}

.model-close-circle-btn {
  border: 0;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: -15px;
  margin-right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3278bc !important;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.model-close-circle-btn:focus {
  border: 0;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: -15px;
  margin-right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3278bc !important;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.model-close-circle-btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -11px;
  width: 2px;
  height: 22px;
  background-color: #fff;
  border: 0px sloid red;
  color: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  outline: none;
}

.model-close-circle-btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -1px;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border: 0px sloid red;
  color: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  outline: none;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url("./assets/image/icon/38-calendar.png") !important;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
}

ngb-datepicker-navigation-select > .custom-select {
  padding-right: 1.5rem !important;
  font-size: 0.8rem;
  padding-left: 0.2rem !important;
}

#smallicon{
  position:absolute;
  right:5px;
  top:3px;
}
.backGround {
	position : relative;
	border:1px solid #E0E0E0;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
}
.triangle {
	width: 0;
    height: 0;
    transform: rotate(90deg);
    border-width: 20px;
    border-color: #E0E0E0 transparent transparent #E0E0E0;
    border-style: solid;
    border-top-left-radius: 5px;
	position:absolute;right:0px;
}

.line-button {
		    width: 146px;
	  }

@media (min-width: 768px) {
  .line-button {
      width: 146px;
  }
}


.form-title {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-title-act {
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 10px;
}