
/*小版步驟panel*/
.progress-step {
  vertical-align: middle;
  text-align: center;
  height: 56px;
  width: 100%;
  padding: 0px 21px;
  margin: 16px 0px;
}

.progress-step .step {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0px solid red;
  margin: 0px 0px;
  vertical-align: middle;
  position: relative;
}

.progress-step .step-line {
  width: 10%;
}

.progress-step .step-line-width-10 {
  width: 15%;
}

.progress-step .step-line-width-15 {
  width: 15%;
}

.progress-step .step-line-width-20 {
  width: 25%;
}

.progress-step .step-line-width-full {
  width: 93%;
}

.progress-step .step-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0px;
  font-size: 16px;
  background-color: #E0E0E0;
  color: #000;
  line-height: 22px;
  text-align: center;
}

.progress-step .step-current {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0px;
  font-size: 16px;
  background-color: #FF6e40;
  color: #fff;
  line-height: 22px;
  text-align: center;
}

.progress-step .step-circle:before,
.progress-step .step-current:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.progress-step .step-line:before {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 3px;
  background-color: #E0E0E0;
  top: 50%;
  left: 0px;
  margin-top: -2px;
  margin-left: -4px;
}

.progress-step .step .tip-text {
  display: block;
  width: 100px;
  position: absolute;
  padding-top: 5px;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  color: #444;
  font-size: 16px;
}

.progress-step .step-current .tip-text {
  color: #FF6e40;
}

.progress-step .step-circle .tip-text {
  display: block;
}

/*大版步驟panel*/
.progress-step-large {
  vertical-align: middle;
  text-align: center;
  height: 54px;
  width: 100%;
  margin: 8px 0px;
  padding: 0px 0px;
  overflow: hidden;
}

.progress-step-large:before {
  content: "";
  width: 70%;
  height: 3px;
  margin: 0 auto;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -1px;
  background-color: #e0e0e0;
  left: 0px;
  right: 0px;
}

.progress-step-large .step {
  display: inline-block;
  width: 40px;
  height: 38px;
  border: 0px solid red;
  margin: 8px 0px;
  vertical-align: middle;
  position: relative;
}

@media (min-width: 768px) {
  .progress-step-large .step-line {
    width: 20px;
  }
}

@media (min-width: 798px) {
  .progress-step-large .step-line {
    width: 40px;
  }
}

@media (min-width: 956px) {
  .progress-step-large .step-line {
    width: 10%;
  }
}

.progress-step-large .step-line-width-15 {
  width: 15%;
}

.progress-step-large .step-line-width-20 {
  width: 15%;
}

.progress-step-large .step-circle {
  width: 155px;
  height: 38px;
  border-radius: 25px;
  border: 0px;
  font-size: 18px;
  background-color: #E0E0E0;
  color: #000;
  line-height: 100%;
  text-align: center;
}

.progress-step-large .step-current {
  width: 155px;
  height: 38px;
  border-radius: 25px;
  border: 0px;
  font-size: 18px;
  background-color: #FF6e40;
  color: #fff;
  line-height: 100%;
  text-align: center;
}

.progress-step-large .step-circle:before,
.progress-step-large .step-current:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.progress-step-large .step-line:before {
  content: "";
  display: none;
  position: absolute;
  width: 110%;
  height: 3px;
  background-color: #E0E0E0;
  top: 50%;
  left: 0px;
  margin-top: -2px;
  margin-left: -4px;
}

.progress-step-large .step .tip-text {
  display: inline-block;
  width: 80px;
  position: relative;
  padding-top: 5px;
  text-align: center;
  color: #444;
  font-size: 18px;
}

.progress-step-large .step-current .tip-text {
  color: #FFF;
}

.progress-step-large .step-current .tip-text:before {
  content: "";
  color: #FFF;
  display: block;
  position: absolute;
  left: 2px;
  top: 80%;
  width: 2px;
  height: 2px;
  background-color: #fff;
}

.progress-step-large .step-circle .tip-text {
  color: #444;
}

.progress-step-large .step-circle .tip-text:before {
  content: "";
  color: #444;
  display: block;
  position: absolute;
  left: 2px;
  top: 80%;
  width: 2px;
  height: 2px;
  background-color: #444;
}