.qrTable-row {
    display: none;
}
.qrTable-mobile-row {
    display: block;
}
.qrTable-mobile {
    position: relative;
    width: 100px;
    height: 100px;
    border: 0px solid #444;
    background-color: #e1e1e1;
}

@media (min-width: 576px) {
    .qrTable-row {
        display: block;
    }
    .qrTable-mobile-row {
        display: none;
    }
}
