.loading-container {
	position:absolute;
	top:0;
 	right:0;
	bottom:0;
	left:0;
	display:none;
}

/* .loading-container:before { */
.spinner-style {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 998;
}
