/* .squaredFour */
.squaredFour {
  position: relative;
  padding-left: 32px;
  text-align: left;
}

.squaredFour label:before {
  content: '';
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  xmargin-top: -8px;
  left: 0px;
  background: #fcfff4;
  background: _linear-gradient_legacy(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  border: 1px solid #ff0000;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.squaredFour label:after {
  content: '';
  cursor: pointer;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #3278bc;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour label {
  cursor: pointer;
  line-height: 22px;
}

.squaredFour input[type=checkbox] {
  display: none;
}

.squaredFour input[type=checkbox]:checked + label:after {
  opacity: 1;
}


/* end .squaredFour */
.sticky-bottom {
  position: -webkit-fixed;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
  max-width: 100% !important;
  z-index: 1020;
  background: rgba(238, 238, 238, 0.5);
}
