footer{
  margin-top:2rem;
  .h2{
    text-align: center;
  }
  .footer-link-list{
    a{
      color:#fff;
      display: inline-block;
      // margin: 5px 0 0;
      &:not(:last-child)::after{
        display: inline-block;
        padding:0 5px;
        content: "|";
      }
    }
  }
}

@media(min-width:992px){
  footer{
    .h2{
      text-align: left;
    }
  }
}
