<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form [formGroup]="applyForm"  style="background-color:#ffffff; padding:16px;">
                    <div class="title-area">
                        <h1>進階試算</h1>
                    </div>

                    <div class="panel block-panel">
                        <table width="100%" class="wide-table">
                            <tr>
                                <th>動用金額</th>
                                <td align="right" id="amount">{{applyForm.get('amount').value}}萬</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="range-td">
                                    <div class="range-wrapper">
                                        <div class="range-fill"></div>
                                        <input #amount formControlName="amount" id="amount" type="range"
                                            class="circle-range" max="100" min="1" step="1"
                                            (ngModelChange)="rangeMoving(amount)" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>貸款期間</th>
                                <td align="right" id="rpldays">{{applyForm.get('rpldays').value}} 日</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="range-td">
                                    <div class="range-wrapper">
                                        <div class="range-fill"></div>
                                        <input #rpldays formControlName="rpldays" id="rpldays" type="range" class="circle-range"
                                            max="365" min="1" step="1" value="1" (ngModelChange)="rangeMoving(rpldays)" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>應繳利息</th>
                                <td align="right">{{totalPay | number}} 元</td>
                            </tr>
                            <tr>
                                <th>借款利率</th>
                                <td align="right">{{interestRate}} %</td>
                            </tr>
                        </table>
                    </div>
                    <p class="txt-gray txt-small txt-left">本試算條件係依您短期需求計算，實際貸款期間仍依核貸條件，最長一年，並可續延。</p>

                    <div class="btn-area btn-hasinfo">
                        <a (click)="onSubmit()" class="btn-submit">立即申請</a>
                        <p>
                            <a class="txt-link" (click)="close()">返回試算結果</a>
                        </p>
                    </div>
                </form>

            </div>

        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
        </aside>
    </main>

</div>