<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/CAD/verify']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>填寫信用卡申請書</h1>
                    </div>

                    <div class="form-item">
                        <label>信用卡新戶首刷禮</label>
                        <select required (change)="clickGift($event.target.value)" formControlName="nitoCard">
                            <option *ngFor='let item of nitoCardOptions' [value]="item.giftCode">
                                {{item.giftTitle}}
                            </option>
                            <!-- <option value="" hidden>請選擇</option>
                            <option value="樂活往電影票2張(F002)">樂活往電影票2張(F002)</option>
                            <option value="振興券3張(F003)">振興券3張(F003)</option>
                            <option value="消費券4張(F004)">消費券4張(F004)</option> -->
                        </select>
                        <div class="error-text" *ngIf="errorMessage('nitoCard')">選取列表中的項目</div>

                        <div id="giftInfo" class="gift-info columns flex-aligncenter"
                            [hidden]='!applyForm.get("nitoCard").value'>
                            <div class="column-item">
                                <img [src]="giftInfoImage" alt="Gift Image" width="138" />
                            </div>
                            <div class="column-item">{{giftInfoNote}}</div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>英文姓名，請輸入與護照相同的英文姓名</label>
                        <input formControlName="englishName" type="text" placeholder="請輸入" />
                        <div class="error-text" *ngIf="errorMessage('englishName')">填寫此欄位</div>
                    </div>

                    <div class="form-item">
                        <label>帳單類別</label>
                        <select formControlName="billingType" required>
                            <option *ngFor="let item of billTypeOptions" [value]="item.dataKey">{{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('billingType')">選取列表中的項目</div>
                    </div>

                    <div class="form-item">
                        <label>通訊地址，此為信用卡、實體帳單及郵寄寄送地址</label>
                        <div style="height: 10px;"></div>
                        <input formControlName="mailingAddress" type="radio" id="ra1" name="mailingAddress" value="ra1"
                            (click)="addressHidden(false)" />
                        <label for="ra1">
                            <div class="radio-widget"></div>
                            <span>同住家地址</span>
                        </label>
                        <input formControlName="mailingAddress" type="radio" id="ra2" name="mailingAddress" value="ra2"
                            (click)="addressHidden(false)" />
                        <label for="ra2">
                            <div class="radio-widget"></div>
                            <span>同公司地址</span>
                        </label>
                        <input formControlName="mailingAddress" type="radio" id="ra3" name="mailingAddress" value="ra3"
                            (click)="addressHidden(true)" />
                        <label for="ra3">
                            <div class="radio-widget"></div>
                            <span>自行填寫</span>
                        </label>
                    </div>

                    <div class="form-item" id="myAddress" [hidden]="myAddressHidden">
                        <div class="columns">
                            <div class="column-item flexbasis-50">
                                <select required formControlName="counties"
                                    (change)="makeDistrict($event.target.value)">
                                    <option value="" hidden>縣市</option>
                                    <optgroup *ngFor='let option of options' label="{{option.counties}}">
                                        <option *ngFor='let item of option.items' [value]="item.dataKey">
                                            {{item.dataName}}
                                        </option>
                                    </optgroup>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('counties')">選取列表中的項目 </div>
                            </div>
                            <div class="column-item">
                                <select required id="district" formControlName="township">
                                    <option *ngFor='let item of cityOption' [value]="item.dataKey?item.dataName:''">
                                        {{item.dataName}}
                                    </option>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('township')">選取列表中的項目</div>
                            </div>
                        </div>
                        <input formControlName="address" type="text" placeholder="請輸入地址" />
                        <div class="error-text" *ngIf="errorMessage('address')">填寫此欄位</div>

                    </div>

                    <div class="form-item">
                        <label>公司電話</label>
                        <div class="columns">
                            <div class="column-item flexbasis-60">
                                <input formControlName="workPhone" id="workPhone" type="tel" class="cleave-number"
                                    (blur)="telValidate($event.target)" maxlength="11" placeholder="區碼-公司市話號碼" />
                                <div class="error-text" *ngIf="errorMessage('workPhone','required')">
                                    如無市話，請填寫手機號碼 </div>
                                <div class="error-text" *ngIf="errorMessage('workPhone','pattern')">
                                    不符合要求的格式</div>
                            </div>
                            <div class="column-item">
                                <input formControlName="extension" maxlength="8" type="tel" [cleave]="cleave.Number"
                                    placeholder="分機（選填）" />
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <input formControlName="ch1" type="checkbox" id="ch1" />
                        <label for="ch1">
                            <div class="check-widget"></div>
                            <span>我已閱讀並同意聯名機構之個資利用同意事項</span>
                        </label>
                    </div>

                    <dl>
                        <dt class="form-item margin0">
                            <input formControlName="ch2" type="checkbox" id="ch2" />
                            <label for="ch2">
                                <div class="check-widget"></div>
                                <span>我已閱讀並同意上列條款及告知事項</span>
                            </label>
                        </dt>
                        <dd class="info-area txt-gray">
                            <span>為維護您的權益，請詳閱</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[1])">{{terms[1]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[2])">{{terms[2]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[3])">{{terms[3]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[4])">{{terms[4]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[5])">{{terms[5]?.title || ''}}</span>
                        </dd>
                    </dl>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit"
                            [disabled]="applyForm.invalid || !applyForm.get('ch1').value || !applyForm.get('ch2').value"
                            (click)="onSubmit()">下一步</button>
                    </div>
                </form>

            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

    <div class="dialog" id="dialog1">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
            <div class="dialog-title">{{dialogTitle}}</div>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            <div [innerHTML]="dialogData | safe:'html'"></div>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>
</div>