<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/UPL/step4']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>
                    <div class="title-area">
                        <h1>財力證明文件範例</h1>
                        <div class="title-info">透過工作身分，篩選合適的證明文件</div>
                    </div>

                    <div class="panel block-panel">
                        <p>
                            <strong>必要文件：</strong>
                            <span>請選擇以下</span>
                            <span class="txt-orange">至少1項</span>
                        </p>
                        <div class="tab-area">
                            <input type="radio" id="all" name="rd" checked (click)="filterSample($event.target)" />
                            <label class="tab-item" for="all">全部</label>
                            <input type="radio" id="ant" name="rd" (click)="filterSample($event.target)" />
                            <label class="tab-item" for="ant">上班族</label>
                            <input type="radio" id="boss" name="rd" (click)="filterSample($event.target)" />
                            <label class="tab-item" for="boss">老闆</label>
                        </div>

                        <div style="height: 24px"></div>

                        <table class="collapse-area wide-table" id="filterArea">
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,ant">
                                <td>
                                    <div class="txt-blue txt-large">薪資單</div>
                                    <strong class="txt-darkgray txt-small">近三個月薪資單</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/salary1.png" alt="薪資單sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,ant">
                                <td>
                                    <div class="txt-blue txt-large">薪轉存摺</div>
                                    <strong class="txt-darkgray txt-small">薪轉存摺封面、帳號、內頁明細</strong>
                                </td>
                                <td align="right">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/book1.png" alt="薪轉存摺sample1" />
                                        <img src="assets/inc/default/img/demo/book2.png" alt="薪轉存摺sample2" />
                                    </div>
                                </td>
                            </tr>
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,boss">
                                <td>
                                    <div class="txt-blue txt-large">扣繳憑單</div>
                                    <strong class="txt-darkgray txt-small">最新一年扣繳單或報稅收執聯</strong>
                                </td>
                                <td align="right">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/sheet1.png" alt="扣繳憑單sample1" />
                                    </div>
                                </td>
                            </tr>
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)"
                                data-type="all,boss">
                                <td>
                                    <div class="txt-blue txt-large">所得清單</div>
                                    <strong class="txt-darkgray txt-small">包含薪資所得、利息所得和股利收入</strong>
                                </td>
                                <td align="right">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/income1.png" alt="所得清單sample1" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel block-panel">
                        <p>加分文件：可併入年收入計算</p>
                        <table class="collapse-area wide-table">
                            <tr title="點選展開範例" tabindex="0" (click)="collapseIt($event.currentTarget)">
                                <td>
                                    <div class="txt-blue txt-large">非上述財力文件</div>
                                    <strong class="txt-darkgray txt-small">可證明收入與存款之文件</strong>
                                </td>
                                <td align="right" width="30">
                                    <i class="icon-arrow-down txt-small"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="collapse-content">
                                        <img src="assets/inc/default/img/demo/other1.png" alt="非上述財力文件sample1" />
                                        <img src="assets/inc/default/img/demo/other2.png" alt="非上述財力文件sample2" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="btn-area btn-center">
                        <a [routerLink]="['/UPL/step3']" class="txt-link">返回上傳財力證明</a>
                    </div>
                </form>

            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-file.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>