<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/verify2']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form>
                    <!-- <div class="title-area">
                        <h1>選擇其他驗證或申貸方式</h1>
                    </div>

                    <div style="height: 20px" class="mobile-hidden"></div>

                    <a (click)='clickApplyCreditcard()' class="panel block-panel">
                        <div class="txt-large txt-blue">用信用卡驗證</div>
                        <div class="txt-small">先辦卡，免等寄卡，核卡後最快2小時核准貸款</div>
                    </a>

                    <a (click)='clickApplyPaper()' class="panel block-panel">
                        <div class="txt-large txt-blue">紙本申請</div>
                        <div class="txt-small">先填寫申請書，列印後親簽寄回</div>
                    </a>

                    <div class="btn-area btn-center">
                        <a (click)='clickApplyIdentify()' class="txt-link">返回他行帳號驗證</a>
                    </div> -->
                    <div class="title-area">
                        <h1>選擇紙本申請方式繼續完成申貸</h1>
                    </div>

                    <div style="height: 20px" class="mobile-hidden"></div>

                    <a (click)='clickApplyPaper()' class="panel block-panel">
                        <div class="txt-large txt-blue">紙本申請</div>
                        <div class="txt-small">先填寫申請書，列印後親簽寄回</div>
                    </a>

                    <div class="btn-area btn-center">
                        <a (click)='clickApplyIdentify()' class="txt-link">返回他行帳號驗證</a>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>