<section class="apply addPhoto">

  <div class="main-form">
    <div class="bottom-line mb-1"></div>
    <div class="container">

      <!-- 身分證 Start -->
      <div
        class="row no-margin kgi-box-001 mb-3 pt-2 pb-2"
        [ngClass]="isIdCardOpen? 'box-open': 'box-close'">
        <div class="col-12 no-padding">
          <div
            class="text-left pb-2"
            style="font-size:18px; border-bottom:1px solid #ccc;"
            (click)="isIdCardOpen=!isIdCardOpen">
            身分證
            <a class="arrow-point box-icon"></a>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left">正面</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table5"></div>
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left">反面</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table6"></div>
        </div>
      </div>
      <!-- 身分證 End -->

      <!-- 第二證件 Start -->
      <div class="row no-margin kgi-box-001 mb-3 pt-0 pb-2">
        <div class="col-12 no-padding">
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left" style="font-size:18px;">第二證件</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table7"></div>
        </div>
      </div>
      <!-- 第二證件 End -->

      <!-- 財力證明 Start -->
      <div
        class="row no-margin kgi-box-001 mb-3 pt-2 pb-2"
        [ngClass]="isProveOpen? 'box-open': 'box-close'">
        <div class="col-md-4 d-none d-md-block d-lg-block" id="ad-img-001" style="display:none !important;"></div>
        <div class="col-12 no-padding">
          <div
            class="text-left pb-2"
            style="font-size:18px;  border-bottom:1px solid #ccc;"
            (click)="isProveOpen=!isProveOpen">
            財力證明
            <a class="arrow-point box-icon"></a>
          </div>
          <h6 class="text-center pt-2">以下財力證明項目請擇一提供</h6>
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left">薪資證明</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table1"></div>
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left">扣繳憑單</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table2"></div>
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left">所得清單</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table3"></div>
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left">其它財力</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table4"></div>
        </div>
      </div>
      <!-- 財力證明 End -->

      <!-- 其它文件 Start -->
      <div class="row no-margin kgi-box-001 mb-0 pt-0 pb-2">
        <div class="col-12 no-padding">
          <div class="row mt-3 mb-3">
            <div class="col-6 text-left" style="font-size:18px;">其它文件</div>
            <div class="col-6 text-right">
              <i class="fa fa-camera color-primary mr-4 cursor-pointer kgi-color" aria-hidden="true"></i>
              <i class="fa fa-file color-primary cursor-pointer kgi-color" aria-hidden="true"></i>
            </div>
          </div>
          <div class="text-center kgi-gray-light" id="table8"></div>
        </div>
      </div>
      <!-- 其它文件 End -->

      <div class="row no-margin">
        <div class="col-12 col-md-8 mt-2 mt-md-0 text-left" id="tipsDiv">
          <p>財力證明項目說明：</p>
          <p>
            (1)近三單或薪轉存摺(含封面姓名、帳號及內頁明細)<br />
            (2)最新扣繳憑單<br />
            (3)所得清單等資料作為收入證明
          </p>
        </div>
      </div>
    </div>
    <div class="bottom-line d-none d-md-block d-lg-block"></div>
    <div class="container text-center mt-2 d-none d-md-block">
      <button class="btn btn-kgi-secondary">下次再說</button>
      <button name="uploadFinish" class="btn btn-kgi-primary">傳送</button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button class="btn btn-kgi-secondary col">下次再說</button>
        <button name="uploadFinish" class="btn btn-kgi-primary col">傳送</button>
      </div>
    </div>
  </div>

</section>
