<!-- 帳戶+信用卡填寫資料 Start -->
<div class="main-form">
  <div class="container">
    <div class="row no-margin kgi-box-001">
      <div class="col-12">
        <app-fill-data-step-bar [hidden]="hideStepBar" [stepbar]="stepbar"></app-fill-data-step-bar>

        <!-- *********** Step2 ************ -->
        <form [formGroup]="dataForm" id="step2">
          <div class="form-group">
            <div class="row IDCardPreview001" style="background-color: #F2F2F2">
              <div class="col-6 p-1 m-0 text center ContentVAlign">
                <img
                  [src]="backId"
                  alt="尚未上傳身分證反面"
                  name="backId"
                  data-serial=""
                  class="image-fluid mh-100 mw-100"
                />
                <input
                  type="text"
                  id="backId"
                  formControlName="backId"
                  style="display: none;"
                />
              </div>
              <div (click)="preview()"
              class="col-3 p-0 m-0 align-self-center text-center cursor-pointer">
                <img
                  name="previewBackId"
                  src="assets/image/icon/16-search.png"
                  class="img-fluid mw-60"
                  data-name="backId"
                  style="max-width: 30%"
                />
                <label style="font-size: 75%">檢視</label>
              </div>
              <app-upload
              class="d-none"
              #upload
              [doc]="backIdDoc"
              (docResult)="refreshImage($event)"
            ></app-upload>
              <div   (click)="upload.triggerUpload()"
               class="col-3 p-0 m-0 align-self-center text-center cursor-pointer">
                <img
                  id="re-BackId"
                  data-inputName="Back"
                  src="assets/image/icon/10-photo.png"
                  class="img-fluid"
                  style="max-width: 30%"
                />
                <label for="re-BackId" style="font-size: 75%">重拍</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
              >戶籍地址</label
            >
            <div class="col-12 col-md-8">
              <app-tw-zip-code
                [parentform]="dataForm.get('resAddr')"
                [hiddenZipcode]="'true'"
              ></app-tw-zip-code>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-md-3 col-form-label text-md-right text-left"
              >通訊地址</label
            >
            <div
              class="col-8 col-md-8 squaredFour"
              style="padding-left:25px; padding-right:0px; padding-bottom:5px; margin-top:calc(.375rem + 1px);"
            >
              <input id="asAddr1" type="checkbox" formControlName="checkTerms" (change)="asResAddr($event)" />
              <label for="asAddr1" style="margin:0px;">同戶籍地址</label>
            </div>
            <div class="col-12 col-md-8 offset-md-3">
              <app-tw-zip-code
                [parentform]="dataForm.get('commAddr')"
                [hiddenZipcode]="'true'"
              ></app-tw-zip-code>
            </div>
          </div>
          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
              >婚姻狀況</label
            >
            <div class="" style="position:relative;">
              <div class="row m-0">
                <div
                  class="btn-group btn-group-toggle"
                  data-toggle="buttons"
                  id="marriageBlock"
                >
                  <ng-container *ngFor="let item of mappingService.marriage">
                      <input
                      type="radio"
                      [id]="item.dataKey"
                      class="radioHide required2'"
                      formControlName="marriage"
                      autocomplete="off"
                      [value]="item.dataKey"
                    />
                    <label class="btn no-margin kgi-style-radio" [for]="item.dataKey"
                      >{{item.dataName}}</label
                    >
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-12 col-md-3 col-form-label text-md-right text-left"
            >出生地</label>
            <div class="col-12 col-md-8">
              <div class="row">
                <input
                  type="text"
                  id="birthPlace"
                  formControlName="birthPlace"
                  class="form-control col-12 add-clear-btn"
                  [ngClass]="formCheckService.validClass(dataForm, 'birthPlace')"
                  placeholder="請輸入與身分證相同地點"
                  required
                />
                <div
                  *ngIf="formCheckService.checkIsInValid(dataForm, 'birthPlace')"
                >
                  <label class="error border-danger">{{birthPlaceErrorMessage}}</label>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- 按鈕區 -->
  <div [hidden]="hideButton">
    <div class="container text-center mt-2 d-none d-md-block">
      <button
        type="button"
        class="btn btn-kgi-secondary color-kgi-gray"
        (click)="prevStep()"
      >
        {{ leftBtnStr }}
      </button>
      <button
        type="button"
        class="btn btn-kgi-primary"
        [disabled]="dataForm.invalid"
        (click)="nextStep()"
      >
        下一步
      </button>
    </div>
    <div class="container sticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button
          type="button"
          class="btn btn-kgi-secondary color-kgi-gray col"
          (click)="prevStep()"
        >
          {{ leftBtnStr }}
        </button>
        <button
          type="button"
          class="btn btn-kgi-primary col"
          [disabled]="dataForm.invalid"
          (click)="nextStep()"
        >
          下一步
        </button>
      </div>
    </div>
  </div>
</div>
