<progress id="progress" value="0" max="7"></progress>
<div class="body-wrapper">
    <main>
        <section id="contact">
            <form [formGroup]="applyForm">

                <div class="slide-block">

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>和我們聊聊，<br>估算您的初步額度利率！</div>
                    </div>
                    <div class="quote-item">請問該怎麼稱呼？</div>

                    <input type="checkbox" class="trigger-checkbox" id="question1" checked />
                    <label class="question-showbar" for="question1"></label>
                    <div class="question-dropdown">
                        <label class="question-item" [for]="item.id" *ngFor="let item of genderOptions">
                            <input formControlName="gender" name="gender" [id]="item.id" type="radio"
                            (change)="changeGender($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>謝謝。<br>請告訴我們您的年齡？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question2" checked />
                    <label class="question-showbar" for="question2"></label>
                    <div class="question-dropdown input-wrapper">
                        <input formControlName="age" type="tel" autocomplete="new-password"
                            class="cleave-number question-item" maxlength="2"
                            (change)="changeAge($event)" />
                        <div class="question-info">按 Enter 前往下一題</div>
                        <div class="unit">歲</div>
                    </div>

                </div>


                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>以及您的婚姻狀態？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question3" checked />
                    <label class="question-showbar" for="question3"></label>
                    <div class="question-dropdown">
                        <label class="question-item" [for]="item.id" *ngFor="let item of marriageOptions">
                            <input formControlName="marriage" name="marriage" [id]="item.id" type="radio"
                            (change)="changeMarital_Status($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>最高學歷？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question4" checked />
                    <label class="question-showbar" for="question4"></label>
                    <div class="question-dropdown">
                        <label class="question-item" [for]="item.id" *ngFor="let item of schoolOptions">
                            <input formControlName="school" name="school" [id]="item.id" type="radio"
                            (change)="changeEducation($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>再來談談工作吧！<br>工作多久了呢？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question5" checked />
                    <label class="question-showbar" for="question5"></label>
                    <div class="question-dropdown">
                        <label class="question-item" [for]="item.id" *ngFor="let item of workOptions">
                            <input formControlName="work" name="work" [id]="item.id" type="radio"
                            (change)="changeEducation($event, item)"
                            [value]="item.label" />
                            {{item.label}}
                        </label>
                    </div>
                </div>

                <!-- <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>好的，<br>職業類別是…？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question6" checked />
                    <label class="question-showbar" for="question6"></label>
                    <div class="question-dropdown">

                        <select class="question-item" formControlName="occupation" name="occupation" 
                        (change)="changeOccupation($event)">
                            <option *ngFor='let item of occupationOptions' 
                            [value]="item.dataKey">
                                {{item.dataName}}
                            </option>
                        </select>
                    </div>
                </div> -->

                <!-- <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>好的，<br>職務名稱是…？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question7" checked />
                    <label class="question-showbar" for="question7"></label>
                    <div class="question-dropdown">

                        <select class="question-item" formControlName="occupationtitle" name="occupationtitle" 
                        (change)="changeOccupationtitle($event)">
                            <option *ngFor='let item of occupationtitleOptions' 
                            [value]="item.dataKey">
                                {{item.dataName}}
                            </option>
                        </select>
                    </div>
                </div> -->

                <div class="slide-block" hidden>

                    <div class="quote-item">
                        <i class="icon-quote"></i>
                        <div>最後一題！<br>您的年收入大概有？</div>
                    </div>

                    <input type="checkbox" class="trigger-checkbox" id="question6" checked />
                    <label class="question-showbar" for="question6"></label>
                    <div class="question-dropdown input-wrapper">
                        <input formControlName="annualIncome" type="tel" autocomplete="new-password"
                            class="cleave-number question-item" maxlength="4"
                            (change)="changeAnnual_Income($event)"
                            (keypress)="keydownTel($event, 'question6')" />
                        <div class="question-info"  style="margin-bottom:16px;" >按 Enter 進行估算</div>
                        <div class="unit wan">萬</div>
                    </div>
					<button type="button" class="btn-submit" (click)="onSubmit()" >開始計算我的額度利率</button>
                </div>
            </form>
        </section>
        <aside id="side" class="fixed-side">
            <img src="assets/inc/default/img/visual-calculator.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>

<div class="dialog dialog-estimating dialog-full " id="dialog1">
    <div class="dialog-content dialog-close">
        <div class="quote-item">
            <i class="icon-quote"></i>
            <div>系統正在幫您估算方案，<br>請稍等…</div>
        </div>
        <img class="loading-image" src="assets/inc/default/img/art-abacus.svg" alt="請稍等" width="200" />
        <img class="loading-image-ie" src="assets/inc/default/img/art-abacus.gif" alt="請稍等" width="200" />
    </div>
    <div class="txt-center">
        <!-- <span tabindex="0" class="txt-link dialog-close" (click)="cancelCalculating()">修改填答資料</span> -->
    </div>
</div>