header {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
      // font-size: 5vw;
      padding: 8px 0 8px 125px;
      margin: 8px 0;
      // background: url('/assets/image/logo.png') no-repeat 0 50%;
      background-size: contain;
    }
  }
  &.font-size-vw {
    .navbar {
      .navbar-brand {
        // font-size: 5vw;
        // padding: 2.5vw 0 2.5vw 39vw;
        // margin: 2.5vw 0;
      }
    }
  }
}

@media(min-width:768px) {
  header {
    &.font-size-vw {
      .navbar {
        .navbar-brand {
          // font-size: 2.25vw;
          // padding: 1vw 0 1vw 18vw;
          // margin: 1.25vw 0 1.25vw 4vw
        }
      }
    }
  }
}

// 上方logo
.navbar-brand-kgi {
	padding: 0px 0px;
	height:40px; width:115px;
	background: url('../../../assets/image/kgi_logo.svg') 8px center no-repeat;
	background-size: 100px auto;
	margin-right: 0px;

}

@media (min-width: 576px) {
	.navbar-brand-kgi {
		padding: 0px 0px;
		height:60px; width:195px;
		background: url('../../../assets/image/kgi_logo.svg') 0px center no-repeat;
		background-size: 125px auto;

	}
}
