<div class="header-border-top">
  </div>
  <!--大版用-->
  <div class="header no-padding d-none d-md-block">
    <div class="container" style="position: relative;">

    <div class="row no-margin">
      <div class="">
        <a class="navbar-menu navbar-menu-kgi hidden">
        </a>
      </div>
      <div class="col">
        <a href="https://www.kgibank.com/" target='_blank' class="navbar-brand navbar-brand-kgi">
        </a>
      </div>
      <div class="col">
        <div class="page-title">線上簽約</div>
      </div>
      <div class="col">
        <a class="nav-link nav-link-kgi" (click)="showConsume();" style=" padding-top:22px;">
          <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
        </a>
      </div>
    </div>

    </div>
  </div>

  <!--小版用-->
  <div class="header no-padding  d-block d-md-none">

    <div class="row no-margin">
      <div class="">
        <a class="navbar-menu navbar-menu-kgi hidden">
        </a>
      </div>
      <div class="">
        <a class="navbar-brand navbar-brand-kgi" href="https://www.kgibank.com/" target='_blank'>
        </a>
      </div>
      <div class="">
        <div class="page-title">線上簽約</div>
      </div>
      <div class="">
        <a class="nav-link nav-link-kgi" style=" padding-top:7px;" href="tel:(02)8023-9088">
          <img src="assets/image/icon/07-phone.png" alt="" style=" width:25px;">
        </a>
      </div>

    </div>
  </div>



  <div class="bottom-line block-hidden"></div>
