<div class="body-wrapper">

    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/complete']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm" class="code-form rapid-form">
                    <div class="title-area">
                        <h1>輸入驗證碼，完成簽約</h1>
                        <div class="title-info">已發送驗證碼至 0922***222，請於5分鐘內輸入</div>
                    </div>
                    <div class="alert-area">
                        <i class="icon-alert"></i>
                        <span>驗證碼錯誤，請重新輸入</span>
                    </div>
                    <div class="code-area">
                        <input formControlName="tel1" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            autofocus (ngModelChange)="checkValue('tel1', $event)" />
                        <input formControlName="tel2" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel2', $event)" />
                        <input formControlName="tel3" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel3', $event)" />
                        <input formControlName="tel4" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel4', $event)" />
                        <input formControlName="tel5" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel5', $event)" />
                        <input formControlName="tel6" type="tel" [cleave]="cleave.Number" maxlength="1" required
                            (ngModelChange)="checkValue('tel6', $event)" />
                    </div>

                    <div class="code-info" id="countText" [hidden]="countTextHidden">56秒後，可以重領驗證碼</div>
                    <p class="txt-link code-info" id="resendText" [hidden]="resendTextHidden" (click)="setHidden(true)">
                        重新傳送驗證碼</p>

                    <div class="demolink">
                        <span (click)="errorForm()">驗證碼錯誤</span>
                        <span (click)="setHidden(false)">驗證碼過期</span>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>