<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <form>
                    <div class="panel fixed-panel">
                        <div class="upper-panel">
                            <i class="icon-check-sharp"></i>
                            <h1>您的申請書已寄送</h1>
                            <div>請至以下電子郵件收取<br>{{applyForm.controls['email_address'].value}}</div>
                        </div>
                        <div class="lower-panel">
                            <div class="lower-panel-header">
                                <div class="txt-large">請依序完成申請流程</div>
                                <img class="art-image" src="assets/inc/default/img/art-paper.svg" alt="Art Image" />
                            </div>
                            <div class="lower-panel-content">
                                <ol class="art-list">
                                    <li>從電子信箱收取申請書並列印</li>
                                    <li>確認資料無誤後簽名</li>
                                    <li>檢附財力文件及ID影本寄回凱基銀行</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-ribbon.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>