<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/verify']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>用他行帳號驗證您的身分</h1>
                    </div>

                    <div class="form-item">
                        <label>銀行別</label>
                        <select required formControlName="bank">
                            <option value="">請選擇</option>
                            <option [value]="item.dataKey" *ngFor="let item of pcode2566BankList">{{item.dataName}}
                            </option>
                        </select>
                        <div class="error-text" *ngIf="errorMessage('bank')">選取列表中的項目
                        </div>
                    </div>

                    <div class="form-item">
                        <label>銀行帳號</label>
                        <input formControlName="bankAccount" type="tel" maxlength="16" [cleave]="cleave.Number"
                            placeholder="請輸入銀行帳號" />
                        <div class="error-text" *ngIf="errorMessage('bankAccount')">填寫此欄位
                        </div>
                    </div>
                    <div class="form-item">
                        <label>手機號碼</label>
                        <input formControlName="phone" type="tel" maxlength="10" [cleave]="cleave.Number"
                            placeholder="留存於上述銀行的手機號碼" pattern="" />
                        <div class="error-text" *ngIf="errorMessage('phone', 'required')">填寫此欄位</div>
                        <div class="error-text" *ngIf="errorMessage('phone', 'pattern')">不符合要求的格式 </div>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">進行驗證</button>
                    </div>
                </form>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>