<section class="apply">
  <!-- step Start -->
  <app-step-num-pl-contract [step]="stepStr"></app-step-num-pl-contract>
  <!-- step End-->

  <!-- 新戶OTP Start -->
  <form class="main-form">
    <div class="container">
      <div class="row no-margin kgi-box-001">

        <div class="col-12">
          <div class="form-group text-center">
            <img src="assets/image/icon/25-info-fine.png" alt="">
            <div class="mt-4">
              <h4 style="width: auto;">{{title}}</h4>
            </div>
          </div>

          <div class="kgi-panel-group col-12 col-md-9 mx-auto text-center sec-box">
              <div>
                <span>線上簽約失敗，稍後再試！</span><br/>
              </div>
          </div>

          <!-- <hr>

          <div class="form-group text-center thr-box">
            <span>如有任何問題，請點選右上方客服電話，由專人為您說明</span>
          </div> -->

        </div>
      </div>
    </div><!-- end of container -->

    <!-- 按鈕區Start -->
    <div class="container text-center mt-2 d-none d-md-block">
      <button type="button" class="btn btn-kgi-secondary color-kgi-gray" (click)="initPlContract()">回首頁</button>
    </div>
    <div class="container xsticky-bottom d-md-none mt-2">
      <div class="row no-margin">
        <button type="button" class="btn btn-kgi-secondary color-kgi-gray col" (click)="initPlContract()">回首頁</button>
      </div>
    </div>
    <!-- 按鈕區End -->
</form>
<!-- 新戶OTP End -->
</section>
