<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/apply/other']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>工作資料</h1>
                    </div>
                    <div class="form-item">
                        <label class="lbl-companyName">公司名稱 (可輸入統編搜尋)</label>
                        <div class="input-wrapper ">
                            <input #corpname formControlName="corp_name" type="text"
                                (focus)="this.corpNameBL = true" (blur)="this.corpNameBL = false" placeholder={{companyplaceholder}} class="input-disabled" />
                            <div class="error-text" *ngIf="errorMessage('corp_name')">填寫此欄位</div>
                            <div class="candidate " *ngIf="companys">
                                <div *ngFor="let item of companys" class="candidate-item " tabindex="0"
                                    (click)="checkCandidate(item)">{{item}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="columns">
                            <div class="column-item flexbasis-50">
                                <label>行業類別</label>
                                <select required formControlName="Occupation">
                                    <option *ngFor='let item of occupationOptions' [value]="item.dataKey">
                                        {{item.dataName}}
                                    </option>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('Occupation')">選取列表中的項目</div>
                            </div>
                            <div class="column-item">
                                <label>職稱</label>
                                <input #corpname formControlName="title" type="text" placeholder="請輸入職稱" class="input-disabled"/>
                                <div class="error-text" *ngIf="errorMessage('title')">填寫此欄位</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label class="lbl-workStartTime">到職年月</label>
                        <div class="columns">
                            <div class="column-item flexbasis-50">
                                <select required formControlName="year">
                                    <option *ngFor='let item of yearOption' [value]="item.key">{{item.value}}
                                    </option>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('year') && !errorMessage('year', 'overMonth')">選取列表中的項目</div>
                                <div class="error-text" *ngIf="errorMessage('year', 'overMonth')">不可大於當月</div>
                            </div>
                            <div class="column-item">
                                <select required formControlName="month">
                                    <option *ngFor='let item of monthOption' [value]="item.key">{{item.value}}
                                    </option>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('month') && !errorMessage('month', 'overMonth')">選取列表中的項目</div>
                                <div class="error-text" *ngIf="errorMessage('month', 'overMonth')">不可大於當月</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label>公司地址</label>
                        <div class="columns">
                            <div class="column-item flexbasis-50">
                                <select required (change)="makeDistrict($event.target.value)"
                                    formControlName="companyCounties">
                                    <option value="" hidden>縣市</option>
                                    <optgroup *ngFor='let option of options' label="{{option.counties}}">
                                        <option *ngFor='let item of option.items' [value]="item.dataKey">
                                            {{item.dataName}}
                                        </option>
                                    </optgroup>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('companyCounties')">選取列表中的項目</div>
                            </div>
                            <div class="column-item">
                                <select id="district" required formControlName="companyTownship">
                                    <option *ngFor='let item of cityOption' [value]="item.dataKey?item.dataName:''">
                                        {{item.dataName}}
                                    </option>
                                </select>
                                <div class="error-text" *ngIf="errorMessage('companyTownship')">選取列表中的項目</div>
                            </div>
                        </div>
                        <input type="text" placeholder="請輸入地址" formControlName="companyAddress" />
                        <div class="error-text" *ngIf="errorMessage('companyAddress')">填寫此欄位</div>

                    </div>

                    <div class="form-item">
                        <label>公司電話</label>
                        <div class="columns">
                            <div class="column-item flexbasis-60">
                                <input formControlName="companyPhone" id="companyPhone" type="tel" class="cleave-number"
                                    (blur)="telValidate($event.target)" maxlength="11" placeholder="區碼-公司市話號碼" />
                                    <div class="error-text" *ngIf="errorMessage('companyPhone')">請填市話號碼</div>
                            </div>
                            <div class="column-item">
                                <input formControlName="corp_tel_exten" maxlength="6" type="tel"
                                    [cleave]="cleave.Number" placeholder="分機（選填）" />
                            </div>
                        </div>
                    </div>

                    <div class="btn-area">
                        <button type="submit" class="btn-submit" [disabled]="applyForm.invalid"
                            (click)="onSubmit()">下一步</button>
                    </div>
                </form>

            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>
</div>
