<div class="body-wrapper">
    <main>
        <section id="contact">
            <div class="contact-wrapper">
                <!-- 須移除 -->
                <!-- <h1><a [routerLink]="['/SGN/select']" style="color: red;">測試用下一頁</a></h1> -->
                <!-- ------ -->
                <form [formGroup]="applyForm">
                    <div class="title-area">
                        <h1>您的貸款已核准，<br>請登入查看核貸內容</h1>
                    </div>
                    <div class="form-item">
                        <label>身分證字號</label>
                        <input formControlName="idno" type="text" maxlength="10" [cleave]="cleave.Upper"
                            (blur)="idValidate($event.target.value)" placeholder="請輸入身分證字號" />
                        <div class="error-text" *ngIf="errorMessage('idno')">此身分證字號有誤 </div>
                    </div>
                    <div class="form-item">
                        <label>生日 YYYY/MM/DD</label>
                        <input formControlName="birthday" type="tel" maxlength="10" [cleave]="cleave.Date"
                            placeholder="請輸入YYYY/MM/DD" />
                        <div class="error-text" *ngIf="errorMessage('birthday', 'required')">填寫此欄位 </div>
                        <div class="error-text" *ngIf="errorMessage('birthday', 'pattern')">不符合要求的格式 </div>
                    </div>
                </form>

                <dl>
                    <dt class="form-item">
                        <input [(ngModel)]="ch1" type="checkbox" id="ch1" />
                        <label for="ch1">
                            <div class="check-widget"></div>
                            <span>我已閱讀並同意上列條款及告知事項</span>
                        </label>
                    </dt>
                    <dd class="info-area txt-gray">
                        <div class="info-title">電話/網路/行動銀行約定條款</div>
                        <div>
                            <span>立約人茲為電話/網路/行動銀行業務服務之提供及使用，經雙方協議，同意訂定下列條款，俾資遵守。…</span>
                            <span class="txt-link" tabindex="0" (click)="showTerms('#dialog1',terms[5])">更多</span>
                        </div>
                        <div>
                            <span>為維護您的權益，請詳閱</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[1])">{{terms[1]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[2])">{{terms[2]?.title || ''}}</span>
                            <span>、</span>
                            <span class="txt-link" tabindex="0"
                                (click)="showTerms('#dialog1',terms[3])">調閱本人與貴行往來資料</span>
                        </div>
                    </dd>
                </dl>

                <div class="btn-area">
                    <button type="submit" class="btn-submit" [disabled]="applyForm.invalid || !ch1"
                        (click)="onSubmit()">下一步</button>
                </div>
            </div>
        </section>
        <aside id="side">
            <img src="assets/inc/default/img/visual-paper.svg" alt="Visual Image" width="100%" />
            <footer id="footer"></footer>
        </aside>
    </main>

    <div class="dialog" id="dialog1">
        <div class="dialog-header">
          <i class="close-icon dialog-close"></i>
          <div class="dialog-title">{{dialogTitle}}</div>
        </div>
        <div class="dialog-content">
          <!-- 內容開始 -->
          <div [innerHTML]="dialogData | safe:'html'"></div>
        </div>
        <div class="btn-area">
          <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
      </div>

    <div class="dialog" id="dialogTips">
        <div class="dialog-header">
            <i class="close-icon dialog-close"></i>
        </div>
        <div class="dialog-content">
            <!-- 內容開始 -->
            提醒您！<br />
            <ol>
                <li>信用貸款如已逾匯款作業時間，款項將於次一營業日辦理入帳。</li>
                <li>速還金或靈活卡則可24小時啟用您的額度。</li>
            </ol>
        </div>
        <div class="btn-area">
            <button type="button" class="btn-submit dialog-close">我知道了</button>
        </div>
    </div>

</div>